.nav-tabs-border-bottom {
  display: flex;
    margin-bottom: 15px;
  li {
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
    a {
      color: #262626;
      display: block;
      padding: 10px 5px;
      border-bottom: 3px solid #ffffff;
    }
    &.active {
      a{
        border-bottom: 3px solid #449dff;
      }
    }
  }
}

.lableb-indexing-dec {
  color: #b4afd3;
  font-weight: 500;
  padding-inline-end: 105px;
}