*::-moz-selection {
 background-color: #3c66be;
 color:#FFFFFF;
}

::selection { background-color: #3c66be; color: #FFFFFF; }

/* change color and background */


.bg-color
{
	background-color: #3c66be;
}

.links li:hover i
{
	color: #3c66be;
}

.product-compare .bg-color
{
	background-color: #3c66be;
}

#header a:hover
{
	color: #3c66be;
}

#pav-mainmenu .navbar .nav > li:hover > a
{
	color: #3c66be;
}


.breadcrumb a.last
{
	color: #3c66be;
}

.pagination .links a:hover
{
	color: #3c66be;
}

a.button:hover,
input.button:hover
{
	background: #3c66be;
}

a.button:hover,
input.button:hover
{
	background: #3c66be;
}

.links b
{
	color: #3c66be;
}

#content #tab .selected
{
	background-color: #3c66be;
}

#tab .box-heading:hover
{
	background-color: #3c66be;
}

.htabs a
{
	background: #3c66be;
}

#content .active .box-heading
{
	background-color: #3c66be;
}

#content .over:hover
{
	background-color: #3c66be;
}

.product-compare a
{
	background: #3c66be;
}
*::-moz-selection {
 background-color: #3c66be;
}

::selection
{
	background-color: #3c66be;
}

.color
{
	color: #3c66be;
}

#footer a:hover
{
	color: #3c66be;
}

.product-grid .product-inner:hover .button
{
	background-color: #3c66be;
}

.pav-contact-us li:hover i
{
	background-color: #3c66be;
}

.pav-form h2
{
	background: #3c66be;
}

#header .pav-header-top
{	
	color: #3c66be;
}
#powered a
{
	color: #3c66be;
}
.box .box-heading
{
	background-color: #3c66be;	
}
a:hover
{	
	color: #3c66be;
}
.one-page a:hover
{
	color: #3c66be;
}


/* Background image */

#search .is-sprite{
	background-position: -318px 0;
}


.product-info .wishlist .i-product,
.product-list .wishlist .i-product
{
	background-position: -84px -186px;
}

.product-info .compare .i-product,
.product-list .compare .i-product
{
	background-position: -117px -186px;
}

.product-info .wishlist .i-product:hover,
.product-list .wishlist .i-product:hover
{
	background-position: -84px -218px;
	;
}

.product-info .compare .i-product:hover,
.product-list .compare .i-product:hover
{
	background-position: -117px -218px;
}

/* End */


