@charset "UTF-8";

.page-title-dec {
    margin: 0 0 15px 0;
}

.row-payment-method {
    display: flex;
    margin-bottom: 50px;

    @media (max-width: $screen-lg) {
        display: block;
        margin-bottom: 30px;
    }
}

.payment-method-holder {
    background: #fff;
    height: 100%;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 30px 65px;
    border: solid 1px #f5f5f5;
    position: relative;
    transition: .3s ease-out;
    &:hover {
        .btn-holder a {
            background-color: #03A9F4;
            color: #fff;
            border-color: #03A9F4;
        }
    }
    .payment-method-img {
        height: 45px;
        margin: 15px 0;
    }

    .payment-method-title {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .payment-method-dec {
        color: #4c4c51;
        margin: 10px 0;
    }

    .payment-method-logos {
        width: 150px;
    }

    .btn-holder {
        position: absolute;
        bottom: 20px;
        #{$ltr} & {
            right: 20px;
            @media (max-width: $screen-lg) {
                right: auto;
                left: 30px;
            }
        }
        #{$rtl} & {
            left: 20px;
            @media (max-width: $screen-lg) {
                left: auto;
                right: 30px;
            }
        }
    }

    .btn-outline-primary {
        color: #449dff;
        background-color: transparent;
        background-image: none;
        border-color: #449dff;
        font-weight: 600;
        font-size: 13px;
    }
}

.section-margin {
    margin: 20px 0;
}

.payment-option-holder {
    border: solid 1px #f5f5f5;
    background-color: #fff;
    padding: 20px;
    display: flex;
    border-radius: 3px;
    margin-bottom: 20px;
    transition: .3s ease-out;
    &:hover {
        .btn-holder a {
            background-color: #03A9F4;
            color: #fff;
            border-color: #03A9F4;
        }
    }

    .payment-option-icon-holder {
        border: solid 1px rgba(68,157,255,0.10);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 26.1px 21.1px 28.1px 22.1px;
        @media (max-width: $screen-xs) {
            padding: 10px;
        }
    }
    .payment-option-img {
        border: .5px solid #eae7f8;
        width: 90px;
        height: 90px;
        border-radius: 5px;
        object-fit: cover;
        @media (max-width: $screen-md) {
            width: 70px;
            height: 70px;
        }
    }
    .info {
        margin-inline-start: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: flex-end;

        .payment-method-title {
            font-weight: bold;
        }

        .payment-method-dec {
            color: #4c4c51;
            margin: 0 0 10px;
            width: 100%;
        }

        .btn-holder {
            display: flex;
            justify-content: flex-end;
            margin: 15px 0 0 0;
        }

        .btn-default {
            color: #2c2c35;
            background-color: #fff;
            font-weight: 600;
            transition: .3s ease-out;
        }
    }
}


.panel-collapsed {
    .panel-heading {
        padding: 15px 0;
    }
}

.total-transaction-amount-holder {
    background: #edecef;
    padding: 11px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.nowrap {
    white-space: nowrap;
}

.nav-tabs-margin {
    margin: 0 0 0px;
    z-index: 1;
    position: relative;
    border: none;
    .active a {
        border-radius: 3px 3px 0 0;
    border-color: #2196F3 !important;
    border-width: 1px !important;
    border-bottom: 1px solid #fff !important;
    color: #2196F3 !important;
    }
}

.Transactions-items-holder {
    position: relative;
    .title i {
        color: #bebebe;
        padding: 5px;
    }

    .amount {
        color: #155ebc;
        margin-top: 10px;
        margin-bottom: 5px;
        #{$rtl} & {
            direction: ltr;
            text-align: right;
        }
    }
}

.MyFatoorah-item, .Fawaterak-item, .MyFatoorahAndFawaterak-item {
    display: none;
}

.center-holder {
    width: 900px;
    max-width: 100%;
    margin: auto;
}

.pointer-events-none {
    pointer-events: none;
}

.hidden-btn-area {
    pointer-events: none;
    opacity: 0;
}

ul.expandpay-steps-holder {

    li.expandpay-steps-item {
        width: 100%;
    }

    li.expandpay-steps-item a {
        padding: 10px 0;
        color: #000;
        border: none !important;
    }
    li.expandpay-steps-item a .item-title {
        display: flex;
        align-items: center;
        font-weight: 600;
        word-break: break-word;
    }

    li.expandpay-steps-item a .item-title i {
        background: #449dff;
        color: #fff;
        font-size: 8px;
        border-radius: 20px;
        border: 5px solid #449dff;
        margin-inline-end: 10px;
    }

    li.expandpay-steps-item a .item-dec {
        word-break: break-word;
    }

    li.expandpay-steps-item.active a {

    }


    li.expandpay-steps-item.active a .item-dec {
    }

    li.expandpay-steps-item.active ~ * a {
        color: #b4afd3;
    }
    li.expandpay-steps-item.active ~ * a .item-title {
    }

    li.expandpay-steps-item.active ~ * a .item-title i {
        background: #d5d4d9;
        color: #fff;
        font-size: 8px;
        border-radius: 20px;
        border: 5px solid #d5d4d9;
    }
}

.country-item-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .country-item {
        width: calc(25% - 40px);
        text-align: center;
        border-radius: 3px;
        border: solid 1px #dfdfdf;
        margin: 10px;
        position: relative;
        padding: 30px 10px;
        cursor: pointer;
        transition: .3s ease;
        box-shadow: 0 0 5px 0 rgba(223, 219, 242, .85);
        @media (max-width: $screen-lg) {
            width: calc(50% - 20px);
        }
    }

    .country-item i.check-icon {
        color: #36cf92;
        position: absolute;
        font-size: 18px;
        right: 10px;
        top: 10px;
        opacity: 0;
        transition: 0.3s ease;
    }

    .country-item .flag-holder {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin: auto;
    }

    .country-item .flag-holder img {
        object-fit: cover;
        width: 50px;
        height: 50px;
    }

    .country-item .country-name {
        font-weight: bold;
        margin: 10px 0 0;
        display: block;
        color: #2c2c35;
    }

    .country-item.active {
        box-shadow: 0 0 4px 0 rgba(13, 205, 77, 0.35);
        border: solid 1px #36cf92;
    }

    .country-item.active i.check-icon{
        opacity: 1;
    }
}

.expandpay-arrows-holder {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    .btn-primary > i {
        margin-inline-start: 10px;
            #{$ltr} & {
            }
            #{$rtl} & {
                transform: rotate(180deg);
            }
    }

    .btn-default i {
        margin-inline-end: 10px;
            #{$ltr} & {
            }
            #{$rtl} & {
                transform: rotate(180deg);
            }
    }

    .btn {
        font-weight: 600;
        i {
            font-weight: 600;
        }
    }
}

.BusinessType-item-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .BusinessType-item {
        width: calc(25% - 40px);
        text-align: center;
        border-radius: 3px;
        border: solid 1px #dfdfdf;
        margin: 10px;
        position: relative;
        padding: 20px 10px;
        cursor: pointer;
        transition: .3s ease;
        box-shadow: 0 0 5px 0 rgba(223, 219, 242, .85);
        @media (max-width: $screen-lg) {
            width: calc(50% - 20px);
        }
    }

    .BusinessType-item i.check-icon {
        color: #36cf92;
        position: absolute;
        font-size: 18px;
        right: 10px;
        top: 10px;
        opacity: 0;
        transition: 0.3s ease;
    }

    .BusinessType-item .flag-holder {
        height: 50px;
        overflow: hidden;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .BusinessType-item .flag-holder img {
        object-fit: cover;
        width: 50px;
        height: 50px;
    }

    .BusinessType-item .BusinessType-name {
        font-weight: bold;
        margin: 10px 0 0;
        display: block;
        color: #2c2c35;
    }

    .BusinessType-item .BusinessType-dec {
        font-weight: normal;
        margin: 0;
        display: block;
        color: #a19db8;
    }

    .BusinessType-item.active {
        box-shadow: 0 0 4px 0 rgba(13, 205, 77, 0.35);
        border: solid 1px #36cf92;
    }

    .BusinessType-item.active i.check-icon{
        opacity: 1;
    }
}

.custom-alert {
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    #{$rtl} & {
        right: auto;
        left: 20px;
    }
}

.item-verfication-holder {
}

.item-verfication-holder .item-verfication {
    display: none;
    text-align: center;
    max-width: 520px;
    width: 100%;
    margin: 30px auto;
    padding: 0 15px;
}

.item-verfication-holder .item-verfication.item-verfication-error {
    color: #c40000;
}

.item-verfication-holder.verfication-pending  {
    .item-verfication-pending {
        display: block;
    }
}

.item-verfication-holder.verfication-error  {
    .item-verfication-error {
        display: block;
    }
    color: #c40000;
}


.item-verfication-holder.verfication-done  {
    .item-verfication-done {
        display: block;
    }
}

.item-verfication-holder .item-verfication img {
    width: 100px;
}

.item-verfication-holder .item-verfication .title {
    margin: 10px 0;
    font-weight: bold;
}

.item-verfication-holder .item-verfication .dec {
    margin: 10px 0;
}

.btn-withdraw {
    margin: 0 15px !important;
}

.Transactions-items-holder .balance-status {
    color: #ff7d00;
    position: absolute;
    left: -3px;
    right: -3px;
    font-size: 12px;
    span {
        margin: 0 3px;
    }

    i {
        color: #bcbcbc;
    }
}

.panel-body-p30 {
    padding: 30px 20px;
}


.two-side-holder {
    display: flex;
    @media (max-width: $screen-sm) {
        display: block;
    }
    .start-side-holder {
        max-width: 210px;
        flex: 0 0 210px;
        border: none;
        border-inline-end: 1px solid #e0ddef;
        margin: 0;
        padding: 20px;
        @media (max-width: $screen-md) {
            max-width: 180px;
            flex: 0 0 180px;
        }

        @media (max-width: $screen-sm) {
            max-width: 100%;
            border: none;
            padding: 15px 30px;
            border-bottom: 1px solid #e0ddef;
        }
    }

    .end-side-holder {
        width: 100%;
    }
}

.tab-content-title {
    margin: 30px 0 30px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}

.tab-pane {
    .dynamic-next {
        display: block;
    }

    .static-next {
        display: none;
    }
}

.form-readonly {

    .country-item-holder {
        cursor: not-allowed;
    }

    .country-item-holder > *  {
        opacity: 0.5;
        pointer-events: none;
    }

    .BusinessType-item-holder {
        cursor: not-allowed;
    }

    .BusinessType-item-holder > *  {
        opacity: 0.5;
        pointer-events: none;
    }

    .form-group {
        cursor: not-allowed;
    }

    .form-group > *  {
        opacity: 0.5;
        pointer-events: none;
    }

    .form-group > label  {
        opacity: 1;
    }

    .form-group > h6  {
        opacity: 1;
    }

    .dynamic-next {
        display: none;
    }

    .static-next {
        display: block;
    }

    .file-input-styled {
        opacity: 0.5 !important;
    }
}

.expandpay-statusholder {
    display: flex;
}

.expandpay-statusholder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expandpay-statusholder .control-label {
    margin-inline-end: auto;
    margin-bottom: 0;
}

.expandpay-statusholder .checkbox-switchery {
    margin: 0;
}


.expandpay-statusholder .checkbox-switchery label {
    #{$ltr} & {
        padding: 0 56px 0 0;
    }
    #{$rtl} & {
        padding: 0 0 0 56px;
    }
}

.expandpay-statusholder .checkbox-switchery label .switchery {
    #{$ltr} & {
        right: 0;
        left: auto;
    }
    #{$rtl} & {
        right: auto;
        left: 0;
    }
}

.form-readonly-input {

    .panel-body {
        cursor: not-allowed;
    }

    .panel-body .form-group > *  {
        opacity: 0.5;
        pointer-events: none;
    }

    .panel-body .form-group label  {
        opacity: 1;
        pointer-events: none;
    }
}

.login-block-center {
    margin: 30px auto;
    max-width: 380px;
}

.expandpay-login-logo {
    margin: 20px 0;
}

.expandpay-login-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.font-w-600 {
    font-weight: 600;
}

.input-with-icon {
    position: relative;
    svg {
        #{$ltr} & {
            position: absolute;
            left: 15px;
            top: 10px;
            font-size: 16px;
            color: #d2cfe4;
        }
        #{$rtl} & {
            position: absolute;
            left: auto;
            right: 15px;
            top: 10px;
            font-size: 16px;
            color: #d2cfe4;
        }
    }
    input {
        padding-inline-start: 45px;
    }
}

.btn-expandpay-login {
    width: 100%;
    margin: 15px 0 0;
    i {
        margin: 0 5px;
        #{$ltr} & {
        }
        #{$rtl} & {
            transform: rotate(180deg);
        }
    }
}

.verify-input-holder {
    text-align: center;
    input {
        width: 41px;
        height: 40px;
        margin: 0 10px 0 0;
        border-radius: 5px;
        border: solid 1px #d2cfe3;
        background-color: #ffffff;
        text-align: center;
        &:focus {
            border-color: #a8a1d4;
        }
    }
}

.counter-holder {
    display: flex;
    justify-content: center;
    margin: 15px 0 0;
    .counter-min {
        margin: 0 8px;
    }

    .resend-verify-code {
        color: #2196F3;
    }

    .resend-verify-code.hidden-resend {
        cursor: not-allowed;

        a {
            color:#ff9677;
            pointer-events: none;
        }
    }
}

.international-telephone-holder .intl-tel-input{
    width: 100%;
}

.gray-hint {
    display: flex;
    align-items: baseline;
    color: #a39ec2;
    max-width: 550px;
    margin: 20px auto;
}

.gray-hint i {
    margin-inline-end: 5px;
}

.navigation-tabs li.active a {
    color: #155ebc;
}

.btn-primary.btn-withdraw{
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
    background: #fff;
    color: #2196F3;
    margin-inline-end: 0px !important;
}

.btn-primary.btn-withdraw:focus, .btn-primary.btn-withdraw.focus, .btn-primary.btn-withdraw:hover {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #fff;
}

.transactions-tables-holder {
    .dt-buttons {
        float: right;
        #{$rtl} & {
            float: left;
        }
        @media (max-width: $screen-md) {
            float: left;
            #{$rtl} & {
                float: right;
            }
        }
    }

    .dataTables_filter {
        float: left;
        #{$rtl} & {
            float: right;
        }

        @media (max-width: $screen-md) {
            float: right;
            #{$rtl} & {
                float: left;
            }
        }
    }
}

.has-adv-search .dataTables_filter label span {
    display: none;
}

.has-adv-search .select2-container {
    width: 100% !important;
}

.has-adv-search {
    opacity: 1;
    .sidebar-detached-custom {
        display: none;
        float: right;
        width: 230px;
        border: 1px solid #ddd;
        #{$rtl} & {
            float: left;
        }
        @media (max-width: $screen-md) {
            width: 100%;
            border: none;
        }
    }
}

.sidebar-filter-open {
    opacity: 1;
    .sidebar-detached-custom {
        display: block;
    }

    .tab-pane {
        width: calc(100% - 230px);
        float: left;
        #{$rtl} & {
            float: right;
        }
        @media (max-width: $screen-md) {
            width: 100%;
        }
    }
}

.btn-removeApp.bottom-cancel-button {
    color: #b4afd3;
    font-weight: 600;
    box-shadow: none;
}

.modal-expandpay-remove .btn-danger {
    background-color: #c40000;
}

.modal-expandpay-remove .modal-title {
    font-weight: 600;
}

.modal-expandpay-remove .modal-title i {
    color: #c40000;
}

.modal-expandpay-remove .modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    @media(max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
  }


.country-item .label_soon {
    display: none;
}
.country-item-soon {
    pointer-events: none;

    & > * {
        opacity: .5;
    }

    &.active {
        box-shadow: 0 0 5px 0 rgba(129,129,138,0.27) !important;
        border: solid 1px #dfdfdf !important;
        i.check-icon {
            opacity: 0 !important;
        }
    }
    .label_soon {
        display: block;
        position: absolute;
        right: 0;
        background: rgba(255,163,8,.2);
        padding: 4px 10px 3px 9px;
        color: #ff7d00;
        font-size: 10px;
        font-weight: 600;
        top: 10px;
        opacity: 1;
    }
}

.custom-alert-onBtn {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    box-shadow: 0 0 0px 3px #fff !important;
    z-index: 9;
    i {
        margin: 0 !important;
    }
}

.item-country-changed {
    display: none;
}

#CreateAccount .intl-tel-input .country-list {
    left: 2px;
    top: 40px;
    #{$rtl} & {
        left: 2px;
        direction: ltr;
    }
}

#CreateAccount .flag-container .selected-flag {
    #{$rtl} & {
        direction: ltr;
    }
}

#CreateAccount input.international-telephone {
    #{$rtl} & {
        direction: ltr;
        text-align: right;
    }
}

.hiddenSubmit {
    opacity: 0.5;
    pointer-events: none;
}

.input-disabled-style {
    background: #f8f7ff;
    pointer-events: none;
}

.dir-ltr {
    #{$rtl} & {
        direction: ltr;
        text-align: right;
    }
}

.expandpay-setting-page {
    margin: 0 70px;
    @media(max-width: 768px) {
        margin: 0 0px;
        }
}

#refundSubmitButton {
    background-color: #c40000;
}

.total-transaction-amount-holder {
    input:first-of-type {
        opacity: 1;
        border-inline-end: none;
        border-start-end-radius: 0;
        border-end-end-radius: 0;
    }

    input:last-of-type {
        margin: 0 !important;
        border-inline-start: none;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}

.modal-center .modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    @media(max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
}

#withdraw .modal-header, #Refund .modal-header {
    margin-bottom: 15px;
    position: relative;
}

#withdraw .modal-header .modal-title:before, #Refund .modal-header .modal-title:before {
    content: "";
    border-bottom: 1px solid #d1d1d1;
    right: 20px;
    left: 20px;
    height: 1px;
    position: absolute;
    bottom: -15px;
}

#withdraw .modal-header button.close span, #Refund .modal-header button.close span {
    font-size: 30px;
    font-weight: 600;
    color: #868686;
    line-height: 12px;
}

.doc-upload-notes {
    color: #a39ec2;
    font-size: 12px;
    font-weight: normal;
    #{$rtl} & {
        font-size: 13px;
    }
}

/** change upload file style **/
label.file-input-styled input {
    position: absolute;
    width: 0;
    overflow: hidden;
    opacity: 0;
}
label.file-input-styled {
  width:100%;
  min-width:200px;
  height: 40px;
  line-height: 38px !important;
  cursor:pointer;
  position:relative;
  display: block;
  white-space:nowrap;
  text-align:right;
  #{$rtl} & {
    text-align:left;
  }
}
label.file-input-styled:before {
  content:"No file chosen";
  display:block;
  position:absolute;
  box-sizing:border-box;
  width:100%;
  height:inherit;
  padding:0 84px 0 10px;
  border:1px solid #dfdbf2;;
  border-radius:3px 0 0 3px;
  background-color:#fff;
  color:#555555;
  font-size:12px;
  overflow:hidden;
  text-overflow:ellipsis;
  text-align:center;
  vertical-align:middle;
  #{$rtl} & {
    content:"لم تقم باختيار ملف";
    padding:0 10px 0 84px;
  }
}
label.file-input-styled[title]:not([title=""]):before{
  content:attr(title);
  color:#162f44;
}
label.file-input-styled:after {
  content:"Browse";
  display:inline-block;
  position:relative;
  box-sizing:border-box;
  width:74px;
  height:inherit;
  padding:0 4px;
  border-radius:0 3px 3px 0;
  background-color:#a0b7c5;
  color:#fff;
  overflow:hidden;
  font-size:12px;
  font-weight:normal;
  text-overflow:ellipsis;
  text-align:center;
  vertical-align:middle;
  #{$rtl} & {
    content:"تحميل";
    border-radius:3px 0 0 3px;
  }
}

.refundloader  {
    background-color: #c40000;
}
