.cuurent-template-box {
    display: flex;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(223,219,242,.8);
    margin-bottom: 40px;
    background-color: #ffffff;
    position: relative;
    @media (max-width: $screen-sm) {
      flex-direction: column;
    }

    .reset-btn {
        position: absolute;
        top: 20px;
        @include dir-right(20px);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background-color: #ecf8fe;
        color: #03a9f4;
        font-size: 16px;
    }

    .img {
        width: 450px;
        height: 230px;
        border-radius: 3px;
        overflow: hidden;
        @include dir-margin-right(40px);
        font-style: 0;
        @media (max-width: $screen-sm) {
          width: 100%;
          height: 200px;
          margin-bottom: 20px;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .info {
        width: 100%;
        display: flex;
        align-content: space-between;
        flex-direction: column;
        justify-content: space-between;
    }
    .title {
        color: #2c2c35;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 17px;
    }
    .subtitle {
        color: #2c2c35;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 17px;
    }
    .info-content {
        font-size: 13px;
        color: #4c4c51;
        font-weight: 500;
        margin-bottom: 25px;
        display: flex;
        align-items: flex-end;
        img {
            width: 47px;
            @include dir-margin-right(10px);
        }
    }
    .btns {
        margin-bottom: 15px;
        .button {
            font-weight: 700;
            padding: 10px 20px;
        }
    }
    .table-guide, .table-guide a {
        font-weight: 500;
    }
    .down {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: $screen-sm) {
          flex-direction: column;
          justify-content: flex-start;
        }
        .btns {
            display: flex;
            justify-content: flex-end;
            padding-top: 10px;
            @media (max-width: $screen-sm) {
              justify-content: flex-start;
              margin-top: 10px;
            }
            .button {
                @include dir-margin-left(10px);
                @media (max-width: $screen-sm) {
                  padding: 10px;
                  @include dir-margin-left(0);
                  @include dir-margin-right(10px);
                }
            }
        }
    }
}

.templates-grid {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px 20px;
        @media (max-width: $screen-lg) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $screen-md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $screen-sm) {
          grid-template-columns: 1fr;
        }
    }
    .templates-group {
        margin-bottom: 30px;
    }
}
.templates-filter {
    margin-bottom: 25px;

    .category-check {
        display: inline-block;
        input {
            display: none;
            &:checked + span {
                background-color: #155ebc;
                color: #ffffff;
                border-color: #155ebc;
            }
        }
        span {
            padding: 10px 14px;
            border-radius: 3px;
            border: solid 1px #e1e1e1;
            color: #4c4c51;
            font-size: 13px;
            font-weight: 600;
            @include dir-margin-right(5px);
            transition: .3s;
            background-color: #ffffff;
            cursor: pointer;
            display: block;
        }
    }
}
.theme-box {
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(223,219,242,.8);
    border-radius: 3px;
    .img {
        height: 320px;
        margin-bottom: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    .btns {
        display: flex;
        .dark-white-empty,.red-white-empty {
            @include dir-margin-left(10px);
            flex-shrink: 0;
            color: #d2cfe3;
            &:hover {
                color: #03a9f4;
            }
        }
        .orange-white-empty,
        .blue-white-empty,
        .blue-white {
            width: 100%;
            padding: 10px !important;
        }
        .button.load-spin-inline:hover::before {
            border-color: #fff;
            border-bottom-color: #03a9f4;
        }
    }
    .info {
        .up {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name {
                font-size: 13px;
                font-weight: 700;
                color: #2c2c35;
            }
            .price {
                font-size: 13px;
                color: #2c2c35;
            }
            .current-label {
                font-size: 12px;
                font-style: italic;
                color: #36cf92;
                font-weight: 600;
            }
        }
        .type {
            color: #b4afd3;
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

    &.current {
        .button {
            // background-color: #36cf92;
            // color: #ffffff;
            // border: 1px solid #36CF92;
            // border-radius: 3px;
            &.blue-dark-btn {
                color: #fff;
                background-color: #155ebc;
                justify-content: center;
                text-align: center;
                &:focus,
                &:hover {
                  color: #fff;
                }
            }
        }
    }
}
.breadcrumb-elements > li > a i {
    font-size: 16px;
}

.template-link {
    font-size: 13px;
    color: #2c2c35;
    @include dir-margin-left(10px);
    font-weight: 500;
    i {
        font-size: 11px;
        @include dir-margin-right(5px);
    }
    &.plan-lock-btn {
        color: #b4afd3;
    }
}