#header .header-right{
	float:left;
	 text-align: left;
}

#mainmenu .navbar .nav{ float: right; }

.pavcontentslider .carousel-indicators 	{ right: 0 	}
.productcarousel .carousel-controls { right: auto; left: 10px }

ul.box-category li.haschild{
	 background-position: 5% 12px
}

/* Addthis RTL fix START */
#at15s .at-label {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

#at15s {
    text-align: right !important;
}

#at15s a, #at15s span {
    direction: rtl !important;
}
/* Addthis RTL fix END */