.checkout-page {
    line-height: 1;
    .checkout-content {
        max-width: 1170px;
        margin: auto;
        padding-top: 20px;
    }
    .form-side {
        background-color: #fff;
        padding: 24px;
        width: calc(100% - 10px);
        box-shadow: 0 0 4px rgba(223,219,242,.85);
        border-radius: 5px;
        @media (max-width: $screen-sm) {
          width: 100%;
          margin-bottom: 24px;
        }
    }
    .main-title {
        color: #212121;
        font-weight: 600;
        font-size: 18px;
        line-height: 39px;
        margin-bottom: 24px;
        @media (max-width: $screen-sm) {
          font-size: 22px;
        }
    }
    .outer-block {
        padding: 25px 30px;
        border-radius: 4px;
        border: solid 1px #dfdbf2;
    }
    .block-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 35px;
        color: #424242;
        margin-bottom: 8px;
        @media (max-width: $screen-sm) {
          font-size: 18px;
        }
    }
    .moneyback-container {
        text-align: end;
        margin-bottom: 14px;
        .moneyback {
            padding: 12px;
            background: #F3F6FC;
            border-radius: 8px;
            display: inline-flex;
            align-items: center;
            color: #2564AD;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            @media (max-width: $screen-sm) {
              font-size: 15px;
              text-align: start;
              width: 100%;
            }
            img {
                @include dir-margin-right(8px);
            }
        }
    }
    .inner-block {
        padding: 20px;
        border-radius: 4px;
        border: solid 1px #dfdbf2;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        &.plan-type {
            padding: 0;
            border: 1px solid #D0D5DD;
            border-radius: 8px;
            overflow: hidden;
            .radio-btn {
                padding: 0;
                margin: 0;
                display: block;
                input:checked {
                      + .radio-label {
                        background-color: #f3f6fc;
                        i {
                            border-color: #3382CC;
                            &::before {
                                background-color: #3382CC;
                            }
                        }
                        .custom-check i {
                            &::before {
                                width: auto;
                                height: auto;
                                background-color: transparent;
                                color: #3382CC;
                            }
                        }
                    }
                }
                .custom-check {}
                .radio-label {
                    padding: 15px 20px;
                    min-height: 65px;
                    transition: .3s;
                    i {
                        width: 20px;
                        height: 20px;
                        transition: .3s;
                        &::before {
                            content: "";
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: transparent;
                            transition: .3s;
                        }
                    }
                    .custom-check i::before {
                        content: "\f00c"
                    }
                    .left {
                        display: flex;
                        align-items: center;
                        
                        .date {
                            color: #212122;font-weight: 500;
                            font-size: 16px;
                            line-height: 23px;
                            margin-bottom: 4px;
                        }
                        .offer {
                            padding: 2px 10px;
                            background: #FEEBA4;
                            border-radius: 16px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #8F580A;
                            @include dir-margin-left(12px);
                        }
                    }
                    .right {
                        text-align: end;
                        @media (max-width: $screen-sm) {
                          text-align: start;
                        }
                        .price {
                            .before {
                                font-size: 14px;
                                color: rgb(145, 139, 139);
                                text-decoration: line-through;
                                @include dir-margin-right(10px)
                            }
                            font-weight: bold;
                            font-size: 17px;
                            line-height: 21px;
                            color: #212121;
                            &:not(:last-child) {
                                margin-bottom: 4px;
                            }
                            .build-key {
                                font-size: 12px;
                                line-height: 21px;
                                font-weight: 400;
                            }
                        }
                        .build {
                            font-size: 12px;
                            line-height: 19px;
                            font-weight: 400;
                            color: #616161;
                        }
                    }
                }
            }
        }
    }
    .radio-btn {
        &:not(:last-child) {
            padding-bottom: 15px;
            margin-bottom: 17px;
            border-bottom: 1px solid #dfdbf2;
        }
        .radio-label {
            display: flex;
            align-items: center;
            margin: 0;
            cursor: pointer;
            @media (max-width: $screen-sm) {
              align-items: flex-start;
            }
            > i {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 20px;
                height: 20px;
                transition: .3s;
                border: solid 1px #dfdbf2;
                border-radius: 50%;
                @include dir-margin-right(10px);
                font-size: 12px;
                background-color: transparent;
                @media (max-width: $screen-sm) {
                  margin-top: 2px;
                }
                &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: transparent;
                    transition: .3s;
                }
            }
            > input:checked + i {
                border-color: #3382CC;
                &::before {
                    background-color: #3382CC;
                }
            }
            .info {
                display: flex;
                justify-content: space-between;
                width: 100%;
                @media (max-width: $screen-sm) {
                  align-items: flex-start;
                  flex-direction: column;
                }
                &.master-tab {
                    @media (max-width: $screen-sm) {
                      flex-direction: column;
                      .right {
                          margin-top: 10px;
                          img {
                              @include dir-margin-left(0px);
                              @include dir-margin-right(10px);
                          }
                      }
                    }
                }
                    .price {
                        margin-bottom: 2px;
                        font-size: 16px;
                        font-weight: bold;
                        color: #2c2c35;
                    }
                    .build {
                        font-size: 12px;
                        font-weight: 500;
                        color: #4c4c51;
                    }
                    .title {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 23px;
                        color: #212121;
                    }
                    img {
                        height: 23px;
                    }

                    display: flex;
                    align-items: center;
                    .date {
                        font-size: 16px;
                        font-weight: 600;
                        color: #2c2c35;
                    }
                    .offer {
                        @include dir-margin-right(10px);
                        font-size: 13px;
                        font-weight: 500;
                        color: #ff7d00;
                    }
                    .left {
                        img {
                            height: 24px;
                        }
                    }
                    img {
                        height: 35px;
                        @include dir-margin-left(10px);
                        @media (max-width: $screen-sm) {
                          height: 30px;
                        }
                        &.pay-img {
                            width: 50px;
                            height: auto;
                        }
                    }
            }
        }
        .pay-form {
            display: none;
        }
        .active + .pay-form {
            display: block;
        }
    }
    
    .plan-info {
        padding: 24px;
        background-color: #fff;
        img {
            max-height: 118px;
            max-width: 100%;
        }
        .offer {
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            color: #00b177;
        }
        .title {
            margin-bottom: 4px;
            font-weight: 500;
            font-size: 18px;
            line-height: 35px;
            color: #424242;
        }
        .subtitle {
            margin-bottom: 24px;
            font-size: 19px;
            line-height: 23px;
            color: #616161;
        }
        .features-title {
            margin-bottom: 20px;
            font-size: 19px;
            font-weight: 600;
            color: #0e0000;
        }
        .features {
            margin-bottom: 24px;
            li {
                display: flex;
                margin-bottom: 12px;
                font-size: 13px;
                line-height: 23px;
                color: #424242;
                word-break: normal;
                &::before {
                    content: "\f00c";
                    display: block;
                    @include dir-margin-right(11px);
                    font-family: 'Font Awesome 5 Free';
                    font-size: 16px;
                    font-weight: bold;
                    color: #34A428;
                }
            }
        }
        .text {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #757575;
            padding: 16px;
            background: #F9FAFB;
            border-radius: 8px;
        }
    }

    .pay-form {
        padding-top: 16px;
        .card-js {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 24px 8px;
            .card-number-wrapper {
                grid-area: 1 / 1 / span 1 / span 2;
            }
            .icon {
                display: none;
            }
            input {
                height: 40px;
                padding: 0 13px;
                border-radius: 3px;
                border: solid 1px #e0ddef;
                width: 100%;
                font-size: 16px;
                line-height: 24px;
                &::placeholder {
                    color: #98A2B3;
                }
            }
        }
        .check-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;
            margin-bottom: 15px;
            @media (max-width: $screen-sm) {
              flex-direction: column;
              align-items: flex-start;
            }
            img {
                height: 21px;
                @media (max-width: $screen-sm) {
                  margin-bottom: 4px;
                }
            }
            .custom-check {
                display: flex;
                align-items: center;
                margin: 0;
                span {
                    font-size: 13px;
                    font-weight: 500;
                    color: #2c2c35;
                    a {
                        color: #b4afd3;
                        font-weight: 600;
                    }
                }
            }
            .apply-discount {
                font-size: 16px;
                line-height: 24px;
                color: #49A9EE;
                cursor: pointer;
            }
        }
        .terms {
            color: #757575;
            font-weight: 500;
            font-size: 12px;
            line-height: 19px;
            margin-top: 16px;
            a {
                color: #2564ad;
            }
        }
        .submit {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            border-radius: 3px;
            background-color: #49A9EE;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #fff;
            width: 100%;
            position: relative;
            &.disabled:hover {
                .tool-hint {
                    opacity: 1;
                    transform: none;
                    visibility: visible;
                }
            }
            .tool-hint {
                position: absolute;
                top: calc(100% + 5px);
                padding: 5px 10px;
                font-size: 12px;
                color: #fff;
                font-weight: 500;
                background-color: rgba(0,0,0,.8);
                border-radius: 3px;
                transform: translateY(20px);
                transition: .5s;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                &::before {
                    content: "";
                    top: 0;
                    left: 50%;
                    position: absolute;
                    display: block;
                    transform: translateY(-100%);
                    border: 5px solid transparent;
                    border-bottom-color: rgba(0,0,0,.8);
                }
            }
        }
        .apply-row {
            display: flex;
            border-radius: 3px;
            border: solid 1px #e0ddef;
            padding: 3px 0;
            margin-top: 10px;
            input {
                width: 100%;
                padding: 0 15px;
                font-size: 16px;
                line-height: 24px;
                &::placeholder {
                    color: #98A2B3;
                }
            }
            button {
                height: 33px;
                padding: 0 17px;
                @include dir-border-left(1px solid #e0ddef);
                font-size: 13px;
                font-weight: 600;
                color: #2669c0;
                background-color: transparent;
            }
        }
    }
}

.form-side {
    .wrong-err::after, .empty-err::after {
        position: static;
        margin-top: 10px;
    }
}
