/* new menu 2021 */
.wsmenu>.wsmenu-list>li {
    float: right;
}

.wsmenu>.wsmenu-list>li>.wsshoptabing,
.wsmenu>.wsmenu-list>li .wstliststy02 {
    text-align: right !important;
}

.wsmenu>.wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li>a {
    float: right !important;
}

.wsmenu>.wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li>.wstitemright {
    left: 0 !important;
    right: auto !important;
}

.wsmenu>.wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li.wsshoplink-active>a {
    border-right: 3px solid #ff7f00 !important;
    border-left: 0 !important;
}

@media only screen and (max-width: 991px) {

    .wsmobileheader .wssearch,
    .wsmenu>.overlapblackbg {
        left: 0px !important;
        right: auto !important;
    }

    .wsanimated-arrow {
        right: 0;
        left: auto !important;
    }

    .wsmenu>.wsmenu-list>li .wstliststy02 {
        padding: 0px 10px;
    }

    .wsactive .wsmenu>.wsmenu-list {
        margin-right: 0 !important;
        margin-left: auto;
    }

    .wsmenu>.wsmenu-list>li>.navtext>span {
        text-align: right;
    }

    .wsmenu>.wsmenu-list>li>.wsmenu-click {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-left: none;
        left: 0;
        right: auto;
    }

    .wsactive .wsmobileheader {
        margin-right: 260px;
        margin-left: auto;
    }
    .wsmobileheader{
        right: 0;
    }
    .wsmenu .wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li>.wsmenu-click02 {
        border-right: 1px solid #f3f3f3;
        border-left: none;
        left: 0;
        right: auto;
    }
}

.search-top-nav button {
    position: absolute;
    left: 0 !important;
    right: auto;
    height: 40px;
    width: 98px;
    background: #ff7f00;
    border: 1px solid #ff7f00;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
    /* padding: 0 16px; */
}

/* new menu 2021 */