#header .header-right{
	float:left;
	 text-align: left;
}

#mainmenu .navbar .nav
{
    float: right;
    margin: 0 0 0 10px;
}

body *{
    direction: rtl;
}

body {
    direction: ltr !important;
}

.pavcontentslider .carousel-indicators 	{ right: 0 	}
.productcarousel .carousel-controls { right: auto; left: 10px }

ul.box-category li.haschild{
	 background-position: 5% 12px
}

.navbar-search .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

h1, h2,h3,h4,h5,h6 {
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    margin: 0;
}

.listmenu.navbar .nav li a{
    text-shadow: none;
    color: #6e6f70;
    font-size: 13px;
    padding: 0;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.navbar .nav > li > a {
    text-shadow: none;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 14px;
    padding: 14px 15px 15px 13px;
}

#header .header-right{
    text-align: right;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-weight: 400;
    font-size: 11px;
}

.breadcrumb {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 13px;
    margin-bottom: 20px;
    padding: 0;
}

.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    display: block;
}

.checkout > a,
a.button, input.button {
    background:url(../image/default/bg_cart.png) repeat-x left bottom scroll #48aeae;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 14px;
    height: 26px;
    line-height: 26px;
}

.htabs a {
    background: #45a5a5;
    padding: 0 15px 0 15px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    color: #fff;
    display: none;
    border-right: 1px solid #FFFFFF;
}

.product-block .name a {
    text-decoration: none;
    display: block;
    margin: 10px 0;
    color:#2b2c2d;
    font-size: 16px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}
.product-block .name a:hover {
    color: #399797;
}
.product-block .price {
    display: block;
    font-weight: 700;
    color: #f24458;
    font-size: 16px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    margin: 0px 0;
}

.product-filter {
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    overflow: auto;
    padding-bottom: 5px;
}

.product-info .price {
    color: #F24458;
    float: left;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 20px;
    font-weight: 700;
    margin: 4px 10px 4px 0;
}

#powered {
    clear: both;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 13px;
}

.media  a.bnt {
    background: url(../image/default/bg_input.png) repeat-x scroll left top #3ea1a1;
    border-top: 1px solid #45a5a5;
    border-bottom: 1px solid #378b8b;
    border-left: 1px solid #3d9696;
    border-right: 1px solid #3d9696;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 16px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    width: 125px;
    margin-top: 20px;
    margin-right: 30px;
}

.language {
    margin-right: 10px;
    margin-left: 0px;
}

#header .links a {
    padding-right: 9px;
    padding-left: 10px;
    border-left: 1px dotted #818283;
    float: right;
    line-height: 100%;
    border-right: none;
}

#header .links a.last {
    border-right: none;
    padding-left: 0;
    border-left: none;
    padding-right: 9px;
}

.header-right .login a {
    color: #399797;
    padding-left: 0px;
    padding-right: 0px;
}


#header .header-right > div.login {
    position: relative;
    text-align: left;
}

#header #cart .content {
    clear: both;
    display: none;
    position: absolute;
    top: 34px;
    padding: 8px;
    min-height: 150px;
    border-top: 6px solid #45A5A5;
    box-shadow: 0px 0px 2px #bbb;
    background: #FFF;
    min-width: 300px;
    right: -26px;
}

.navbar .nav.megamenu > li.homepage:hover, .navbar .nav > li {
    background: url(../image/default/border-menu.png) no-repeat left center scroll;
}

.nav .caret {
    position: absolute;
    top: 15px;
    left: 1px;
    right: initial;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    background: url(../image/default/caret.png) no-repeat center center scroll;
    border: medium none;
    height: 8px;
    margin-top: 5px;
    width: 5px;
    margin-right: 0px;
    margin-left: 10px;
}

.navbar .nav > li > a.dropdown-toggle {
    padding-right: 15px;
    padding-left: 23px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: initial;
    right: 0px;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #45a5a5;
    border-right: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: initial;
    position: absolute;
    top: -11px;
    right: 25px;
}

.dropdown .dropdown-menu li, .megamenu .dropdown-mega li {
    padding: 5px 10px 5px 0px;
    background: url(../image/default/icon_li.png) no-repeat scroll right 14px;
    border-bottom: 1px solid #f1f1f1;
}

.dropdown .dropdown-menu li:hover, .megamenu .dropdown-mega li:hover {
    background-position: right -24px;
}

#search .button-search {
    background: url(../image/default/icon_search.png) no-repeat scroll center center #FFFFFF;
    cursor: pointer;
    height: 28px;
    position: absolute;
    top: 10px;
    width: 30px;
    right: initial;
    left: 10px;
}

#search input {
    background: #fff;
    border: 1px solid #45a5a5;
    margin: 9px 5px;
    width: 90%;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.banner-info a.bnt {
    border: 3px solid #e1596c;
    color: #45a5a5;
    background: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0 22px;
    line-height: 35px;
    display: inline-block;
    margin: 20px 0 10px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 13px;
    font-weight: 700;
}

.pavcontentslider .thumb-indicators li {
    text-indent: 0;
    display: block;
    float: right;
    height: auto;
    margin: 10px 8px 10px 0px;
    padding: 0;
    text-indent: 0;
    width: auto;
    z-index: 20;
}

.newsletter-service .newsletter {
    margin-right: 17px !important;
}

.newsletter-service .service {
    margin-right: 0px;
}


button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.newsletter-submit .button {
    background: url(../image/default/arrow-ar.png) no-repeat center center scroll #43a2a2!important;
    height: 30px;
    padding: 0;
    text-indent: -999em;
    width: 47px;
}

.listmenu.navbar .nav li {
    background: url(../image/default/border_li.png) repeat-y left top scroll;
    padding: 0 22px 0 20px;
}

.listmenu.navbar .nav li:first-child {
    padding-left: 20px;
    padding-right: 0px;
}

.listmenu.navbar .nav li:last-child {
    background: none;
    padding-right: 22px;
    padding-left: 0px;
}

.social h4 {
    font-size: 13px;
    font-weight: 400;
    margin-right: 0px;
    line-height: 23px;
    margin-left: 0px;
}

ul.list li:hover {
    background-position: right -29px;
}
ul.list li {
    background: url(../image/default/icon_li.png) no-repeat right 9px scroll;
    padding-left: 0px;
    padding-right: 10px;
}

.contact-us ul li.members {
    background-position: right 1px;
}
.contact-us ul li {
    background-image: url(../image/default/icons_contact.png);
    background-repeat: no-repeat;
    padding: 7px 40px 7px 0px;
    margin-bottom: 7px;
    line-height: 17px;
}

.contact-us ul li.phone {
    background-position: right -71px;
}

.contact-us ul li.fax {
    background-position: right -140px;
}

.contact-us ul li.email {
    background-position: right -210px;
}

.sidebar ul li a {
    text-decoration: none;
    background-image: url(../image/default/arrow-li-ar.png);
    background-repeat: no-repeat;
    background-position: right 6px;
    padding-right: 15px;
    padding-left: 0px;
}

.sidebar ul li a.active, .sidebar ul li a:hover {
    background-position: right -39px;
    color: #f24458;
}

#content .content .left {
    float: right;
    width: 49%;
}

#content .content .right {
    float: left;
    width: 49%;
}

.return-name {
    float: right;
    width: 31%;
    margin-left: 15px;
    margin-right: 0px;
}

.return-model {
    float: right;
    width: 31%;
    margin-left: 15px;
    margin-right: 0px;
}

.return-quantity {
    float: right;
    width: 31%;
}

.sitemap-info ul li {
    list-style: disc inside none;
    margin-left: 0px;
    margin-right: 15px;
}

.sitemap-info {
    overflow: auto;
    margin-bottom: 40px;
    margin-top: 15px;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 45px;
}

#header #cart .heading {
    position: relative;
    z-index: 1;
    font-size: 14px;
    background: url(../image/default/icon_cart.png) no-repeat scroll right top;
    padding-right: 36px;
    line-height: 33px;
    padding-left: 0px;
}

#header #cart .heading h4 {
    color: #f24458;
    margin-top: 0;
    margin-bottom: 0;
    float: right;
    line-height: 33px;
}

#header #cart .heading a {
    text-decoration: none;
    padding-right: 5px;
    line-height: 33px;
    display: inline-block;
    zoom: 1;
    padding-left: 0px;
}

#header #cart .heading a span {
    background: #FFFFFF url('../image/arrow-down.png') left 50% no-repeat;
    padding-left: 15px;
    font-size: 14px;
    padding-right: 0px;
}

.product-compare {
    float: left;
}

.product-filter .display {
    margin-left: 10%;
    float: right;
    margin-right: 0px;
}

.product-filter .sort {
    float: right;
}

.product-filter .limit {
    margin-right: 15px;
    float: right;
    margin-left: 0px;
}

ul.box-category li.haschild {
    background: url(../image/default/arrow-li-children-ar.png) no-repeat 6% 12px scroll;
}

.sidebar .box-product .image {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}

.product-block .price {
    background: url(../image/default/bg_price.png) repeat scroll 0 0 #FFFFFF;
    float: right;
    line-height: 26px;
    margin: 0;
    text-align: center;
    width: 50%;
}

.sidebar .product-block .price {
    background: none;
    text-align: right;
}

.product-block .price-old {
    color: #6E6F70;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: line-through;
    float: right;
}

.sidebar .box-product .product-block {
    width: 100%!important;
    margin-right: 0;
}

.category-list ul li {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
}

.htabs a {
    background: #45a5a5;
    padding: 0 15px 0 15px;
    float: right;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    color: #fff;
    display: none;
    border-left: 1px solid #FFFFFF;
    border-right: none;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at4-icon, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
    float: right !important;
}

.product-info .price-cart .price {
    float: right;
    margin: 4px 0 4px 10px;
}

.product-info .quantity-adder .add-action {
    display: block;
    z-index: 5;
    position: absolute;
    left: 0;
    height: 16px;
    cursor: hand;
    cursor: pointer;
    right: initial;
}

.product-info .quantity-adder {
    position: relative;
    padding-left: 12px;
    padding-right: 0px;
}

.product-info .compare-wish a.wishlist {
    background-position: right 2px;
}

.product-info .compare-wish a {
    background-image: url(../image/default/icon-wish-compace.png);
    background-repeat: no-repeat;
    margin-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
    padding-left: 0px;
}

.product-info .compare-wish a.compare {
    background-position: right -27px;
}

.carousel-control.right {
    right: auto;
    left: 15px;
}

.carousel-control {
    position: absolute;
    top: 40%;
    right: 15px;
    left: auto;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.product-info .image-additional a {
    float: right;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.category-info .image {
    float: right;
    padding: 5px;
    margin-left: 15px;
    /* border: 1px solid #E7E7E7; */
    margin-right: 0px;
}

.product-list .image {
    float: right;
    margin-left: 10px;
    position: relative;
    margin-right: 0px;
}

.product-list .product-block .group-item {
    background: none;
    padding: 0;
    float: right;
    margin-left: 20px;
    margin-right: 0px;
}

.product-block .cart {
    float: right;
    width: 50%;
}

.product-list .product-block .price {
    background: none;
    margin-left: 10px;
    text-align: right;
    width: auto;
    margin-right: 0px;
}

.product-list .product-block a.wishlist {
    text-decoration: none;
    padding-right: 18px;
    display: block;
    background: url('../image/add.png') right center no-repeat;
    padding-left: 0px;
}

.product-list .product-block a.compare {
    text-decoration: none;
    padding-right: 18px;
    display: block;
    background: url('../image/add.png') right center no-repeat;
    padding-left: 0px;
}

.buttons .right {
    float: left;
    text-align: left;
}

.blog-meta > span:first-child {
    padding-left: 10px !important;
    padding-right: 0px !important;
}

.blog-meta > span {
    display: block;
    float: right !important;
    font-size: 90%;
    font-style: italic;
    font-weight: bold;
    padding: 0 10px 5px;
}

.blog-meta > span span {
    font-weight: normal;
    white-space: nowrap !important;
}

.blog-social .social-wrap > div {
    float: right !important;
}

.blog-social .social-heading {
    padding-right: 0px !important;
    padding-left: 12px !important;
}

#comment-form label {
    display: block;
    float: right !important;
    line-height: 27px;
    margin: 0;
    width: 20%;
}

.attribute thead td, .attribute thead tr td:first-child {
    text-align: right;
}

/* Addthis RTL fix START */
#at15s .at-label {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

#at15s {
    text-align: right !important;
}

#at15s a, #at15s span {
    direction: rtl !important;
}
/* Addthis RTL fix END */