/*Change Style Color*/
.price,.price span {
    color: #e0191f;
}

header #welcome a,.promotion .box h5 a:hover,.breadcrumb a:hover, .breadcrumb a.active,
.footer h1,.footer h2,.footer h3,.footer h4,.footer h5,.footer h6,.pagination .links b,a:hover, a:focus,
.pav-custom .pav-custom-block-three .col-left h3 span,.pagination .links a:hover,.pavblock h4 a:hover,
h3.name a:hover, .name a:hover,.pav-custom .pav-summer h3 span,.pav-custom .pav-dapibus h3 span,
.footer address a,.megamenu .mega-group > a .menu-title,p.pav-brand-title a b,.htabs a.selected,.htabs a:hover,
.pavcontentslider h1 span,
.pavcontentslider h2 span,
.pavcontentslider h3 span,
.pavcontentslider h4 span,
.pavcontentslider h5 span,
.pavcontentslider h6 span,
.buttons a b:hover,.compare-info td.name a,.compare-info td.remove a.button:hover {
    color: #00923e;
}

#header ul#links li a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,a.button, input.button,.navbar .btn-navbar,.navbar .btn-navbar:hover,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,.search .product-compare a.button,.pavcontentslider .carousel-indicators li:hover,
.navbar .nav > li > a:hover,nav .dropdown-menu li:hover,.category-list ul li a:hover,.pavcontentslider .carousel-indicators li.active,
.pavcontentslider .banner-info div:before,.category  h3.box-heading,.pav-affiliate h3.box-heading,.pav-account h3.box-heading,
.custom-footer-top article ul li a:hover,nav .dropdown-menu .mega-col .dropdown-mega li:hover,.manufacturer-heading,.btn,.btn:hover, .btn:focus,
.navbar-inner .nav-collapse .nav > li > a:hover,.nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:focus
{
    background-color: #00923e;
}

.product-inner:hover,.btn,.pav-block .box-heading,.product-compare a.button {
    border-color: #00923e;
}

.product-compare a.button {
    background-image: -webkit-linear-gradient(to bottom, #00923e, #00923e);
    background-image: -moz-linear-gradient(to bottom, #00923e, #00923e);
    background-image: -ms-linear-gradient(to bottom, #00923e, #00923e);
    background-image: -o-gradient(to bottom, #00923e, #00923e);
    background-image: linear-gradient(to bottom, #00923e, #00923e);
}

.btn {
    background-image: linear-gradient(to bottom, #00923e, #00923e);
    background-image: -moz-linear-gradient(to bottom, #00923e, #00923e);
    background-image: -webkit-linear-gradient(to bottom, #00923e, #00923e);
    background-image: -ms-linear-gradient(to bottom, #00923e, #00923e);
    background-image: -o-linear-gradient(to bottom, #00923e, #00923e);
}

/*End*/

/*-----------------------------------------------------------------------------------------------------------------------------------*/

header #cart h3:hover:before {
    background-position: 0 -20px;
}

.product-inner .wishlist a,.product-info .cart a.wishlist {
    background-position: -128px 0;
}

.product-inner .wishlist a:hover,.product-info .cart a.wishlist:hover {
    background-position: -128px -29px;
}

.product-inner .compare a,.product-info .cart a.compare {
    background-position: -160px 0;
}

.product-inner .compare a:hover,.product-info .cart a.compare:hover {
    background-position: -160px -29px;
}

a.button:hover, input.button:hover {
    background-position: 0px -24px;
}

.product-filter .display ul li.list .pav-icon {
    background-position: -13px 0;
}

.product-filter .display ul li.list:hover .pav-icon,
.product-filter .display ul li.list .active {
    background-position: -13px -39px;
}

.product-filter .display ul li.grid:hover .pav-icon,
.product-filter .display ul li.grid .active {
    background-position: 0 -33px;
}

.custom-footer-top article ul li a.social-1 {
    background-position: -131px -21px;
}

.custom-footer-top article ul li a.social-2 {
    background-position: -167px -51px;
}

.custom-footer-top article ul li a.social-3 {
    background-position: -84px -21px;
}

.custom-footer-top article ul li a.social-4 {
    background-position: -33px -21px;
}

.custom-footer-top article ul li a.social-5 {
    background-position: -91px -46px;
}

.custom-footer-top article ul li a.social-6 {
    background-position: -163px -124px;
}

.footer-center ul li.contact-1 i {
    background-position: 0 -78px;
}

.footer-center ul li.contact-1:hover i {
    background-position: -150px -78px;
}

.footer-center ul li.contact-2 i {
    background-position: 0 -198px;
}

.footer-center ul li.contact-2:hover i {
    background-position: -30px -198px;
}

.footer-center ul li.contact-3 i {
    background-position: -60px -198px;
}

.footer-center ul li.contact-3:hover i {
    background-position: -90px -198px;
}

.footer-center ul li.contact-4 i {
    background-position: 0 -228px;
}

.footer-center ul li.contact-4:hover i {
    background-position: -30px -228px;
}

.footer-center ul li.contact-5 i {
    background-position: 0 -198px;
}

.footer-center ul li.contact-5:hover i {
    background-position: -60px -198px;
}
/*End*/


/*Responsive*/
@media (min-width: 768px) and (max-width: 979px) {
    
    #header #mainmenu .navbar .navbar-inner .nav-collapse ul li > ul li a:hover,
    #header #mainmenu .navbar .navbar-inner .nav-collapse ul li > ul li:hover a {
        color: #00923e;
    }
}

/* Iphone portrait and portrait tablet  */
@media (max-width: 767px) {
    #header #mainmenu .navbar .navbar-inner .nav-collapse ul li > ul li a:hover,
    #header #mainmenu .navbar .navbar-inner .nav-collapse ul li > ul li:hover a {
        color: #00923e;
    }
}
