.item-outstock-label {
    position: absolute;
    right: -20px;
    transform: rotate(45deg);
    top: 20px;
    z-index: 1;
    transform-origin: center center;
}

.item-outstock-label span {
    padding: 4px 15px;
    border-radius: 0;
    width: 100px;
    display: block;
}

.welcome-msg-banner {
    background: #a7a7a7;
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
    position: relative;
    color: #fff;
}

.welcome-msg-banner .close-banner {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 17px;
    cursor: pointer;
    font-size: 16px;
}