.paddingTopExtra .q_tabs.horizontal .tabs-container {
    padding-top: 45px;
}

.paddingTopExtra .price_in_table .price {
    font-size: 60px;
}

.paddingTopExtra .q_tabs.boxed .tabs-container {
    padding: 45px 0 0;
}

.payment-methods-div {
    text-align: center;
}

.payment-methods-div ul.payment-methods-ul {
    list-style: none;
}

.payment-methods-div ul.payment-methods-ul li {
    margin-bottom: 7px;
    display: inline;
}

.payment-methods-div ul.payment-methods-ul li img {
    width: 50px;
    margin-right: 7px;
    margin-bottom: 0;
    max-width: 100%;
    height: auto;
}

.paddingTopExtra .q_tabs .tabs-nav li.active a {
    color: #03a9f4;
}

.paddingTopExtra .q_tabs .tabs-nav li a {
    color: #303030;
}

.package-features li.has-nofeature {
    text-decoration: line-through;
}

.pricing-talk-to-sales {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.pricing-talk-to-sales h5 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
}

.pricing-talk-to-sales .desc {
    margin-top: 16px;
    color: #2f2f30;
    font-size: 15px;
}

.pricing-talk-to-sales .numbers {
    margin-top: 16px;
    color: #2f2f30;
    text-align: initial;
    font-size: 14px;
}

.pricing-talk-to-sales .numbers .num {
    text-align: center;
    margin-top: 3px;
}

.pricing-talk-to-sales .numbers .num .num-icon {
    margin-left: 8px;
    font-size: 19px;
    vertical-align: middle;
}

.pricing-talk-to-sales .numbers .num .num-text {
    font-weight: bold;
}


.pricing-custom .price-box {
    box-shadow: #00a4bd 0px 0px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(66, 91, 118);
    cursor: pointer;
    display: flex;
    height: 93px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(66, 91, 118);
    column-rule-color: rgb(66, 91, 118);
    align-items: center;
    perspective-origin: 162px 46.5px;
    transform-origin: 162px 46.5px;
    caret-color: rgb(66, 91, 118);
    background-color: #ffffff;
    border: 1px solid #7fd0dd;
    border-radius: 3px 3px 3px 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 5px;
    outline: rgb(66, 91, 118) none 0px;
    padding: 16px;
    transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
}

.pricing-custom .price-box .radio-select {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(66, 91, 118);
    cursor: pointer;
    display: block;
    height: 20px;
    right: 0px;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    left: 0px;
    text-decoration: none solid rgb(66, 91, 118);
    top: 0px;
    width: 20px;
    column-rule-color: rgb(66, 91, 118);
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    caret-color: rgb(66, 91, 118);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid #cbd6e2;
    border-radius: 50% 50% 50% 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 3px;
    outline: rgb(66, 91, 118) none 0px;
    transition: border-color 0.3s ease 0s;
}

.pricing-custom .price-box .radio-select:after {
    bottom: -2px;
    color: rgb(66, 91, 118);
    content: '';
    cursor: pointer;
    display: block;
    height: 10px;
    right: -2px;
    position: absolute;
    left: 8px;
    text-decoration: none solid rgb(66, 91, 118);
    top: 8px;
    opacity: 0;
    width: 10px;
    column-rule-color: rgb(66, 91, 118);
    perspective-origin: 5px 5px;
    transform: matrix(1, 0, 0, 1, -5, -5);
    transform-origin: 5px 5px;
    caret-color: rgb(66, 91, 118);
    background: #03a9f4 none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(66, 91, 118);
    border-radius: 50% 50% 50% 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    outline: rgb(66, 91, 118) none 0px;
    transition: opacity 0.3s ease 0s;
}

.pricing-custom .price-box.selected {
    border: 1px solid #03a9f4;
    box-shadow: #03a9f4 0px 0px 0px 1px inset;
    background: rgb(230, 245, 248) none repeat scroll 0% 0% / auto padding-box border-box;
}

.pricing-custom .price-box:hover {
    background-color: #e6f5f8;
}

.pricing-custom .price-box.selected .radio-select {
    border: 2px solid #03a9f4;
}

.pricing-custom .price-box.selected .radio-select:after {
    opacity: 1 !important;
}


.pricing-custom .price-box .plan-name {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    display: block;
    height: 27px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(45, 62, 80);
    text-transform: capitalize;
    column-rule-color: rgb(45, 62, 80);
    perspective-origin: 25.0156px 13.5px;
    transform-origin: 25.0156px 13.5px;
    caret-color: rgb(45, 62, 80);
    border: 0px none rgb(45, 62, 80);
    font-weight: 700;
    font-size: 20px;
    line-height: 27.5px;
    margin: 0px 15px 0px 0px;
    outline: rgb(45, 62, 80) none 0px;
}

.pricing-custom .price-box .price-text {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    display: flex;
    height: 59px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(66, 91, 118);
    column-rule-color: rgb(66, 91, 118);
    perspective-origin: 46.7656px 29.5px;
    transform-origin: 46.7656px 29.5px;
    caret-color: rgb(66, 91, 118);
    border: 0px none rgb(66, 91, 118);
    flex-flow: column nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    outline: rgb(66, 91, 118) none 0px;
    margin-right: auto;
    margin-left: 0px;
}

.pricing-custom .price-box .start-at {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(45, 62, 80);
    column-rule-color: rgb(45, 62, 80);
    perspective-origin: 46.7656px 8px;
    transform-origin: 46.7656px 8px;
    caret-color: rgb(45, 62, 80);
    border: 0px none rgb(45, 62, 80);
    font-weight: 400;
    font-size: 12px;
    line-height: 16.5px;
    outline: rgb(45, 62, 80) none 0px;
}

.pricing-custom .price-box .amount-period {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    display: block;
    height: 27px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(66, 91, 118);
    column-rule-color: rgb(66, 91, 118);
    perspective-origin: 46.7656px 13.5px;
    transform-origin: 46.7656px 13.5px;
    caret-color: rgb(66, 91, 118);
    border: 0px none rgb(66, 91, 118);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    outline: rgb(66, 91, 118) none 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.pricing-custom .price-box .amount {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(45, 62, 80);
    column-rule-color: rgb(45, 62, 80);
    caret-color: rgb(45, 62, 80);
    border: 0px none rgb(45, 62, 80);
    font-weight: 700;
    font-size: 20px;
    line-height: 27.5px;
    outline: rgb(45, 62, 80) none 0px;
}

.pricing-custom .price-box .period {
    box-sizing: border-box;
    color: rgb(66, 91, 118);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(66, 91, 118);
    column-rule-color: rgb(66, 91, 118);
    caret-color: rgb(66, 91, 118);
    border: 0px none rgb(66, 91, 118);
    font-weight: 400;
    font-size: 14px;
    line-height: 19.25px;
    outline: rgb(66, 91, 118) none 0px;
}

.pricing-custom .price-box .term {
    box-sizing: border-box;
    color: rgb(124, 152, 182);
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(124, 152, 182);
    column-rule-color: rgb(124, 152, 182);
    perspective-origin: 46.7656px 8px;
    transform-origin: 46.7656px 8px;
    caret-color: rgb(124, 152, 182);
    border: 0px none rgb(124, 152, 182);
    font-weight: 400;
    font-size: 12px;
    line-height: 16.5px;
    outline: rgb(124, 152, 182) none 0px;
    margin-top: auto;
    margin-bottom: auto;
}


.pricing-plan-details {
    display: none;
}

.pricing-plan-details.selected {
    display: block;
}

.pricing-plan-details .plan-name-cta {
    display: flex;
}

.pricing-plan-details .plan-name-cta .plan-name h1 {
    margin-bottom: 8px;
    color: #03a9f4;
    font-weight: bold;
    padding-right: 0px;
    padding-left: 0px;
}

.pricing-plan-details .plan-name-cta .plan-cta {
    margin-right: auto;
}

.pricing-plan-details .plan-name-cta .plan-cta a {
    font-weight: bolder;
}

.pricing-plan-details .plan-name-cta-bottom {
    display: flex;
    padding-top: 16px;
}

.pricing-plan-details .plan-name-cta-bottom .plan-name h5 {
    font-weight: bold;
}

.pricing-plan-details .plan-name-cta-bottom .plan-cta {
    margin-right: auto;
}

.pricing-plan-details .plan-name-cta-bottom .plan-cta a {
    font-weight: bolder;
}


.pricing-plan-details .plan-cta-sep {
    border-top: 2px solid #cbd6e2;
    margin-top: 30px;
}

.pricing-plan-details .plan-desc {
    margin-top: 16px;
    color: #2f2f30;
    text-align: justify;
    font-size: 15px;
}

.pricing-plan-details .plan-features-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 800;
    color: #2f2f30;
    font-size: 15px;
}

.pricing-plan-details .plan-features-list > div {
    float: right;
}

.pricing-plan-details .plan-features-list .fa-check-circle {
    color:#03a9f4;
    margin-top: 3px;
    font-size: 16px;
    margin-right: 0px;
    margin-left: .3em;
}

.pricing-plan-details .plan-features-list .fa-times-circle {
    color:#cbd6e2;
    margin-top: 3px;
    font-size: 16px;
}

.pricing-plan-details .plan-features-list .q_icon_list {
    margin-bottom: 19px;
}

.pricing-plan-details .plan-features-list .q_icon_list p {
    font-weight: 300;
    line-height: 19px;
    font-size: 15px;
    padding: 0 24px 0 0;
}

.pricing-details-panel {
    margin-bottom: 60px;
}

.pricing-rtl-column {
    float: right;
}