.table-btns-drop {
    // @include dir-margin-left(15px);
    > button {
      font-size: 18px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2c2c35;
    }
    .dropdown-menu {
        box-shadow: 0 0 6px 0 rgba(129, 129, 138, 0.16);
        border: 0;
        top: calc(100% + 12px);
        &::before {
            content: "";
            display: block;
            border: 9px solid transparent;
            border-bottom-color: rgba(129, 129, 138, 0.16);
            position: absolute;
            top: 0;
            @include dir-right(8px);
            transform: translateY(-18px);
            filter: blur(4px);
        }
        &::after {
            content: "";
            display: block;
            border: 8px solid transparent;
            border-bottom-color: #fff;
            position: absolute;
            top: 0;
            @include dir-right(11px);
            transform: translateY(-16px);
            box-shadow: -4px 21px 0px 5px rgb(255, 255, 255);
        }
        >a, >button, .dt-menu >a {
            color: #2c2c35;
            font-size: 13px;
            font-weight: 600;
            padding: 8px 14px;
            display: block;
            transition: .3s;
            white-space: nowrap;
            position: relative;
            z-index: 9;
            width: 100%;
            text-align: start;
            margin-bottom: 1px;
            &.disabled {
                color: #b4afd3;
                background-color: transparent;
            }
            &:hover {
                background-color: #eaf7fe;
            }
            i {
                @include dir-margin-right(5px);
            }
        }
        .dropdown-menu {
            > * {
                position: relative;
                z-index: 1;
            }
            &::before, &::after {
                display: none !important;
            }
            @media (min-width: $screen-md) {
                top: 0;
                @include dir-right(100%);
                @include dir-left(auto);
                transform: none;
            }
        }
    }
}

.features-table-container {
    .datatable-header {
        @media (max-width: $screen-sm) {
        display: flex;
        align-items: center;
        }
    }
    .dt-buttons {
        .custom-col {
            span {
                display: none;
                @media (max-width: $screen-md) {
                display: inline-block;
                }
            }
            ~ .tooltip * {
                white-space: nowrap !important;
            }
        }
        > *:not(.table-btns-drop):not(.except-style) {
        //   @include dir-margin-left(20px);
            font-size: 13px;
            font-weight: 600;
            color: #2c2c35;
            padding: 8px 10px;
            border-radius: 3px;
            transition: .3s;
            background-color: transparent;
            &:hover {
                background-color: #eaf7fe;
            }
            &.disabled {
                color: #b4afd3;
            }
            > i {
                @include dir-margin-right(5px);
            }
        }
    }
}

.dt-button-background {
    opacity: 0;
    visibility: hidden;
}

.dt-buttons .plan-lock-btn i::before {
    content: "\f023";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.dt-buttons .disabled:not(.plan-lock-btn) {
    position: relative;
    &:hover {
        z-index: 10;
        &::after, &::before {
            opacity: 1;
            visibility: visible;
        }
    }
    &::after {
        display: block;
        position: absolute;
        top: calc(100% + 6px);
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        background-color: #000;
        color: #fff;
        border-radius: 3px;
        font-size: 10px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: calc(100% - 4px);
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        border: 5px solid transparent;
        border-bottom-color: #000;
    }
}