.drop-img-component {
    .panel-heading {
        width: 100% !important;
        margin-bottom: 5px;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        @media (max-width: $screen-md) {
          margin-bottom: 11px;
        }
        .panel-title {
            font-size: initial;
            .text-bold {
                font-size: 13px !important;
                font-weight: 600 !important;
            }
        }
    }
    &.grid {
        .drop-img-container {
            display: flex;
            flex-wrap: wrap;
            .dropzone.dz-started .dz-message {
                display: none;
            }
            .dropzone.dz-clickable {
                min-height: initial !important;
                padding: 0;
                background: transparent;
                border: 0 !important;
            }
            .dropzone .dz-preview {
                margin: 0;
                @include dir-margin-right(10px);
                margin-bottom: 10px;
                padding: 0;
                .dz-size {
                    bottom: -20px;
                    left: 10px;
                }
                .dz-success-mark:after {
                    bottom: 8px;
                    right: 3px;
                }
                .dz-image {
                    overflow: hidden;
                    width: 170px;
                    height: 170px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .dz-remove {
                    @include dir-left(0);
                }
                .dz-filename {
                    height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .dz-details, .dz-details {
                    width: 170px;
                }
                .dz-select {
                    opacity: 0.5;
                }
                .select2-container {
                    width: 170px !important;
                }
                .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
                    border-right: 0;
                    border-left: 0;
                    border-bottom: 0;
                    border-radius: 0;
                }
            }
        }
    }
    .dropzone-upload-image,
    .dropzone-photo-manager {
        font-size: 12px;
        font-weight: 500;
        color: #03a9f4;
    }
    .drop-img-container {
        .dropzone.dz-clickable {
            background-color: transparent;
            border: dashed 1px #e0ddef !important;
            transition: .3s;
            &:hover {
                background-color: #f8f9ff;
            }
        }
        .dz-default.dz-message {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span {
                margin-top: 0 !important;
                color: #155ebc;
                font-size: 13px;
                font-weight: 500;
            }
            img {
                width: 50px;
                margin-bottom: 12px;
            }
            &::before {
                display: none;
            }
        }
    }
    .panel-heading {
        @media (max-width: $screen-md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .heading-elements {
            @media (max-width: $screen-md) {
              position: static;
              text-align: center;
              margin-top: 0;
              height: auto;
            }
            .heading-text {
                float: none;
                margin-left: 0;
                margin-right: 0;
                @media (max-width: $screen-md) {
                  margin: 0;
                }
            }
        }
    }
}