
a:hover,
a:focus {
  color: #ee6a4c;
}

.btn-link:hover,
.btn-link:focus {
  color: #ee6a4c;
  }
.show-mobile .quickaccess-toggle {
    background-color: #ee6a4c;
    border: 1px solid #d45d43;
	}
.show-mobile .quickaccess-toggle:hover {
    background-color: #d45d43;
	}
.show-mobile .inner-toggle {
    border-color: #d45d43;
}

.navbar .btn-navbar {
    background: #ee6a4c!important;
    border: 1px solid #d45d43!important;
	}
.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    background-color: #d45d43!important;
}
.navbar-link:hover,
.navbar-link:focus {
  color: #ee6a4c;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #ee6a4c;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #ee6a4c;
}


.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ee6a4c;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #ee6a4c;
  border-bottom-color: #ee6a4c;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #5e5753;
  border-bottom-color: #5e5753;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ee6a4c;
  border-bottom-color: #ee6a4c;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #ee6a4c;
  border-bottom-color: #ee6a4c;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    border-bottom: 2px solid #ee6a4c;
}

.navbar .nav > li > .dropdown-menu:before {
    border-bottom: 10px solid #ee6a4c;
}

ul li > .dropdown-menu > .dropdown-menu-inner {
    border: 1px solid #ee6a4c;
}

.dropdown .dropdown-menu li a:hover {
    color: #ee6a4c;
}

#currency a b {
    color: #ee6a4c;
}

#cart .heading h4 {
    background-color: #ee6a4c;
}

#cart .heading h4:after {
    border-left: 6px solid #ee6a4c;
    }
#cart .content {
    border: 1px solid #ee6a4c;
}

.pagination .links b {
    border: 1px solid #ee6a4c;
    color: #ee6a4c;
}
.checkout > a,
a.button, input.button {
    background: #ee6a4c;
}

.htabs a.selected {    
    background-color: #ee6a4c;
}
.htabs a.selected:after {
    border-top: 6px solid #ee6a4c;
}

.box .box-heading > span {
    background-color: #ee6a4c;
}
.box .box-heading > span:after {
     border-top: 6px solid #ee6a4c;
}
.box.bg-title .box-heading > span{
    color: #ee6a4c;
}

.product-block:hover .name a {
    color: #ee6a4c;
}
.product-meta .price {
    color: #ee6a4c;
}

.category-list ul li a {
    background-color: #ee6a4c;
    }

.product-compare a {
    background-color: #ee6a4c;
}

.product-block:hover .colorbox.product-zoom:hover {
     background-color: #ee6a4c;
}

.product-info .price-info .price {
    color: #ee6a4c;
}

.footer-top  .container{
    background-color: #ee6a4c;
}

#footer .box  a:hover {
    color: #ee6a4c;
}
.copyright  a {
    color:#ee6a4c;
 }

.copyright  a {
    color:#ee6a4c;
 }
.product-related .title-related {
       background-color: #ee6a4c;
}

.sidebar ul li a.active,
.sidebar ul li a:hover{
    color: #ee6a4c;
}

.pavblog-latest .blog-item:hover .blog-title a {
  color: #ee6a4c;
}

.pavblog-latest .blog-readmore .readmore {
    background: url(../image/icon-viewmore.png) no-repeat right 17px scroll;
    color: #ee6a4c;
}

.pav-categoryproducts .tab-nav ul li.active a{
     color: #ee6a4c;
}
.group-action .cart:after,
.group-action .wishlist:after, 
.group-action .compare:after  {
    background-color: #ee6a4c;
}

.contact ul li.email {
    color: #ee6a4c;
}

#off-canvas-nav .nav > li > a:hover,
#off-canvas-nav .dropdown .dropdown-menu li a:hover {
    color: #ee6a4c;
}

.box-line h3 {
    background-color: #f07458!important;
}
.box-line h3:after {
    border-top: 6px solid #f07458;
}
.product-info .image-additional .carousel-control {
    border: 1px solid #f4e1dc;
    }

.social ul li a {
     background-image: url(../image/icon-social.png);
}

.carousel-control {
    background-image: url(../image/carousel-control.png);
}