/* ------------------------------------------------------------------------------
 *
 *  # Components
 *
 *  Common less file with imports of plugins and pages
 *
 *  Version: 1.0
 *  Latest update: Feb 5, 2016
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Glyphicons for Bootstrap
 *
 *  Glyphicons icon font path and style overrides
 *
 *  Version: 1.0
 *  Latest update: May 25, 2015
 *
 * ---------------------------------------------------------------------------- */
/* home */
.media-list.content-group .stack-media-on-mobile{
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dddddd;
}
.media-list.content-group .stack-media-on-mobile .media-left{
  width: 37%;
}
.media-list.content-group .stack-media-on-mobile .media-left a{
  display: inline-block;
  overflow: hidden;
  height: 140px;
}
.media-list.content-group .stack-media-on-mobile .media-left .thumb{
  height: 140px;
}
.media-list.content-group .stack-media-on-mobile .media-left a img{
  height: 140px;
}
.media-list.content-group .stack-media-on-mobile .media-body {
  padding: 10px 5px;
}
.stack-media-on-mobile .panel-heading {
  padding: 3px 20px;}
.progressbar{
  display: flex;
  justify-content: flex-end;
  padding: 0 0 15px 20px;
}
.progressbar-container{
  width: calc( 100% - 150px );
}
.progressbar .progressbar-container .ui-progressbar, 
.progressbar .progressbar-container .ui-progressbar .ui-progressbar-value{
  border-radius: 10px;
}
.progress-value
{
  color: #08bc37;
  text-align: left;
  font-weight: 700;
  width: 50px;
  border-radius: 10px;
}

.join-steps .panel{
  background: #e2e1e1;
  margin-top: 35px;

}
.join-steps .panel .icon-object{
  border: none;
  margin-top: -45px;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 12px;
}
.join-steps .panel .icon-object img{
  width: 50px;
}
.join-steps .btn{
  font-weight: 600;
  background: #f5f5f5;
  border-radius: 5px;
  width: 100%;
  max-width: 210px;
}
.join-steps p, .join-steps a {
  font-size: 16px;
}
.panel-body + .panel-body{
  border: none;
}
.join-steps .panel.disabled{
  opacity:0.4;
}

.join-steps .panel.active{
  background: #46baeb;
}
.join-steps .panel.active .btn{
  color: #46baeb;
}
.stack-media-on-mobile .media-heading a{
  color: #46baeb;
}
.home-steps-title{
  text-align: center;
  text-transform: uppercase;
}

.home-total .stack-media-on-mobile{
  background: none;

}
.home-total .media-body{
  text-align: center;
}
.home-total .media-body h6{
  display: inline;
  padding: 10px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #dddddd;
  font-weight: 400;
  font-size: 18px;
}
.home-total .media-right{
  width: 0;
}
.home-total .media-right a{
  position: absolute;
  left: 0;
  top: 0;
}
.home-total .media-right a img{
  width: 20px;
  padding-left: 3px;
}
.other-videos-title{
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.join-steps p{
  height: 50px;
  overflow: hidden;
}
/* responsive homepage */


@media (max-width: 768px){
  .home-total .media-body h6 {
    display: block;}
  .home-total .media-right {
    width: 100%;
}
.home-total .media-right a {
  position: relative;}
  .progressbar-container {
    width: calc( 100% - 72px);
}
.media-list.content-group .stack-media-on-mobile .media-left {
  width: 100%;
}
}
/** End  Page Upload Files **/