/* ------------------------------------------------------------------------------
 *
 *  # Components
 *
 *  Common less file with imports of plugins and pages
 *
 *  Version: 1.0
 *  Latest update: Feb 5, 2016
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Glyphicons for Bootstrap
 *
 *  Glyphicons icon font path and style overrides
 *
 *  Version: 1.0
 *  Latest update: May 25, 2015
 *
 * ---------------------------------------------------------------------------- */
/** homepage**/
.home-title{
    width: auto;
    display: flex;
    justify-content: center;
  }
  .tooltip.top .tooltip-arrow{
    border-top-color: #03A9F4;
  }
  .home-order-title{
    padding: 0 15px;
  }
  .ui-progressbar, .ui-progressbar-value{
    border-radius: 9px;
  }
  .steps-cont img{
    width: 100px;
    height: 100px;
  }
  .join-steps h5{
    margin: 0;
  }
  .join-steps .btn-xs{
    padding: 0 5px;
  }
  .videolink-caption{
    position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      top: 0;
  }
  .thumb:not(.thumb-rounded) img.watch-btn-img{
  width: 150px;
  height: auto;
  
  }
  .other-videos .other-videos-title img{
    width:40px;
  }
  .steps-cont .disabled{
    opacity: .5;
  }
  .steps-cont .disabled h5{
    text-decoration: line-through;
  }
  .steps-cont .disabled .media-body,.steps-cont .disabled .media-left{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .other-videos .media-preview{
    max-height: 165px;
  }
  .other-videos .heading-elements{
    left: 0;
  }
  .border-black{
    width: 23px;
    height: 23px;
    border: 2px solid #000000;
  }
  .join-steps .bg-primary, .join-steps .btn-primary{
    background-color:#03A9F4;
  }
  .ui-widget-content {
    box-shadow: none;
    background: #e5f3fa;
}
  /* responsive */
  @media (max-width: 768px){
    .stack-media-on-mobile:not(.text-left):not(.text-right) {
      padding-bottom: 10px;
  }
  .media-left, .media-right, .media-body {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0 !important;
  }
  .media-body{
    margin: 10px 0;
  }
  .videolink-caption h1{
    font-size: 38px !important;
  }
  .videolink-caption h2{
    font-size: 24px !important;
  }
  .videolink-caption h3{
    font-size: 17px;
  }
  .other-videos .pr-20{
    padding-left: 0 !important;
  }
  .other-videos img
  {
    width: 100%;
    max-height: 300px !important;
  }
  
  }
/** End  Page Upload Files **/