@font-face {
  font-family: 'ScriptMT';
  src: url('fonts/ScriptMTBold.ttf');
}
@font-face {
  font-family: 'lemonada';
  src: url('fonts/Lemonada-Regular.ttf');
}
// global files
@import "handling/dir-mixins";
@import "handling/variables";
@import "handling/settings";
@import "handling/classes";

// components files
// @import "components/"
 
// common files
@import "template/common/home.scss";
@import "template/common/installation";
@import "template/extension/shipping";
@import "template/components/components";
@import "template/empty";
@import "template/account/plans";
@import "template/setting/setting";
@import "template/components/image";
@import "template/general";
@import "template/catalog/product/product";
@import "template/module/apps_services.scss";
@import "template/setting/payment.scss";
@import "template/sale/orders";
@import "template/sale/index";
@import "template/marketplace/facebook";
@import "template/setting/template";
@import "template/sale/customer";
@import "template/base";
@import "template/common/sale";
@import "template/marketplace/whatsappchat";
@import "template/marketplace/whatsapp2";
@import "template/components/datatable";
@import "template/setting/domains";
@import "template/coupon/discount";
@import "template/module/messenger";
@import "template/module/lableb";
@import "template/common/referal";
@import "template/account/checkout";
@import "template/meditor/template";
