.expandItem-login-logo {
    margin: 20px 0;
}

.expandItem-login-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-expandItem-login {
    width: 100%;
    margin: 15px 0 0;
    i {
        margin: 0 5px;
        #{$ltr} & {
        }
        #{$rtl} & {
            transform: rotate(180deg);
        }   
    }
}

ul.expandsteps-steps-holder {

    li.expandsteps-steps-item {
        width: 100%;
    }

    li.expandsteps-steps-item a {
        padding: 10px 0;
        color: #000;
        border: none !important;
    }
    li.expandsteps-steps-item a .item-title {
        display: flex;
        align-items: center;
        font-weight: 600;
        word-break: break-word;
    }

    li.expandsteps-steps-item a .item-title i {
        background: #449dff;
        color: #fff;
        font-size: 8px;
        border-radius: 20px;
        border: 5px solid #449dff;
        margin-inline-end: 10px;
    }

    li.expandsteps-steps-item a .item-dec {
        word-break: break-word;
    }

    li.expandsteps-steps-item.active a {

    }


    li.expandsteps-steps-item.active a .item-dec {
        
    }

    li.expandsteps-steps-item.active ~ * a {
        color: #b4afd3;
    }
    li.expandsteps-steps-item.active ~ * a .item-title {
        
    }

    li.expandsteps-steps-item.active ~ * a .item-title i {
        background: #d5d4d9;
        color: #fff;
        font-size: 8px;
        border-radius: 20px;
        border: 5px solid #d5d4d9;
    }
    
}

ul.expandsteps-steps-holder li.expandsteps-steps-item.active~* a .item-title svg path {
    fill: #d5d4d9;
}

ul.expandsteps-steps-holder li.expandsteps-steps-item a .item-title svg path {
    fill: #449dff;
}

ul.expandsteps-steps-holder li.expandsteps-steps-item a .item-title svg {
    margin-inline-end: 10px;
    width: 20px;
    height: 20px;
}

.expandsteps-arrows-holder {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    .btn-primary > i {
        margin-inline-start: 10px;
            #{$ltr} & {
            }
            #{$rtl} & {
                transform: rotate(180deg);
            }
    }

    .btn-default i {
        margin-inline-end: 10px;
            #{$ltr} & {
            }
            #{$rtl} & {
                transform: rotate(180deg);
            }
    }

    .btn {
        font-weight: 600;
        i {
            font-weight: 600;
        }
    }
}

.expandsteps-sticky {
    background-color: transparent;
    align-items: flex-start;
    box-shadow: none;
    .start-side-holder {
        background-color: #fff;
        border: none;
        box-shadow: 0 0 3px 0 rgb(113 113 113 / 12%);
        position: sticky;
        top: 90px;
        border-radius: 5px;
        padding: 16px;
        @media (max-width: $screen-md) {
            top: 25px;
        }
        @media (max-width: $screen-sm) {
            position: static;
        }
        ul.nav-tabs {
            border: none;
            margin: 0;
        }
    }

    .end-side-holder {
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgb(113 113 113 / 12%);
        margin: 0 25px;
        border-radius: 5px;
        @media (max-width: $screen-sm) {
            margin: 20px 0 0 0;
        }
    }

    .country-item-holder .country-item i.check-icon {
        color: #3587e5;
    }

    .country-item-holder .country-item.active {
        box-shadow: none;
        border: solid 1px #3587e5;
    }

    .BusinessType-item-holder .BusinessType-item i.check-icon {
        color: #3587e5;
    }

    .BusinessType-item-holder .BusinessType-item.active {
        box-shadow: none;
        border: solid 1px #3587e5;
    }
}

.verify-input-holder.verify-border-bottom input {
    border: none;
    border-bottom: 2px solid #d2cfe3;
    border-radius: 0;
    border-radius: 0;
    font-weight: 500;
    font-size: 20px;
}

.small-size-modal .modal-content {
    max-width: 400px;
    margin: auto;
}

.btn-outline-primary {
    color: #449dff !important;
    background-color: transparent !important;
    background-image: none;
    border-color: #449dff;
    font-weight: 600;
    font-size: 13px;
}

.border-radius-50 {
    border-radius: 50px;
}

.balance_history_aside {

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e0ddef;
        padding-bottom: 25px;
        .icon-cross {
            font-size: 21px;
            color: #e0ddef;
            cursor: pointer;
        }
    }
}

.balance-history-date {
    display: flex;
    align-items: center;
    border: solid 1px #dfdbf2;
    padding-inline-start: 10px;
    border-radius: 5px;
    overflow: hidden;

    input.date-added {
        border: none;
    }
}

.balance_history_aside {
    overflow: auto;
}

.balance-history-paginate {
    justify-content: center;
    .dataTables_paginate {
        margin: 0;
    }
}

.balance-history-list {
    margin-bottom: 20px;
    li {
        display: flex;
        align-items: flex-start;
        padding: 14px 0;
        border-bottom: 1px solid #e6e6e6;

        svg {
            flex-shrink: 0;
        }
        .balance-history-price {
            font-weight: 500;
            margin: 0 15px;
            font-size: 15px;
            flex-shrink: 0;
            width: 70px;
        }

        .balance-history-info {
            margin: 0 15px;
            .balance-history-time {
            color: #777777;
            font-size: 13px;
            display: block;
            font-size: 12px;
            margin-top: 2px;
            }
            .balance-history-dec {
                color: #000;
                font-size: 13px;
                display: block;
            }
        }
    }
}

.top-up-modal .modal-dialog {
    width: 750px;
    max-width: 100%; 
}

.pi-30 {
    padding-inline: 30px !important;
}

.color-faded {
    color: #b4afd3;
}

.topUpModal .modal-dialog {
    width: 765px;
    max-width: 100%;
}

.topUpModal .modal-body {
    border-top: 1px solid #e0ddef;
    margin-top: 15px;
}

.topUpModal .modal-header .close span {
    font-size: 35px;
    color: #9c9aa6;
    transform: translateY(-8px);
    display: inline-block;
}

.topup_creditCard {
    padding: 15px;
    border: 1px solid #e0ddef;
    border-radius: 7px;
}

.topup-creditCard_logos {
    display: flex;
}

.topup-creditCard_logos svg {
    margin-inline-start: 7px;
}

.label-small-light {
    color: #b4afd3 !important;
    font-weight: 500;
    font-size: 12px !important;
}

.topup_creditCard input[type=number]::-webkit-inner-spin-button, 
.topup_creditCard input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.topup_creditCard input[type=number] {
    -moz-appearance: textfield;
}

.topup_creditCard .input-group input {
 border-inline-end: none;
}

.topup_creditCard .input-group-addon {
    border-inline-start: none;
    background-color: #fff;
    transition: .15s ease-in-out;
}

.topup_creditCard .input-group input.form-control:focus ~ .input-group-addon {
    border-color: #a8a1d4;
}

.expandship__country {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .expandship__country-item {
        display: flex;
        align-items: center;
        margin-inline-end: 30px;
        cursor: pointer;
        .expandship__country-circle {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            background-color: #eff3f6;
            border: 1px solid #d9d9d9;
            position: relative;
            padding: 5px;
            display: inline-block;
            margin-inline-end: 10px;
            &::before {
                content: "";
                position: absolute;
                right: 4px;
                left: 4px;
                top: 4px;
                bottom: 4px;
                border-radius: 50px;
                background: #0b0b0b;
                transition: 0.3s ease;
                opacity: 0;
            }
        }
        .expandship__country-name {
            font-weight: 600;
        }

        .expandship__country-soon {
            color: #fc7f3d
        }

        &.expandship__country-active {
            .expandship__country-circle {
                &::before {
                    opacity: 1;
                }
            }
        } 

        &.expandship__country-disabled {
            pointer-events: none;
            opacity: 0.7;
        }
    }
}

.btn-black {
    background-color: #000;
    border-color: #000;
    color: #fff !important;
    &:hover, &:focus, &.focus {
        color: #fff;
        text-decoration: none;
    }
}