.list-wrapper.apps-list-wrapper {
    .content-inner, .shipping-container, .shipping-filter {
        max-width: 1520px;
        width: 100% !important;
    }
}
.intro-video-head {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto 30px; 
    font-size: 14px;  
    font-weight: 500;
    color: #2c2c35; 
    @media (max-width: $screen-sm) {
      flex-direction: column;
      text-align: center;
    }
    
    #open_tutorial_modal {
        border-radius: 4px;
        border: solid 1px #d2cfe3;
        background-color: #ffffff;
        padding: 7px 15px;
        font-size: 13px;
        font-weight: 600;
        color: #2c2c35;
        display: flex;
        align-items: center;
        white-space: nowrap;
        @include dir-margin-left(10px);
        @media (max-width: $screen-sm) {
          margin-top: 10px;
        }
        i {
            color: #c70f0f;
            font-size: 18px;
            @include dir-margin-right(7px);
        }
    }
}
// comment
.first-ship-alert {
    opacity: 1;
    border-radius: 3px;
    background-color: #f9efe1;
    padding: 11px; 
    width: 1200px;
    max-width: 100%;
    margin: 0 auto 30px;
    display: flex; 
    align-items: flex-start;
    justify-content: space-between;
    color: #ff7d00;
    .fa-exclamation {
        width: 18px;
        height: 18px;
        line-height: 14px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid #ffa308;
        flex-shrink: 0;
        @include dir-margin-right(10px);
        font-size: 10px;
    }
    .fa-times {
        cursor: pointer;
        @include dir-margin-left(10px);
        color: #b4afd3;
    }
}
.shipping-filter {
    display: flex;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
    }

    .search-input {
        width: 375px;
        max-width: 100%;
        height: 35px;
        border-radius: 3px;
        border: solid 1px #d2cfe3;
        background-color: #ffffff;
        padding: 0 9px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        @include dir-margin-right(15px);
        margin-bottom: 30px;
        @media (max-width: $screen-sm) {
          @include dir-margin-right(0);
          width: 100%;
          margin-bottom: 10px;
        }
        
        input {
            height: 33px;
            width: 100%;
            font-size: 12px;

            &::placeholder {
                color: #c7c6d5;
            }
        }
        i {
            font-size: 15px;
            color: #c7c6d5;
            @include dir-margin-right(5px);
        }
    }
    .dropdown {
        margin-bottom: 30px;
        @media (max-width: $screen-sm) {
            width: 100%;
            margin-bottom: 10px;
        }
        .ship-filter-button {
            min-width: 94px;
            height: 35px;
            border-radius: 3px;
            border: solid 1px #d2cfe3;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include dir-margin-right(15px);
            padding: 0 10px;
            @media (max-width: $screen-sm) {
                width: 100%;
            }
        }
        .dropdown-menu {
            min-width: 211px;
            padding: 12px 11px;
            border: solid 1px #d2cfe3;
            background-color: #ffffff;
            border-radius: 3px;
            margin: 0;
            @media (max-width: $screen-sm) {
              width: 100%;
            }
        }
        li {
            &:not(:last-child) {
                margin-bottom: 11px;
            }
            label {
                padding: 0;
                display: flex;
                &:hover {
                    background-color: transparent ;
                }
            }
        }
    }
}

.shipping-container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    .title {
        font-size: 18px;
        font-weight: 600;
        color: #2c2c35;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        @media (max-width: $screen-sm) {
            font-size: 15px;
        }
        span {
            font-size: 13px;
            color: #c7c6d5;
            @include dir-margin-left(10px);
            font-weight: normal;
            white-space: nowrap;
        }
    }
    .recomended-shipping {
        margin-bottom: 32px;
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 16px;
            @media (max-width: $screen-md) {
              grid-template-columns: 1fr 1fe;
            }
            @media (max-width: $screen-sm) {
              grid-template-columns: 1fr;
            }
        }
    }
}

.ship-box__height {
    margin-bottom: 25px;
}

.recomend-box {
    display: block;
    position: relative;
    transition: .3s ease-out;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 25px;
    background-color: #fff;

    &:hover {
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 rgba(167, 162, 194, 0.63);
    }
    .img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .info {
        padding: 12px 9px;
    }
    .recomend-title {
        font-size: 14px;
        font-weight: bold;
        color: #2c2c35;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            @include dir-margin-left(10px);
            color: #36cf92;
            font-size: 12px;
            font-weight: 600;
        }
    }
    .recomend-countries {
        color: #4c4c51;
        font-size: 13px;
        margin-bottom: 11px;
    }
    .recomend-desc {
        color: #4c4c51;
        font-size: 13px;
    }
    .special-sticker {
        position: absolute;
        top: 15px;
        @include dir-right(0);
        padding: 5px 10px;
        background-color: #ef1b58;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        display: none;
        border-radius: 2px;
        &.active {
            display: block;
        }
    }
}

.ship-by-type {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        margin-bottom: 30px;
        @media (max-width: $screen-md) {
            grid-template-columns: 1fr;
        }
    }
    .ship-type-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .see-all {
            display: flex;
            align-items: center;
            color: #4c4c51;
            font-size: 12px;
            background-color: transparent;
            margin-bottom: 20px;
            white-space: nowrap;
            @include dir-margin-left(10px);
            
            &.active i {
                transform: rotate(180deg);
            }
            & .less {
                display: none;
            }
            &.active .less {
                display: block;
            }
            &.active .more {
                display: none;
            }
            span {
                @media (max-width: $screen-md) {
                  display: none !important;
                }
            }
            i {
                width: 30px;
                height: 31px;
                border-radius: 50%;
                line-height: 28px;
                text-align: center;
                border: solid 1px #e0ddef;
                background-color: #ffffff;
                transition: .3s ease-out;
                @include dir-margin-left(10px);
            }
        }
    }
}

.ship-box {
    display: flex;
    align-items: flex-start;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(223, 219, 242, 0.8);
    padding: 15px;
    transition: .3s ease-out;
    background-color: #ffffff;
    &:hover {
        box-shadow: 0 0 10px 0 rgba(167, 162, 194, 0.63);
    }

    .img {
        width: 79px;
        height: 79px;
        border-radius: 5px;
        @include dir-margin-right(17px);
        object-fit: cover;
        flex-shrink: 0;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .ship-title {
        font-size: 16px;
        font-weight: 600;
        color: #2c2c35;
        margin-bottom: 13px;
        display: block;
    }
    .ship-desc {
        font-size: 15px;
        color: #2c2c35;
        margin-bottom: 11px;
        .orange {
            color: #ff7d00;
        }
    }
    .rate-label {
        padding: 5px 10px;
        background-color: #ef1b58;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        display: none;
        border-radius: 2px;
        &.active {
            display: inline-flex;
        }
    }
    .activated-label {
        padding: 5px 10px;
        background-color: #36cf92;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        align-items: center;
        border-radius: 2px;
        display: inline-block;
        i {
            @include dir-margin-right(5px);
            font-size: 13px;
        }
    }
    &.ship-box-slice {
        display: block;
        .up {
            display: flex;
            margin-bottom: 10px;
        }
        > .ship-desc {
            height: 38px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.shipping-activation-cover {
    height: calc(100vh - 263px);
    overflow: auto;
}
.shipping-activation-tabs {
    width: 900px;
    max-width: 100%;
    min-height: 675px;
    position: relative;
    margin: auto;
    padding: 40px 0 60px;
    @media (max-width: $screen-md) {
        padding: 40px 0 60px;
        margin-bottom: 50px;
    }

    .activate-controls .text-right button {
        @include dir-margin-left(15px);
    }
    .ship-active-list {
        list-style: none;
        padding: 0;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 4px;
            background-color: #e0ddef;
            position: absolute;
            top: 50%;
            @include dir-left(0);
            width: 100%;
            transform: translateY(-50%);
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 4px;
            background-color: #03a9f4;
            position: absolute;
            top: 50%;
            @include dir-left(35px);
            width: 0;
            transform: translateY(-50%);
            transition: .5s;
            transition-delay: .3s;
        }
        li {
            position: relative;
            border-radius: 50%;
            z-index: 1;
            background-color: #f8f7ff;
            &:last-child::after {
                transform: none;
                @include dir-right(0);
                @include dir-left(auto);
            }
            &:first-child::after {
                transform: none;
                @include dir-left(0);
                @include dir-right(auto);
            }
            &::after {
                content: attr(data-title);
                position: absolute;
                bottom: -27px;
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
                display: block;
                font-size: 14px;
                color: #4c4c51;
                @media (max-width: $screen-md) {
                  display: none;
                }
            }
            &.active:not(:first-child) span::before {
                transition-delay: .6s;
            }
            &.active span::before {
                @include dir-right(50%);
            }
            &.active:not(:first-child) span {
                transition-delay: .6s;
            }
            &.active span {
                border-color: #03a9f4;
                color: #ffffff;
            }
            span::before {
                content: "";
                display: block;
                position: absolute;
                height: 4px;
                background-color: #03a9f4;
                position: absolute;
                top: 50%;
                @include dir-right(160%);
                width: 105%;
                height: 105%;
                transform: translate(50%, -50%);
                transition: .3s;
            }
            span {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                overflow: hidden;
                position: relative;
                border: solid 1px #e0ddef;
                cursor: pointer;
                color: #686870;
                z-index: 1;
                i {
                    position: relative;
                    z-index: 1;
                }
            }
            &.active:not(:first-child)::after {
                transition-delay: 0;
            }
        }
    }
    .next-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        bottom: 12px;
        left: 0;
        padding: 0 50px;
        @media (max-width: $screen-md) {
          padding: 0 20px;
        }

        .info-content {
            font-size: 13px;
            font-weight: 600;
            color: #b4afd3;
            @include dir-margin-right(20px);
        }
        .ship-next-btn {
            padding: 10px 20px;
            white-space: nowrap;
            border-radius: 4px;
            line-height: 1;
            background-color: #03a9f4;
            text-align: center;
            color: #ffffff;
            font-size: 13px;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            i {
                font-size: 25px;
                @include dir-margin-left(16px);
                #{$rtl} & {
                  transform: rotate(180deg);
                }
            }
        }
    }
}

.ship-steps-content .step {
    &:not(.active) {
        display: none;
    }
    .ship-img {
        width: 171px;
        height: 111px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 3px;
    }
    .ship-terms-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .setting-step-box  {
            margin-bottom: 30px;
            width: calc(50% - 7px);
            @media (max-width: $screen-md) {
              width: 100%;
            }
            .list-title {
                font-size: 15px;
            }
            li {
                font-size: 13px;
                font-weight: 500;
            }
        }
        // .ship-terms-box {
        //     width: 245px;
        //     max-width: 100%;
        //     border-radius: 3px;
        //     border: solid 1px #dfdbf2;
        //     background-color: #ffffff;
        //     margin: 0 7px;
        //     padding: 20px;
        //     margin-bottom: 30px;

        //     .head {
        //         display: flex;
        //         align-items: center;
        //         margin-bottom: 10px;
        //         i {
        //             width: 40px;
        //             height: 40px;
        //             border: solid 1px #dfdbf2;
        //             background-color: #ffffff;
        //             @include dir-margin-right(10px);
        //             border-radius: 50%;
        //             line-height: 38px;
        //             text-align: center;
        //             color: #03a9f4;
        //         }
        //         .info-content {
        //             font-size: 14px;
        //             font-weight: bold;
        //             color: #2c2c35;
        //         }
        //     }
        //     ul {
        //         list-style: none;
        //         margin: 0;
        //         padding: 0;
        //         width: 100%;
        //     }
        //     .list-title,
        //     li {
        //         color: #2c2c35;
        //         font-size: 12px;
        //         font-weight: 500;
        //     }
        // }
    }
    .shipping-acc-btns {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        .acc-btn {
            min-width: 58px;
            height: 35px;
            margin: 0 7px;
            line-height: 1;
            border-radius: 3px;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
            &.have {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #03a9f4;
                color: #ffffff;
                i {
                    @include dir-margin-left(5px);
                }
            }
            &.no-have {
                border: solid 1px #d2cfe3;
                background-color: #ffffff;
                color: #2c2c35;
            }
        }
    }
    .ship-create-cover {
        display: none;
        .ship-acc-create {
            display: flex;
            align-items: flex-start;
            width: 50%;
            max-width: 100%;
            margin: auto;
            border: solid 1px #03a9f4;
            background-color: #ecf8fe;
            padding: 20px;
            @media (max-width: $screen-md) {
              width: 100%;
            }
    
            img {
                width: 25px;
                @include dir-margin-right(10px);
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    color: #2c2c35;
                    font-size: 13px;
                }
            }
            
        }
    }
}

.my-apps-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    margin-bottom: 20px;
    @media (max-width: $screen-lg) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $screen-md) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $screen-sm) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.my-app-box {
    padding: 16px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;

    &.my-apps-collapse {
        display: none;
    }

    .img {
        height: 126px;
        margin-bottom: 16px;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: 14px;
        font-weight: bold;
        color: #2c2c35;
        margin: 0;
    }
}
.paypal-box {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    margin-bottom: 30px;
    img {
        width: 150px;
        max-width: 60%;
        margin-bottom: 30px;
    }
    .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #2c2c35;
    }
    .info-content {
        color: #4c4c51;
        font-size: 13px;
        margin-bottom: 30px;
    }
    .box-btn {
        padding: 10px 20px;
        border-radius: 3px;
        font-size: 13px;
        border: 1px solid #d2cfe3;
        font-weight: 500;
        color: #03a9f4;
    }
}
.section_title {
    font-size: 18px;
    font-weight: 600;
    color: #2c2c35;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.paypal-btn {
    padding: 13px 30px;
    background-color: #2c70b4;
    border: 1px solid #2c70b4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 54px;
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    transition: .5s ease-out;
    &:hover {
        background-color: transparent;
        color: #2c70b4;
    }
    i {
        @include dir-margin-right(7px);
    }
}