$ltr: 'html[lang="en"]';
$rtl: 'html[lang="ar"]';

/*********************************************************
  // colors
**********************************************************/

$border-light-color: #d2cfe3;
$white-color: #ffffff;
$dark-font-color: #4c4c51;

/*********************************************************
  // screens
**********************************************************/
$screen-xxl: 1720px;
$screen-xx: 1440px;
$screen-xl: 1280px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 425px;
$screen-1200: 1200px;
$screen-1025: 1025px;
$screen-767: 767px;

/*********************************************************
  // spacing variables
**********************************************************/
// these variable/s is still not applied on all elements

$spacer: 10px;