<div>
  <div [ngSwitch]="field.Type">
    <span *ngIf="field.Type != 'checkbox'" class="title">
        <label>{{field.Name}}</label>
        <mat-icon *ngIf="field.Description != ''" matTooltip="{{field.Description}}" [matTooltipPosition]="'right'">info_outline</mat-icon>
    </span>
    <!--textbox-->
    <div *ngSwitchCase="'text'">
      <ec-textbox [field]="field" [languages]="languages" (update)="controlValue=$event"></ec-textbox>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--textarea-->
    <div *ngSwitchCase="'textarea'">
      <ec-textarea [field]="field" [languages]="languages" (update)="controlValue=$event"></ec-textarea>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--link-->
    <div *ngSwitchCase="'link'">
      <mat-input-container>
        <input matInput [id]="field.id" type="text" [(ngModel)]="controlValue">
      </mat-input-container>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--checkbox-->
    <div *ngSwitchCase="'checkbox'">
      <mat-checkbox [(ngModel)]="controlValue" [id]="field.id">{{field.Name}}</mat-checkbox>
      <mat-icon *ngIf="field.Description != ''" matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>
    </div>

    <!--info page selector-->
    <div *ngSwitchCase="'page'">
      <mat-form-field [id]="field.id">
        <mat-select [(value)]="controlValue">
          <mat-option *ngFor="let item of controlOptions.items" [value]="item.page_id">
            {{ item.page_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--language selector-->
    <div *ngSwitchCase="'language'">
        <mat-form-field [id]="field.id">
          <mat-select [(value)]="controlValue">
            <mat-option *ngFor="let lang of controlOptions.items" [value]="lang.code">
                <img [src]="lang.image" />
              {{ lang.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
      </div>

    <!--sselect/mselect-->
    <div *ngSwitchCase="field.Type.startsWith('sselect-') || field.Type.startsWith('mselect-') ? field.Type : ''">
        <md2-select [(ngModel)]="controlValue" [id]="field.id" [multiple]="field.Type.startsWith('mselect-')">
          <md2-option *ngFor="let item of controlOptions.items" [value]="item.Value">
            {{item.Name}}
          </md2-option>
        </md2-select>
        <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--tags-->
    <div *ngSwitchCase="field.Type.startsWith('tags-') ? field.Type : ''" class="form-group">
      <tag-input [onlyFromAutocomplete]="true" [(ngModel)]="tagsValue" (onRemove)="controlValue=$event" (onAdd)="controlValue=$event">
        <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteObservable]="SearchTags">
        </tag-input-dropdown>
      </tag-input>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--product-or-category-->
    <div *ngSwitchCase="'product-or-category'" class="form-group">
      <mat-form-field>
        <mat-select placeholder="Type" [(value)]="selectedTagType" (selectionChange)="controlValue=''; tagsValue='';">
          <mat-option *ngFor="let tagType of tagTypes" [value]="tagType.Value">{{ tagType.Name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <tag-input [onlyFromAutocomplete]="true" [maxItems]="1" [(ngModel)]="tagsValue" [clearOnBlur]="true" (onRemove)="controlValue=$event" (onAdd)="controlValue=$event">
        <tag-input-dropdown [showDropdownIfEmpty]="false" [keepOpen]="false" [autocompleteObservable]="SearchTags">
        </tag-input-dropdown>
      </tag-input>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--image-->
    <div *ngSwitchCase="'image'" class="form-group">
      <ec-image [field]="field" [languages]="languages" [ImageThumbs]="controlOptions.ImageThumbs" [NoImageThumb]="controlOptions.NoImageThumb"
        (update)="controlValue=$event"></ec-image>
    </div>

    <!--colorpicker-->
    <div *ngSwitchCase="'colorpicker'" class="form-group">
      <md2-colorpicker [(ngModel)]="controlValue" [id]="field.id"></md2-colorpicker>
    </div>
    <!--sselect-->
    <!--<mat-select *ngSwitchCase="field.Type.startsWith('sselect-') ? field.Type : ''" [placeholder]="field.Name" [(ngModel)]="controlValue" [id]="field.id">
      <mat-option *ngFor="let item of controlOptions.items" [value]="item.Value">
        {{item.Name}}
      </mat-option>
    </mat-select>-->

    <!--mselect-->
    <!--<mat-select *ngSwitchCase="field.Type.startsWith('mselect-') ? field.Type : ''" multiple [placeholder]="field.Name" [(ngModel)]="controlValue" [id]="field.id">
      <mat-option *ngFor="let item of controlOptions.items" [value]="item.Value">
        {{item.Name}}
      </mat-option>
    </mat-select>-->

    <!--else will be textbox-->
    <div *ngSwitchDefault>
      <mat-input-container>
        <input matInput [id]="field.id" type="text" [(ngModel)]="controlValue">
      </mat-input-container>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

  </div>

</div>
