<div *ngIf="headerRegion" class="region-content region-row col-md-12">
    <mat-card class="specialregion-card clickable" (click)="gotoSpecialRegion(headerRegion.CodeName)">
        <div>
            <span>{{headerRegion.Name}}</span>
        </div>
    </mat-card>
</div>

<div *ngFor="let row of gropedRowRegions" class="region-row">
    <div *ngFor="let cell of row" class="region-content col-md-{{cell.ColWidth}}">
        <mat-card class="region-card clickable" (click)="gotoRegionSections(cell.id)">
            <div>
                <span class="region-span" [style.font-size]="cell.ColWidth <= 3 ? '0.75em' : ''">{{cell.Name}}</span>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="footerRegion" class="region-content region-row col-md-12">
    <mat-card class="specialregion-card clickable" (click)="gotoSpecialRegion(footerRegion.CodeName)">
        <div>
            <span>{{footerRegion.Name}}</span>
        </div>
    </mat-card>
</div>
<!--<div *ngIf="headerRegion" class="row" style="width:100%">
    <div class="col-md-12" style="border:1px solid;min-height:30px;background-color:blue" (click)="gotoSpecialRegion(headerRegion.CodeName)">{{headerRegion.CodeName}}</div>
</div>

<div *ngFor="let row of gropedRowRegions" class="row" style="width:100%">
    <div *ngFor="let cell of row" class="col-md-{{cell.ColWidth}}" style="border:1px solid;min-height:150px;background-color:gray">
        {{cell.CodeName}}
    </div>
</div>

<div *ngIf="footerRegion" class="row" style="width:100%">
    <div class="col-md-12" style="border:1px solid;min-height:30px;background-color:blue" (click)="gotoSpecialRegion(footerRegion.CodeName)">{{footerRegion.CodeName}}</div>
</div>-->