.region-card {
    padding: 5px;
    min-height: 150px;
}
.specialregion-card {
    padding: 5px;
    height: 30px;
    background-color: aliceblue;
}

.specialregion-card span{
    text-overflow: ellipsis;
    position: relative;
    top: 20%;
    /*transform: translateY(-50%);*/
}

.region-row {
    width: 100%;
    /*padding: 5px;*/
}

.region-content {
    padding: 2px;
}

mat-card div {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.region-span {
    text-overflow: ellipsis;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    /*line-height: 150px;*/
}

mat-card:hover {
    background-color: #607D8B;
    transition: 1s ease;
}