<h2>{{(commonService.Res$ | async)._sections}}</h2>
<div *ngIf="objRegion">
    <div class="section" *ngFor="let section of objRegion.UserSections">
        <mat-card (click)="gotoSection(section.id)">
            <!--<mat-card-header (click)="toggleCollection(collection.id)">-->
            <div class="section-header clickable">
                <span>{{section.DescName}}</span>
                <span *ngIf="showEnableSwitch" class="iconspan" (click)="$event.stopPropagation();">
                    <mat-slide-toggle [color]="'primary'" [checked]="section.State=='enabled'" (change)="toggleSectionState(section.id, $event.checked);"></mat-slide-toggle>
                </span>
            </div>
        </mat-card>
    </div>

    <!--<div class="container-fluid">
            <div class="row" *ngFor="let section of objRegion.UserSections">
                <div (click)="gotoSection(section.id)" class="col-mat-10" style="border:1px solid;min-height:30px;background-color:yellow">{{section.Name}}</div>
                <div class="col-mat-2"><mat-slide-toggle [checked]="section.State=='enabled'" (change)="toggleSectionState(section.id, $event.checked)"></mat-slide-toggle></div>
            </div>
        </div>-->
</div>