  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap');

  .External_order_app {
      margin: 2rem 0 5rem;
  }

  .External_order_app .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .External_order_app *:not(i) {
      font-family: 'Montserrat', sans-serif;
      color: #2c2c35;
      text-transform: capitalize;
  }

  .External_order_app .container>p {
      font-size: 16px;
      text-transform: initial;
      margin-bottom: 2rem;
      text-align: center;
  }

  .External_order_app .form-group {
      margin-bottom: 1.5rem;
  }

  .cart-h3-text {
      font-family: Montserrat;
      font-size: 29px;
      font-weight: 600;
      line-height: 1.31;
      color: #2c2c35;
      margin-bottom: 0;
  }

  .cart-p-text {
      opacity: 0.8;
      font-family: Montserrat;
      font-size: 18px;
      line-height: 1.33;
      color: #2c2c35;
  }

  .External_order_app .form-group>label {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.33;
  }

  .External_order_app label .star {
      color: #ff5800;
  }

  .External_order_app input[type=email],
  .External_order_app input[type=password],
  .External_order_app input[type=number]#inputyourorder,
  .External_order_app input[type=text].inputname,
  .External_order_app input[type=text]#inputlink,
  .External_order_app select,
  .External_order_app textarea {
      padding: 16px;
      border-radius: 5px !important;
      border: solid 1px #B8B8B8;
      background-color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      resize: none;

  }

  .External_order_app select {
      padding: 0.5rem 1.4rem;
      height: 3.2rem;
  }

  .External_order_app input[type="radio"] {
      width: 15px;
      height: 15px;
      cursor: pointer;
  }

  .External_order_app select,
  .External_order_app .form-check label {
      cursor: pointer;
      font-weight: 600;
  }

  .External_order_app .form-check input {
      margin-top: 3px;
  }

  .External_order_app input[type="radio"] {
      border-radius: 50%;
      border-color: #000;
  }

  input[type="radio"],
  input[type="checkbox"] {
      position: relative;
      top: 2px;
  }

  .External_order_app input[type=number]#inputphone:lang(en) {
      border-radius: 5px !important;
      border: solid 1px #000000;
      padding: 14px 15px 15px 10px;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left: 0;
  }

  .External_order_app input[type=number]#inputphone:lang(ar) {
      border-radius: 5px !important;
      border: solid 1px #000000;
      padding: 14px 15px 15px 10px;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-right: 0;
  }

  .External_order_app .input-group.inputphone>.input-group-prepend>.btn:lang(ar) {
      border-right-color: #000 !important;
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
  }

  .dropdown-menu[x-placement^=bottom]:lang(ar) {
      left: auto !important;
      right: 0;
      transform: translate3d(0, 43px, 0px) !important;
  }

  /* input[type=checkbox]:before{
    width: 20px;
    height: 21px;
}
input[type=checkbox]:checked:after{
    top: 3px;
    left: 7px;   
} */
  .file {
      visibility: hidden;
      position: absolute;
  }

  /*.input-group.inputphone,*/
  /*.input-group.input_image{*/
  /*    width: 621px;*/
  /*}*/
  .btn-outline-secondary {
      border-color: #000;
      background: #eee;
  }

  @media only screen and (min-width: 900px) {
      .External_order_app .form_data {
          width: 601px;
      }

      .form-group-custom-file {
          width: 70%
      }

      .External_order_app .container>p {
          font-size: 16px;
          text-transform: initial;
          margin-bottom: 2rem;
          width: 70%;
          margin: 0 auto 2rem;
          

      }
  }

  .btn {
      height: auto;
  }


  .custom-file {
      height: 11rem;
  }

  .custom-file input,
  .custom-file label {
      height: 100%;
      cursor: pointer;
  }

  .custom-file label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 500;
  }

  .External_order_app .custom-file-label::after {
      display: none;
  }

  .External_order_app .custom-file-label span.content {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .External_order_app .custom-file-label span.content i {
      color: #2B8BDD;
      font-size: 2rem;
      margin-bottom: .5rem;
      display: block;
  }

  .External_order_app .custom-file-label span.text {
      color: #787878;
      font-size: 1.2rem;
  }


  .External_order_app .btn.btn-dark {
      margin-top: 2rem;
      padding: .6rem 7rem .6rem 10rem;
      color: white;
      font-size: 1.2rem;
  }