.over_line::before{
    border-bottom: 2px solid red;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 48%;
}

.over_line {
    position: relative;
    display: inline-block;
}
