.dropdown-menu {
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.275);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.275);
}
.navbar-nav > li > a {
  min-height: 50px !important;
}
@media (min-width: 767px) {
  .navbar-nav > li > a {
    min-height: 80px !important;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  
  .navbar.navbar-wd .nav::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 17px);
    height: 100%;
    background-color: #1b1b1b;
  }
  .navbar-nav > li {
    flex-grow: 1;
    float: left;
    position: static !important;
  }
  .navbar-nav > li:hover {
    background-color: #ffffff;
  }
  .navbar-nav > li > a {
    padding: 16px 0 7px !important;
  }
  .navbar-nav > li:hover > a > span {
    color: #000000;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar.navbar-wd .nav {
    display: flex;
    flex-wrap: wrap;
  }
}
.header--sticky .navbar.stuck .header__dropdowns {
  margin: -154px 15px 0 0;
}
.navbar.navbar-wd {
  padding: 26px 0 0;
}
@media (min-width: 768px) {
  .navbar.navbar-wd .dropdown-menu {
    margin-top: 0;
  }
  .navbar.navbar-wd .dropdown-menu > li > a {
    margin: 0;
  }
  .navbar.navbar-wd .dropdown-menu > li {
    width: 25%;
    text-align: center;
    border-right: 1px solid #cfcfcf;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  header a.dropdown-toggle:before,
  header a.dropdown-toggle:after {
    display: none !important;
  }
}
.caret.caret--dots:before {
  display: none;
}
@media (max-width: 768px) {
  .caret.caret--dots:before {
    display: block;
  }
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: transparent;
}
.navbar.navbar-wd .dropdown-menu > li:hover > a {
  background-color: transparent;
}
.navbar.navbar-wd .nav {
  position: relative;
}
@media (min-width: 768px) {
  .navbar.navbar-wd .nav > li:not(:first-child) > a {
    position: relative;
  }
  .navbar.navbar-wd .nav > li:not(:first-child) > a:after {
    content: "";
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 0;
    width: 0;
    border-left: 1px solid #313131;
    transition: border-color .4s;
  }
  .navbar.navbar-wd .nav > li > a span.link-name {
    text-align: center;
  }
  .navbar.navbar-wd .nav > li:not(:first-child):hover > a:after {
    border-left-color: transparent;
  }
  .navbar.navbar-wd .nav .caret.caret--dots {
    display: none;
  }
}
.dropdown-menu {
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.275);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.275);
}
.header--sticky .navbar.stuck .header__dropdowns {
  margin: -154px 15px 0 0;
}
@media (min-width: 768px) {
  .navbar.navbar-wd .dropdown-menu {
    margin-top: 0;
    border: none;
    max-height: 500px;
    overflow: auto;
  }
  .navbar.navbar-wd .dropdown-menu > li > a {
    padding: 0;
    white-space: initial;
  }
}
@media (min-width: 1200px) {
  .navbar.navbar-wd .nav {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar.navbar-wd .nav {
    margin-left: -0 !important;
    margin-right: -0 !important;
  }
}
.navbar.navbar-wd .nav > li > a span.link-name {
  padding: 7px 15px 0 !important;
}
.navbar #slidemenu {
  padding: 7px 0 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #212121;
}
@media (min-width: 768px) {
  .navbar.navbar-wd .dropdown-menu {
    margin-top: 0;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-radius: 0;
    border-color: #e7e7e7;
    border-bottom-color: #ff7113;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    box-shadow: none;
  }
  .navbar-nav .hovernav.open:hover > .dropdown-menu {
    display: flex;
  }
  .navbar.navbar-wd .dropdown-menu > li > a {
    position: relative;
    margin: 0;
    padding: 0;
  }
}
#slidemenu .mobile-img-icon{
  display: block;
  height: 30px;
  margin: auto;
}
#slidemenu .dropdown-menu .mobile-img-icon {
height: 200px;
max-width: 100%;
margin-top: 10px;
}
@media (max-width: 767px){
  #slidemenu .mobile-img-icon{
    height: 50px;
    width: 50px;
  }
  #slidemenu .dropdown-menu .mobile-img-icon {
    display: none;
  }
}