.title mat-icon {
    cursor: pointer;
    vertical-align: middle;
    font-size: inherit;
}

.title label {
    font-size: inherit;
}

.title {
    font-size: 18px;
    /*color: #2196F3;*/
}

mat-input-container {
    width: 100%
}