.content:first-child{
    overflow: hidden;
}
.paddingTopExtra .q_tabs.horizontal .tabs-container {
    padding-top: 45px;
}

.paddingTopExtra .price_in_table .price {
    font-size: 60px;
}

.paddingTopExtra .q_tabs.boxed .tabs-container {
    padding: 45px 0 0;
}

.payment-methods-div {
    text-align: center;
}

.payment-methods-div ul.payment-methods-ul {
    list-style: none;
}

.payment-methods-div ul.payment-methods-ul li {
    margin-bottom: 7px;
    display: inline;
}

.payment-methods-div ul.payment-methods-ul li img {
    width: 50px;
    margin-right: 7px;
    margin-bottom: 0;
    max-width: 100%;
    height: auto;
}

.paddingTopExtra .q_tabs .tabs-nav li.active a {
    color: #03a9f4;
}

.paddingTopExtra .q_tabs .tabs-nav li a {
    color: #303030;
}

.package-features li.has-nofeature {
    text-decoration: line-through;
}

.pricing-talk-to-sales {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.pricing-talk-to-sales h5 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 15px;
}

.pricing-talk-to-sales .desc {
    margin-top: 16px;
    color: #2f2f30;
    font-size: 15px;
}

.pricing-talk-to-sales .numbers {
    margin-top: 16px;
    color: #2f2f30;
    text-align: initial;
    font-size: 14px;
}

.pricing-talk-to-sales .numbers .num {
    text-align: center;
    margin-top: 3px;
}

.pricing-talk-to-sales .numbers .num .num-icon {
    margin-right: 8px;
    font-size: 19px;
    vertical-align: middle;
}

.pricing-talk-to-sales .numbers .num .num-text {
    font-weight: bold;
}


.pricing-custom .price-box {
    box-shadow: #00a4bd 0px 0px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(66, 91, 118);
    cursor: pointer;
    display: flex;
    height: 93px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(66, 91, 118);
    column-rule-color: rgb(66, 91, 118);
    align-items: center;
    perspective-origin: 162px 46.5px;
    transform-origin: 162px 46.5px;
    caret-color: rgb(66, 91, 118);
    background-color: #ffffff;
    border: 1px solid #7fd0dd;
    border-radius: 3px 3px 3px 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 5px;
    outline: rgb(66, 91, 118) none 0px;
    padding: 16px;
    transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
}

.pricing-custom .price-box .radio-select {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(66, 91, 118);
    cursor: pointer;
    display: block;
    height: 20px;
    left: 0px;
    min-height: 20px;
    min-width: 20px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(66, 91, 118);
    top: 0px;
    width: 20px;
    column-rule-color: rgb(66, 91, 118);
    perspective-origin: 10px 10px;
    transform-origin: 10px 10px;
    caret-color: rgb(66, 91, 118);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid #cbd6e2;
    border-radius: 50% 50% 50% 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 3px;
    outline: rgb(66, 91, 118) none 0px;
    transition: border-color 0.3s ease 0s;
}

.pricing-custom .price-box .radio-select:after {
    bottom: -2px;
    color: rgb(66, 91, 118);
    content: '';
    cursor: pointer;
    display: block;
    height: 10px;
    left: 8px;
    position: absolute;
    right: -2px;
    text-decoration: none solid rgb(66, 91, 118);
    top: 8px;
    opacity: 0;
    width: 10px;
    column-rule-color: rgb(66, 91, 118);
    perspective-origin: 5px 5px;
    transform: matrix(1, 0, 0, 1, -5, -5);
    transform-origin: 5px 5px;
    caret-color: rgb(66, 91, 118);
    background: #03a9f4 none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(66, 91, 118);
    border-radius: 50% 50% 50% 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    outline: rgb(66, 91, 118) none 0px;
    transition: opacity 0.3s ease 0s;
}

.pricing-custom .price-box.selected {
    border: 1px solid #03a9f4;
    box-shadow: #03a9f4 0px 0px 0px 1px inset;
    background: rgb(230, 245, 248) none repeat scroll 0% 0% / auto padding-box border-box;
}

.pricing-custom .price-box:hover {
    background-color: #e6f5f8;
}

.pricing-custom .price-box.selected .radio-select {
    border: 2px solid #03a9f4;
}

.pricing-custom .price-box.selected .radio-select:after {
    opacity: 1 !important;
}


.pricing-custom .price-box .plan-name {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    display: block;
    height: 27px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(45, 62, 80);
    text-transform: capitalize;
    column-rule-color: rgb(45, 62, 80);
    perspective-origin: 25.0156px 13.5px;
    transform-origin: 25.0156px 13.5px;
    caret-color: rgb(45, 62, 80);
    border: 0px none rgb(45, 62, 80);
    font-weight: 700;
    font-size: 20px;
    line-height: 27.5px;
    margin: 0px 0px 0px 15px;
    outline: rgb(45, 62, 80) none 0px;
}

.pricing-custom .price-box .price-text {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    display: flex;
    height: 59px;
    min-height: auto;
    min-width: auto;
    text-align: right;
    text-decoration: none solid rgb(66, 91, 118);
    column-rule-color: rgb(66, 91, 118);
    perspective-origin: 46.7656px 29.5px;
    transform-origin: 46.7656px 29.5px;
    caret-color: rgb(66, 91, 118);
    border: 0px none rgb(66, 91, 118);
    flex-flow: column nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    outline: rgb(66, 91, 118) none 0px;
    margin-left: auto;
}

.pricing-custom .price-box .start-at {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: right;
    text-decoration: none solid rgb(45, 62, 80);
    column-rule-color: rgb(45, 62, 80);
    perspective-origin: 46.7656px 8px;
    transform-origin: 46.7656px 8px;
    caret-color: rgb(45, 62, 80);
    border: 0px none rgb(45, 62, 80);
    font-weight: 400;
    font-size: 12px;
    line-height: 16.5px;
    outline: rgb(45, 62, 80) none 0px;
}

.pricing-custom .price-box .amount-period {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    display: block;
    height: 27px;
    min-height: auto;
    min-width: auto;
    text-align: right;
    text-decoration: none solid rgb(66, 91, 118);
    column-rule-color: rgb(66, 91, 118);
    perspective-origin: 46.7656px 13.5px;
    transform-origin: 46.7656px 13.5px;
    caret-color: rgb(66, 91, 118);
    border: 0px none rgb(66, 91, 118);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    outline: rgb(66, 91, 118) none 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.pricing-custom .price-box .amount {
    box-sizing: border-box;
    color: #2f2f30;
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(45, 62, 80);
    column-rule-color: rgb(45, 62, 80);
    caret-color: rgb(45, 62, 80);
    border: 0px none rgb(45, 62, 80);
    font-weight: 700;
    font-size: 20px;
    line-height: 27.5px;
    outline: rgb(45, 62, 80) none 0px;
}

.pricing-custom .price-box .amount:before {
    color: #2f2f30;
    content: '$';
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(45, 62, 80);
    vertical-align: text-top;
    column-rule-color: rgb(45, 62, 80);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(45, 62, 80);
    border: 0px none rgb(45, 62, 80);
    font-weight: 600;
    font-size: 13px;
    line-height: 17.875px;
    outline: rgb(45, 62, 80) none 0px;
}

.pricing-custom .price-box .period {
    box-sizing: border-box;
    color: rgb(66, 91, 118);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(66, 91, 118);
    column-rule-color: rgb(66, 91, 118);
    caret-color: rgb(66, 91, 118);
    border: 0px none rgb(66, 91, 118);
    font-weight: 400;
    font-size: 14px;
    line-height: 19.25px;
    outline: rgb(66, 91, 118) none 0px;
}

.pricing-custom .price-box .term {
    box-sizing: border-box;
    color: rgb(124, 152, 182);
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: right;
    text-decoration: none solid rgb(124, 152, 182);
    column-rule-color: rgb(124, 152, 182);
    perspective-origin: 46.7656px 8px;
    transform-origin: 46.7656px 8px;
    caret-color: rgb(124, 152, 182);
    border: 0px none rgb(124, 152, 182);
    font-weight: 400;
    font-size: 12px;
    line-height: 16.5px;
    outline: rgb(124, 152, 182) none 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.pricing-plan-details .plan-name-cta {
    display: flex;
}

.pricing-plan-details .plan-name-cta .plan-name h1 {
    margin-bottom: 8px;
    color: #03a9f4;
    font-weight: bold;
    padding-right: 0px;
    padding-left: 0px;
}

.pricing-plan-details .plan-name-cta .plan-cta {
    margin-left: auto;
}

.pricing-plan-details .plan-name-cta .plan-cta a {
    font-weight: bolder;
}

.pricing-plan-details .plan-name-cta-bottom {
    display: flex;
    padding-top: 16px;
}

.pricing-plan-details .plan-name-cta-bottom .plan-name h5 {
    font-weight: bold;
}

.pricing-plan-details .plan-name-cta-bottom .plan-cta {
    margin-left: auto;
}

.pricing-plan-details .plan-name-cta-bottom .plan-cta a {
    font-weight: bolder;
}

.pricing-plan-details .plan-cta-sep {
    border-top: 2px solid #cbd6e2;
    margin-top: 40px;
}

.pricing-plan-details .plan-desc {
    margin-top: 16px;
    color: #2f2f30;
    text-align: justify;
    font-size: 14px;
}

.pricing-plan-details .plan-features-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #2f2f30;
    font-size: 14px;
}

.pricing-plan-details .plan-features-list .fa-check-circle {
    color:#03a9f4;
    margin-top: 3px;
    font-size: 16px;
}

.pricing-plan-details .plan-features-list .fa-times-circle {
    color:#cbd6e2;
    margin-top: 3px;
    font-size: 16px;
}

.pricing-plan-details .plan-features-list .q_icon_list {
    margin-bottom: 19px;
}

.pricing-plan-details .plan-features-list .q_icon_list p {
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
    padding: 0 0 0 24px;
}

.pricing-details-panel {
    margin-bottom: 60px;
}

.pricing-tabs__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    z-index: 1;
    margin-bottom: -1px !important;
}

.pricing-tabs__tab {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    max-width: 270px;
    padding: 1em;
    -webkit-box-pack: center;
    justify-content: center;
    color: #2d3e50;
    background-color: #f2f5f8;
    border: 1px solid #cbd6e2;
    border-right: 0;
    cursor: pointer;
    -webkit-transition: 0.5s background-color ease;
    transition: 0.5s background-color ease;
    text-align: center;
    z-index: 99;
}

.pricing-tabs__tab:first-child {
    border-top-left-radius: 5px;
}

.pricing-tabs__tab:last-child {
    border-top-right-radius: 5px;
    border: 1px solid #cbd6e2;
}

.pricing-tabs__tab.active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.pricing-tabs__tab a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pricing-custom.yearly {
    display: none;
}

.pricing-plan-details {
    display: none;
}

.pricing-plan-details.yearly-detail {
    display: none;
}

.pricing-plan-details.selected {
    display: block;
}

.hidePlan {
    display: none !important;
}

.main-box .main-box-body {
    border-top: 1px solid #cbd6e2;
    padding-top: 40px;
}

        /** Start Price **/
        .price .article-price .plus-text {
            font-size: 14px;
            font-weight: bold;
            margin-top: 0px;
        }

        .pricing-package-one h3,
        .pricing-package-two h3,
        .pricing-package-three h3
        {            
            margin-top: 0px;
        }

        .price .article-price.top {
            padding: 25px 25px;
        }

        dt {
            font-weight: 500;
        }
        .navbar.navbar-default.bg-green-400.navbar-fixed-bottom {
            display: none;
        }
        *{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .header-price h1{
            color: #2f2f30;
            font-family: 'Merriweather Sans', sans-serif;            
            line-height: 39px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0px;
            text-transform: none;
            margin-bottom: 80px;
        }
        .price .navigator-mob{
            display: none;
        }
        .text-center{
            text-align: center;
        }
        .price .most-popular .pricing-recommend{
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            background-color: #3fb87f;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;            
            letter-spacing: 0.8px;
            position: absolute;
            width: 100%;
            top: -27px;
            left: 0;
            padding: 2px 0;
            right: 0;
        }
        .price .most-popular .article-price{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: none;
            box-shadow: 0 1rem 3rem 0 rgba(189,195,199,0.6);
        }
        .price .article-price{
            /* height: 340px; */
            padding: 25px 10px;
            border: 1px solid rgba(189,195,199,0.6);
            border-radius: 5px;
            margin-bottom: 0 !important;
            position: relative;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .price .article-price > * {
            width: 100%;
        }
        .price .article-price .btn-box {
            min-height: 41px;
        }
        .price .article-price h3{
            font-size: 30px;
            margin-bottom: 10px;    
            line-height: 1.35;
            letter-spacing: .3px;
        }
        .price .article-price .pricing-description{
            height: 100px;
        }
        .price .article-price p{    
            color: #737f8b;            
            line-height: 27px;
            font-size: 15px;
        }
        .price .article-price .pricing-price{
            margin: 15px 0;            
        }
        .price .article-price .pricing-price span{
            font-family: sans-serif;
            color: #333;            
            font-size: 30px;
        }
        .price .article-price .pricing-price span,
        .price .article-price .pricing-price ins{
            display: block;
        }
        .price .article-price .pricing-price ins{            
            font-weight: 300;
            text-decoration: none;
            color: #737373;
            font-size: 12px;
        }
        .price .article-price .btn-box a{
            width: 50%;                        
            float: none;
            padding: 8px 0;
            border-radius: 5px;
            margin: 0;
            border-width: 1px;
            border-style: solid;    
            padding: 10px 0;
        }
        .price .article-price .btn-box a.full{
            width: 100%;
            border-radius: 5px !important;
        }
        .price .article-price .btn-box a.btn-secondary{
            border-color: #3fb87f;
            color: #3fb87f;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }        
        .price .article-price .btn-box a.btn-secondary:hover{
            color: #fff;
            background-color: #0e8cd1;
            border: 1px solid #0e8cd1;
        }
        .price .article-price .btn-box a.btn-primary,
        .price .article-price .btn-box a.btn-primary:hover{
            border-color: #3fb87f;
            background-color: #3fb87f;
            color: #fff;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
                
        }
        .price .article-price .btn-box a.btn-primary:hover{
            background: #30d286;
        }
        .price .most-popular .article-price .btn-box a.btn-primary,
        .price .most-popular .article-price .btn-box a.btn-primary:hover{
            background-color: #3fb87f;
            border: 1px solid #3fb87f;
        }
        .price .most-popular .article-price .btn-box a.btn-secondary{
            border-color: #3fb87f;
            color: #3fb87f;
        }
        .price .most-popular .article-price .btn-box a.btn-secondary:hover{
            background-color: #329265;
            border:1px solid #329265;
            color: #fff;
        }
        .price .feature-price {
			margin-right: 30px;
			margin-left: 30px;
		}
        .price .feature-price ul{
            
        }
        .price .feature-price ul li{
            list-style: none;
            padding: 10px 0;
            color: #484848;            
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0px;
            text-transform: none;
            text-align: left;
            position: relative
        }

        .price .feature-price ul li.yes i {
			color: #3fb87f;
			font-size: 17px;
			padding-right: 5px;
		}
		
		.price .feature-price ul li.yes span {
			font-weight: 400;
		}
		
		.price .feature-price ul li.no i {
			color: #969696;
			font-size: 17px;
			padding-right: 5px;
		}
		
		.price .feature-price ul li.no span {
			text-decoration: line-through;
			font-weight: 400;
		}
                
        .price .feature-price ul li.learn-more{
            font-size: 14px;
            margin-top: 10px;
			text-align: center;
        }
        .price .feature-price ul li.learn-more:hover{
            background-color: transparent;
        }
        .price .feature-price ul li.learn-more a,
        .price .feature-price ul li.learn-more a:hover{
            color: #fff;
            background: #3fb87f;
            border-color: #3fb87f;
            padding: 14px 20px;
            border-radius: 4px;
        }
        .price .feature-price ul li.learn-more a:hover{
            background: #30d286;
        }
        .price .feature-price ul li.learn-more a.full {
			width: 100%;
			float: left;
			padding: 10px 0 !important;
			border-radius: 5px !important;
			margin: 0;
			border-width: 1px;
			border-style: solid;
		}
        .price .feature-price ul li.header{
            background-color: #f4f6f8;    
            padding: 5px 0;
            text-transform: uppercase;
        }
        .mob-Slider{
            display: none;
        }
        .text-left{
            text-align: left;
        }
        .text-right{
            text-align: right;
        }
        /** Start Pricing Three **/
        .price .article-price {
            /* height: 562px; */
        }
        .some-feature-pricing{
            text-align: left;
            list-style: none;
            padding: 0;
        }
        .some-feature-pricing li{
            padding: 7px 0;
            color: #333;
            font-size: 15px;
            position: relative;
        }
        .some-feature-pricing li i{
            color: #3fb87f;
            font-size: 17px;
            padding-right: 5px;
        }
        .price .article-price .pricing-price {            
            margin-top: 25px;
        }
        .box-pricing .learn-more{
            text-align: right;
            font-size: 14px;
            padding: 0 0px;
            color: #22a7f0;
            cursor: pointer;
        }
        .box-pricing .feature-price{
            display: none
        }
        .box-pricing .feature-price.active{
            display: block;
        }
        .feature-price .show-less{
            color: #cc0000;
            font-size: 13px;
            text-decoration: underline;
            cursor: pointer;
        }
        .compare-details {
            margin-top: 4px;
            margin-bottom: 40px;
            text-align: center;
        }
        .compare-details strong{
            color: #007ea7;
            display: none;
            cursor: pointer;
            font-size: 14px;
        }
        .compare-details strong.active{
            display: initial;
        }
        /** End Pricing Three **/
        /** Start Price Two ***/
        .price.table-price{
            opacity: 0;
            height: 0;
            overflow: hidden;
        }
        .price.table-price.active{
            opacity: 1;
            height: auto;
            overflow: hidden;
            width: 100%;
        }
        .pricing-features{
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        .pricing-features dl{
            display: table;
            width: 100%;
        }
        .pricing-features .header-table dt,
        .pricing-features .header-table dd{
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px 6px;

        }
        .pricing-features .header-table,
        .pricing-features .feature-price{
            color: #151f26;            
            font-weight: 400;
            display: table-row;
        }
        .pricing-features .header-table{            
            text-transform: uppercase;
        }
        .pricing-features .feature-price.title-header{
            background-color: #f4f6f8;            
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
        .pricing-features .feature-price.title-header dt{
            font-weight: 600;
            text-transform: uppercase;
        }
        .pricing-features .feature-price:hover{
            background-color: #f4f6f8;
        }
        .pricing-features .feature-price dt,
        .pricing-features .feature-price dd{
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px 12px 10px 12px;
            text-align: left;
            float: none;
            display: table-cell;
            vertical-align: middle;
        }

        .pricing-features .feature-price dt{
            padding: 10px 34px 10px 12px;
        }

        .pricing-features .feature-price dd{
            text-align: center;
        }
                
        .pricing-features .feature-price dd i.fa-check{
            color: #3fb87f;
            font-size: 17px;
        }
        .pricing-features .feature-price dd i.fa-minus{
            color: #ddd;
        }
        .pricing-package-one,
        .pricing-package-two,
        .pricing-package-zero,
        .pricing-package-three{            
            border: 1px solid #ddd;
            border-bottom: none;
        }
        .price .article-price,
        .price .most-popular .article-price{
            border: none;
            box-shadow: none;
        } 
        .price .most-popular .pricing-recommend {            
            border-top-left-radius: 0; 
            border-top-right-radius: 0; 
            top: -31px;
            font-size: 12px;
            letter-spacing: 0.2px;
        }
        .price .box-pricing {border-right: 1px solid #ddd;}
        .pricing-package-one{}
        .pricing-package-two{border-left: none;}
        .pricing-package-three{border-left: none; border-right: none;}
        .pricing-package-zero{border-right: none;}
        .table-price .pricing-features .feature-price dt .tooltip{
            border: none;
            top: 10px;
            right: 8px;
            opacity: 1;            
        }
        .table-price .price .feature-price ul li .tooltip i, .pricing-features .feature-price dt i {
            color: #979797;
            
        }
        .table-price.price .article-price {
            /* height: 365px; */
        }
        /** End Price Two**/
         /** Switch **/
        .switch-price-years{
            padding: 0 0 30px;
        }
        .switch-price-years .monthly,
        .switch-price-years .yearly{
                        
        }
        .switch-price-years .monthly, .switch-price-years .yearly {
            position: relative;
            cursor: pointer;
            color: #333;
            font-weight: 500;
        }
        .switch-price-years .best-deal:before{
            content: "BEST DEAL";
            font-size: 11px;
            color: rgb(255, 255, 255);
            position: absolute;
            top: -6px;
            left: 0;
            transform: translate(0,-14px);
            width: 65%;
            background: #0e7ea7;
            padding: 0px;
            border-radius: 4px 4px 4px 0px;
            box-shadow: none;
        }
        .switch-price-years .best-deal:after {
            content: "";
            width: 0px;
            position: absolute;
            left: 0px;
            top: -5px;
            border-left: 0px solid transparent;
            border-right: 10px solid transparent;
            border-top: 6px solid #0e7ea7;
            transform: translate(0px, 0px);
        }
        .switch-price-years .monthly.active,
        .switch-price-years .yearly.active{
            color: #333;
            font-weight: 500;
        }
        .switch-custom {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
            margin: 0px 15px;
            top: 10px;
        }

        .switch-custom input { 
          opacity: 0;
            width: 54px;
            height: 29px;
            z-index: 9;
            position: relative;
            cursor: pointer;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider,
        .switch-custom input.active{
            background-color: #3fb87f;
        }

        input:focus + .slider,
        .switch-custom input.active{
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before,
        .switch-custom input.active + .slider:before{
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
        .tooltip i{
            color:#979797;
        }
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
        .price .article-price .pricing-price.month-switch,
        .price .article-price .pricing-price.years-switch{
            display: none;
            position: relative;
            
        }
        .price .article-price .pricing-price.month-switch.active,
        .price .article-price .pricing-price.years-switch.active{
            display: block;
            
        }
        .price .article-price .pricing-price.month-switch .old, 
        .price .article-price .pricing-price.years-switch .old{
            color: #888888;
            font-size: 21px;
            font-weight: 200;
            margin-right: 10px;
            display: inline;
        }
        .old {
            position: relative;
            display: inline-block;
        }
        .old::before, .old::after {
            content: '';
            width: 100%;
            position: absolute;
            right: 0;
            top: 50%;
        }
        .old::before {
            border-bottom: 2px solid red;
            -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
        }
        .old .currency {
            color: #888888 !important;
            font-size: 13px !important;
        }
        .price .article-price .pricing-price.month-switch .new, 
        .price .article-price .pricing-price.years-switch .new{
            display: inline;
        }
        /** End Switch **/
        /** Start ToolTip **/
        .tooltip {            
            display: inline-block;
            border-bottom: 1px dotted black;
            position: absolute;
            top: 0;
            right: 2px;
            opacity: 1;
            z-index: initial;
        }
        .tooltip .tooltiptext {
            visibility: hidden;                        
            color: #fff;            
            border-radius: 2px;
            padding: 5px 0;            
            position: absolute;
            z-index: 1;
            background: rgb(0, 27, 47);            
            min-width: 220px;
            padding: 5px 10px;
            text-align: left;
            transition:visibility 0ms;
        }
        .tooltip .tooltiptext p{
            font-size: 13px;
            color: #fff;
            line-height: 20px;
        }
        .tooltip .tooltiptext a,
        .tooltip .tooltiptext a:hover{
            display: inline;
            font-size: 13px;
            letter-spacing: .3px;
            color: #0e7ea7;
        }
        .price .feature-price ul li .tooltip{                
            border-bottom: none;
            top: 12px;
            margin-left: 2px;
            position: static;
        }
        .price .feature-price ul li .tooltip i{
            color: #979797;
        }
        .tooltip:hover,
        .tooltip:active{
            z-index: 33
        }
        .tooltip:hover .tooltiptext,
        .tooltip:active .tooltiptext,
        .tooltip:hover{
            z-index: 5555;
            visibility: visible;
        }
        .some-feature-pricing li .tooltip{
            top: 8px;
            right: -21px;
            border: none
        }
        .some-feature-pricing li .tooltip i{
            color: #979797
        }
        .tooltip .tooltiptext{
            transform: translate(-100px);
        }
        /** Start ToolTip **/
        .price.first-price .article-price{
            border: 1px solid #ddd;
        }
        .price.first-price .pricing-package-one, 
        .price.first-price .pricing-package-two, 
        .price.first-price .pricing-package-zero, 
        .price.first-price .pricing-package-three,
        .price.first-price .box-pricing {            
            border: none !important;
        }
.pricing-package-zero h3 {
    margin-top: 116px;
}

.container-price {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
        /** Start responsive Price **/
        @media(max-width: 1200px){
            .price .article-price h3 {
                font-size: 25px;                                
                letter-spacing: 0;
            }
            .price .article-price, .price .most-popular .article-price {
                padding: 15px 0;
                /* height: 308px */
            }
            .pricing-package-zero h3 {
                margin-top: 130px;
            }
        }
@media only screen and (max-width: 1000px) and (min-width: 992px) {
    .price .article-price .pricing-description {
        height: 125px;
    }

    span.old {
        margin-right: 0px !important;
    }

    span.new {
        display: block !important;
    }

    .price .article-price, .price .most-popular .article-price {
        padding: 15px 0;
        /* height: 356px; */
    }

    .pricing-package-zero h3 {
        margin-top: 130px;
    }
}
        @media(max-width: 991px){
            .feature-price dt, .feature-price dd {
                width: 50%;
            }
            .pricing-package-zero .article-price {
                display: none;
            }
            .price .navigator-mob{
                display: block;
            }            
            .price .navigator-mob .mobile-nav ul{
                margin-bottom: 16px;                
            }
            .price .navigator-mob .mobile-nav ul li{
                list-style: none;
                display: inline-block;
                border: 1px solid;
                margin: 0;
                border-color: #f4f6f8;
                border-radius: 3px;
                cursor: pointer;
            }
            .price .navigator-mob .mobile-nav ul li.active,
            .price .navigator-mob .mobile-nav ul li:hover{
                color: #000000;
                background-color: #f4f6f8;
            }
            .price .navigator-mob .mobile-nav ul li.active h4,
            .price .navigator-mob .mobile-nav ul li:hover h4{
                color: #000000;
            }
            .price .navigator-mob .mobile-nav ul li{
                margin-bottom: 10px;
            }
            .price .navigator-mob .mobile-nav h4{
                font-size: 14px;
                padding: 0px 10px;
                font-weight: 500;
                color: #787878;
                cursor: pointer;
            }
            .price .box-pricing .pricing-package-one,
            .price .box-pricing .pricing-package-two,
            .price .box-pricing .pricing-package-three{
                display: none;
            }
            .price .box-pricing .pricing-package-one.active,
            .price .box-pricing .pricing-package-two.active,
            .price .box-pricing .pricing-package-three.active,
            .mob-Slider{
                display: block;
            }            
            .mob-Slider{
                font-size: 12px;
                font-weight: 700;
                color: #007ea7;
                margin-top: 22px;
            }
            .mob-Slider.active{
                margin-top: 62px;
            }
            .mob-Slider .Individual-router,
            .mob-Slider .Business-router,
            .mob-Slider .Platform-router{
                cursor: pointer;
            }
            .price .article-price, 
            .price .most-popular .article-price{
                padding: 25px 35px;       
                /* height: 278px; */
            }       
            .price .article-price .pricing-description {
                height: 50px;
            }
            .some-feature-pricing{
                text-align: center
            }
            .price .box-pricing .pricing-package-one,
            .price .box-pricing .pricing-package-two,
            .price .box-pricing .pricing-package-three,
            .price .pricing-features .feature-one,
            .price .pricing-features .feature-two,
            .price .pricing-features .feature-three{
                display: none;
            }
            .price .box-pricing .pricing-package-one.active,
            .price .box-pricing .pricing-package-two.active,
            .price .box-pricing .pricing-package-three.active,
            .price .pricing-features .feature-one.active,
            .price .pricing-features .feature-two.active,
            .price .pricing-features .feature-three.active {
                display: table-cell;
            }
            .mob-Slider .Individual-router.active,
            .mob-Slider .Business-router.active,
            .mob-Slider .Business-router-right.active,
            .mob-Slider .Platform-router.active,
            .mob-Slider{
                display: block;
            }
            .bs-price-left{
                width: 100%;
                text-align: right;
            }
            .bs-price-right{
                width: 100%;
                text-align: left;
            }
            .mob-Slider{
                display: block;
                margin-top: 20px;
            }
            .price .box-pricing .pricing-package-one, .price .box-pricing .pricing-package-two, .price .box-pricing .pricing-package-three {
                width: 100%;
            }
            .mob-Slider .Individual-router, .mob-Slider .Business-router, .mob-Slider .Business-router-right, .mob-Slider .Platform-router {
                cursor: pointer;
                display: none;
            }
            .pricing-package-one, .pricing-package-two, .pricing-package-zero, .pricing-package-three {
                border: none;
            }
            .price .box-pricing {
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
            }

            .price.first-price .box-pricing .pricing-package-one.active, 
            .price.first-price .box-pricing .pricing-package-two.active, 
            .price.first-price .box-pricing .pricing-package-three.active {
                display: block;
            }
        }
        @media(max-width: 768px){
            div.grid_section .section_inner.full_mobile{
                width: 100%;
            }
            .price .article-price .pricing-description {
                height: 55px;
            }

            .price .article-price, 
            .price .most-popular .article-price{
                padding: 25px 25px;       
                /* height: 283px; */
            } 
            .tooltip .tooltiptext {            
                transition:visibility 0ms;
            }
        }
        @media(max-width: 600px){
            .price .article-price .pricing-description {
                height: 80px;
            }

            .price .article-price,
            .price .most-popular .article-price{
                padding: 25px 25px;
                /* height: 308px; */
            }
        }
        @media(max-width: 480px){
            .price .article-price .pricing-description {
                height: 90px;
            }
            .header-price h1{
                margin-bottom: 80px;
                font-size: 18px;
                padding-left: 50px;
				padding-right: 50px;
				font-weight: 400;
            }
            .mob-Slider .Individual-router, .mob-Slider .Business-router, .mob-Slider .Platform-router{
                font-size: 11px;   
            }
            .switch-custom{
                margin: 0px 4px;
            }
            .switch-price-years .monthly, .switch-price-years .yearly{
                font-size: 12px;
            }
            .price .article-price, .price .most-popular .article-price {
                padding: 25px 15px;
                /* height: 318px; */
            }
            .switch-custom{
                margin: 0px 5px;
            }
            .switch-price-years .best-deal:after {
                content: "";
                width: 0px;
                position: absolute;
                left: 0px;
                top: -5px;
                border-left: 0px solid transparent;
                border-right: 10px solid transparent;
                border-top: 6px solid #0e7ea7;
                transform: translate(0px, 0px);
                margin: 0 35%;
            }
            .switch-price-years .best-deal:before {
                content: "BEST DEAL";
                font-size: 11px;
                color: rgb(255, 255, 255);
                position: absolute;
                top: -17px;
                left: 0;
                transform: translate(0,-14px);
                width: 30%;
                background: #0e7ea7;
                padding: 0px;
                border-radius: 4px 4px 4px 0px;
                box-shadow: none;
                margin: 0 35%;
            }
        }
        @media(max-width: 380px){
            .price .navigator-mob .mobile-nav h4 {
                font-size: 11px;
                padding: 0px 5px;
            }
            .tooltip{
                right: -2px;
            }
            .some-feature-pricing li .tooltip {    
                right: -8px;    
            }
        }
        /** End responsive Price **/
        /** End Price **/
        .pricing-table ul > li {
            padding: 4px 0;
            border-bottom: none; 
        }

        .table-price.price .article-price {
            /* height: 347px; */
        }

        @media only screen and (max-width: 1274px) and (min-width: 1201px) {
            .some-feature-pricing li {
                font-size: 13px;
            }

            .price .article-price.top {
                /* height: 544px; */
            }
        }

        @media only screen and (max-width: 1200px) and (min-width: 1164px) {
            .some-feature-pricing li {
                font-size: 13px;
            }

            .price .article-price.top {
                /* height: 537px; */
            }

            .table-price.price .article-price {
                /* height: 319px; */
            }
        }

        @media only screen and (max-width: 1163px) and (min-width: 1001px) {
            .some-feature-pricing li {
                font-size: 13px;
            }

            .price .article-price.top {
                /* height: 584px; */
            }

            .price .article-price.top {
                padding: 25px 10px;
            }

            .top .some-feature-pricing {
                min-height: 190px;
            }

            .price .article-price .pricing-description {
                height: 125px;
            }

            .table-price.price .article-price {
                /* height: 344px; */
            }
        }

        @media only screen and (max-width: 1000px) and (min-width: 992px) {
            .some-feature-pricing li {
                font-size: 13px;
            }

            .price .article-price.top {
                /* height: 616px; */
            }

            .price .article-price.top {
                padding: 25px 10px;
            }

            .top .some-feature-pricing {
                min-height: 190px;
            }

            .price .article-price .pricing-description {
                height: 125px;
            }

            .table-price.price .article-price {
                /* height: 376px; */
            }

            
        }

        @media only screen and (max-width: 991px) and (min-width: 769px) {
            .price .article-price.top {
                /* height: 535px; */
            }

            .price .article-price .pricing-description {
                height: 80px;
            }

            .table-price.price .article-price {
                /* height: 299px; */
            }
            .table-price .article-price .pricing-description {
                height: 60px;
            }
        }

        @media only screen and (max-width: 768px) and (min-width: 476px) {
            .price .article-price.top {
                /* height: 545px; */
            }

            .price .article-price .pricing-description {
                height: 90px;
            }

            .table-price.price .article-price {
                /* height: 299px; */
            }
            .table-price .article-price .pricing-description {
                height: 60px;
            }
        }

        @media only screen and (max-width: 475px) and (min-width: 438px) {
            .price .article-price.top {
                /* height: 545px; */
            }

            .price .article-price .pricing-description {
                height: 110px;
            }

            .some-feature-pricing li {
                font-size: 13px;
            }

            .table-price.price .article-price {
                /* height: 299px; */
            }
            .table-price .article-price .pricing-description {
                height: 60px;
            }
            
        }

        @media only screen and (max-width: 437px) and (min-width: 100px) {
            .price .article-price.top {
                /* height: 568px; */
            }

            .price .article-price .pricing-description {
                height: 110px;
            }

            .some-feature-pricing li {
                font-size: 12px;
            }

            .price .article-price .plus-text {
                font-size: 13px;
            }

            .some-feature-pricing {
                min-height: 190px;
            }
            .table-price .article-price .pricing-description {
                height: 60px;
            }
            .table-price.price .article-price {
                /* height: 299px; */
            }
        }
        
        .mobile-nav h4 {
            margin-bottom: 0px;
        }

        .mobile-nav ul {
            padding-left: 0px;
            padding-right: 0px;
        }

        section.price.section_inner.table-price.active {
            margin-top: 100px;
        }

        .table-price.price .article-price {
            margin-bottom: 0px;
        }

        .pricing-table {
            margin-bottom: 70px;
        }

        .btn-box > .btn-primary.full {
            display: none;
        }
        
        .btn-box > .btn-primary.full.active {
            display: block;
        }