.paddingTopExtra .q_tabs.horizontal .tabs-container {
    padding-top: 45px;
}

.paddingTopExtra .price_in_table .price {
    font-size: 60px;
}

.paddingTopExtra .q_tabs.boxed .tabs-container {
    padding: 45px 0 0;
}

.payment-methods-div {
    text-align: center;
}

.table-inbox-subject {
    color: #000000 !important;
    font-size: 16px;
}