body {
    .loginjs__modal-container {
        /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
        .valid-api-key {
            #map {
                height: 200px;
                width: 100%;
            }
        }

        .invalid-api-key {
            #map {
                width: 100%;
            }
        }

        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            margin-right: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;

            &:focus {
                border-color: #4d90fe;
            }
        }

        #pac-location {
            background: none padding-box rgb(255, 255, 255);
            display: table-cell;
            border: 0px;
            padding: 0px 17px;
            text-transform: none;
            appearance: none;
            position: relative;
            cursor: pointer;
            user-select: none;
            direction: ltr;
            overflow: hidden;
            text-align: center;
            height: 40px;
            vertical-align: middle;
            color: rgb(86, 86, 86);
            font-family: Roboto, Arial, sans-serif;
            font-size: 18px;
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
            min-width: 64px;
            margin-left: 12px;
            margin-right: 12px;
            &:hover {
                background: none padding-box rgb(235, 235, 235);
                color: rgb(0, 0, 0);
            }
        }
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    .pac-container {
        z-index: 2147483647;
    }

    .pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }
    
    // start SF-890
    @media (max-width: 767px){
        .login--popup .modal-body {
            overflow-y: scroll !important;
            height: auto !important;
        }
    }
    // end SF-890
}
