.nav-collapse .nav > li.open, .nav-collapse .nav > li:hover {
    background: none repeat scroll 0 0 #494A4A;
}

.navbar .navbar-inner {
    background: url("../image/bg-h3.png") repeat scroll 0 0 #545657;
}
.megamenu a span.menu-title {
    text-shadow: 0 1px 0 #494A4A;
}
#headerbottom #cart {
    background: url("../image/icon-cart.png") no-repeat scroll 0 center transparent;
}
.sidebar .box .box-heading h4 ,.sidebar .box .box-heading,.htabs a.selected{
    background: url("../image/bg-h3.png") repeat scroll 0 0 #545657;
}
.bannercontainer .tp-bullets .bullet {
}
.pavcontentslider .carousel-indicators li.active {
    background-position: 0 -77px !important;
}
.bannercontainer .tp-bullets .bullet {
    background: url("../image/icon-nav.png") no-repeat scroll 0 -77px transparent !important;
}
.bannercontainer .tp-bullets .bullet:hover, .bannercontainer .tp-bullets .bullet.selected {
    background-position:0 0 !important;
}
.product-grid .price, .product-list .price, .box-product .price {
    color: #494A4A;
}
.productcarousel .carousel-controls .left:hover {
    background-position: left -76px;
}
.productcarousel .carousel-controls .right:hover {
    background-position: right -76px;
}
.productcarousel .carousel-controls .right,.productcarousel .carousel-controls .left {
    background: url("../image/icon-next-prev.png") no-repeat scroll right top transparent;
}
.productcarousel .carousel-controls .left {
    background-position:left top;
}
.megamenu .mega-group > a .menu-title {
    color: #545657 !important;
}
.megamenu .mega-col ul li > a:hover {
    color: #545657 !important;
}
.pav-search-panel {
    border-bottom: 5px solid #545657 !important;
}
.product-filter .display a {
    background: url("../image/icon_display.png") no-repeat left -80px;
}
.category-list ul li a {
    background-color: #545657;
}
.category-list ul li a:hover {
    background-color: #494A4A;
}
.nav-collapse .megamenu:after {
    border-bottom: 10px solid #494A4A !important;
}
.nav-collapse .megamenu {
    background: url("../image/bg-h3.png") repeat scroll 0 0 #545657 !important;   
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #494A4A;
}
.nav-collapse .megamenu {
    border-color: #494A4A -moz-use-text-color -moz-use-text-color !important;
}
.nav-collapse .nav > li:hover > a, .nav-collapse .nav > li > a:hover{
    background-color: #494A4A !important; 
}