/* .payment-section .item-pricing .list-group-item {
  border-left: 1px solid #ccc;
  border-right: 0;
} */

.payment-section .item-pricing .list-group-item .input-group .input-group-addon {
  border-left: 1px solid #ccc;
  border-right: 0;
}

.payment-section .item-pricing .list-group-item .input-group input[type=text] {
  border-right: 1px solid #ccc;
  border-left: 0;
}

.card-js .icon {
  right: 8px;
  left: auto;
}

.card-js .card-number-wrapper .card-type-icon {
  right: auto;
  left: 8px;
}

.card-js .expiry-wrapper .expiry {
  padding-left: 0;
  padding-right: 38px;
}

.card-js input.card-number,
.card-js input.cvc,
.card-js input.name {
  padding-left: 0;
  padding-right: 38px;
}

.item-pricing .list-group-item .input-group .btn-black {
  padding: 3px 12px;
}

.nav-tabs.nav-justified .visa-link {
  background: url('../../../../../../../view/assets/images/account/charge/inactive-ara.png') no-repeat center center;

  padding: 35px 57px !important;
  background-size: auto 23px;
}

.nav-tabs.nav-justified>.active>.visa-link {
  background: url('../../../../../../../view/assets/images/account/charge/active-ara.png') no-repeat center center;

  padding: 35px 57px !important;
  background-size: auto 23px;
  background-color: #f6f6f6 !important;
  border-bottom-color: #f6f6f6 !important;
  border-right: 0 !important;
  border-left: 1px solid #ddd !important;
}

.nav-tabs.nav-justified .paypal-link {
  background: url('../../../../../../../view/assets/images/account/charge/inactive-pp-ara.png') no-repeat center center;
  padding: 35px 57px !important;
  background-size: auto 25px;
}

.nav-tabs.nav-justified>.active>.paypal-link {
  background: url('../../../../../../../view/assets/images/account/charge/active-pp-ara.png') no-repeat center center;

  padding: 35px 57px !important;
  background-size: auto 25px;
  background-color: #f6f6f6 !important;
  border-bottom-color: #f6f6f6 !important;
  border-left: 0 !important;
  border-right: 1px solid #ddd !important;
}

@media only screen and (max-width: 700px) {
  .nav-tabs.nav-justified>.active>.visa-link {
    background: url('../../../../../../../view/assets/images/account/charge/active-ara.png') no-repeat right center;
    padding: 35px 0 !important;
    background-size: auto 20px;
    margin-right: 23px;
    margin-left: auto;
  }

  .nav-tabs.nav-justified .visa-link {
    background: url('../../../../../../../view/assets/images/account/charge/inactive-ara.png') no-repeat right center;
    padding: 35px 0 !important;
    background-size: auto 20px;
    margin-right: 23px;
    margin-left: auto;
  }

  .nav-tabs.nav-justified .paypal-link {
    background: url('../../../../../../../view/assets/images/account/charge/inactive-pp-ara.png') no-repeat right center;
    padding: 35px 0 !important;
    background-size: auto 20px;
    margin-right: -44px;
    margin-left: auto;
  }

  .nav-tabs.nav-justified>.active>.paypal-link {
    background: url('../../../../../../../view/assets/images/account/charge/active-pp-ara.png') no-repeat right center;
    padding: 35px 0 !important;
    background-size: auto 20px;
    margin-right: -44px;
    margin-left: auto;
  }
}