.content,
.content .row {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    height: 73vh;
    min-height: 73vh;
    margin-top: -20px;
}

ul.breadcrumb-elements.not-collapsible li:not(:last-child) {
    margin-right: 20px;
}

.gjs-editor {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    box-sizing: inherit;
    height: 100%;
}

.gjs-category-title,
.gjs-sm-sector .gjs-sm-title,
.gjs-clm-tags .gjs-sm-title,
.gjs-block-category .gjs-title,
.gjs-layer-title {
    font-weight: inherit;
}

.gjs-block,
.gjs-trt-trait {
    font-weight: inherit;
}

.gjs-block-label {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

.gjs-block-label {
    font-size: 11px;
    font-weight: 400;
}

.gjs-block.fa .gjs-block-label {
    font-family: "Montserrat", "Cairo", Helvetica Neue, Helvetica, Arial,
        sans-serif;
}

.gjs-layer {
    font-weight: inherit;
}

.gjs-sm-sector,
.gjs-clm-tags {
    font-weight: inherit;
}

.gjs-clm-tags {
    font-size: 0.95rem;
}

.gjs-one-bg {
    background-color: #444;
}

#lang-list {
    position: absolute;
    z-index: 9999;
    top: 39px;
    right: 14.9%;
    border: none;
    padding: 0;
    margin: 0;
}

.user-nav__list-box {
    visibility: visible;
    opacity: 1;
    display: flex;
    width: auto;
    min-width: 150px;
    color: #444;
    border: 1px solid rgba(0, 0, 0, 0.2);
    flex-direction: column;
    font-size: 12px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}

.user-nav__list-items {
    display: flex;
    list-style: none;
    flex-direction: column;
    font-size: 10px;
    padding: 0;
    margin: 0;
    border: none;
}

.user-nav__list-item {
    background-color: #faf9f9;
    /* font-weight: lighter; */
    letter-spacing: 1px;
    text-align: left;
    position: relative;
    cursor: pointer;
    font-size: 12px;
}

.user-nav__list-item.selected {
    background-color: #444;
    color: #d97aa6;
}

.user-nav__list-item:hover {
    color: #d97aa6;
}

.user-nav__list-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.user-nav__list-item {
    padding: 0.4rem 1.25rem;
}

.user-nav__list-item a:link {
    text-decoration: none;
    color: inherit;
}

#custom_html_status .checkbox.checkbox-switchery {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons-flex {
    background-size: 70% 65% !important;
    height: 15px;
    width: 17px;
    opacity: 0.9;
}

[data-tooltip]::after {
    background: rgba(51, 51, 51, 0.9);
}

.gjs-pn-commands {
    min-height: 40px;
}

#gjs-sm-float,
.gjs-pn-views .fa-cog {
    display: none;
}

.gjs-am-preview-cont {
    height: 100px;
    width: 100%;
}

.gjs-logo-version {
    background-color: #756467;
}

.gjs-pn-panel.gjs-pn-views {
    padding: 0;
    border-bottom: none;
}

.gjs-pn-btn.gjs-pn-active {
    box-shadow: none;
}

.gjs-pn-views .gjs-pn-btn {
    margin: 0;
    height: 40px;
    padding: 10px;
    width: 33.3333%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.CodeMirror {
    min-height: 450px;
    margin-bottom: 8px;
}

.grp-handler-close {
    background-color: transparent;
    color: #ddd;
}

.grp-handler-cp-wrap {
    border-color: transparent;
}
