.color,
a:focus,
a:hover {
    color: #3d6ffa
}

.bg-color,
.link-cart a:hover,
.main-nav .toggle-mobile-menu span,
.main-nav .toggle-mobile-menu::after,
.main-nav .toggle-mobile-menu::before {
    background: #3d6ffa
}

.top-right>ul>li>a.mycart-link .number-cart-total {
    color: #3d6ffa
}

.register-box .link-signin:hover {
    background: #3d6ffa
}

.item-service2:hover .service-icon a {
    background: #3d6ffa;
    border-color: #3d6ffa
}

.btn-rect:hover {
    color: #fff;
    background: #3d6ffa
}

.btn-rect.dotted:hover {
    border-color: #3d6ffa;
    color: #3d6ffa
}

.list-btn-banner>a {
    margin: 0 3px
}

.owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #3d6ffa
}

.banner-info.adv-info-style1 .shopnow:hover,
.title-tab1 .list-none li.active a,
.title-tab1 .list-none li:hover a {
    color: #3d6ffa
}

.product-extra-link>a:hover {
    background-color: #3d6ffa
}

.btn-product-loadmore:hover {
    color: #fff;
    border-color: #3d6ffa;
    background: #3d6ffa
}

.newsletter-form form input[type=submit]:hover,
.post-thumb-zoom:hover,
.radius.scroll-top:hover {
    background: #3d6ffa
}

.social-footer>a:hover {
    color: #fff;
    background: #3d6ffa;
    border-color: #3d6ffa
}

.download-link a:hover {
    color: #3d6ffa
}

.btn-link-default:hover,
.newsletter-footer input[type=submit]:hover {
    background-color: #3d6ffa
}

.ui-slider-handle.ui-state-default.ui-corner-all {
    border: 2px solid #3d6ffa
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background: #3d6ffa
}

.product-gallery a.bx-next:hover,
.product-gallery a.bx-prev:hover {
    color: #3d6ffa
}

.btn-reset-form:hover,
.btn-submit-form:hover {
    background: #3d6ffa;
    border-color: #3d6ffa
}

.tagcloud>a:hover {
    border-color: #3d6ffa
}

.comment-author a:hover,
.comment-reply,
.content-single .post-info .share-social a:hover,
.content-single .post-info a:hover,
.control-post .next-post:hover,
.control-post .prev-post:hover,
.item-post-gallery h3 a:hover,
.item-service2:hover .service-info p,
.item-service2:hover .service-info p a,
.list-post-tags a:hover,
.main-nav>ul>li:hover>a,
.post-title a:hover {
    color: #3d6ffa
}

#slider-range-price,
#slider-range-price .ui-slider-handle.ui-state-default.ui-corner-all {
    background: #3d6ffa
}

.owl-theme.arrow-style3 .owl-controls .owl-buttons div::after,
.top-right.box-meta3>ul>li:hover>a {
    color: #3d6ffa
}

.top-header.top-header5 {
    background: #3d6ffa
}

.item-product-masonry .product-title a:hover,
.title-box5 .list-none li.active a {
    color: #3d6ffa
}

.banner-info.adv-info-style2 .title30,
.slick-nav:hover {
    background: #3d6ffa
}

.deal-slider8 .owl-theme .owl-controls .owl-buttons div:hover,
.hotdeal-countdown.clock-countdown .number,
.top-right.box-meta8>ul>li:hover>a {
    color: #3d6ffa
}

.top-extra-deal li .btn-rect {
    background: #3d6ffa
}

.deal-palallax .time_circles>div>.number {
    color: #3d6ffa
}

.deal-palallax .time_circles>div {
    border: 1px solid #3d6ffa
}

.banner-slider11 .owl-theme .owl-controls .owl-page.active span {
    background: #3d6ffa
}

.banner-adv.item-adv11 .banner-info .color,
.nav-tabs-icon>ul>li.active>a {
    color: #3d6ffa
}

.nav-tabs-icon>ul>li.active>a::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    background: #3d6ffa
}

.percent-store,
.product-extra-link11>a.addcart-link:hover {
    background: #3d6ffa
}

.deal-control>ul>li>a.active {
    border-color: #3d6ffa
}

.item-latest-news.style2 .readmore:hover {
    background: #3d6ffa
}

.box-product-type.shadow-box {
    border-top: 5px solid #3d6ffa
}

.title16.title-box12 {
    border-bottom: 2px solid #3d6ffa
}

.item-product-deal12 .product-extra-link>a:hover {
    border-color: #3d6ffa
}

.inner-cat-hover-dir {
    background: rgba(255, 150, 119, .9)
}

.item-cat-hover-dir .btn-rect:hover,
.title-tab2>ul>li.active>a {
    color: #3d6ffa
}

.paginumber-slider .owl-theme .owl-controls .owl-page.active span {
    color: #fff;
    background: #3d6ffa;
    border-color: #3d6ffa
}

.paginumber-slider .owl-theme .owl-controls .owl-page:hover span {
    border-color: #3d6ffa
}

.owl-theme.arrow-style14 .owl-controls .owl-buttons div:hover,
.text-info-special .title60 span {
    color: #3d6ffa
}

.item-hotcat14 .hotcat-info .btn-rect:hover {
    background: #3d6ffa;
    color: #fff
}

.item-hotcat14 .hotcat-info .title18 a:hover,
.mail-box a:hover {
    color: #3d6ffa
}

.item-contact-box>a:hover {
    color: #fff;
    border-color: #3d6ffa;
    background-color: #3d6ffa
}

.footer-menu-box .list-none>li a:hover::before,
.footer-nav li a:hover::before {
    border-color: #3d6ffa;
    background-color: #3d6ffa
}

.footer-dark2 .footer-tags .list-inline>li a:hover {
    color: #3d6ffa
}

.menu-mega-banner .banner-info .shopnow:hover {
    color: #3d6ffa;
    border-color: #3d6ffa
}

@media (max-width:767px) {
    .main-nav>ul>li:hover>a {
        color: #3d6ffa!important
    }
}