@import url(./expandish/view/theme/welldone/font/ArabicFonts.css);
@import url(./expandish/view/theme/welldone/font/style.min.css);
@import url(./expandish/view/theme/welldone/vendor/waves/waves.min.css);
@import url(./expandish/view/theme/welldone/vendor/parallax-carousel/pcarousel.min.css);
@import url(./expandish/view/theme/welldone/css/custom-RTL.min.css);
:root {
  --MainColor: {{ MainColor }};
}
body,.logo ,.calendar table,.tp-caption--wd-1,.tp-caption--wd-2,.tp-caption--wd-3,.tp-caption--wd-4,
.tp-caption--wd-5 ,.tp-caption--wd-6 ,.tp-caption--wd-7,.tp-caption--wd-8,.banner--image__text h2,
.banner--image__text h3,.banner--image__text h5,.banner--image__text h6,h1,h2,h3,h4,h5,h6,.v-links-list li.icon 
 {
  font-family: {{ArabicFonts}}, sans-serif;
}

#loader,
#modalLoader ,.circle-loader{
  border-top-color: {{MainColor}};
}
.dropdown-wd ,.header__dropdowns-container .dropdown--wd ,.header__search__input:focus,
.header__dropdowns .dropdown-menu,.ul-row .li-col h4 ,.navbar-nav--vertical > li .dropdown-menu,
.dropdown-wd, .header__search__input:focus{
  border-bottom-color: {{MainColor}};
}
.logo div span ,.header--transparent .stuck .logo div span ,.icon-enable,.category-list li a:hover,
.header--semi-transparent .stuck .logo div span ,.navbar.navbar-wd .nav > li > a:hover ,.navbar.navbar-wd .nav .open > a,
.navbar.navbar-wd .nav .open > a:focus,.shopping-cart a:not(.btn):hover,.footer__column-links--variant2 .logo--footer span,
.navbar.navbar-wd .nav .open > a:hover ,a.custom-color,.custom-color,.post p a,.post__title a:hover,
.compare-box__header__toggle .icon:hover ,.compare-box__items__list__item__delete a:hover,
.filter-list li a.icon:hover ,.social-links--colorize .icon-mail:hover ,.shopping-cart-table [class^="icon-"]:hover,
.shopping-cart-table [class*=" icon-"]:hover,.slick-dots li.slick-active button:before ,
.review__comments a ,.addToCartDialog.ui-dialog .add-cart-icon i ,.footer__column-links--variant2 .logo--footer span, a.custom-color, .custom-color,
.icon-enable, .category-list li a:hover, .post p a, .post__title a:hover, .compare-box__header__toggle .icon:hover,
.compare-box__items__list__item__delete a:hover, .filter-list li a.icon:hover, .review__comments a,
.social-links--colorize .icon-mail:hover ,.my-account .links-list ul li.active a i,
.shopping-cart-table [class^="icon-"]:hover,.my-account .links-list .active a,
.shopping-cart-table [class*=" icon-"]:hover,.login--footer p a:hover,.my-account .links-list ul li a:hover i,
.slick-dots li.slick-active button:before,.my-account .user__name,.my-account .user__avatar span{
  color: {{MainColor}};
}
.color-heart ,.color-heart:hover,.price-box__new{
  color: {{SecondaryColor}};
}
.badge.badge--menu ,.badge.badge--squared ,.banner--icon,
.post--fill ,.btn--round:hover,.mark--color,.btn--round,
.btn--round:active,.btn--wd,.radio input:focus + .outer .inner,
.btn--round.focus,.radio .inner,.tag:hover,.footer,.tags-list li a:hover,
.btn--round:focus ,.filters-by-category ul li a:hover,.category .img-post .box-time .label-date,
.blog-categories .caption h4 span,
.filters-by-category ul li a.selected ,.mark--color, .badge.badge--squared, .banner--icon, .post--fill,
.btn--wd:hover,.btn--wd:active,.btn--wd.focus,.btn--wd:focus,.btn--round ,.btn--round:hover,
.btn--round:active,.btn--round.focus,.btn--round:focus, .input-group__bar:before,
.input-group__bar:after, input[type=checkbox]:checked ~ label .box, .radio input:focus + .outer .inner , .radio .inner,
.tag:hover , .tags-list li a:hover, .hint, .hint:hover .tool , .hint:hover .tool .tip,
.review__helpful a:hover, .tgl.checked + .tgl-btn,
.tparrows.default.tp-leftarrow .tp-arr-allwrapper::before,
.tparrows.default.tp-leftarrow .tp-arr-allwrapper::after,
.tparrows.default.tp-rightarrow .tp-arr-allwrapper::before,
.tparrows.default.tp-rightarrow .tp-arr-allwrapper::after,
.animated-arrows .slick-prev .icon-wrap::before,
.animated-arrows .slick-prev .icon-wrap::after,.login--header,
.login--footer button,.my-account__form-info input[type=checkbox]:checked:before,
.animated-arrows .slick-next .icon-wrap::before,.commentForm button,.bg-color,
.commentForm button:hover,.my-account .links-list .active,.bg-color:hover , .bg-color:focus , .bg-color:active, .bg-color[disabled],
.animated-arrows .slick-next .icon-wrap::after ,.post-related .img-post .label-date{
  background-color: {{MainColor}};
}
body.boxed { background:{{templatesettings.layout['BoxedBG']}}  }
.hint:hover .tool .tip ,input[type=checkbox]:checked ~ label .box ,.btn--wd:hover,
.btn--wd:active,.btn--wd.focus,.input-group__bar:before,.review__helpful a:hover,
.tgl.checked + .tgl-btn,.animated-arrows .slick-prev .icon-wrap::before,
.animated-arrows .slick-prev .icon-wrap::after,
.animated-arrows .slick-next .icon-wrap::before,
.animated-arrows .slick-next .icon-wrap::after,.tparrows.default.tp-leftarrow .tp-arr-allwrapper::before,
.tparrows.default.tp-leftarrow .tp-arr-allwrapper::after,
.tparrows.default.tp-rightarrow .tp-arr-allwrapper::before,
.tparrows.default.tp-rightarrow .tp-arr-allwrapper::after,.addToCartDialog.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:last-child,
.input-group__bar:after,.hint,.hint:hover .tool ,.hint:hover .tool .tip
.btn--wd:focus{
  background: {{MainColor}};
}
.tags-list li a:hover,.tag:hover,.compare-box__items__list__item:hover,
input[type=checkbox]:checked ~ label .box ,.radio input:checked + .outer ,.hint__dot
 ,.compare-box__items__list__item:hover, input[type=checkbox]:checked ~ label .box,
.radio input:checked + .outer, .tag:hover,.tags-list li a:hover, .hint__dot,.commentForm button,
.commentForm button:hover,.my-account__form-info input[type=checkbox]:before  , .my-account__form-info input[type=checkbox]:before,
.login--popup .modal-body .form-wrap input:focus{
  border-color: {{MainColor}};
}
blockquote.blockquote--wd p ,.post--status ,blockquote.blockquote--wd p,
.post--status ,blockquote.blockquote--wd p{
  border-left-color: {{MainColor}};
}
.input--line {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, {{MainColor}} 4%);
}
.addToCartDialog.ui-dialog .add-cart-icon{
  border: 2px solid {{MainColor}};
}
.my-account .links-list ul li a:hover svg path,.my-account .links-list ul li.active a svg path{
  fill: {{MainColor}};
}
.my-account .links-list .active{
  border-right: 4px solid {{MainColor}};
}
/*=============================================
=            Section start all media            =
=============================================*/
@media (max-width: 991px){
  .my-account .links-list .active{
    background-color: {{MainColor}};
  }
}
@media (min-width: 768px) {
  .header__dropdowns .dropdown-menu, .navbar.navbar-wd .dropdown-menu, .ul-row .li-col h4,
  .navbar-nav--vertical > li .dropdown-menu {
    border-bottom-color: {{MainColor}};
  }
  .navbar.navbar-wd .nav > li > a:hover,
  .navbar.navbar-wd .nav .open > a,.row-menu ul li > a:hover,
  .row-menu ul li:hover a,.navbar.navbar-wd .nav .open > a:focus,
  .navbar.navbar-wd .nav .open > a:hover,.shopping-cart a:not(.btn):hover ,.header--only-logo .logo span,
  .logo div span,.header--transparent .stuck .logo div span,.header--semi-transparent .stuck .logo div span{
    color: {{MainColor}};
  }
  .navbar-nav--vertical > li > a .badge ,#slidemenu .navbar-nav > li a .badge {
    background-color: {{MainColor}};
  }
}
/*=====  End of Section start all media  ======*/