html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
body {
  background-color: #665464;
  background-image: url("../image/default/bg-body.png");
  background-position: top center;
  background-repeat: no-repeat;
  color: #333333;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
}
body {
  position: relative;
}
#page {
  position: relative;
}
.fs9 {
  font-size: 10px;
}
.fs10 {
  font-size: 11px;
}
.fs11 {
  font-size: 12px;
}
.fs12 {
  font-size: 13px;
}
.fs13 {
  font-size: 14px;
}
.fs14 {
  font-size: 15px;
}
.fs15 {
  font-size: 16px;
}
.fs16 {
  font-size: 17px;
}
.welcome {
  color: #636E75;
  font: Verdana;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0,0,0,0.01);
}
a {
  cursor: hand;
  cursor: pointer;
}
a img {
  border: none;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
table.list {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 20px;
}
table.list thead td {
  background-color: transparent;
  padding: 0px 5px;
}
table.list .center {
  text-align: center;
  padding: 7px;
}
table.list tbody td {
  padding: 0px 5px;
}
table.list td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table.list .right {
  text-align: right;
  padding: 7px;
}
table.list .left {
  text-align: left;
  padding: 7px;
}
table.list thead td a,
.list thead td {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}
input.large-field,
select.large-field {
  width: 300px;
}
table.form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.form > * > * > td {
  color: #000000;
}
table.form td {
  padding: 4px;
}
table.form tr td:first-child {
  width: 150px;
}
table.radio {
  width: 100%;
  border-collapse: collapse;
}
table.radio td {
  padding: 5px;
}
table.radio td label {
  display: block;
}
table.radio tr td:first-child {
  width: 1px;
}
table.radio tr td:first-child input {
  margin-top: 1px;
}
table.radio tr.highlight:hover td {
  background: #F1FFDD;
  cursor: pointer;
}
.pagination {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 15px 30px;
  display: inline-block;
  width: 100%;
  margin: 0px;
  background-color: #FFFFFF;
}
.pagination .links {
  float: left;
}
.pagination .links a,
.pagination .links b {
  border: 1px solid #ddd;
}
.pagination .links a {
  display: inline-block;
  border-left-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  text-decoration: none;
  color: #A3A3A3;
}
.pagination .links a:hover {
  background-color: #4E4C4E;
  color: #fff;
}
.pagination .links b {
  display: inline-block;
  border-left-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  background-color: #4E4C4E;
}
.pagination .results {
  float: right;
  padding-top: 3px;
}
input.button {
  margin: 0;
  border: 0;
  min-height: 30px;
  padding: 0px 12px 0px 12px;
}
a.button,
input.button {
  cursor: pointer;
  color: #FFFFFF;
  background: #F07279;
  text-transform: uppercase;
  font-size: 12px;
}
a.button:hover,
input.button:hover {
  background-position: 0px -24px;
}
a.button {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px 6px 12px;
}
.buttons {
  background: #FFFFFF;
  border: 1px solid #CCC;
  overflow: auto;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.buttons .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.buttons .right {
  float: right;
  text-align: right;
}
.buttons .left {
  float: left;
  text-align: left;
}
.htabs {
  min-height: 30px;
  line-height: 16px;
  background-color: #F7F6F7;
}
.htabs a {
  padding: 15px 25px;
  float: left;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #9C7D98;
  display: none;
}
.htabs a.selected {
  background: #92778F;
  color: #FFFFFF;
}
.tabs-group .tab-content {
  padding: 20px;
}
.tab-content {
  background-color: #FFFFFF;
  margin-bottom: 20px;
  z-index: 2;
}
ul.links {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 6px;
}
ul.links li {
  display: inline;
  margin-right: 2px;
}
ul.links li:first-child:before {
  content: "";
  margin-left: 0;
}
ul.links li:before {
  font-size: 11px;
  margin-right: 6px;
}
ul.links li a span {
  margin-right: 10px;
}
.required {
  color: #FF0000;
  font-weight: bold;
}
.success,
.warning,
.attention,
.information {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  color: #555555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.success .close,
.warning .close,
.attention .close,
.information .close {
  float: right;
  padding-top: 4px;
  padding-right: 4px;
  cursor: pointer;
}
.attention {
  background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
  border: 1px solid #F2DD8C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.warning {
  background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
  border: 1px solid #F8ACAC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.help {
  color: #999;
  font-size: 10px;
  font-weight: normal;
  font-family: 13px;
  display: block;
}
.error {
  display: block;
  color: #FF0000;
}
.welcome {
  color: #636E75;
  font: 13px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0,0,0,0.01);
}
.success {
  background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
  border: 1px solid #BBDF8D;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
h1 {
  font-size: 26px;
  line-height: 48px;
}
h1 small {
  font-size: 19.5px;
}
h2 {
  font-size: 19.5px;
}
h2 small {
  font-size: 13px;
}
h3 {
  font-size: 16px;
  line-height: 32px;
}
h3 small {
  font-size: 15px;
}
h4 {
  font-size: 15px;
  line-height: 32px;
}
h4 small {
  font-size: 13px;
}
h5 {
  font-size: 14px;
  line-height: 32px;
}
h5 small {
  font-size: 11px;
}
h6 {
  font-size: 13px;
  line-height: 32px;
}
form {
  padding: 0;
  margin: 0;
  display: inline;
}
input[type='text'],
input[type='password'],
textarea {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.btn-default {
  background-color: #A1859E;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.container {
  padding: 0px;
}
#topbar {
  color: #999999;
  font-size: 12px;
  padding: 20px 0;
}
#topbar ul li a {
  font-size: 12px;
  color: #0064cd;
  background-color: blue;
  padding: 7px 10px;
}
#topbar ul li:before {
  color: #3497ff;
}
#topbar ul li:hover a {
  color: #eeeeee;
}
#header-main .header-wrap {
  max-height: 81px;
  margin: 0;
  background-color: #FFFFFF;
}
#header-main .inner {
  display: table;
  position: relative;
  height: 100%;
}
#header-main .inner > * {
  display: table-cell;
  vertical-align: middle;
}
#logo {
  padding: 16px 0px;
}
.navbar-header {
  float: right;
}
.navbar-inverse {
  background-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
}
.navbar-nav {
  float: right;
}
.navbar-inverse {
  margin-bottom: 0px;
}
.navbar-inverse .navbar-nav li a {
  color: #9C7898;
  font-size: 13.52px;
  text-transform: uppercase;
  padding: 30px 20px;
  border-top: 3px solid #fff;
}
.navbar-inverse .navbar-nav li a:hover {
  color: #F07279;
  border-top: 3px solid #F07279;
}
.navbar-inverse .navbar-nav li a:focus {
  color: #F07279;
}
.navbar-inverse .navbar-nav .open a {
  border-top: 3px solid #F07279;
  background-color: #FFFFFF;
  color: #9C7898;
}
.navbar-inverse .navbar-nav .open a:hover {
  border-top: 3px solid #F07279;
  background-color: #FFFFFF;
  color: #9C7898;
}
.navbar-inverse .navbar-nav .open a:focus {
  border-top: 3px solid #F07279;
  background-color: #FFFFFF;
  color: #9C7898;
}
.content-product #content {
  background-color: transparent;
  padding: 0px;
}
#content {
  min-height: 400px;
  background-color: #FFFFFF;
  padding: 20px;
}
#content h1 {
  margin-top: 0px;
}
#content_product {
  background: #FFFFFF;
}
.sidebar  [class*="col-"] {
  width: 100%;
}
#footer {
  background: none;
  min-height: 100px;
  border-top: 1px solid darker(none,20%);
  border-bottom: 1px solid darker(none,20%);
  color: #A1A5AB;
}
#footer:before,
#footer:after {
  content: " ";
  display: table;
}
#footer:after {
  clear: both;
}
#footer .box .box-heading {
  background: none;
  border: none;
  color: #E8E6E8;
  font-size: 15.6px;
  padding: 8px 0px;
  margin-bottom: 20px;
}
#footer .box .box-content {
  background: none;
  border: none;
}
#footer .footer-center .container {
  background-color: #352D35;
  padding: 30px 30px;
}
#footer .footer-bottom {
  margin-bottom: 50px;
}
#footer .footer-bottom .box {
  margin-bottom: 0px;
}
#footer .footer-bottom .box p {
  margin: 0px;
}
#footer h3 {
  color: #E8E6E8;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 8px;
}
#footer .column a {
  text-decoration: none;
  color: #A1A5AB;
}
#footer .column ul {
  margin-top: 0px;
}
#footer .column ul li {
  margin-bottom: 3px;
}
#footer .column a:hover {
  text-decoration: underline;
  color: inherit;
}
.footer-center .list {
  padding: 0px;
}
.footer-center .list li {
  list-style: disc inside url('../image/default/icon-style-li.png');
  line-height: 2.2857142864;
}
.footer-center .list li a {
  color: #A1A5AB;
  font-size: 13.65px;
}
.footer-bottom .box-content {
  font-size: 14.3px;
}
.footer-bottom .box-content span {
  color: #E56970;
}
.footer-bottom .box-content ul {
  float: right;
}
.footer-bottom .box-content ul li {
  float: left;
  margin-left: 20px;
}
.footer-bottom-wrap {
  background-color: #E4E1E4;
  padding: 25px 30px 22px;
}
.contact-us ul {
  padding: 0px;
}
.contact-us ul li {
  line-height: 2.857142858;
  list-style: none;
}
.newsletter p {
  margin-top: 10px;
}
.newsletter input[type="text"] {
  border: none;
  width: 100%;
  padding: 7px;
}
.social a {
  margin-right: 15px;
}
#powered {
  margin-bottom: 35px;
  text-align: right;
  clear: both;
  color: #999999;
}
#powered .container {
  background: #E4E1E4;
  padding: 20px 30px;
}
#powered .container a {
  color: #E56970;
}
.banner div {
  text-align: center;
  width: 100%;
  display: none;
}
.banner div img {
  margin-bottom: 20px;
}
.box {
  margin-bottom: 20px;
}
.box .box-heading {
  padding: 8px 10px 7px 10px;
  font-family: 'Lato', sans-serif;
  font-size: ;
  font-weight: bold;
  line-height: 14px;
  color: #333;
}
.box .box-content {
  padding: 0px;
}
.box .box-content li {
  list-style: none;
}
.box.highlighted .box-heading,
.box.orange .box-heading,
.box.dark .box-heading,
.box.green .box-heading,
.box.maroon .box-heading,
.box.blue .box-heading,
.box.gray .box-heading,
.box.pink .box-heading,
.box.red .box-heading {
  border-bottom: 1px dashed #FFFFFF;
  color: #FFFFFF;
}
.box.orange .box-heading {
  background: #fbb450;
}
.box.orange .box-content {
  background: #f89406;
}
.box.orange li {
  border-top-color: #fbb450;
}
.box.orange a {
  color: #B66B00;
}
.box.orange a:hover {
  color: #6F4100;
}
.box.dark {
  background: #000000;
}
.box.dark a {
  color: #777;
}
.box.dark a:hover {
  color: #888;
}
.box.green {
  background: #46a546;
}
.box.green a {
  color: #63E063;
}
.box.green a:hover {
  color: #43F043;
}
.box.maroon {
  background: #F35D34;
}
.box.maroon a {
  color: #B4300D;
}
.box.maroon a:hover {
  color: #C93F19;
}
.box.blue {
  background: #049cdb;
}
.box.blue a {
  color: #47C9FF;
}
.box.blue a:hover {
  color: #0073A3;
}
.box.gray {
  background: #555555;
}
.box.gray a {
  color: #999;
}
.box.gray a:hover {
  color: #777;
}
.box.pink {
  background: #c3325f;
}
.box.pink a {
  color: #FF5C8F;
}
.box.pink a:hover {
  color: #FA2E6E;
}
.box.red {
  background: #9d261d;
}
.box.red a {
  color: #EE4538;
}
.box.red a:hover {
  color: #DA3F33;
}
.sidebar .box .box-heading {
  background-color: #F07279;
  font-size: 19.5px;
  color: #FFFFFF;
  background-image: url(../image/box-heading.png);
  background-repeat: no-repeat;
  background-position: 15px 16px;
  padding: 15px 5px 15px 40px;
}
.sidebar .box .box-content {
  background-color: #FFFFFF;
}
.partners {
  background-color: #E6E4E6;
  text-align: center;
  padding: 40px 0px 48px;
  margin-bottom: 0px;
}
.partners .box-heading {
  font-size: 22pt;
  background-image: url('../image/tit-partners.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 45px;
  font-weight: lighter;
}
.partners .links li {
  margin: 0px 8px;
}
.partners .links li img {
  box-shadow: 0px 0px 2px #ccc;
}
.link {
  padding: 0px;
}
.link li {
  display: inline;
  margin-right: 15px;
}
.link li img {
  max-width: 378px;
}
.link li:last-child {
  margin-right: 0px;
}
.link li html>body:last-child {
  margin-right: 0px;
}
#language {
  color: #555555;
  line-height: 10px;
}
#language img {
  cursor: pointer;
  margin-right: 5px;
}
#currency {
  background-color: blue;
  color: #555555;
  line-height: 10px;
  padding: 6px 10px 5px;
}
#currency a {
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid #555555;
  color: #0064cd;
  text-decoration: none;
  margin-right: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}
#currency a:hover {
  border-color: #999999;
  color: #eeeeee;
}
#currency a b {
  color: #eeeeee;
  text-decoration: none;
}
.login {
  background-color: blue;
  padding: 6px 15px 6px;
  margin: 0px 0px 0px 5px;
  color: #0064cd;
}
#header #cart {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
}
#header #cart .content {
  clear: both;
  display: none;
  position: relative;
  top: 0px;
  padding: 8px;
  min-height: 150px;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 2px 2px #eeeeee;
  box-shadow: 0px 2px 2px #eeeeee;
  background: #FFFFFF;
}
#header #cart .heading {
  float: right;
  margin-right: 0px;
  position: relative;
  z-index: 1;
  background-color: #EE8B92;
  background-image: url(../image/cart.png);
  background-position: center 15px;
  background-repeat: no-repeat;
  padding: 50px 5px 11px;
  min-height: 81px;
}
#header #cart .heading a {
  text-decoration: none;
}
#header #cart .heading a span {
  background: url('../image/arrow-down.png') 100% 50% no-repeat;
  padding-right: 15px;
  color: #FFFFFF;
}
#header #cart .heading h4 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 3px;
}
#header #cart.active .content {
  display: block;
}
#header #cart.active .heading {
  padding: 50px 5px 11px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
#header #cart .checkout {
  text-align: right;
  clear: both;
}
#header #cart .empty {
  padding-top: 50px;
  text-align: center;
}
.mini-cart-total {
  text-align: right;
}
.mini-cart-total td {
  color: #000;
  padding: 4px;
}
.mini-cart-total table {
  border-collapse: collapse;
  display: inline-block;
  margin-bottom: 5px;
}
.mini-cart-info .quantity {
  text-align: right;
}
.mini-cart-info .name small {
  color: #666;
}
.mini-cart-info td {
  color: #000;
  vertical-align: top;
  padding: 10px 5px;
  border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}
.mini-cart-info .image {
  width: 1px;
}
.mini-cart-info .image img {
  border: 1px solid #EEEEEE;
  text-align: left;
}
.mini-cart-info .remove {
  text-align: right;
}
.mini-cart-info .remove img {
  cursor: pointer;
}
.mini-cart-info td.total {
  text-align: right;
}
#search {
  width: 200px;
}
#search .button-search {
  background: #5A4A58 url(../image/button-search.png) no-repeat center center;
  width: 35px;
  height: 15px;
  float: right;
  height: 27px;
  width: 20%;
}
#search input[type="text"] {
  background-color: #5A4A58;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #928190;
  padding: 6px;
  width: 80%;
}
.box-product {
  margin: 0px;
}
.nav-tabs {
  border-bottom: none;
  background-color: #F7F6F7;
}
.nav-tabs li {
  margin-bottom: 0px;
}
.nav-tabs li a {
  font-size: 13pt;
  color: #9C7D98;
  padding: 10px 30px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  margin-right: 0px;
  border: none;
}
.nav-tabs li.active a {
  color: #FFFFFF;
  border: none;
  background-color: #92778F;
}
.nav-tabs li.active a {
  background-color: none;
  border: none;
  color: #fff;
}
.nav-tabs li.active a:hover {
  background-color: none;
  border: none;
  color: #fff;
}
.nav-tabs li.active a:focus {
  background-color: none;
  border: none;
  color: #fff;
}
.producttabs .product-block {
  max-width: 228px;
}
.product-block {
  position: relative;
  float: left;
  padding: 0px;
  border-right: 1px solid #F4F4F4;
}
.product-block:last-child {
  border-right: none;
}
.product-block:nth-child(2n+2) {
  background-color: #fcfcfc;
}
.product-block .compare a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding-left: 18px;
  display: block;
  background: url('../image/add.png') left center no-repeat;
}
.product-block .wishlist a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding-left: 18px;
  display: block;
  background: url('../image/add.png') left center no-repeat;
}
.product-block a:hover {
  color: #0000b3;
}
.product-block .price-old {
  color: #555555;
  text-decoration: line-through;
}
.product-block .rating {
  display: block;
  margin-bottom: 4px;
}
.product-block .price-new {
  font-weight: bold;
}
.product-block .name a {
  color: #3D3D3D;
  font-size: 16.25px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  margin-bottom: 4px;
}
.product-block .image {
  display: block;
  margin-bottom: 0px;
  position: relative;
  text-align: center;
}
.product-block .image img {
  min-height: 160px;
}
.product-block .image .product-label-special {
  position: absolute;
  top: 6px;
  right: 6px;
  background: #D9534F;
  z-index: 10;
}
.product-block .image .product-zoom {
  position: absolute;
  bottom: 6px;
  right: 6px;
  display: none;
  z-index: 10;
}
.product-block .image:hover .product-zoom {
  display: block;
}
.product-block .price {
  display: block;
  font-weight: normal;
  color: #F2797F;
  margin: 6px 0px 10px;
  font-size: 16.25px;
}
.product-block .price .price-tax {
  display: none;
}
.cart {
  margin-bottom: 3px;
}
.cart input.button {
  background-color: #555255;
  background-image: url(../image/default/cart.png);
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding: 5px 20px 5px 45px;
  min-height: 30px;
  font-size: 13.65px;
  box-shadow: none;
  text-transform: none;
}
.product-inner {
  padding: 25px 20px;
}
.sidebar .product-block .image {
  float: left;
  margin-right: 12px;
  width: 100%;
}
.sidebar .product-block .wishlist,
.sidebar .product-block .compare {
  display: none;
}
.sidebar .product-block .description {
  display: none;
}
.special .product-block {
  padding: 30px 25px;
}
#breadcrumb .breadcrumb {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: rgba(148,126,146,0.8);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#80947E92',EndColorStr='#80947E92q');
  padding: 13px 20px;
  max-width: 1170px;
  margin: 0px auto 20px;
}
#breadcrumb .breadcrumb li a {
  color: #FFFFFF;
}
#breadcrumb .breadcrumb li:last-child a {
  color: #E56970;
}
#breadcrumb .breadcrumb li +li:before {
  content: "> ";
}
ul.box-category,
ul.box-category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .box-content ul {
  padding: 0px;
}
.sidebar .box-content ul li {
  background: url(../image/icon-category.png) no-repeat 15px 17px;
  padding: 10px 15px 10px 30px;
}
.sidebar .box-content ul li +li {
  border-top: 1px dashed #EEEEEE;
}
ul.box-category > li {
  padding: 8px 8px 8px 0px;
}
ul.box-category > li + li {
  border-top: 1px dashed #eeeeee;
}
ul.box-category > li ul {
  display: none;
}
ul.box-category > li ul > li {
  padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
  text-decoration: none;
  display: block;
}
ul.box-category > li ul > li > a.active {
  font-weight: bold;
}
ul.box-category > li > a {
  text-decoration: none;
  color: #333;
}
ul.box-category > li a.active {
  font-weight: bold;
}
ul.box-category > li a.active + ul {
  display: block;
}
ul.box-filter,
ul.box-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.box-filter > li ul {
  padding-bottom: 10px;
}
ul.box-filter span {
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 8px;
}
#colorbox *:before,
#colorbox *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.zoomContainer .zoomLens {
  border-color: #999999 !important;
}
.zoomContainer .zoomWindow {
  border: 4px solid #eeeeee !important;
}
#scrollUp {
  bottom: 0px;
  right: 30px;
  width: 70px;
  height: 70px;
  margin-bottom: -10px;
  padding: 10px 5px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  color: #828282;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  background-color: #E6E6E6;
  background-image: -moz-linear-gradient(top,#EBEBEB,#DEDEDE);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#EBEBEB),to(#DEDEDE));
  background-image: -webkit-linear-gradient(top,#EBEBEB,#DEDEDE);
  background-image: -o-linear-gradient(top,#EBEBEB,#DEDEDE);
  background-image: linear-gradient(to bottom,#EBEBEB,#DEDEDE);
  background-repeat: repeat-x;
  -webkit-transition: margin-bottom 150ms linear;
  -moz-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear;
}
#scrollUp:hover {
  margin-bottom: 0px;
}
.category-list {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px;
}
.category-list h4 {
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}
.category-list ul {
  float: left;
  padding: 5px 0px 0px;
  list-style: disc outside none;
  padding-left: 15px;
}
.category-list ul li {
  line-height: 25px;
}
.category-list ul li a {
  color: #000000;
}
.category-info {
  background: #FFFFFF;
  margin-bottom: 20px;
}
.category-info p {
  margin: 0px;
  padding: 15px;
}
.manufacturer-heading {
  background: #F8F8F8;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 8px;
  margin-bottom: 6px;
}
.manufacturer-list {
  border: 1px solid #DBDEE1;
  padding: 5px;
  margin-bottom: 20px;
}
.manufacturer-list ul {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}
.manufacturer-content {
  padding: 8px;
  overflow: auto;
}
.product-filter span {
  margin-right: 10px;
  color: #FFFFFF;
}
.product-filter {
  padding: 8px 15px;
  background: #92778F;
}
.product-filter .sort {
  float: right;
  color: #333;
}
.product-filter .sort select {
  padding: 5px 10px;
}
.product-filter .limit {
  margin: 0px 15px;
  float: right;
  color: #333;
}
.product-filter .limit select {
  padding: 5px 10px;
}
.product-filter .display {
  margin-right: 15px;
  float: left;
  color: #333;
  padding: 5px 0px;
}
.product-filter .display a > span {
  margin: 0 3px;
}
.product-filter .display a > em {
  display: none;
}
.product-filter .display a.active {
  color: red;
}
.product-compare {
  float: right;
  font-weight: bold;
  background: #FFFFFF;
  padding: 5px 10px;
}
.product-compare a {
  text-decoration: none;
  font-weight: normal;
}
.product-list .product-block {
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
  padding: 10px;
}
.product-list {
  background-color: #FFFFFF;
}
.product-list .col-fullwidth {
  width: 100%;
}
.product-list .compare a {
  color: #333333;
  text-decoration: none;
  padding-left: 18px;
  display: block;
  background: url('../image/add.png') left 60% no-repeat;
}
.product-list .wishlist a {
  color: #333333;
  text-decoration: none;
  padding-left: 18px;
  display: block;
  background: url('../image/add.png') left center no-repeat;
}
.product-list .price-old {
  color: #F00;
  text-decoration: line-through;
}
.product-list .rating {
  color: #7B7B7B;
}
.product-list .cart {
  margin-bottom: 3px;
}
.product-list .price-tax {
  font-size: 12px;
  font-weight: normal;
  color: #BBBBBB;
}
.product-list .price-new {
  font-weight: bold;
}
.product-list .name {
  margin: 0px;
}
.product-list .name a {
  color: #38B0E3;
  font-weight: bold;
  text-decoration: none;
}
.product-list .image {
  float: left;
  margin-right: 10px;
}
.product-list .price {
  margin-left: 8px;
  color: #333333;
  font-size: 12px;
}
.product-list .description {
  line-height: 15px;
  margin-bottom: 5px;
  color: #4D4D4D;
}
.product-list .right {
  float: right;
  margin-left: 15px;
}
.product-list > div + div {
  border-top: 1px solid #EEEEEE;
  padding-top: 16px;
}
.product-list .wishlist,
.product-list .compare {
  margin-bottom: 3px;
}
.product-grid {
  position: relative;
  background-color: #FFFFFF;
}
.product-grid .description {
  display: none;
}
.product-grid .col-product {
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  padding: 20px;
}
.product-grid .col-product:nth-child(2n+2) {
  background-color: #FCFCFC;
}
.products-block {
  padding: 0px 15px;
}
.product-grid .wishlist,
.product-grid .compare {
  margin-bottom: 3px;
}
.product-info {
  background: #FFFFFF;
  margin-bottom: 20px;
  padding: 20px;
}
.product-info h1 {
  padding: 0px;
  margin: 0px;
}
.product-info .price-old {
  color: #F00;
  text-decoration: line-through;
}
.product-info .cart {
  border-bottom: 1px solid #E7E7E7;
  padding: 0px 5px 10px 5px;
  margin-bottom: 20px;
  color: #4D4D4D;
}
.product-info .cart .minimum {
  padding-top: 5px;
  font-size: 11px;
  color: #999;
}
.product-info .cart .links {
  display: inline-block;
  vertical-align: middle;
}
.product-info .cart div > span {
  color: #999;
}
.product-info .price-tax {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.product-info > .left {
  float: left;
  margin-right: 15px;
}
.product-info > .left + .right {
  margin-left: 265px;
}
.product-info .image {
  border: 1px solid #E7E7E7;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
.product-info .price {
  padding: 0px 5px 10px 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
.product-info .price .reward {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.product-info .price .discount {
  font-weight: normal;
  font-size: 12px;
  color: #4D4D4D;
}
.product-info .description {
  padding: 5px 5px 10px 5px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #4D4D4D;
}
.product-info .description a {
  color: #4D4D4D;
  text-decoration: none;
}
.product-info .description span {
  color: #38B0E3;
}
.product-info .image-additional {
  width: 270px;
  clear: both;
  overflow: hidden;
}
.product-info .image-additional a {
  float: left;
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}
.product-info .image-additional img {
  border: 1px solid #E7E7E7;
}
.product-info .option-image {
  margin-top: 3px;
  margin-bottom: 10px;
}
.product-info .option-image label {
  display: block;
  width: 100%;
  height: 100%;
}
.product-info .option-image img {
  margin-right: 5px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}
.product-info .options {
  border-bottom: 1px solid #E7E7E7;
  padding: 0px 5px 10px 5px;
  margin-bottom: 10px;
  color: #000000;
}
.product-info .review {
  color: #4D4D4D;
  margin-bottom: 10px;
}
.product-info .review .share {
  line-height: normal;
}
.product-info .review .share a {
  text-decoration: none;
}
.product-info .review > div {
  padding: 8px;
  line-height: 20px;
}
.product-info .review > div > span {
  color: #38B0E3;
}
.review-list {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #EEEEEE;
}
.review-list .rating {
  float: right;
  margin-bottom: 20px;
}
.review-list .author {
  float: left;
  margin-bottom: 20px;
}
.review-list .text {
  clear: both;
}
.attribute thead td,
.attribute thead tr td:first-child {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #F7F7F7;
  text-align: left;
}
.attribute {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 20px;
}
.attribute td {
  padding: 7px;
  color: #4D4D4D;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.attribute tr td:first-child {
  color: #000000;
  font-weight: bold;
  text-align: right;
  width: 20%;
}
.compare-info {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 20px;
}
.compare-info .price-old {
  font-weight: bold;
  color: #F00;
  text-decoration: line-through;
}
.compare-info .price-new {
  font-weight: bold;
}
.compare-info .name a {
  font-weight: bold;
}
.compare-info td {
  padding: 7px;
  width: 20%;
  color: #4D4D4D;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.compare-info tr td:first-child {
  color: #ddd;
  font-weight: bold;
  text-align: right;
}
.compare-info thead td,
.compare-info thead tr td:first-child {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #F7F7F7;
  text-align: left;
}
.wishlist-info tbody .quantity,
.wishlist-info tbody .price,
.wishlist-info tbody .total,
.wishlist-info tbody .action {
  text-align: right;
}
.wishlist-info thead .name,
.wishlist-info thead .model,
.wishlist-info thead .stock {
  text-align: left;
}
.wishlist-info thead .quantity,
.wishlist-info thead .price,
.wishlist-info thead .total,
.wishlist-info thead .action {
  text-align: right;
}
.wishlist-info tbody .name,
.wishlist-info tbody .model,
.wishlist-info tbody .stock {
  text-align: left;
}
.wishlist-info thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ddd;
}
.wishlist-info thead .image {
  text-align: center;
}
.wishlist-info tbody td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.wishlist-info tbody .action img {
  cursor: pointer;
}
.wishlist-info tbody .image {
  text-align: center;
}
.wishlist-info tbody .image img {
  border: 1px solid #ddd;
}
.wishlist-info tbody .price s {
  color: #F00;
}
.wishlist-info td {
  padding: 7px;
}
.wishlist-info table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 20px;
}
.order-list {
  margin-bottom: 10px;
}
.order-list .order-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.order-list .order-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
  float: left;
  width: 33.3%;
}
.order-list .order-info {
  text-align: right;
}
.order-list .order-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.order-detail {
  background: #EFEFEF;
  font-weight: bold;
}
.return-list {
  margin-bottom: 10px;
}
.return-list .return-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
  float: left;
  width: 33.3%;
}
.return-list .return-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.return-list .return-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.return-list .return-info {
  text-align: right;
}
.return-product {
  margin-bottom: 20px;
  clear: both;
  overflow: auto;
}
.return-name {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-model {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-quantity {
  float: left;
  width: 31%;
}
.return-detail {
  overflow: auto;
  margin-bottom: 20px;
}
.return-reason {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-opened {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-opened textarea {
  width: 98%;
  vertical-align: top;
}
.return-captcha {
  float: left;
}
.download-list {
  margin-bottom: 10px;
}
.download-list .download-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.download-list .download-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.download-list .download-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
  float: left;
  width: 33.3%;
}
.download-list .download-info {
  text-align: right;
}
.cart-module > div {
  display: none;
}
.cart-info tbody .name,
.cart-info tbody .model,
.cart-info tbody .quantity {
  text-align: left;
}
.cart-info thead .name,
.cart-info thead .model,
.cart-info thead .quantity {
  text-align: left;
}
.cart-info tbody .quantity input[type='image'],
.cart-info tbody .quantity img {
  position: relative;
  top: 4px;
  cursor: pointer;
}
.cart-info tbody .price,
.cart-info tbody .total {
  text-align: right;
}
.cart-info thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ddd;
}
.cart-info thead .image {
  text-align: center;
}
.cart-info tbody td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.cart-info tbody .image {
  text-align: center;
}
.cart-info tbody .image img {
  border: 1px solid #ddd;
}
.cart-info tbody span.stock {
  color: #F00;
  font-weight: bold;
}
.cart-info td {
  padding: 7px;
}
.cart-info table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.cart-total {
  border-top: 1px solid #ddd;
  overflow: auto;
  padding-top: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.cart-total td {
  padding: 3px;
  text-align: right;
}
.cart-total table {
  float: right;
}
.cart-info thead .price,
.cart-info thead .total {
  text-align: right;
}
.checkout-heading {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 8px;
  font-weight: bold;
  font-size: 1;
  color: #555555;
  margin-bottom: 15px;
}
.checkout-heading a {
  float: right;
  margin-top: 1px;
  font-weight: normal;
  text-decoration: none;
}
.checkout-content {
  padding: 0px 0px 15px 0px;
  display: none;
}
.checkout-content .buttons {
  clear: both;
}
.checkout-product tbody .name,
.checkout-product tbody .model {
  text-align: left;
}
.checkout-product thead .name,
.checkout-product thead .model {
  text-align: left;
}
.checkout-product thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ddd;
}
.checkout-product tfoot td {
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.checkout-product tbody td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.checkout-product td {
  padding: 7px;
}
.checkout-product table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 20px;
}
.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total {
  text-align: right;
}
.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total {
  text-align: right;
}
.sitemap-info {
  overflow: auto;
  margin-bottom: 40px;
}
.contact-info {
  overflow: auto;
}
.pav-megamenu .dropdown-menu {
  border: 1px solid #D9D9D9;
}
.pav-megamenu .dropdown-menu > .dropdown-menu-inner {
  padding: 10px;
}
.pav-megamenu .mega-group .caret {
  display: none;
}
.pav-megamenu .mega-group > .dropdown-toggle {
  display: block;
  font-weight: bold;
  padding: 6px 5px;
  text-transform: uppercase;
  border-bottom: solid 1px #E5E5E5;
}
.pav-megamenu .mega-group .dropdown-mega .mega-col-inner > ul > li a {
  margin-left: 6px;
  text-transform: none;
  padding: 5px 0px;
  border: none;
  line-height: 25px;
}
.pav-megamenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li {
  list-style: none;
  margin-left: 0;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li > a {
  clear: both;
  color: #555555;
  display: block;
  line-height: 25px;
  border: none;
  padding: 5px 0px;
  text-transform: none;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li > a:hover {
  border-top: none;
}
.pav-megamenu .dropdown-submenu:hover .dropdown-menu {
  display: block;
}
.pav-megamenu .dropdown-submenu > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
  left: 100%;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
}
.pav-megamenu .cols2 {
  width: 420px;
}
.pav-megamenu .cols3 {
  width: 620px;
}
.pav-megamenu .cols4 {
  width: 820px;
}
#mainmenutop .navbar-toggle {
  float: left;
}
#menu-offcanvas .menu-offcanvas-inner {
  padding: 12px;
}
#menu-offcanvas .dropdown .dropdown-menu {
  display: block;
  position: relative;
  float: none;
}
html,
body,
.offcanvas-container,
.offcanvas-pusher,
.offcanvas-content {
  min-height: 100%;
}
.offcanvas-content {
  overflow-y: scroll;
  background: #f3efe0;
}
.offcanvas-content,
.offcanvas-content-inner {
  position: relative;
}
.offcanvas-container {
  position: relative;
}
.offcanvas-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.offcanvas-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.offcanvas-menu-open .offcanvas-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.offcanvas-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #48a770;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.offcanvas-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.offcanvas-menu-open .offcanvas-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.offcanvas-menu ul {
  margin: 0;
  padding: 0;
  lioffcanvas-style: none;
}
.offcanvas-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
}
.offcanvas-menu ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}
.offcanvas-menu ul li:firoffcanvas-child a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}
.offcanvas-menu ul li a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: #fff;
}
.offcanvas-effect-1.offcanvas-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}
.offcanvas-effect-1.offcanvas-menu-open .offcanvas-effect-1.offcanvas-menu {
  visibility: visible;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.offcanvas-effect-1.offcanvas-menu::after {
  display: none;
}
.offcanvas-effect-2.offcanvas-menu-open .offcanvas-pusher {
  -webkit-transform: translate3d(300px,0,0);
  transform: translate3d(300px,0,0);
}
.offcanvas-effect-2.offcanvas-menu {
  z-index: 1;
}
.offcanvas-effect-2.offcanvas-menu-open .offcanvas-effect-2.offcanvas-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.offcanvas-effect-2.offcanvas-menu::after {
  display: none;
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
  -webkit-transform: translate3d(300px,0,0);
  transform: translate3d(300px,0,0);
}
.offcanvas-effect-3.offcanvas-menu {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-effect-3.offcanvas-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.offcanvas-effect-3.offcanvas-menu::after {
  display: none;
}
.offcanvas-effect-5.offcanvas-menu-open .offcanvas-pusher {
  -webkit-transform: translate3d(300px,0,0);
  transform: translate3d(300px,0,0);
}
.offcanvas-effect-5.offcanvas-menu {
  z-index: 1;
  -webkit-transform: translate3d(50%,0,0);
  transform: translate3d(50%,0,0);
}
.offcanvas-effect-5.offcanvas-menu-open .offcanvas-effect-5.offcanvas-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
@media (max-width: 768px) {
  #mainmenutop .navbar-nav {
    display: none;
  }
  .offcanvas-siderbars {
    position: relative;
  }
  .offcanvas-siderbars .offcanvas-sidebar {
    display: none;
    width: 100%;
  }
  .offcanvas-siderbars.column-left-active #oc-column-left {
    display: block;
  }
  .offcanvas-siderbars.column-right-active #oc-column-right {
    display: block;
  }
  .offcanvas-siderbars.column-left-active .main-column {
    display: none;
  }
  .offcanvas-siderbars.column-right-active .main-column {
    display: none;
  }
}
