<head><link href="view/template/meditor/styles.6b428a429c3f221f5e6f.bundle.css" rel="stylesheet"/></head><?php include_htmlcode($header, $footer, "  
<script>
  //document.write('<base href=\"' + document.location.href + '\" />');
  window['token'] = '$token';
  window['langcode'] = '$langcode';
  //alert(token);
</script>
", 0); ?> <?php include_cssfile($header, $footer, 'https://fonts.googleapis.com/icon?family=Material+Icons'); ?> <?php echo $header; ?> <app-root>Loading...</app-root> <?php echo $footer; ?> <script type="text/javascript" src="view/template/meditor/inline.37402bc5bee98cb10453.bundle.js"></script><script type="text/javascript" src="view/template/meditor/main.548b3c12d3c87a5b0009.bundle.js"></script>