
img, a { border: 0; }
#on {visibility:visible;}
#on1 {visibility:visible;}
#on2 {visibility:visible;}
#on3 {visibility:visible;}
#on4 {visibility:visible;}
#on5 {visibility:visible;}
#on6 {visibility:visible;}
#on7 {visibility:visible;}
#off {visibility:hidden;}
#off1 {visibility:hidden;}
#off2 {visibility:hidden;}
#off3 {visibility:hidden;}
#off4 {visibility:hidden;}
#off5 {visibility:hidden;}
#off6 {visibility:hidden;}
#off7 {visibility:hidden;}

#facebook_div {width:296px;height: 215px;overflow: hidden;}
#twitter_div {width:246px;height: 349px;overflow: hidden;}
#google_plus_div {width:317px;height: 108px;overflow: hidden;}
#pinterest_div {width:200px;height: 105px;overflow: hidden;}
#youtube_div {width:275px;height: 100px;overflow: hidden;}
#linkedin_div {width:125px;height: 97px;overflow: hidden;}
#instagram_div {width:166px;height: 49px;overflow: hidden;}
#whatsapp_div {width:166px;height: 49px;overflow: hidden;}

/* Right side style */
#facebook_right {z-index: 10006;border:2px solid #3c95d9;background-color: #fff;width:300px;height: 219px;position: fixed;right: -300px;}
#facebook_right img {position: absolute;top: -2px;left: -52px;}
#facebook_right iframe {border:0px solid #3c95d9;overflow: hidden;position: static;height: 219px;left:-2px;top:-3px;}
#twitter_right {z-index: 10005;border:2px solid #6CC5FF;background-color: #6CC5FF;width:250px;height: 353px;position: fixed;right: -250px;}
#twitter_right_img {position: absolute;top: -2px;left: -52px;border: 0;}
#google_plus_right {z-index: 10004;background-color: #222;border:2px solid #222;border-top:2px solid #222;border-bottom: 0;border-right:hidden;border-left: hidden;width:316px;height: 109px;position: fixed;right: -316px;}
#google_plus_right_img {position: absolute;top: -2px;left: -50px;border: 0;}
#pinterest_right {z-index: 10003;background-color: #fff;border:2px solid #c31c27;border-top:2px solid #c31c27;border-bottom:2px solid #c31c27;border-right:2px solid #c31c27;border-left:2px solid #c31c27;width:205px;height: 105px;position: fixed;right: -205px;}
#pinterest_right_img {position: absolute;top: -2px;left: -52px;border: 0;}
#youtube_right {z-index: 10002;background-color: #fff;border:2px solid #222;border-top:2px solid #222;border-bottom: 2px solid #222;border-right:2px solid #222;border-left: 2px solid #222;width:279px;height: 74.5px;position: fixed;right: -279px;}
#youtube_right_img {position: absolute;top: -2px;left: -52px;border: 0;}
#linkedin_right {z-index: 10001;background-color: #fefefe;border:2px solid #4f85ad;border-top:2px solid #4f85ad;border-bottom: 2px solid #4f85ad;border-right:2px solid #4f85ad;border-left: 2px solid #4f85ad;width:130px;height: 97px;position: fixed;right: -130px;}
#linkedin_right_img {position: absolute;top: -2px;left: -52px;border: 0;}

#instagram_right {z-index: 10000;background-color: #fefefe;border:2px solid #4f85ad;border-top:2px solid #4f85ad;border-bottom: 2px solid #4f85ad;border-right:2px solid #4f85ad;border-left: 2px solid #4f85ad;width:170px;height: 50px;position: fixed;right: -170px;}
#instagram_right_img {position: absolute;top: -2px;left: -52px;border: 0;}

#whatsapp_right {z-index: 10000;background-color: yellowgreen;border:2px solid yellowgreen;border-top:2px solid yellowgreen;border-bottom: 2px solid yellowgreen;border-right:2px solid yellowgreen;border-left: 2px solid yellowgreen;width:166px;height: 55px;position: fixed;right: -170px;}
#whatsapp_right a{color: white}
#whatsapp_right_img {position: absolute;top: -2px;left: -56px;border: 0;  background-color: yellowgreen;}


/* Left side style */
#facebook_left {z-index: 10006;border:2px solid #3c95d9;background-color: #fff;width:300px;height: 219px;position: fixed;left: -300px;}
#facebook_left img {position: absolute;top: -2px;right: -52px;}
#facebook_left iframe {border:0px solid #3c95d9;overflow: hidden;position: static;height: 219px;right:-2px;top:-3px;}
#twitter_left {z-index: 10005;border:2px solid #6CC5FF;background-color: #6CC5FF;width:250px;height: 353px;position: fixed;left: -250px;}
#twitter_left_img {position: absolute;top: -2px;right: -52px;border: 0;}
#google_plus_left {z-index: 10004;background-color: #222;border:2px solid #222;border-top:2px solid #222;border-bottom: 0;border-right:hidden;border-left: hidden;width:316px;height: 109px;position: fixed;left: -316px;}
#google_plus_left_img {position: absolute;top: -2px;right: -50px;border: 0;}
#pinterest_left {z-index: 10003;background-color: #fff;border:2px solid #c31c27;border-top:2px solid #c31c27;border-bottom:2px solid #c31c27;border-right:2px solid #c31c27;border-left:2px solid #c31c27;width:205px;height: 105px;position: fixed;left: -205px;}
#pinterest_left_img {position: absolute;top: -2px;right: -52px;border: 0;}
#youtube_left {z-index: 10002;background-color: #fff;border:2px solid #222;border-top:2px solid #222;border-bottom: 2px solid #222;border-right:2px solid #222;border-left: 2px solid #222;width:279px;height: 74.5px;position: fixed;left: -279px;}
#youtube_left_img {position: absolute;top: -2px;right: -52px;border: 0;}
#linkedin_left {z-index: 10001;background-color: #fefefe;border:2px solid #4f85ad;border-top:2px solid #4f85ad;border-bottom: 2px solid #4f85ad;border-right:2px solid #4f85ad;border-left: 2px solid #4f85ad;width:130px;height: 97px;position: fixed;left: -130px;}
#linkedin_left_img {position: absolute;top: -2px;right: -52px;border: 0;}

#instagram_left {z-index: 10000;background-color: #fefefe;border:2px solid #4f85ad;border-top:2px solid #4f85ad;border-bottom: 2px solid #4f85ad;border-right:2px solid #4f85ad;border-left: 2px solid #4f85ad;width:170px;height: 50px;position: fixed;left: -170px;}
#instagram_left_img {position: absolute;top: -2px;right: -52px;border: 0;}

#whatsapp_left {z-index: 10000;background-color: yellowgreen;border:2px solid yellowgreen;border-top:2px solid yellowgreen;border-bottom: 2px solid yellowgreen;border-right:2px solid yellowgreen;border-left: 2px solid yellowgreen;width:166px;height: 55px;position: fixed;left: -170px;}
#whatsapp_left a{color: white}
#whatsapp_left_img {position: absolute;top: -2px;right: -56px;border: 0;    background-color: yellowgreen;}

#facebook_left img, #twitter_left_img, #google_plus_left_img, #pinterest_left_img, #youtube_left_img, #linkedin_left_img, #instagram_left_img,#whatsapp_left_img{
	transform: none !important;
}
