.productcarousel {
     position: relative;
}

.productcarousel .product-meta {
}
.productcarousel .box-product .product-inner {
    border: 1px solid #e9e9e9;
    overflow:  hidden;
}
.productcarousel .product-inner .image {
    width: 47%;
    float: left;
     margin-right: 10px;
}
.productcarousel .group-action {
    border-top: 1px solid #E9E9E9;
    bottom: 0;
    height: 35px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 50%;
    }
.productcarousel .product-label-special {
     background-color: #DD4141;
    border-radius: 0 0 0 0;
    font-size: 14px;
    font-weight: 700;
    height: 26px;
    left: -1px;
    line-height: 26px;
    padding: 0 8px;
    position: absolute;
    text-shadow: none;
    top: -1px;
}

.productcarousel .group-action .cart:before {
    border-left: 1px solid #e9e9e9;
    content: "";
    width: 1px;
    height:  100%;
    position:  absolute;
    overflow: hidden;
    top:  0;
    left: 0;
}