/* Large desktop */
@media (min-width: 1200px) {
    /* Code CSS here */
}

/*Ipad landscape*/
@media (min-width: 940px) and (max-width: 1170px) {


}
@media only screen and (max-width: 979px) {
#header .container {
position: relative;
}
#logo {
    float: none;
    padding: 55px 0 10px;
    text-align: center;
}
	#mainnav {
	    position: absolute;
		top: 5px;
		width: 100%;
	}
	#headertop {
	    border: medium none;
		left: 41%;
		padding: 0;
		position: absolute;
		top: 8px;
	}
/*menu*/	
	.btn.btn-navbar {
		float: left;
		margin-left: 10px;
		margin-bottom: 3px;
		padding: 9px 8px;
	}
	.navbar-inner {
		padding : 0 ;
		width: 35px;
	}
	
	.navbar .btn-navbar {
		background: none repeat scroll 0 0 #42A8BF;
		border: 1px solid #378EA2;
		margin: 5px 0 0;
		padding: 3px 10px 4px;
	}
	.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
		background-color: #378EA2;
	}
	.nav-collapse .megamenu:after {
		border-bottom: 10px solid #4a4646;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 16px;
		position: absolute;
		top: -15px;
	}
	.nav-collapse .megamenu:before {
		border-bottom: 11px solid rgba(225, 225, 225, 0.2);
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		content: "";
		display: inline-block;
		left: 15px;
		position: absolute;
		top: -16px;
	}
	.nav-collapse .megamenu {
		border-top: 5px solid #4a4646;
		border-right: none;
		border-left: none;
		border-bottom: none;
		box-shadow: 0 0 5px #999;
		border-radius: 0;
		background: #4a4646;
		margin: 10px 0 0!important;
	}
	.nav-collapse .nav li.homepage a {
	    background: none repeat scroll 0 0 transparent;
		display: block;
		overflow: hidden;
		padding-left: 0;
		text-indent: inherit;
		width: auto;
		padding-left: 15px;
	}
	.nav-collapse .nav > li{
		background: none;
	}
	.nav-collapse .nav > li > a{
		font-weight: normal;
		color: #CECFD4;
	}
	.nav-collapse .dropdown-menu {
		background: #fff;
	}
	.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus,
	 .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus,
	.nav-collapse .nav.megamenu  > li.open, .nav-collapse .nav.megamenu  > li:hover {
		background: none repeat scroll 0 0 #21A6DF;
	}
	.nav-collapse .dropdown-menu li a {
		color: #999;
		padding: 0;
		font-weight: normal;
	}
	.nav-collapse .nav > li > .dropdown-menu:after {
		border-bottom: 10px solid #FFFFFF;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 17px;
		position: absolute;
		top: 50px;
	}
	.nav-collapse .nav > li > .dropdown-menu:after {
		border-bottom: 10px solid #FFFFFF;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 17px;
		position: absolute;
		top: 50px;
	}
	.nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
		background: none!important;
	}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
    display: block !important;
 }

    .caption img {
        width: 100% !important;
        height: initial !important;
    }
	
}
/*Ipad Portrait*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
.sidebar  h3.box-heading {
	 font-size: 14px;
}
.sidebar .product-block .image {
    margin-right: 0;
    width: 100%;
}
}


/* Iphone 5 landscape */
@media only screen and (max-width: 767px) {
	.container {
		 padding:  0 10px;
	}
	#column-left:before {
		 border-right: none;
	}
	#column-left .box {
    padding-right: 0;
}

	#column-right:before {
		 border-left: none;
	}

	#column-right .box {
    padding-left: 0;
}

	.box-produce .product-inner .name {
    clear: none;
}
.box-style {
	display: block;
	border-right: none;
	width:  33%;
	 margin: 10px 34%!important;
	 text-align:  left; 
	 overflow:  hidden;
}
	.tp-caption {
    display: block !important;
}
    .caption img {
        width: 100% !important;
        height: initial !important;
    }

.box .box-product:first-child .product-inner {
    margin-top:20px;
}
.group-action {
	 border-bottom: 1px solid #e9e9e9;
}
.pav-categoryproducts .tab-nav:before {
    background-color: transparent;
    border-right: medium none;
    content: "";
    height: auto;
    position: absolute;
    width: auto;
}
.pav-categoryproducts .tab-nav {
	border-bottom: 1px solid #e9e9e9;
}
.pav-categoryproducts .tab-nav ul li {
	display: inline-block;
	border-bottom:  none;
}
.pav-categoryproducts .tab-content {
	 margin-right:  0;
}
.pav-categoryproducts .product-block {
	 float: left!important;
	 width: 50%;

}
.pav-categoryproducts .product-block .product-inner{
	margin:  15px ;
}
.pav-categoryproducts .group-action {
	border-bottom:  0;
}
.pav-categoryproducts .carousel-controls {
    margin-right: 0;
    top: -114px;
}
.pav-categoryproducts .tab-nav ul li {
	 padding:  0 10px;
}
.pav-categoryproducts .tab-nav ul li.active {
	 background-color:  #e9e9e9;
}
.pav-categoryproducts .tab-nav ul li a img {
	 display:  none;
}
.box-line {
	 padding:  0;
	 margin: 0 !important;
}
.box-line h3 {
	 margin-right: 0;
	 margin-left: 0;
}
.social {
	 margin: 0 !important;
}

    @media only screen and (max-width: 767px) {
        .footer-top .container {
            height: 82px !important;
        }
    }

.product-info .image-container {
	 width:  40%;
	  float: left;
}

.product-info .content-info {
	 width:  55%;
	 margin-left: 5%;
	  float: left;
}

	/*Table*/
    table{
        width:100%;
    }
    table .price{
        margin: 0;
    }
    table td, table th{
        /*display:block;*/
        float:none;        
        text-align: left !important;
        vertical-align: middle !important;
        overflow: hidden;
    }
    table.radio td, table.radio th {
    display: inline-block;
    overflow: visible;
}
    table td.image, table th.image{
        text-align: center !important;
    }
    table span.phone{
        color: #333333;
        font-size: 13px;
        float: left;        
    }
    table td .avg-right{
        text-align: right;
        float: right;
    }
    table td.quantity span.phone{
        padding: 5px 10px 0 0;
    }   
    table.radio tr td:first-child{
        width: auto;
    }
    .mini-cart-total table td, .mini-cart-total table th,
    .mini-cart-info table td, .mini-cart-info table th {
    	 display: inline-block;
        text-align: right!important;
    }
	
.mini-cart-info .image {
	width: 50px;
}
}
@media only screen and (max-width: 480px){

.jcarousel {
	display:  none;
}

.pav-categoryproducts .product-block {
	 float: none!important;
	 width: 100%;

}

.product-info .image-container {
	 width:  100%;
	  float: none;
}

.product-info .content-info {
	 width:  100%;
	 margin-left: 0;
	  float: none;
}
.newsletter-submit .inputbox {
	width: 70%;
	}
}
@media only screen and (max-width: 330px){
.show-mobile .quick-user .inner-toggle {
 right: -50px;
 }
}
/* Iphone 4 landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {
.productcarousel .group-action {
 position: relative;
 width: auto;
 }

}

/* Iphone 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {

}