.smart-search.smart-search4.search-menu{
    width: 100%;
    margin: 0 auto;
    padding-left: 10px !important;
    padding-right: 10px;
}
.smart-search .form-control {
    border-radius: 4px !important;
    height: 34px !important;
}
.pc_filter_inputs{
    float: left;
    margin: 0 0 20px 0;
    width: 100%;
}
/* .btn.btn-search.button-search {
height: 40px;
} */
.navbar #slidemenu.slidemenu--dark {
    display: block !important;
    }
@media (max-width: 992px)
{
    .navbar #slidemenu.slidemenu--dark {
        display: none !important;
        }
    .lang-search {
        display: block;
        }
    .lang-search span {
        margin: 0 10px;
        }
    .push-sidebar-right {
        right: auto;
        left: 0;
        }
    .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        }
    #push-sidebar ul li a {
        display: block;
        }
    #sidebar-left li a {
        display: block;
        }
    .dropdown-menu > li > a:after, .submenu > li > a:after {
        display: none !important;
        }
    .wrap.canvas.isOpen {
        position: fixed !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        }
    .push-sidebar-right {
        z-index:111;
        }
    .canvas.isOpen #header, .canvas.isOpen .main-style {
        transform: none;
        }
    .canvas #header , .canvas .main-style{
        transform: translateX(-250);
        }
    .li-search  .btn.btn-search.button-search {
        height: 34px;
        background: #eee;
        padding: 6px 12px;
        }
    .li-search  .btn-search.button-search .fa{
        float: none;
        top: 0;
        font-size: inherit;
        }
    .li-search .fast-finder-results,
    .li-search .lableb-results{
        top: 100%;
        right:unset;
        left:0;
        }
           .li-search .fast-finder-results{
                z-index: 9999999;
        }
    }