div.modal-backdrop.in {
    z-index: auto!important;
}
  #abandoned_cart_popup .modal-dialog{
    max-width: 400px;
    top: 100px;
  }
  #abandoned_cart_popup .modal-content{
    border-radius: 15px!important;    
  }
  #abandoned_cart_popup .modal-body{
    text-align: center;
    padding: 40px 42px;
  }
  .abandoned_cart_popup_btn{
    background-color: #000;
    width: 100%;
    color: #fff;
    font-weight: 600; 
    margin-top: 30px;
    /*margin-bottom: 40px;   */
  }

  .abandoned_cart_popup_input{
    color: #888;    
  }
  .abandoned_cart_popup_input:focus,
  .abandoned_cart_popup_input:active{
    color: #000;    
  }
  .abandoned_cart_popup_btn , .abandoned_cart_popup_input{
    border-radius: 10px!important;
  }

  .abandoned_cart_popup_btn:hover, 
  .abandoned_cart_popup_btn:active,
  .abandoned_cart_popup_btn:focus{
    color: #fff;
    outline: none!important;
  }

  .mt20{
    margin-top: 20px!important;
  }
  #abandoned_cart_popup p.error{
    color: red;
  }

  #abandoned_cart_popup .phone-form-group,
  #abandoned_cart_popup .email-form-group{
    text-align: right;
  }
