@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

/* for screen wider than 480 px */
@media (min-width:501px)  {
	form#card-info-form input.card_number{
	  width:80%!important;
	  float: left!important;
	}
}

#paymentMethodsModal .modal-dialog {
    min-width: 600px!important;
    margin: 0 auto;
    padding-top: 10%;
}

#paymentMethodsModal .modal-body {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    z-index: 1100 !important;
}
.modal-backdrop {z-index: 1040 !important;}

#paymentMethodsModal .modal-content{
    border-radius: 6px;
    padding: 15px 20px 10px 20px;
}
#cardInfoModal .modal-content{
  /*max-height: 400px!important;*/
  width: 100%;
  max-width: 480px;
  /*overflow-y: scroll;*/
  border-radius: 6px;
  font-family: 'Tomorrow', sans-serif!important;
}
table.my-fatoorah-payment-methods td{
  text-align: right;
}
form#card-info-form .card_number_group{
  border: #6fcde0 solid 1px;
  /*width: 100%!important; */
  padding: 9px 13px;
  border-radius: 5px;
  margin-bottom: 18px;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 15px 0px;
}


.visa{
  float: right!important;
}
.PaymentGatewayId{
	float: right!important;
}
.my-fatoorah-payment-methods img, .my-fatoorah-payment-methods span{
	float: right!important;
}
div.monthcol{
	float: left;
}
div.card_number_group.month{
	margin-right:5px;
}
div.monthcol{
	float: left!important;
}
form#card-info-form input{

  border:none!important;
  box-shadow:none!important;
  background-color: transparent!important;
  text-align: left;
  padding: 0!important;
  direction: ltr;
}
form#card-info-form input.form-control{
	margin: 0!important;
	padding: 0!important;
	width: 100%;
}
form#card-info-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #757575;
  opacity: 1; /* Firefox */
  font-size: 13.3333px;
}

form#card-info-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #757575;
  font-size: 13.3333px;
}

form#card-info-form input ::-ms-input-placeholder { /* Microsoft Edge */
  color: #757575;
  font-size: 13.3333px;
}


/* Chrome, Safari, Edge, Opera */
form#card-info-form  input::-webkit-outer-spin-button,
form#card-info-form  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
form#card-info-form  input[type=number] {
  -moz-appearance: textfield;
}

button#card-info-form-submit{
	width: 100%;
    padding: 23px 0;
    background: #66afe9 !important;
    background-color: #66afe9 !important;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
/* start EC-36190 */
#paymentMethodsModal .modal-dialog {
  min-width: auto !important;
}
/* end EC-36190 */

@media (max-width: 500px) {
  .modal-dialog
  {
    width: 82% !important;
  }

  .visa {
	position:relative;
	top:-40px;
   }
}
.modal-dialog
{
  width: 82% !important;
}