	/******** Graph Stages ******/
	ul.list-stages {padding: 0;}
	ul.list-stages li {display: inline-block; text-align: left;}

	.list-item a{
	  font-size: 20px;
	  font-weight: 100;
	  border-radius: 50%;
	  background: url('../../image/white_check.svg') no-repeat center;
	  background-size: 18px 18px;
	  display: inline-block;
	  width: 30px; height: 30px;
	  background-color: #b9cee7;
	}
	.list-item:first-child span::after{
		display: none;
	}

	/*.list-item.active a{ border: 2px solid #fba165; }*/

	.list-item.history a{ background-color: #5070ad; }
	/****** Draw Line ******/
	.list-item span::after{
	  content: '';

	  background-color: #b9cee7;
	  -webkit-mask-image: url('../../image/line.svg');
	  mask-image: url('../../image/line.svg');

	  min-width: 15.160rem;
	  min-height: 10px;
	  display: inline-block;
	  margin: 0; padding: 7px 0;
	}

	.list-item.history span::after{
	  background-color: #5070ad;
	  -webkit-mask-image: url('../../image/line.svg');
	  mask-image: url('../../image/line.svg');
	}
	/****** End Draw Line ******/

	.list-item p{
		/*padding-right: 7px;*/
		margin-top: 5px;
		/*color: #65d6f0;*/
		text-align: left;
	}
	.tracking-form button{
		border-radius: 50px;
	    -webkit-border-radius: 50px;
	    -moz-border-radius: 50px;
	    background-color: black;
	    color: white;
	    border: none;
	    font-size: 14px;
	    /*margin-left: 15px;*/
	    width: 34px; height: 34px;
	}
	.tracking-form .first-input-column{
	    margin-right: 18.66666667%;
	    /*padding: 0;*/
	}
	.tracking-form .control{
	    margin-left: 15px;
	}
	.tracking-form input{
		font-size: 16px;
	    border: 1px solid #e3e7ec;
	    height: 36px;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    padding: 5px 10px;
	    width: 100%;
	}
	.mr-1{margin-right: 15px;}
	.mt-2{margin-top: 40px;}
	.mt-3{margin-top: 60px;}
	.mb-4{margin-bottom: 30px!important;}
	.mb-5{margin-bottom: 60px;}
	.p-0{padding: 0!important;}

	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) { .list-item span::after{ min-width: 3.160rem; } }

	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px) and (max-width: 767px) { .list-item span::after{ min-width: 6.160rem; } }

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) and (max-width: 991px) { .list-item span::after{ min-width: 8.160rem; } }

	/*Shipping URL*/
	#shipping_url > span, #order_info > span {
		display: inline-block;
		font-weight:600;
		margin: 12px 0 0 15px;
		padding: 5px 0px 5px 5px;
	}

	/*Table Status*/
	#statuses_table thead tr{
		border: 1px solid #f1f1f1;
		background-color: #fafafa;
	}
	.th{
		/*width: 30%;*/
		padding: 9px 24px;
	    color: #555;
	    font-weight: 700;
	    line-height: 1.7em;
	}
	#statuses_table tbody tr {
	    border: 1px solid #f1f1f1;
	}
	#statuses_table tbody tr td{
		padding: 16px 24px;
		border-top: 0;
	}
	#statuses_table{
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
	}



	.result-details{
		padding: 20px 25px;border-radius:10px;background-color: #fff;
	}

	.p-0{
		padding: 0!important;
	}
