/*@import url('https://fonts.googleapis.com/css?family=Cairo:400,600');

*:not(mat-icon) {
    font-family: 'cairo', serif !important;
  }*/
/* You can add global styles to this file, and also import other style files */
/*body {
    overflow: hidden;

}*/
#content,#sidebar {
    /*line-height: 300px;
    text-align: center;*/
    border: 1px solid;
}
 
#sidebar {
    background-color: #EEE;
    border-color: #CCC;
    display: none;
}
#content {
    background-color: #EFE;
    border-color: #CDC;
    width: 99%;
}
 
.use-sidebar #content {width: 75%;}
.use-sidebar #sidebar {
    display: block;
    width: 24%;
}
 
/*.sidebar-at-left #sidebar {margin-right: 3px;}
.sidebar-at-right #sidebar {margin-left: 3px;}*/
 
.sidebar-at-left #content, .use-sidebar.sidebar-at-right #sidebar, .sidebar-at-right #separator {float: right;}
.sidebar-at-right #content, .use-sidebar.sidebar-at-left #sidebar, .sidebar-at-left #separator {float: left;}
 
#separator {
    background-color: #EEE;
    border: 1px solid #CCC;
    display: block;
    outline: none;
    width: 1%;
    /*min-height: 100%;*/
}
.use-sidebar #separator {
    background: url('assets/images/vertical-separator.gif') repeat-y center top;
    border-color: #FFF;
}
#separator:hover {
    border-color: #CCC;
    background: #EEE;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.maintoolbar {
    position: fixed;
    width: inherit;
    z-index: 999;
    border-bottom-style: ridge;
    top: 0px;
    left: -1px;
}

.footertoolbar {
    position: fixed;
    bottom: 0px;
    width: inherit;
    z-index: 999;
    border-top-style: ridge;
    left: -1px;
}

/*.footertoolbar>*/
.mat-toolbar {
    padding: 0 10px !important;
}
/*.maintoolbar mat-toolbar {
    min-height: 50px;
}*/

.editor-content {
    padding: 10px;
    margin-top: 64px;
    margin-bottom: 64px; 
    height: calc(100vh - (130px));
    overflow: auto;
}

.btn-action {
    padding-left: 2px;
    padding-right: 2px;
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.mat-tab-label {
    min-width: 48% !important;
}

.mat-tab-body {
    min-height: 100% !important;
    height: 100% !important;
    padding-bottom: 10px;
}

ec-editablelabel {
    width: calc(100% - 70px);
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    text-align: initial;
}


/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 99999;
    height: 2em;
    width: 24%;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 8%;
    bottom: 0;
    /* right: 0; */
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 24%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
