.customer-group-filter {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
        display: none;
    }
    .track {
        width: 100%;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
        @media (max-width: $screen-md) {
          overflow: auto;
        }
        .stage {
            display: flex;
            align-items: center;
            white-space: nowrap;
            width: fit-content;
        }

    }
    .slider-icon {
        position: absolute;
        top: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #2c2c35;
        border: 1px solid #b4afd3;
        box-shadow: 0 0 5px 0 rgba(167,162,194,.25);
        transform: translateY(-50%);
        background-color: #ffffff;
        z-index: 1;
        cursor: pointer;
        @media (max-width: $screen-md) {
          display: none !important;
        }
        &.right {
            @include dir-right(0);
        }
        &.left {
            @include dir-left(0);
        }
        &:hover {
            color: #ffffff;
            background-color: #03a9f4;
        }
    }
    .customer-group-box {
        display: block;
        background-color: transparent;
        @include dir-margin-right(10px);
        position: relative;
        padding: 0;
        .edit {
            position: absolute;
            @include dir-right(10px);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px #b4afd3;
            color: #2c2c35;
            top: 50%;
            transform: translateY(-50%);
            transition: .3s;
            i {
                font-size: 11px;
            }
            &:hover {
                background-color: #03a9f4;
                color: #ffffff;
                border-color: #03a9f4;
            }
        }
        label {
            margin: 0;
        }
        .title {
            display: flex;
            align-items: center;
            padding: 11px 20px;
            background-color: #ffffff;
            border-radius: 63px;
            border: 1px solid #fff;
            font-size: 13px;
            font-weight: 600;
            color: #2c2c35;
            box-shadow: 0 0 5px 0 rgba(167, 162, 194, 0.25);
            transition: .5s;
            cursor: pointer;
            @include dir-padding-right(40px);
            i {
                font-size: 10px;
                @include dir-margin-right(8px);
            }
            &.add-btn {
                border: dashed 1px #b4afd3;
                background-color: transparent;
                box-shadow: none;
                @include dir-padding-right(20px);
            }
        }
        input:checked + .title {
            box-shadow: 0 0 5px 0 rgba(167, 162, 194, 0.25);
            border: solid 1px #155ebc;
            background-color: #ebf8ff;
        }
        &.active .title {
            box-shadow: 0 0 5px 0 rgba(167, 162, 194, 0.25);
            border: solid 1px #155ebc;
            background-color: #ebf8ff;
        }
        &[type="reset"] {
            .title {
                @include dir-padding-right(20px);
            }
        }
    }
}
.text-dt-btn {
    font-size: 13px;
    font-weight: 500;
    color: #2c2c35;
    @include dir-margin-right(12px);
}
.dataTables_wrapper {
    .status-label {
        padding: 8px 11px;
        border-radius: 30px;
        font-size: 13px;
        font-weight: 600;
        min-width: 82px;
        display: inline-block;
        text-align: center;
        &.pending-status {
            color: #ff7d00;
            background-color: rgba(255, 125, 0, .2);
        }
        &.active-status {
            color: #36cf92;
            background-color: rgba(54, 207, 146, 20%);
        }
        &.inactive-status {
            color: #2c2c35;
            background-color: rgba(180, 175, 211, 20%);
        }
    }
}
.features-table-container.rounded {
    .dataTables_filter {
        input[type="search"] {
            border-radius: 43px;
        }
    }
}
.customer-list {
    .inner-settings-title {
        .btns {
            @include dir-margin-left(auto);
        }
    }
    .dt-buttons {
        @include dir-margin-left(auto);
    }
}
