.page-tabs-container {
    background-color: #ffffff;
    // overflow: auto;
    box-shadow: 0 0 4px rgba(223, 219, 242, .85);
    border-radius: 4px;
    .empty-page .content-inner-small {
        min-height: calc(100vh - 344px);
    }
    .page-loader {
        background-color: #ffffff;
        height: 100%;
        overflow: hidden;
    }
}
.navigation-tabs-wrapper {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0;
        background: transparent; /* make scrollbar transparent */
    }
}
.navigation-tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0ddef;
    width: fit-content;
    min-width: 100%;
    li {
        margin: 0 15px;
        position: relative;
        white-space: nowrap;
        flex-shrink: 0;
        padding: 0 15px;
        a {
            display: block;
            padding: 26px 0 16px;
            font-size: 13px;
            color: #2c2c35;
            font-weight: bold;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 100%;
            height: 2px;
            background-color: #155ebc;
            opacity: 0;
            border-radius: 5px 5px 0 0;
        }
        &.active {
            border-bottom-color: #155ebc;
            
            &::after {
                opacity: 1;
            }
        }

    }
} 
.tabs-content-wrapper {
    position: relative;
    .container-detached {
        float: none;
        margin: 0 !important;
        .content-detached {
            margin: 0 !important;
        }
    }
    .sidebar-detached {
        float: none;
        position: absolute;
        top: 0;
        @include dir-right(0);
        @media (max-width: $screen-lg) {
            z-index: 3;
            top: 65px;
            left: 0;
            width: 100%;
        }
    }
    .product-grid-detached {
        width: 100%;
    }
}
.features-table-container {
    padding: 0 20px;
    overflow: auto;
    &.basic-btns {
        .dt-buttons .btn-default {
            width: auto !important;
            padding: 5px 15px !important;
            @include dir-margin-left(5px);
        }
    }
    .dataTables_wrapper {
        overflow: visible;
        .datatable-scroll-wrap {
            overflow: visible;
        }
        td:last-child .dropdown-menu {
            top: auto;
            bottom: 100%;
        }

        .datatable-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px #e0ddef;
            padding-right: 0;
            padding-left: 0;

            &::after {
                display: none;
            }
            .dt-buttons {
                float: none;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                @media (max-width: $screen-md) {
                  flex-wrap: wrap;
                }
                .btn {
                    @media (max-width: $screen-md) {
                      margin-bottom: 10px;
                    }
                }
                .btn-primary {
                    @include dir-margin-left(20px);
                    @media (max-width: $screen-md) {
                      width: 100%;
                      @include dir-margin-left(0);
                    }
                }
                .btn-success,
                .btn-info,
                .btn-warning {
                    @include dir-margin-left(20px);
                    @media (max-width: $screen-md) {
                      width: 100%;
                      @include dir-margin-left(0);
                    }
                }
                .btn-default {
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .text {
                    @include dir-margin-left(10px);
                    font-size: 13px;
                    color: #b4afd3;
                    @media (max-width: $screen-md) {
                        width: 50%;
                        margin-bottom: 10px;
                        text-align: start;
                        @include dir-margin-left(0);
                    }
                }
            }
            .dataTables_filter {
                float: none;
                display: flex;
                margin-bottom: 15px;
            }
        }

        .datatable-scroll-wrap {
            .table {
                thead {
                    tr {
                        th {
                            white-space: nowrap;
                            border-bottom: solid 1px #e0ddef;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }

        .datatable-footer {
            border-top: 1px solid #e0ddef;
        }
    }
} 