li {
    word-break: break-all;
}

.text-semibold_x {
    padding: 0 4px;
    font-size: 16px;
    font-weight: 600;
}

.quantity__dir {
    display: flex !important;
    #{$ltr} & {
        direction: ltr;
    }
    #{$rtl} & {
        direction: rtl;
    }  
}  
.breadcrumb-line .order-No {
    padding: 14px 0;
}
.breadcrumb-line .navbar-nav {
    margin: 0
}

.breadcrumb-line .navbar-nav {
    margin: 0
}

.breadcrumb-line .navbar-nav {
    #{$ltr} & {
        float: right;
    }
    #{$rtl} & {
        float: left;
    }
}

.breadcrumb-line .navbar-nav > li {
    margin-top: 0 !important;
}
.breadcrumb-line .navbar-nav > li > a {
    position: relative;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2c2c35;
    transition: all .2s ease-in-out;
    padding: 14px 15px !important;

    .ctrls__hover {
        display: none;
        position: absolute;
        top: 24px;
        z-index: 2;
        #{$ltr} & {
            left: 0;
        }
        #{$rtl} & {
            right: 0;
        }
        min-width: 140px;
        padding: 4px 8px;
        border: 1px solid #ddd;
        text-align: center;
        background: #fff;
        box-shadow: 0 0 4px 2px #e2e2e2bd;
    }
    &:hover .ctrls__hover {
        display: block;
    }

    i.fas.fa-arrow-left,
    i.fas.fa-arrow-right {
        #{$rtl} & {
            transform: rotate(180deg);
        }
    }
}

.breadcrumb-line .navbar-nav > li:not(:first-child) > a {
    padding-top: 0;
}

.breadcrumb-line .navbar-nav > li:not(:first-child) > a i {
    margin-right: 0;
    color: #2C2C35;
    font-size: 18px;
}

.breadcrumb-line .navbar-nav > li:not(:first-child):hover > a {
    background: unset;
}

.breadcrumb-line .navbar-nav > li:not(:first-child):hover > a i {
    color: #2c2c35;
    background: unset;
}

.order-shipping {
    padding-top: 0 !important;
    &:hover {
        background-color: transparent !important;    
    }
    &:hover i {
        color:  #333333   
    }
    i {
        color: #2C2C35;
        margin-right: 0;
        font-size: 18px;
    }
}

.breadcrumb-line .navbar-nav>li.orders-navigators>a {
    padding: 0;
}

.orderLeft-info:last-child {
    height: auto;
    overflow: auto;
}

.content-group {
    margin-bottom: 0;
}

.orderLeft-info {
    border-radius: 3px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 4px rgba(223, 219, 242, .8);
    
    .orderLeft-head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid #dfdbf2;

        .input-group {
            padding: 0 10px;
            border: solid 1px #e0ddef;
            
            #myInput {
                width: 294px;
                height: 35px;
                border-radius: 3px;
                background-color: #ffffff;
            }

            i {
                color: #b4afd3;
                font-size: 15px;
            }
        }

        .name {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.29;
            color: #2c2c35;
        }

        .status {
            color: #000000;
        }

        .orderLeft-head-btn {
            min-width: 119px;
            height: 35px;
            border-radius: 3px;
            border: solid 1px #03a9f4;
            font-size: 13px;
            font-weight: 600;
            line-height: 1.23;
            color: #03a9f4;
            background-color: #ffffff;
            transition: all .2s ease-in-out;
            &:hover {
                color: #ffffff;
                background-color: #03a9f4;
            }
        }
    }

    .orderLeft-products {
        padding: 20px 0 0 0;

        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            
            h5 {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.29;
                color: #2c2c35;
            }

            a {
                font-size: 13px;
                font-weight: 600;
                line-height: 1.23;
                color: #03a9f4;
                background: unset;
                transition: color .2s ease-in-out;
                &:hover {
                    color: #2c2c35
                }
            }
        }

        .products-body {
            table {
                width: 100%;
                border-bottom: 1px solid #dfdbf2;

                tbody {
                    width: 100%;
                    tr {
                        width: 100%;
                        
                        td {
                            padding-bottom: 13px;
                        }

                        td:first-child {
                            overflow: hidden;
                            img {
                                width: 60px;
                                height: 60px;
                                background-color: #e9e7f1;
                                float: left;
                                @include dir-margin-right(17px);
                            }
                            
                            span {
                                display: block;
                                font-size: 13px;
                                line-height: 1.23;
                                color: #2c2c35;
                                &:first-of-type {
                                    margin: 10px 0 5px 0
                                }
                            }
                        }

                        td:nth-of-type(2) {
                            #{$ltr} & {
                                text-align: left;
                            }
                            #{$rtl} & {
                                text-align: right;
                            }
                        }

                        td:nth-of-type(3) {
                            #{$ltr} & {
                                text-align: right;
                            }
                            #{$rtl} & {
                                text-align: left;
                            }
                            label {
                                font-size: 13px;
                                border: 0; 
                                color: #2c2c35;
                                background-color: unset;
                            }
                        }

                        td:nth-of-type(4) {
                            #{$ltr} & {
                                text-align: right;
                            }
                            #{$rtl} & {
                                text-align: left;
                            }
                        }

                        td:last-child {
                            @include dir-padding-right(0);
                            #{$ltr} & {
                                text-align: right;
                            }
                            #{$rtl} & {
                                text-align: left;
                            }
                            label {
                                font-size: 13px;
                                border: 0; 
                                color: #2c2c35;
                                background-color: unset;
                            }
                        }
                    }
                }

                tfoot {
                    tr {
                        background-color: unset;
                        td {
                            font-size: 13px;
                            line-height: 1.23;
                            color: #2c2c35;
                            padding-bottom: 20px;
                            #{$ltr} & {
                                text-align: right;
                            }
                            #{$rtl} & {
                                text-align: left;
                            }
                        }
                        td:last-child {
                            font-weight: 600;
                            #{$ltr} & {
                                padding-right: 6px;
                            }
                            #{$rtl} & {
                                padding-left: 6px;
                            }
                        }
                    }
                }
            }

            .products-body-foot {
                display: flex;
                justify-content: space-between;
                padding-top: 20px;

                h5 {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 2.29;
                    color: #2c2c35;
                }

                button {
                    min-width: 138px;
                    height: 35px;
                    border-radius: 3px;
                    border: 0;
                    background-color: #fff;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 1.23;
                    color: #03a9f4;
                    transition: .2s ease-in-out;
                    cursor: unset;

                    &:hover {
                        color: #03a9f4;
                        background-color: #fff;
                    }
                }
                .print__btn {
                    align-items: center;
                    i {
                        color: #b4afd3;
                        margin-left: 10px;
                        font-size: 22px;
                    }
                    .print__btn-text {
                        display: block;
                        height: 35px;
                        line-height: 35px;
                        padding-right: 15px;
                        padding-left: 15px;;
                        border-radius: 3px;
                        border: solid 1px #03a9f4;
                        font-size: 13px;
                        font-weight: 600;
                        color: #03a9f4;
                        background-color: #ffffff;
                        transition: all .2s ease-in-out;
                        &:hover {
                            color: #ffffff;
                            background-color: #03a9f4;
                        }
                    }
                }
            }
        }
    }

    .orderLeft-list ul {
        #{$ltr} & {
            padding: 20px 0 0 30px;
        }
        #{$rtl} & {
            padding: 20px 30px 0 0;
        };

        li {
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            // #{$ltr} & {
            // }
            // #{$rtl} & {
            //     padding-right: 55px;
            // };
            &:before {
                content: '';
                position: absolute;
                top: 0;
                border: 0;
                #{$ltr} & {
                    left: -28px;
                }
                #{$rtl} & {
                    right: -28px;
                }
                z-index: 2;
                height: 15px;
                width: 15px;
                background-color: #155ebc;
                border-radius: 50%;
                
            }
            &:after {
                content: '';
                position: absolute;
                top: 4px;
                #{$ltr} & {
                    left: -22px;
                }
                #{$rtl} & {
                    right: -22px;
                };
                min-height: 102px;
                width: 2px;
                background-color: #e0ddef;
                border: 0;
                z-index: 1;
            }
            &:last-of-type:after {
                display: none;
            }
            &:first-child {
                padding-top: 0;
                #{$ltr} & {
                    padding-left: 0
                }
                #{$rtl} & {
                    padding-right: 0
                }
            }
            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
                #{$ltr} & {
                    padding-left: 0
                }
                #{$rtl} & {
                    padding-right: 0
                }
            }
            h5 {
                font-size: 13px;
                font-weight: 600;
                line-height: 1.23;
                color: #4e5156;
                margin-bottom: 5px;
            }

            h6,
            p {
                font-size: 13px;
                line-height: 1.23;
                color: #4e5156;
                margin-bottom: 5px;
            }
        }
    }
}

.orderRight-info {
    border-radius: 3px;
    background-color: #ffffff;
    padding: 17px 20px;
    margin-bottom: 16px;
    box-shadow: 0 0 4px rgba(223, 219, 242, .8);

    hr {
        margin: 20px 0 0 0
    }
    
    .customer {

        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            h5 {
                line-height: 3;
                p {
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: rgba(3, 169, 244, .3);
                    font-size: 18px;
                    font-weight: 600;
                    color: #2c2c35;
                    #{$ltr} & {
                        float: left;
                        margin-right: 10px;    
                    }
                    #{$rtl} & {
                        float: right;
                        margin-left: 10px;
                    }
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.29;
                    color: #2c2c35;
                }
            }

            button {
                font-size: 13px;
                font-weight: 600;
                line-height: 1.23;
                color: #03a9f4;
                background-color: unset;
                transition: color .2s ease-in-out;
                &:hover {
                    color: #2c2c35
                }
            }
        }

        .body {

            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                border-top: 0;
                @include dir-padding-left(0);
            }

            p {
                font-size: 13px;
                line-height: 1.23;
                color: #2c2c35;
                line-height: 1.7;
            }

            form {
                label {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.23;
                    color: #4c4c51;
                }

                .input-group-addon {
                    font-size: 13px;
                    font-weight: 600;
                    color: #449dff;
                    transition: all .2s ease-in-out;

                    &:hover {
                        background-color: #449dff;
                        color: #fff
                    }

                    button {
                        width: 100%;
                        height: 100%;
                        background-color: unset;
                    }
                }
            }

            ul {
                li {
                    font-weight: 500;
                    padding: 2px 0;
                    margin-top: 6px
                }
            }
        }
    }
}

.order-No {
    #{$ltr} & {
        float: left;
    }
    #{$rtl} & {
        float: right;
    }
}

.order-No a {
    #{$ltr} & {
        font-family: Montserrat;
    }
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: normal;
    color: #2c2c35;
}

.order-No a span {
    a {
        span {
            @include dir-padding-left(5px);   
        }
    }
}

.panel-heading.mt-5 {
    .panel-status {
        margin: 0 0;
    }
    .title-order {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29;
        color: #2c2c35;
    }
}

.orderStatus-pop {
    .panel {
        margin-bottom: 0;
        border: 0;
        border-radius: 0;
    }

    .panel-body {
        padding: 0
    }
}
