.navbar-header {
  float: right;
}
#pav-mainnav {
  right: 0;
}
.navbar-nav > li {
  float: right;
}
.dropdown-menu {
  left: inherit;
  right: 0;
  float: right;
}
#pav-mainnav .megamenu .menu-icon {
  background-position: right center !important;
  padding-right: 30px;
  padding-left: 0;
}
.productcarousel .carousel-controls,
.box-products .carousel-controls {
  left: 0;
  right: auto;
}
ul.links li a span,
ul.tree > li > a > i {
    padding-left: 10px;
    padding-right: 0px;
}
.product-block .group-item .cart {
  padding-right: 10px;
}
.sidebar .box.highlight .box-heading span i {
    padding-left: 13px;
    padding-right: 0px;
}
ul.tree > li ul > li > a {
  padding-right: 13px;
}
.pavtestimonial .carousel-control.left {
    right: auto;
    left: 25px;
}
.pavtestimonial .carousel-control.right {
    left: 0;
    right: auto;
}
.zoomContainer .zoomWindow {
  float: inherit;
  float: right !important;
  right: 357px;
}
.contact-address ul li i {
  float: right;
}
.contact-address ul li span {
  padding-left: 0;
  padding-right: 15px;
}
.contact-customhtml ul li i {
  float: right;
  padding: 8px 10px 6px 5px;
}
.contact-customhtml ul li span {
  padding-left: 0;
  padding-right: 5px;
}
.addthis_default_style .addthis_separator,
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m,
.addthis_default_style .at300bs {
  float: right !important;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at4-icon, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
    float: right !important;
}

#topbar .show-mobile ul li,
#topbar .show-mobile .links li {
  text-align: right;
}
.pavo-widget .widget-product-list .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.offcanvas-menu {
  left: inherit;
  right: 0;
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
  transform: translate3d(-300px,0px,0px);
}
.offcanvas-effect-3.offcanvas-menu {
  transform: translate3d(100%,0px,0px);
}
#topbar .show-mobile .inner-toggle {
  right: inherit;
  left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-weight: 400;
}

.box .box-heading {
    padding: 8px 18px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    background: #1bbc9b;
    color: #FFFFFF;
    font-weight: 500;
}

.sidebar .box .box-heading {
    padding: 8px 18px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    background: #1bbc9b;
    color: #FFFFFF;
    font-weight: 500;
}

#cart .heading a span {
    color: #FFFFFF;
    padding-right: 25px;
    padding-left: 10px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    float: right;
}

#scrollUp {
    bottom: 0px;
    right: 30px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    color: #828282;
    -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(top,#EBEBEB,#DEDEDE);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#EBEBEB),to(#DEDEDE));
    background-image: -webkit-linear-gradient(top,#EBEBEB,#DEDEDE);
    background-image: -o-linear-gradient(top,#EBEBEB,#DEDEDE);
    background-image: linear-gradient(to bottom,#EBEBEB,#DEDEDE);
    background-repeat: repeat-x;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#topbar ul li {
    float: right;
    line-height: 38px;
    margin-right: 0px;
    margin-left: 15px;
}

ul.links li:before {
    content: "";
    font-size: 12px;
    margin-left: 6px !important;
    margin-right: 0px !important;
}

ul.links li:first-child:before {
    content: "";
    margin-right: 0 !important;
}

#topbar ul li a span.text-link {
    font-size: 12px;
    float: left;
    margin-right: 0;
    margin-left: 0px;
}

#topbar ul li a span, #topbar ul li a span.icon {
    margin-right: 0;
    margin-left:2px;
}

#cart .heading {
    background-color: #f04162;
    background-image: url('../image/default/bg-cart-button.png');
    background-position: right 15px top 8px;
    background-repeat: no-repeat;
    display: block;
    height: 38px;
    line-height: 38px;
}

#cart .content:after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 6px solid rgba(0,0,0,0);
    border-right: 6px solid rgba(0,0,0,0);
    content: "";
    position: absolute;
    top: -8px;
    left: 20px;
    right: initial;
}

#cart .content {
    background: #FFFFFF;
    clear: both;
    display: none;
    min-height: 150px;
    min-width: 300px;
    padding: 8px;
    position: absolute;
    -webkit-box-shadow: 0px 2px 2px #eaeced;
    box-shadow: 0px 2px 2px #eaeced;
    z-index: 20;
    top: 38px;
    border-bottom: 6px solid #1bbc9b;
    right: initial;
    left: 0;
}

#search:hover .search-content:after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 6px solid rgba(0,0,0,0);
    border-right: 6px solid rgba(0,0,0,0);
    content: "";
    position: absolute;
    top: 0;
    right: initial;
    left: 7px;
}

#search .search-content {
    display: none;
    padding-top: 7px;
    position: absolute;
    width: 250px;
    left: 0;
    right: initial;
}

#search .button-search {
    background: none repeat scroll 0 0 #1bbc9b;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    text-shadow: none;
    width: 25%;
}

#search input {
    float: right;
    margin-left: 7px;
    width: 70%;
    margin-right: 0px;
}

.welcome .image {
    float: right;
    margin-left: 30px;
    margin-right: 0px;
}

.box.highlighted .box-heading span {
    background: #1bbc9b;
    padding: 3px 20px 4px 30px;
    position: relative;
}

.box.highlighted .box-heading {
    padding: 8px 0 8px 15px;
    background: #eaeced;
}

.box.highlighted .box-heading span:after {
    border-bottom: 20px solid transparent;
    border-left: 13px solid #eaeced;
    border-top: 20px solid transparent;
    border-right: none;
    content: "";
    left: 0px;
    position: absolute;
    top: 0;
    right: initial;
}

.box-products .box-description {
    right: 147px;
    position: absolute;
    top: -29px;
    left: initial;
}

.pav-showcase .hightlight-featured-box .box-heading {
    background: none;
    position: absolute;
    right: 135px;
    top: -65px;
    color: #333d46;
}

.blog-item .image {
    float: right !important;
    margin-left: 18px !important;
    margin-right: 0 !important;
}

.pavblog-latest .blog-item .group-blog {
    overflow: hidden !important;
    padding-left: 12px !important;
    padding-right: 0px !important;
}

.pavtestimonial .testimonial {
    padding: 20px 60px 20px 30px !important;
}

.testimonial:before {
    border-right: 17px solid rgba(0, 0, 0, 0) !important;
    border-left: 0px solid rgba(0, 0, 0, 0) !important;
    right: 100px !important;
    left: initial !important;
}

.pavtestimonial .info-testimonail:before {
    background: url('../image/default/text-qoute-ar.png') no-repeat scroll 0 0 rgba(0,0,0,0) !important;
    right: 20px !important;
    left: initial !important;
}

.t-avatar {
    margin-left: 0 !important;
    margin-right: 120px !important;
}

.pavtestimonial .profile {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

#footer .footer-top .pav-static li {
    float: right;
    margin-bottom: 15px;
    position: relative;
}

#footer .footer-top .pav-static .pv-icon {
    color: #FFFFFF;
    display: block;
    float: right;
    height: 50px;
    text-indent: -999em;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0 10px 15px;
    position: relative;
    -webkit-transition: box-shadow 0.2s ease 0s;
    transition: box-shadow 0.2s ease 0s;
}

#footer .footer-center ul.pav-contact-us .icon {
    background-color: #8595a5;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    float: right;
    height: 48px;
    margin: 0 0 0 16px;
    width: 48px;
    line-height: 45px;
    text-align: center;
    font-size: 25px;
    padding-right: 4px;
    color: #FFFFFF;
    padding-left: 0px;
}

#footer .social li {
    float: right;
    margin-left: 9px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    background: #8595A5;
    margin-right: 0px;
}

.manufacturer-list ul {
    float: right;
    width: 25%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

.fa-angle-right:before {
    content: "\f104" !important;
}

.fa-angle-left:before {
    content: "\f105" !important;
}

ul.tree > li > a {
    text-decoration: none;
    padding-right: 15px;
    padding-left: 0px;
    background-color: #FFFFFF;
    line-height: 40px;
    font-size: 14px;
    border-right: 4px solid transparent;
    border-left: none;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

ul.tree > li > a:hover,
ul.tree > li > a.active {
    border-right: 4px solid #1bbc9b;
    border-left: 0px;
}
ul.tree > li > a > i {
    padding-left: 13px;
    padding-right: 0px;
    font-size: 11px;
}
ul.tree > li > a > .badge {
    margin: 10px 0 0 10px;
}

select {
    font-size: 10px !important;
}

.product-filter .display {
    margin-left: 10px;
    float: right;
    line-height: 35px;
    margin-right: 0px;
}

.product-filter .form-control {
    font-size: 13px;
    width: auto;
    box-shadow: none;
    margin-left: 20px;
    margin-right: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 11px;
    height: 32px;
    border: 1px solid #e5e5e5;
}
.product-filter .limit {
    margin-right: 10px;
    margin-left: 20px;
    float: right;
}

.product-compare {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
    line-height: 35px;
}

.product-filter .sort {
    float: right;
}

.product-filter .display span {
    float: right !important;
}

.product-filter .display a {
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 0px;
    background: url('../image/default/icon-grid-list.png') no-repeat 0 0 scroll;
    background-color: #FFFFFF;
    width: 35px;
    height: 31px;
    display: inline-block;
}

.product-list .image {
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 35%;
    margin-right: 0px;
}

.product-block .group-item .wishlist-compare {
    float: right;
    position: relative;
    width: 40%;
}

.product-block .group-item .cart {
    float: right;
    height: 40px;
    line-height: 40px;
    position: relative;
    width: 60%;
    color: #FFFFFF;
    background-color: #333d46;
    padding-left: 10px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    padding-left: 0px;
}

.return-name {
    float: right;
    width: 31%;
    margin-left: 15px;
    margin-right: 0px;
}

.return-model {
    float: right;
    width: 31%;
    margin-left: 15px;
    margin-right: 0px;
}

.return-quantity {
    float: right;
    width: 31%;
}

.return-reason {
    float: right;
    width: 31%;
    margin-left: 15px;
    margin-right: 0px;
}

.return-opened {
    float: right;
    width: 31%;
    margin-left: 15px;
    margin-right: 0px;
}

.return-captcha {
    float: right;
}

.product-info .description span {
    font-weight: bold;
    padding-left: 13px;
    padding-right: 0px;
}

.product-info .group-item .cart, .product-info .group-item .wishlist, .product-info .group-item .compare {
    border: 1px solid #e5e5e5;
    color: #6e6e72;
    line-height: 36px;
    padding: 0 15px;
    font-size: 16px;
    display: inline-block;
    margin-left: 13px;
    margin-right: 0px;
    background: #FFFFFF;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.htabs a {
    background: #FFFFFF;
    padding: 15px 25px;
    float: right;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #3d3d3d;
    margin-left: 3px;
    margin-right: 0px;
    display: none;
    text-transform: uppercase;
}

.product-info .image-additional .right {
    right: 0;
    left: initial;
}

.product-info .image-additional .left {
    left: 0;
    right: initial;
}

.category-list ul {
    float: right;
    margin-left: 35px;
}

.category-list ul li i {
    padding-left: 13px;
    padding-right: 0px;
}

.blog-meta > span {
    float: right !important;
}

.blog-meta > span:first-child {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.pav-blogs .blog-item img {
    margin-left: 15px !important;
    margin-right: 0px !important;
    float: right !important;
}

.blog-social .social-wrap > div {
    float: right !important;
}
.blog-social .social-heading {
    padding-left: 12px !important;
    padding-right: 0px !important;
}

.list > li > a {
    font-weight: 300 !important;
    line-height: 20px !important;
    padding-left: 0px !important;
    padding-right: 7px !important;
    text-decoration: none;
    text-transform: none !important;
    font-size: 14px !important;
}


#comment-form label {
    float: right !important;
}

table.radio td label {
    display: block;
    margin-right: 20px;
}

.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
    text-align: right;
}

.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
    text-align: right;
}

/* Addthis RTL fix START */
#at15s .at-label {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

#at15s {
    text-align: right !important;
}

#at15s a, #at15s span {
    direction: rtl !important;
}
/* Addthis RTL fix END */

.product-info .options .option-image > tbody > tr {
    float: right;
    width: 50%;
}