<h2>{{(commonService.Res$ | async)._regionSections}}</h2>
<div *ngIf="UserSections" [dragula]='"sections-bag"' [dragulaModel]='UserSections'>
    <div class="section" *ngFor="let section of UserSections">
        <mat-card (click)="gotoSection(section.id)">
            <!--<mat-card-header (click)="toggleCollection(collection.id)">-->
            <div class="section-header clickable">
                <!--<span>{{section.Name}}</span>-->
                <span><ec-editablelabel [label]="section.DescName" (update)="updateSectionName(section.id, $event)"></ec-editablelabel></span>
                
                <span *ngIf="availableSectionExist" class="iconspan pull-right handle-drag"><mat-icon class="handle-drag">reorder</mat-icon></span>
                <span *ngIf="availableSectionExist" class="iconspan pull-right clickable" (click)="$event.stopPropagation();removeSection(section.id);"><mat-icon>delete</mat-icon></span>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="availableSectionExist" class="btn-new-section" (click)="addSection()">
    <mat-card>
        <span>{{(commonService.Res$ | async)._addNewSection}}</span>
    </mat-card>
</div>

<!--<div>hello region view {{(Region$ | async)?.CodeName}}</div>

<div class="container-fluid">
    <div *ngFor="let section of AvailableSections$ | async" (click)="insertSection(section.id)" class="row" style="width:100%كborder:1px solid;min-height:30px;background-color:yellow">{{section.Name}}</div>
</div>-->