/*.clickable {
    cursor: pointer;
    cursor: hand;
}
*/
.section {
    padding-top: 5px;
}

.section mat-card {
    padding-top: 12px;
    padding-bottom: 15px;
}

.section-header span {
    vertical-align: middle;
    line-height: 1em;
    text-align: center;
}

.section-header .iconspan {
    float: right;
    display: inline-flex;
    align-items: center;
}

mat-slide-toggle {
    margin: 0px;
}

.section-header .iconspan {
    display: inline-flex;
    align-items: center;
    padding-left: 10px;

}

.pull-right {
    float: right;
}

.handle-drag {
     cursor: move;
}

.btn-new-section {
    padding-top: 5px;
    cursor: pointer;
    cursor: hand;
}

.btn-new-section mat-card {
    text-align: center;
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}