<mat-tab-group>
    <mat-tab [label]="(commonService.Res$ | async)._layout">
        <!--<ng-template mat-tab-label>Layout</ng-template>-->

        <div style="padding: 25px 5px 20px 5px;">
            <md2-select [placeholder]="(commonService.Res$ | async)._selectedPage" [(ngModel)]="selectedPageId" [multiple]="false">
                <md2-option *ngFor="let page of templateService.Pages$ | async" [value]="page.id">
                    {{page.Name}}
                </md2-option>
            </md2-select>
        </div>
        <pagecontainer [objPage]="selectedPage"></pagecontainer>
    </mat-tab>
    <mat-tab [label]="(commonService.Res$ | async)._settings">
            <!--<ng-template mat-tab-label>Layout</ng-template>-->
    
            <sectionview [SectionId] = "SettingsSectionId"></sectionview>
        </mat-tab>
</mat-tab-group>