@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x1v826');
  src:  url('fonts/icomoon.eot?x1v826#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x1v826') format('truetype'),
    url('fonts/icomoon.woff?x1v826') format('woff'),
    url('fonts/icomoon.svg?x1v826#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\e900";
}
.icon-shipping:before {
  content: "\e901";
}
.icon-payments:before {
  content: "\e902";
}
.icon-tax:before {
  content: "\e903";
}
.icon-Domains:before {
  content: "\e904";
}
.icon-affiliate:before {
  content: "\e905";
}
.icon-currency:before {
  content: "\e906";
}
.icon-language:before {
  content: "\e907";
}
.icon-region-settings:before {
  content: "\e908";
}
.icon-Countries-cities:before {
  content: "\e909";
}
.icon-Geo-zone:before {
  content: "\e90a";
}
.icon-measuremant-unites:before {
  content: "\e90b";
}
.icon-Users-permossions:before {
  content: "\e90c";
}
.icon-accounts-options:before {
  content: "\e90d";
}
.icon-Products:before {
  content: "\e90e";
}
.icon-Orders:before {
  content: "\e90f";
}
.icon-tracking:before {
  content: "\e910";
}
.icon-stock:before {
  content: "\e911";
}
.icon-return:before {
  content: "\e912";
}
.icon-Order-total:before {
  content: "\e913";
}
.icon-workflow:before {
  content: "\e914";
}
.icon-voucher:before {
  content: "\e915";
}
.icon-interface:before {
  content: "\e916";
}
.icon-email-server:before {
  content: "\e917";
}
.icon-integrations:before {
  content: "\e918";
}
.icon-Custom-code:before {
  content: "\e919";
}
.icon-security:before {
  content: "\e91a";
}
.icon-Audit:before {
  content: "\e91b";
}
