/******************************************
	 English Fonts
******************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Hind:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/font-awesome.min.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/bootstrap.min.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/bootstrap-theme.min.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/jquery.fancybox.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/jquery-ui.min.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/owl.carousel.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/owl.transitions.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/owl.theme.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/slick.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/flipclock.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/animate.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/hover.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/jquery.mCustomScrollbar.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/libs/push.css);

@import url(./expandish/view/theme/{{ Template_Name }}/css/theme.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/responsive.css);
@import url(./expandish/view/theme/{{ Template_Name }}/css/browser.css);

.color{color:{{MainColor}} } a:focus,a:hover{color:{{MainColor}} }.bg-color,.wishlist-button a:hover{background:{{MainColor}} }.popup-icon{color:{{MainColor}} }body .scroll-top:hover{color:#fff;background:{{MainColor}} ;border-color:{{MainColor}} }.product-price ins{color:{{MainColor}} }.currency-list li a:hover,.language-list li a:hover,.list-cat-search li a:hover,.list-profile li a:hover{background:{{MainColor}} ;color:#fff}.shop-button:hover{background:{{MainColor}} }.main-nav>ul>li:hover>a{color:{{MainColor}} }.slick-slider .slick-arrow .slick-nav:hover,.slick-slider .slick-arrow:hover .slick-nav,.smart-search-form input[type=submit]{background-color:{{MainColor}} }.slick-slider .slick-dots>li.slick-active{background:{{MainColor}} }.title-tab1 li.active .link-btn{background-color:{{MainColor}} ;color:#fff}.product-extra-link>a:hover,.title-underline span::after{background-color:{{MainColor}} }.owl-theme .owl-controls .owl-buttons div:hover{background-color:{{MainColor}} ;border-color:{{MainColor}} }.banner-slider .owl-theme .owl-controls .owl-buttons div:hover,.btn-arrow::before{background-color:{{MainColor}} }.item-service.active .title18 a,.list-service .item-service:hover .title18 a{color:{{MainColor}} }.category-slider .cat-item .cat-info{background:{{MainColor}} }.middle-navi.owl-theme .owl-controls .owl-buttons div:hover{background-color:{{MainColor}} }.title-brand>ul>li.active>a,.title-brand>ul>li>a:hover{color:{{MainColor}} }.title-brand>ul>li.active>a::before{background:{{MainColor}} ;border-color:{{MainColor}} }.banner-slider3 .slick-slider .slick-dots>li.slick-active{background:{{MainColor}} }.item-adv3:hover .adv-thumb-link::after{border-color:{{MainColor}} }.title-box3>ul>li.active>a{color:{{MainColor}} }.title-box3>ul>li.active>a::after{background:{{MainColor}} }.footer-tags a:hover{color:{{MainColor}} }.item-adv4 .btn-adv4:hover span{background:{{MainColor}} }.item-adv4 .btn-adv4:hover{border-color:{{MainColor}} }.banner-slider5 .owl-theme .owl-controls .owl-page.active span,.list-cat-icon>ul>li>a:hover{background:{{MainColor}} }.owl-theme.group-navi.style2 .owl-controls .owl-buttons div:hover{background-color:{{MainColor}} }.title-tab8>ul>li.active>a{color:{{MainColor}} }.list-cat-icon2>ul>li>a:hover::before,.range-filter .slider-range{background:{{MainColor}} }.range-filter .ui-slider-handle.ui-state-default.ui-corner-all{border:1px solid {{MainColor}} }.view-type a.active{background-color:{{MainColor}} ;border-color:{{MainColor}} }.comming-event .shop-button:hover,.latest-news7 .recentpost-slider .owl-theme .owl-controls .owl-buttons div:hover{background-color:{{MainColor}} }.event-item .title14 a:hover{color:{{MainColor}} }.product-box7 .product-slider .owl-theme .owl-controls .owl-buttons div:hover{background-color:{{MainColor}} }.club-testimo{margin-bottom:50px}.list-club li i,.list-club li span{color:{{MainColor}} }.pagi-bar a.current-page{background:{{MainColor}} ;border-color:{{MainColor}} ;color:#fff;position:relative}.gallery-control>a:hover{background-color:{{MainColor}} ;border-color:{{MainColor}} }.gallery-control .carousel ul li a.active{border-color:{{MainColor}} }.detail-qty>a:hover,.gallery-control .carousel ul li a.active::before{color:{{MainColor}} }.title-tab-detail>ul>li.active>a{background:{{MainColor}} ;color:#fff}.leave-comment>p span,.list-default li a::before,.post-date-comment i.fa{color:{{MainColor}} }.author-avatar a::before{background:rgba(255,192,0,.3)}.toggle-tab-title:hover{color:{{MainColor}} }@media (max-width:767px){.main-nav>ul>li:hover>a{color:{{MainColor}} !important}.main-nav .toggle-mobile-menu span,.main-nav .toggle-mobile-menu::after,.main-nav .toggle-mobile-menu::before{background:{{MainColor}} }}
body {
	font-family: {{EnglishFontsSecondary}}, sans-serif;
}
:root {
	--MainColor: {{ MainColor }};
  }
.title14,
.title12,
.title16,
.title18,
.title24,
.title30,
.title40,
.title48,
.title60,
.title100,
.shop-button,
.main-nav > ul > li > a,
.product-extra-link > a.addcart-link {
  font-family: {{EnglishFonts}}, sans-serif;
}

/*======================================================================
	QuickCheckout - Login Popup  + New Layout Fixes
======================================================================*/
.login--header,.login--footer button {  background-color: {{ MainColor }};}
.login--footer p a:hover {  color: {{ MainColor }};}
#option_login_popup_trigger { color:white; position:relative;top: -13px;background-color: {{ MainColor }};}
#quickcheckout .btn{	color:white; 	background-color: {{ MainColor }};}
#quickcheckout .block-title { display: none; }
#quickcheckout {	background: transparent;}
div.radio {	display: inline-block;}

/*** THEME FIXES ***/
.main-nav li.has-mega-menu { position: static;}
.smart-search-form {width:100%;}
.smart-search-form .btn-search {background-color: {{ MainColor }};}
.special-box .newletter-form { margin-bottom: 42px;}
.social-network .fa { padding:5px 10px;  color:white; transition: all 0.5s ease-out 0s; -webkit-transition: all 0.5s ease-out 0s; background-color: {{MainColor}};}
.social-network .fa:hover { color:#333; background-color: white}
.product-rate,.product-rating { background: none;}
a.shop-button:focus,a.shop-button:hover,.addcart-link:hover ,.wishlist-button a:hover { color: #FFF !important;}
.owl-theme .owl-controls .owl-page.active span{background: {{ MainColor }};}
.product-rating img { position: relative; top:-10px}
.product-slider .item-product {    margin: 0 15px 20px 15px;}
.product-slider .navi-bottom .owl-buttons {    margin-top: 10px;}
.mini-cart-edit {position: relative; left:10px;}
.mini-cart-edit .delete { position: relative; left:-2px; }
.list-mini-cart-item {    margin-top: 10px;    max-height: 390px;    overflow-y: auto;    overflow-x: hidden;}
h3.title18{	margin-bottom: 15px;}
button.btn {	-webkit-appearance: none;}
input[type=checkbox], input[type=radio] {    position: relative;    top: 2px;}
.accountList { padding-left:0; list-style: none;}
.accountList li { margin:10px 2px;}
.accountList li i {    display: inline-block;	width: 20px;	height: 10px;	text-align: center; margin-right: 10px; color:{{MainColor}};}
span.wrap { background: transparent !important; }
#quickcheckout .wrap { margin-top:0;}
html input[type=button], input[type=reset], input[type=submit] {	-webkit-appearance: listitem;	line-height: 35px;}
.pagi-bar a{	height: 35px;	line-height: 25px !important;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: {{MainColor}};
    border-color: {{MainColor}};
}
.reviewTrigger img {    position: relative;    top: -2px;}
.sku-stock .rate-item {	padding-right: 0px;}
.comment-avatar img {	max-width: 80px;}
.intro-box1 p.desc { text-transform: capitalize}
.slick-slider .slick-arrow .slick-caption {	width: 120px;}
.item-product-list .product-extra-link > a.addcart-link {    margin-left: 3px;}
span.required {color:#FF806C;}

/*** THEME FIXES - Responsive ***/
@media (max-width: 767px){
	#quickcheckout #step_1 > div { border: none; 	}
	#quickcheckout #option_login_popup_trigger {	margin: 30px 0px 0px 2px !important;}
	#quickcheckout #step_6 .qc-checkout-product .qc-table .qc-row .qc-col {	width: 30%;}
	.wishlist-info td { padding:3px !important; vertical-align: middle !important;}
	div.table {	display: block; margin-bottom: 20px;}
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 4px;
	}
	::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}
	div.sort-paginav.pull-right{
		float:none !important;
		text-align: center;
	}
}

/* update product options from cart style */
.form-update-options table .item{
	height: max-content;
	overflow: hidden;
}
.form-update-options table{
	width: 100%;
}
.form-update-options table .tb-product  {
	display: block;
}
.form-update-options table .tb-product .item-photo {
	float: left;
	width: 60px;
	display: block;
	padding: 12px 2px 6px;
	text-align: center;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
}
.form-update-options table .tb-product .item-name {
	font-weight: normal;
	color: #888888;
	font-size: 14px;
	display: inline-block;
	margin: 24px 0 0 10px;
}
.modal-backdrop {
	z-index: 0;
}
.form-update-options table .product-options-wrapper{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ececec;
}
.option_error{
	color:#dc3545;
}
.form-cart table .edit-button{
	color: #cccccc;
	display: block;
	margin-top: 10px ;
}
/* end update product options from cart style */
/* wishlist enhancment */
.my-account .links-list ul li a:hover svg path , .my-account .links-list ul li a i{
	transition: .5s all ease-in-out;
	-webkit-transition: .5s all ease-in-out;
	-moz-transition: .5s all ease-in-out;
	-ms-transition: .5s all ease-in-out;
	-o-transition: .5s all ease-in-out;
  }
  .my-account .links-list ul li a:hover svg path{
	fill: {{MainColor}};
  }
  .my-account .links-list ul li a:hover i{
	color:{{MainColor}};
  }
  .my-account .links-list .active{
	border-left: 4px solid {{MainColor}};
	background-color: {{MainColor}}33;
  }
  .my-account .links-list .active a{
	color:{{MainColor}};
  }
  .my-account .links-list ul li.active a svg path{
	fill: {{MainColor}};
  }
  .my-account .user__name{
	color:{{MainColor}};
  }
  .my-account .user__avatar span{
	color:{{MainColor}};
  }
  .my-account .links-list ul li.active a i{
	color: {{MainColor}};
  }
  @media (max-width: 991px){
	.my-account .links-list .active a{
	  color: #fff;
	}
	.my-account .links-list .active{
	  background-color: {{MainColor}};
	}
	.my-account .links-list ul li.active a svg path{
	  fill: #fff;
	}
	.my-account .links-list ul li.active a i{
	  color: #fff;
	}
  }
  /* custom checbox main background */
.my-account__form-info input[type=checkbox]:checked:before{
	background-color: {{MainColor}} !important;
  }
  .my-account__form-info input[type=checkbox]:before  , .my-account__form-info input[type=checkbox]:before{
	border-color: {{MainColor}} !important;
  }
  /* hover on login modal background color */
  .bg-color:hover , .bg-color:focus , .bg-color:active, .bg-color[disabled]{
	background-color:{{MainColor}}bf !important;
  }
  .login--popup .modal-body .form-wrap input:focus{
	border-color: {{MainColor}} !important;
  }