.mitooltp-element,.mitooltp-element:after,.mitooltp-element:before,.mitooltp-element *,.mitooltp-element :after,.mitooltp-element :before {
    box-sizing: border-box;
}

.mitooltp-element {
    position: absolute;
    display: none;
}

.mitooltp-element.mitooltp-open {
    display: block;
}

.mitooltp-element.mitooltp-theme-arrows {
    max-width: 100%;
    max-height: 100%;
}

.mitooltp-element.mitooltp-theme-arrows .mitooltp-content {
    border-radius: 6px;
    position: relative;
    font-family: inherit;
    background: #333;
    color: #eee;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.mitooltp-element.mitooltp-theme-arrows .mitooltp-content:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 6px;
    border-style: solid;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-center .mitooltp-content {
    margin-bottom: 6px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-center .mitooltp-content:before {
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-top-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-center .mitooltp-content {
    margin-top: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-center .mitooltp-content:before {
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    border-bottom-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-right.mitooltp-element-attached-middle .mitooltp-content {
    margin-right: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-right.mitooltp-element-attached-middle .mitooltp-content:before {
    left: 100%;
    top: 50%;
    margin-top: -6px;
    border-left-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-left.mitooltp-element-attached-middle .mitooltp-content {
    margin-left: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-left.mitooltp-element-attached-middle .mitooltp-content:before {
    right: 100%;
    top: 50%;
    margin-top: -6px;
    border-right-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-left.mitooltp-target-attached-bottom .mitooltp-content {
    margin-top: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-left.mitooltp-target-attached-bottom .mitooltp-content:before {
    bottom: 100%;
    left: 6px;
    border-bottom-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-right.mitooltp-target-attached-bottom .mitooltp-content {
    margin-top: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-right.mitooltp-target-attached-bottom .mitooltp-content:before {
    bottom: 100%;
    right: 6px;
    border-bottom-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-left.mitooltp-target-attached-top .mitooltp-content {
    margin-bottom: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-left.mitooltp-target-attached-top .mitooltp-content:before {
    top: 100%;
    left: 6px;
    border-top-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-right.mitooltp-target-attached-top .mitooltp-content {
    margin-bottom: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-right.mitooltp-target-attached-top .mitooltp-content:before {
    top: 100%;
    right: 6px;
    border-top-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-right.mitooltp-target-attached-left .mitooltp-content {
    margin-right: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-right.mitooltp-target-attached-left .mitooltp-content:before {
    top: 6px;
    left: 100%;
    border-left-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-left.mitooltp-target-attached-right .mitooltp-content {
    margin-left: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-top.mitooltp-element-attached-left.mitooltp-target-attached-right .mitooltp-content:before {
    top: 6px;
    right: 100%;
    border-right-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-right.mitooltp-target-attached-left .mitooltp-content {
    margin-right: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-right.mitooltp-target-attached-left .mitooltp-content:before {
    bottom: 6px;
    left: 100%;
    border-left-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-left.mitooltp-target-attached-right .mitooltp-content {
    margin-left: 6px;
}

.mitooltp-element.mitooltp-theme-arrows.mitooltp-element-attached-bottom.mitooltp-element-attached-left.mitooltp-target-attached-right .mitooltp-content:before {
    bottom: 6px;
    right: 100%;
    border-right-color: #333;
}

.mitooltp-element.mitooltp-theme-arrows {
    pointer-events: none;
}

.mitooltp-element.mitooltp-theme-arrows .mitooltp-content {
    padding: .5em 1em;
}