.header-opt-8 .header-top .container.visible-xs {
    border-bottom: 1px solid #282828;
    padding: 10px 5px !important;
}

.header-opt-8 .header-top .container.visible-xs .links.nav-right li {
    padding: 5px 5px !important;
}

.header-opt-8 .header-top .container.visible-xs .links.nav-right li a {
    background: #fff;
    line-height: normal;
    height: 19px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-opt-8 .header-top .container.visible-xs .links.nav-right li img {
    margin: 0;
    top: auto;
}

.header-opt-8 .header-top .container.visible-xs .links.nav-right li.switcher-language a i.fa-angle-down {
    display: none;
}

.header-opt-8 .header-top .container.visible-xs .switcher-language .switcher-options .switcher-flag {
    margin-inline-end: 10px;
}

.header-opt-8 .header-top .container.visible-xs .switcher-language .switcher-options a {
    justify-content: flex-start !important;
}

.header-opt-8 .header-top .container.visible-xs .links.nav-right li .dropdown-menu > li  {
    padding: 0 !important;
}
.header-opt-8 .header-top .container.visible-xs .links.nav-right li .dropdown-menu > li > a {
    width: 100% !important;
}

.header-opt-8 .header-top .container.visible-xs .links.nav-right li .dropdown-menu > li > a:hover {
    background-color: #02070A;
    color: #fff;
    width: 100% !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.wellcome-mobile {
    background: #f2f2f2;
    padding: 5px;
    font-size: 13px;
}

@media (max-width: 767px) {
    .header-opt-8 .header-top {
        background-color: #000;
        border-bottom: 1px solid #000;
    }

    .header-opt-8 .header-top .container.visible-xs .links.nav-right li.link-account {
        display: none;
    }

    .header-opt-8 .header-nav .box-header-nav {
        background: #ebebeb !important;
    }
    .header-opt-8 .nav-toggle-menu {
        background-color: #ffffff;
        color: #000;
    }

    .header-opt-8 .block-nav-categori .block-title {
        background-color: #ffffff;
        color: #000;
    }

    .site-header .nav-toggle-menu {
        background-image: url(../images/menu-cat-black.png);
    }

    .block-nav-categori .block-title {
        background-image: url(../images/menu-cat-black.png);
    }
}