<div class="{{useHideBar ? 'use-sidebar' : ''}} sidebar-at-left" id="main">
    <div id="sidebar">
        <div class="maintoolbar">
            <mat-toolbar [style.background-color]="'#00A8E8'" [style.color]="'white'">
                <span>
                    <button mat-icon-button (click)="back()">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>          
                </span>

                <!-- This fills the remaining space of the current row -->
                <span class="fill-remaining-space" title="{{commonService.HeaderName$ | async}}">{{commonService.HeaderName$ | async}}</span>

                <!--<span class="btn-save" *ngIf="commonService.showSaveButton$ | async"><button mat-raised-button (click)="commonService.saveButtonClicked$.next(true);"><mat-icon>done</mat-icon> {{(commonService.Res$ | async)._save}}</button></span>-->
                <!--<span><button mat-button (click)="ResetDraftVersion()">Reset</button></span>-->
            </mat-toolbar>
        </div>
        <!--<h1>Header of the App</h1>-->
        <div class="editor-content" flex>
            <router-outlet (activate)="onActivate($event)"></router-outlet>
            <!--<nav mat-tab-nav-bar>
                <a mat-tab-link [routerLink]="'template'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [style.min-width]="'40%'">
                    Layout
                </a>
                <a mat-tab-link [routerLink]="'page'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [style.min-width]="'40%'">
                    Styling
                </a>
            </nav>-->
            
            <!--<mat-tab-group>
                <mat-tab label="Layout"><<router-outlet name="layout-outlet"></router-outlet>></mat-tab>
                <mat-tab label="Styling"><router-outlet name="styling-outlet"></router-outlet></mat-tab>
            </mat-tab-group>-->

        </div>
        <div class="loading-indicator" *ngIf="ShowProgressSpinner">
            <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
        <!--<h2>Footer of the App</h2>-->
        <div class="footertoolbar">
            <mat-toolbar color="white">
                <span class="btn-action"><button mat-raised-button [matTooltip]="(commonService.Res$ | async)._publishtooltip" [matTooltipPosition]="'after'" (click)="publish()"><mat-icon>launch</mat-icon> {{(commonService.Res$ | async)._publish}}</button></span>
                <span class="btn-action"><button mat-raised-button [matTooltip]="(commonService.Res$ | async)._resettooltip" [matTooltipPosition]="'after'" (click)="ResetDraftVersion()"><mat-icon>settings_backup_restore</mat-icon> {{(commonService.Res$ | async)._reset}}</button></span>
                <span class="btn-action" *ngIf="showSaveButton"><button mat-raised-button [matTooltip]="(commonService.Res$ | async)._savetooltip" [matTooltipPosition]="'after'" (click)="onSubmit();"><mat-icon>done</mat-icon> {{(commonService.Res$ | async)._save}}</button></span>
            </mat-toolbar>
        </div>
    </div>
    <div id="content">
        <div *ngIf="!(commonService.TemplateHtml$ | async)">Loading Template...</div>
        <iframe id="frame-viewer" *ngIf="commonService.TemplateHtml$ | async" [src]="commonService.TemplateHtml$ | async" frameborder="0" style="position: fixed;height:100%;"
            height="100%" [width]="iframeWidth">
        </iframe>
    </div>
    <a href="#" id="separator" (click)="toogleBar($event)"></a>
    <div class="clearer">&nbsp;</div>
</div>