.box-products {
	position:relative;
}
.producttabs .carousel-control{
	z-index:10
}

.producttabs .nav{
	padding:0;
	margin:0
}
.producttabs .carousel-controls{
	position:absolute;
	top:-38px;
	right:0;
	z-index;11;
	width:85px
}
	.producttabs .carousel-controls a.carousel-control{
		font-size: 19px;
		font-weight: bold;
		height: 20px;
		line-height: 1em;
		margin: 0;
		text-decoration: none;
		width: 20px;
	}
.producttabs .tab-content, .producttabs .box-product{
	overflow:inherit
}
.producttabs .box-product{
	padding-bottom:12px;
}