/* start css product on tooltip */
.btn-viewmore {
	padding-bottom: 20px;
    text-align: center;
}

.popover-content {
	text-align: center;
}
.popover-content .name a:hover{
	color:#ff7800;
}
.popover-content .image {}
.popover-content .name a {
	color: #595b5c;
	font-weight: bold;
	text-decoration: none;
	line-height:16px;  
	overflow: hidden;
	margin:10px 0 ;
}
.popover-content .description{
	color:#818181;
	font-size:11px;
	line-height:16px;
	height:32px; overflow:hidden
}
.popover-content .price {
	font-weight:bold;
	color: #fa5776;
	font-size:16px;line-height:24px; padding:12px 0px
}


.popover-content .price-old {
	color: #b9b9b9;
	margin:0 5px 0 0;
	text-decoration: line-through;
}
.popover-content .price-new {
	font-weight: bold;
}
.popover-content .rating {
	margin-bottom: 4px;
}
/* end css product on tooltip */
.productcarousel {
	position:relative;
}
.box-products {
	position:relative;
}
.productcarousel .carousel-control{
	z-index:10;
	border: none;
}

.productcarousel .nav{
	padding:0;
	margin:0
}
.productcarousel .carousel-controls{
	position:absolute;
	top:-32px;
	right:0;
	z-index:11;
	width:60px;
	height:16px;
}

.productcarousel .tab-content, .producttabs .box-product{
	overflow:inherit
}
.productcarousel .box-product{
	padding-bottom:0px;
}
.productcarousel .carousel-controls .left:hover {
    background-position: left -19px;
}
.productcarousel .carousel-controls .right {
    float: right;
    top: 24px;
}
.productcarousel .carousel-controls .right:hover {
    background-position: right -19px;
}
.productcarousel .carousel-controls .right,.productcarousel .carousel-controls .left {
    background: url("../image/default/icon-next-prev.png") no-repeat scroll right top transparent;
    cursor: pointer;    
    outline: medium none;
    position: relative;
    text-indent: -999em;
   	height: 20px;
	width: 16px;
	display: block;
}
.productcarousel .carousel-controls .left {
    background-position:left top;
    float: left;
    margin: 0 5px 0 0;   
    top:25%;
}