/* Large desktop */


/*Ipad landscape*/

@media only screen and (max-width: 979px) {
#header_right{
	padding: 0px 5px;
}
#header .button-search {
	    background: url("../image/default/icon-search.png") no-repeat scroll 0 3px transparent;
	    float: left;
	    padding: 2px;
	    margin-left: 5px;
	}
#search {
		position: relative;
		margin: 10px 5px 0 5px;
		left: 0;
}
#header_right .pull-right{
	float: left;
}

	#mainmenu {
		width: 100%;
	}
	.content-top .bannercontainer{
		height: 100%;
	}
/*menu*/	
	.btn.btn-navbar {
		float: left;
		padding: 9px 8px;
		margin: 8px 0 3px 10px;
	}
	.navbar-inner {
		padding : 0 ;
	}
	.navbar .btn-navbar {
		background: #69243A;
	}
	.nav-collapse .megamenu:after {
		border-bottom: 10px solid #9a4761;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 16px;
		position: absolute;
		top: -15px;
	}
	.nav-collapse .megamenu:before {
		border-bottom: 11px solid rgba(225, 225, 225, 0.2);
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		content: "";
		display: inline-block;
		left: 15px;
		position: absolute;
		top: -16px;
	}
	.nav-collapse .megamenu {
		border-top: 5px solid #9a4761;
		border-right: none;
		border-left: none;
		border-bottom: none;
		box-shadow: 0 0 5px #999;
		border-radius: 0;
		margin: 10px 0 0!important;
		background: url("../image/default/bg-h3.png") repeat scroll 0 0 #9A4761;   
	}
	.nav-collapse .nav li.homepage a {
	    background: none repeat scroll 0 0 transparent;
		display: block;
		overflow: hidden;
		padding-left: 0;
		text-indent: inherit;
		width: auto;
		padding-left: 15px;
	}
	.nav-collapse .nav > li{
		background: none;
		border-bottom: 1px solid #FFFFFF;
	}
	.nav-collapse .nav > li:hover {
		margin:  0;
	}
	.nav.megamenu ul > li.mega-group:hover > a{
		background:  none;

	}
	.nav-collapse .nav > li > a{
		font-weight: normal;
		padding-top: 2px;
		padding-bottom: 2px;
		border-radius:  0;
		margin: 0 ;
		 
	}
	.nav-collapse .dropdown-menu {
		background: #ffffff;
	}
	.nav-collapse .nav > li:hover > a,
	.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus,
	 .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus{
		
		background-color:  #75263E;
		border: none;
		margin: 0 ;
	 }
	.nav-collapse .nav.megamenu  > li.open, .nav-collapse .nav.megamenu  > li:hover {
		border-top:  none;
		border-bottom: 1px solid #FFFFFF;
		background:  none;
		margin: 0;
	}
	.nav-collapse .dropdown-menu li a {
		color: #909293!important;
		font-weight: normal;
		padding: 0 0 0 12px;
		display: block;
		margin: -1px 0!important;
	}
	.nav-collapse .dropdown-menu li a:hover{
		 color: #a24e68!important;
	}
	.nav-collapse .nav > li > .dropdown-menu:after {
		border-bottom: 10px solid #897254;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 17px;
		position: absolute;
		top: 33px;
	}
	.nav-collapse .nav > li > .dropdown-menu:after {
		border-bottom: 10px solid #FFFFFF;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		display: inline-block;
		left: 15px;
		position: absolute;
		top: 41px;
	}
	.nav-collapse .nav > li .mega-group > a {

	}
	.nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
		background-color: transparent!important;
		margin: -1px 0;
	}
	.menu-content {
		 color:  #909293;
	}
/*cart-top*/

	
/*carousel*/
	.productcarousel .name {
		clear: both;
	}

/*produce*/
	.box-produce .product-inner .name {
    clear: both;
}
	.footer-top .row-fluid [class*="span"],
	.product-info .row-fluid [class*="span"]{
		width: 100%;
		margin-left: 0;
		display: inline-block;
	}
	.product-info .image-additional {
		clear: none;
	}
	.product-list .product-block .wishlist-compare {
		float: left;
	}
	.product-list .product-block .group-item {
		top: 72%;
	}
	#headertop .login{
    margin-left: 5px;
	}
	#header .links {
	    margin-left: 0;
	}
		#header .pav-header-top p, .product-list .pav-group-button, header .pav-header-top nav, #powered .copyright, #header .pav-header-top .span3, #powered .paypal, #header #logo, #header .pav-header-center .span6 + .span6, .breadcrumb, .product-filter, .product-list .box-product .product-inner {
	    text-align: center;
	}

	#powered .paypal{
		float: none;
	}
	.social{
		margin-bottom: 5px;
	}

	#footer .box .box-content ul li{
		margin: 5px 0;
	}
	.pav-search-panel {
	    background: none repeat scroll 0 0 transparent;
	    border: 0 none;
	    box-shadow: none;
	    margin: 0;
	    overflow: hidden;
	    padding: 0;
	    position: static;
	    border-bottom: 5px solid #9A4761
	}
	.box .custom_content img{
		width: 100%;
	}
	.blog-item .description,.blog-item .blog-readmore{
		float: left;
	}


}
/*Ipad Portrait*/
@media only screen and (min-width: 768px) and (max-width: 979px) {

	.header-right {
		width: 50%!important;
	}
	#content {
	    padding-right: 12px;
	}
	.product-inner{
		text-align: center;
	}
	.box .custom_content img{
		margin-bottom: 10px;
	}

	#header_right{
		padding-bottom: 20px;
	}
	.pav-search-panel {
	    border-bottom: 0;
	}
	.pav-search .hidden-phone{
		display: none;
	}
	.pav-search .hidden-desktop{
		display: block !important;
	}

	#header .links a{
		margin-left: 0;
	}
	#header .links{
		margin-right: 0;
	}

}


/* Iphone 5 landscape */
@media only screen and (max-width: 767px) {
	#header #logo {
		text-align: center;
	}
	.header-right {
		margin: 0 30%;
	}
	#header .pav-header-top .span3 > div, #logo a, #header #links ul li, #header #cart, #header #search, #header .nav-collapse .nav li a b.caret, #header .nav-collapse .dropdown-menu a b.caret {
    display: inline-block;
}

	.box-produce .product-inner .name {
    clear: none;
}

	
	/*Table*/
    table{
        width:100%;
    }
    table .price{
        margin: 0;
    }
    table td, table th{
        display:block;
        float:none;        
        text-align: left !important;
        vertical-align: middle !important;
        overflow: hidden;
    }
    table.radio td, table.radio th {
    display: inline-block;
    overflow: visible;
}
    table td.image, table th.image{
        text-align: center !important;
    }
    table span.phone{
        color: #333333;
        font-size: 13px;
        float: left;        
    }
    table td .avg-right{
        text-align: right;
        float: right;
    }
    table td.quantity span.phone{
        padding: 5px 10px 0 0;
    }   
    table.radio tr td:first-child{
        width: auto;
    }
    .mini-cart-total table td, .mini-cart-total table th,
    .mini-cart-info table td, .mini-cart-info table th {
    	 display: inline-block;
        text-align: right!important;
    }
	
	.mini-cart-info .image {
		width: 50px;
	}
	.sidebar:before {
		 width: auto;
	}
	.delivery {
		text-align: center;
		margin: 0 auto;
	}
	.cart-top {
		 text-align: center;
		 float: none;

		margin: 0 auto;
	}

	.pavfeatured .carousel-body {
	    margin-right: 25px;
	}
	.pavfeatured a.right {
	    right: -2px;
	}
	.media-body .pull-right {
		display: none;
	}
	.cus-welcome .content-text {
	    left: 0;
	    position: relative;
	    text-align: center;
	    top: 0;
	}


}


@media only screen and (min-width: 600px) and (max-width: 766px) {
	#content {
	    padding-right: 12px;	    
	}
	.product-inner{
		text-align: center;
	}
	.box .custom_content img{
		margin-bottom: 10px;
	}

	#header_right{
		padding-bottom: 20px;
	}
	.pav-search-panel {
	    border-bottom: 0 !important;
	    margin-top: 5px;
	}
	
}
 @media only screen and (max-width: 599px){

	.header-right {
		margin:  0;
		float:  left;
	}
#header #search input {
    border: 0 none;
    box-shadow: none;
    float: left;
    width: 150px;
    height: 18px;
    border: 1px solid #E3E3E3;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 5px 0 #EAEAEA inset;
}


	#header #cart {
    top: inherit;
    margin-bottom: 10px;

	}
	.product-list .product-block .image {
		width: 100%;
	}
	.product-list .product-block .group-item {
	    background: none repeat scroll 0 0 #FFFFFF;
	    left: 0;
	    margin: 0 10px 10px;
	    position: relative;
	    top: inherit;
	    width: auto;
	}

.product-list .product-block .group-item .cart {
    display: inline-block;
    float: none;
    margin-top: 10px;
    width: auto;
}

}
 @media only screen and (min-width: 480px) and (max-width: 599px) {
 	#content {
	    padding-right: 12px;
	}
	.product-inner{
		text-align: center;
	}
	.box .custom_content img{
		margin-bottom: 10px;
	}
	.pav-search-panel {
	    border-bottom: 0 !important;
	}
}
@media only screen and (max-width: 480px){
	#header #logo {
		padding: 0 0 ;
	}
	#header #cart .content {
    min-width: 270px;
    right: -30px;
	}
	.jcarousel {
		display:  none;
	}
	.mini-cart-info .image {
		width: 1px;
	}
	.cus-welcome {
		display:  none;
	}
	.pavfeatured .carousel-inner .product-block, 
	.productcarousel .carousel-inner .product-block {
	    width: 100%;
	    margin-left:0;
	}
	.pavfeatured a.carousel-control {
		top: -32px;
	}
	.pav-promotion {
		display: none;
	}

		.product-related [class*="span"], .product-related .row-fluid [class*="span"],
		.product-grid [class*="span"], .product-grid .row-fluid [class*="span"],
		.box-product [class*="span"], .box-product .row-fluid [class*="span"] {
			float:  none;		
		  width: 100%;
			margin-left:0;
		}
		.product-grid .product-block,
		.product-related .product-block {
		text-align: center;
	}
		.product-grid .product-block .image,
		.product-related .product-block .image {

			  float: none;
			  display: inline-block;
		}
}
/* Iphone 4 landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {

	body {
	    padding-left: 5px;
	    padding-right: 5px;	
	}
	#content {
	    padding-right: 12px;
	}
	.product-inner{
		text-align: center;
	}
	.pav-search-panel {
	    border-bottom: 0 !important;
	}
	#column-right{
		padding-top: 0;
	}
	.box-product .product-inner{
		margin-bottom: 10px;
	}
	.box{
		margin-right:10px;
	}
}

/* Iphone 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
	body {
	    padding-left: 5px;
	    padding-right: 5px;	
	}
	#content {
	    padding-right: 12px;
	}
	.product-inner{
		text-align: center;
	}
	.cart_inner{
		float: left;
		margin: 10px 0;
	}
	#headertop .login{
		margin-right: 0;
	}
}
