#header .header-right{
	float:left;
	 text-align: left;
}

body *{
    direction: rtl;
}

body {
    direction: ltr !important;
}

#mainmenu .navbar .nav{ float: right; }

.pavcontentslider .carousel-indicators 	{ right: 0 	}
.productcarousel .carousel-controls { right: auto; left: 0px }

ul.box-category li.haschild{
	 background-position: 6% 12px
}

#powered {
    text-align: right;
    clear: both;
}

.blog-title a{
    color: #e9eef1;
    font-size: 14px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-weight: normal;

}

#footer .listmenu a{
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size:13px;
    text-shadow: none;
}


.product-info .price_inner {
    color: #A24E68;
    float: left;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 22px;
    margin: 4px 10px 4px 0
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    font-weight: normal;
}

.product-block .price {
    color: #A24E68;
    display: block;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    white-space: nowrap;
}

.box .box-heading,.htabs a{
    background:  #E4E3E2;
    color: #5c5b5b;
    font-size: 14px;
    padding:10px 12px;
    text-transform: uppercase;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    display: block;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

input,
button,
select,
textarea {
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.navbar-search .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#headertop .login a:first-child {
    background-position: right 5px;
}
#headertop .login a {
    background: url("../image/default/icon-login.png") no-repeat scroll right -15px transparent;
    padding: 0 17px 0 5px;
    text-decoration: none;
}

#header .links a {
    float: right;
    display: block;
    padding: 0px 10px 0px 7px;
    margin-right: 5px;
    margin-left: 0px;
    background: url("../image/default/icon-top.png") no-repeat scroll right 7px transparent;
    color: #7C7C7C;
    font-size: 11px;
    text-decoration: none;
}

#header .links a:hover {
    background-position: right -27px;
}

#header .button-search {
    background: url('../image/default/icon-search.png') right center no-repeat;
    width: 28px;
    height: 30px;
    cursor: pointer;
    background-position: right 4px;
}

.pav-search-panel {
    position: absolute;
    right: 0px;
    top: -10000px;
    z-index: 100;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 5px solid #9A4761;
    clear: both;
    margin: 0;
    padding: 8px;
    right: initial;
    left: 0px;
}

.language .dropdown-menu {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    border-top: medium none;
    min-width: 63px;
    padding: 5px;
    margin-top: 3px;
    left: initial;
    right: 0px;
}

#currency .dropdown-menu {
    min-width: 70px;
    padding: 5px;
    margin: 0;
    border-radius: 0 0 4px 4px;
    border-top: medium none;
    margin-top: 3px;
    left: initial;
    right: 0px;
}

.btn-group.open .dropdown-toggle, .btn-group .btn {
    box-shadow: none !important;
    background: none !important;
    padding: 4px 4px 0 12px;
    border: none;
}

#language img {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 0px;
}

#currency {
    color: #7c7c7c;
    line-height: 27px;
    display: block;
    margin-right: 5px;
}

.navbar .nav > li > .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    right: 10px;
    left: initial;
}

.navbar .nav > li > .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    right: 9px;
    left: initial;
}

.product-inner .cart, .product-block-inner .cart {
    float: right;
    margin: 20px 0px 3px 20px;
}

input.button {
    margin: 0 5px 0 0;
    border: 0;
    height: 27px;
    padding: 0px 12px 0px 12px;
}

.label {
    background-color: #9A4761;
    float: left;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    padding: 0 10px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    z-index: 10;
    left: 5px;
    right: initial;
}

.sidebar ul li a, .content ul li a, .pav-blog .blog-bottom ul li a, .tab-content ul li {
    background-image: url("../image/default/icon-li-ar.png");
    background-position: right 10px top 13px;
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    padding-right: 25px;
    text-decoration: none;
}

.sidebar .product-block a {
    text-align: right;
}

.sidebar .product-block .image {
    float: right;
    width: 70px;
    margin-left: 15px;
    margin-right: 0px;
}

#footer .listmenu a.freeshipping {
    background-position: right 10px;
}

#footer .listmenu a.moneyback {
    background-position: right -27px;
}


#footer .listmenu a.exchange {
    background-position: right -66px;
}

#footer .listmenu a.securepayment {
    background-position: right -106px;
}

.social {
    float: right;
    margin-top: 12px;
}

.custom_follow {
    float: right;
    margin: 0px 10px 0px 0;
}

#footer .listmenu a {
    background: url("../image/default/icon-shipping.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    padding-right: 35px;
    line-height: 25px;
    margin-right: 0px;
    padding-left: 0px;
}

.address {
    background: url("../image/default/icon-map.png") no-repeat scroll right center transparent;
    padding-right: 20px;
    padding-left: 0px;
}

.mail {
    background: url("../image/default/icon-mail.png") no-repeat scroll right center transparent;
    padding-right: 20px;
    padding-left: 0px;
}

.fone {
    background: url("../image/default/icon-fone.png") no-repeat scroll right center transparent;
    padding-right: 20px;
    padding-left: 0px;
}

#powered .copyright {
    text-align: left;
    height: 40px;
}

.category-list ul li a {
    background-color: #9A4761;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 16px;
    text-indent: 0;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
}

.category-list ul li {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
    list-style: none;
    line-height: 20px;
    margin-right: 0px;
}

.product-filter .sort {
    float: left;
    color: #333;
}

.product-filter .limit {
    margin-right: 15px;
    float: left;
    color: #333;
    display: none;
    margin-left: 0px;
}

.product-filter .display {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}

.product-compare {
    padding-top: 3px;
    font-weight: bold;
    float: right;
}

.product-filter .sort {
    float: left;
    color: #333;
    white-space: nowrap;
}

.product-compare a {
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.product-filter > .display > span {
    float: right !important;
    margin: 4px 0 0 5px !important;
}

select {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 0px;
    width: 70%;
    margin-top: 2px;
}

.blog-meta > span {
    font-weight: bold;
    display: block;
    float: right;
    font-size: 90%;
    padding: 5px 5px 0 0;
}

.blog-social .social-heading {
    padding-left: 12px;
    padding-right: 0px;
}

.blog-social .social-wrap > div {
    float: right;
}

#comment-form label {
    color: #666666;
    display: block;
    float: right;
    font-size: 14px;
    line-height: 27px;
    margin: 0;
    width: 20%;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
    float: right !important;
}

.htabs a {
    float: right;
    text-align: center;
    text-decoration: none;
    margin-left: 5px !important;
    margin-right: 0px !important;
}

.htabs a.selected {
    background: none repeat scroll 0 0 #9A4761;
    color: #FFFFFF;
    margin-left: 5px !important;
    margin-right: 0px !important;
}

.product-list .name a {
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    text-align: right;
}

.contact-address b {
    white-space: nowrap;
}

.contact-address ul li i {
    color: #888888;
    float: right;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.contact-address ul li span {
    display: inline-block;
    padding-right: 15px;
    padding-left: 0px;
}

.contact-customhtml ul li i {
    float: right;
    font-size: 20px;
    padding: 8px 10px 6px 5px;
}

.contact-customhtml ul li span {
    display: inline-block;
    padding-right: 5px;
    padding-left: 0px;
}

.navbar .nav > li > a.dropdown-toggle {
    padding-left: 23px;
}

#mainmenu .caret {
    position: absolute;
    top: 30%;
    left: 5px;
    right: initial;
}

.attribute thead td, .attribute thead tr td:first-child {
    text-align: right;
}

.product-info .image-additional .carousel-inner .item a:first-child {
    margin-right: 0px;
}
.product-info .image-additional a {
    float: right;
    margin-right: 10px;
    margin-left: 0px;
}

#headertop .show-mobile .inner-toggle {
    left: 0;
    right: auto;
}

#headertop .show-mobile .quick-user .inner-toggle {
    left: -40px;
    right: auto;
}
#headertop .show-mobile .quick-access .inner-toggle {
    left: -40px;
    right: auto;
}

#headertop .show-mobile ul, #headertop .show-mobile .links {
    text-align: right;
}

#headertop .show-mobile .links span {
    margin-left: 10px;
    margin-right: 0px;
}

/* Addthis RTL fix START */
#at15s .at-label {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

#at15s {
    text-align: right !important;
}

#at15s a, #at15s span {
    direction: rtl !important;
}
/* Addthis RTL fix END */