.main-nav{
    .btn-summary{
        display: none;
    }
    .main-nav__container{
        padding: 9px 0;
        margin-bottom: 8px;
        .main-nav__logo{
            img{
                // width: 185px;
                max-height: 89px;
            }
            h1{
                font-weight: bold;
                padding: 10px 0;
            }
        }
        .main-nav__controls{
            display: flex;
            justify-content: flex-end;
            &.justify-content-start{
                border-top: solid 1px #e4eaee;
                padding-top: 6px;
                .dropdown{
                    button{
                        padding-#{$start}: 0;
                    }
                }
            }
            .dropdown-toggle::after{
                vertical-align: middle;
            }
            .dropdown{
                .btn{
                    color: $main-color;
                    &.dropdown-toggle{
                        font-size: 12px;
                        // font-family: 'HelveticaNeue';
                        // font-weight: bold;
                        &:focus{
                            box-shadow: none;
                        }
                    }
                } 
                &:first-child{
                    .btn{
                        margin-right: 4px;
                    } 
                }
                .dropdown-item{
                    font-size: 12px;
                    cursor: pointer;
                    &.active{
                        background-color: $main-color;
                    }
                    &:active{
                        color: $main-color;
                        background-color: #e9ecef;
                    }
                }
            }
        }
    }
}
@include mobileScreen{
    .main-nav {
        .btn-summary{
            display: block;
            background-color: unset;
            border: 1px solid $main-color;
            padding: 5px;
            border-radius: 3px;
            font-weight: 500;
            svg{
                path , g{
                    fill: $main-color;
                }
            }
        }
        .btn-summary__price{
            font-size: 12px;
            margin: 0 10px;
            color: $main-color;
        }
        .btn-summary__title{
            font-size: 11px;
            color: $main-color;
        }
        .main-nav__container {
            >
            .row{
                flex-direction: column;
                .col{
                    &:first-child{
                        order: 2;
                    }
                }
            }
            .main-nav__logo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 140px;
                }
            }
            .main-nav__controls {
                margin-bottom: 5px;
                .dropdown {
                    .btn{
                        &.dropdown-toggle{
                            font-size: 12px;
                            padding: 0;
                        }
                    }
                    .dropdown-item{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
