.main-checkout {
    // background-color: $main-background;
    background-color: #fff;
    // padding-top: 18px;
    // padding-bottom: 45px;
    // generic checkbox
    .saved-address-ship-order {
        display: flex;
        align-items: center;
        .form-check-input {
            position: static;
            width: 18px;
            height: 18px;
            margin: 0;
            border-radius: 3px;
            &:checked {
                background-color: $main-color;
                border-color: $main-color;
            }
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
            &:focus {
                outline: none !important;
                box-shadow: none;
            }
        }
        .form-check-label {
            // font-family: "HelveticaNeue";
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            cursor: pointer;
            width: 100%;
            margin-#{$start}: 9px;
            @extend %no-select;
            .required {
                color: #dc3545;
            }
        }
    }
    //end generic checkbox
    // .taps__next {
    //     .taps__next__btn {
    //         display: block;
    //     }
    //     .spinner-border {
    //         display: none;
    //     }
    // }
    .js-spinner {
        position: relative;
        overflow: hidden;
        
        & > * {
            pointer-events: none;
        }
        
        .spinner-text {
            position: relative;
            display: inline-block;
            z-index: 3;
            opacity: 1;
            transition: 0.01s ease all;
        }
        
        .spinner-load {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(0);
            opacity: 0;
            z-index: 2;
            display: inline-block;
            transition: 0.01s ease all;
            & .spinner-border {
                position: absolute;
                top: -9px;
                left: -9px;
                width: 17px;
                height: 17px;
            }
        }
        
        &.js-spinner-show {
            pointer-events: none;
            opacity: 0.9;
            .spinner-text {
                transform: scale(0);
                opacity: 0;
            }
            .spinner-load {
                transform: scale(1.0);
                opacity: 1;
            }
        }
    }
    
    .step__return{
        font-size: 14px;
        color: $main-color;
        margin-#{$start}: 18px;
    }
    &.disable {
        pointer-events: none;
        // .taps__next {
        //     .taps__next__btn {
        //         display: none;
        //     }
        //     .spinner-border {
        //         width: 17px;
        //         height: 17px;
        //         display: inline-block;
        //     }
        //     // opacity: 0.5;
        // }
        
        // button {
        //     // opacity: 0.5;
        // }
        // .taps__next{
        //     padding: 12px 32px;
        //     .spinner-border{
        //         margin: 0 52.5px;
        //     }
        // }
    }
    
    .main-checkout__container {
        > .row{
            .col-lg-5{
                background-color: #FAFAFA;
                padding-#{$end}: 203px;
                padding-#{$start}: 21px;
                @if $start == right{
                    box-shadow: -1px 0 0 #e1e1e1 inset;
                } @else {
                    box-shadow: 1px 0 0 #e1e1e1 inset;
                }
            }
            .col-lg-7{
                padding-#{$end}: 38px;
                padding-#{$start}: 182px;
                padding-top: 45px;
            }
        }
        .checkout-step {
            background-color: #fff;
            // border: 1px solid #e0e5eb;
            padding: 27px;
            padding-bottom: 48px;
            padding-top: 4px;
            .breadcrumb{
                margin-bottom: 28px;
                font-size: 12px;
                text-transform: capitalize;
                .breadcrumb-item{
                    color: #737373;
                    // @if $start == right {
                    //     font-weight: 600;
                    // }
                    &.active{
                        color: #333333;
                        font-weight: 500;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                    +.breadcrumb-item{
                        &::before{
                            content: "\f054";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            line-height: 20px;
                            @if $start == right {
                                transform: rotateY(180deg);
                                padding-left:0;
                                padding-right: 0.5rem;
                            }
                        }
                    }
                    &.step--cart{
                        a{ 
                            color: #333333;
                        }
                    }
                }
            }

           

            .checkout-step__list {
                list-style: none;
                display: flex;
                justify-content: space-between;
                padding: 0; 
                border-bottom: 1px solid #e0e5eb;
                margin-bottom: 12px;
                .step {
                    font-size: 16px;
                    // font-family: "HelveticaNeue";
                    font-weight: bold;
                    color: $main-color;
                    text-align: center;
                    width: 100%;
                    padding-bottom: 13px;
                    position: relative;
                    text-transform: capitalize;
                    @extend %no-select;
                    &:hover {
                        cursor: pointer;
                    }
                    &.active {
                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            background-color: $main-color;
                            bottom: 0;
                            #{$start}: 0;
                            transform: translateY(calc(50% + 1px));
                        }
                    }
                }
            }
            .taps-container {
                margin-bottom: 24px;
                .taps-container__contact-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .contact-info__header {
                        font-size: 18px;
                        margin-bottom: 23px;
                    }
                    .contact-info__sign {
                        font-size: 14px;
                        font-weight: bold;
                        .sign__in {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                .taps-container__view-contact-info {
                    border: 1px solid #e0e5eb;
                    // padding: 13px 20px;
                    border-radius: 4px;
                    padding: 12px 16px;
                    margin: 25px 0;
                    h2{
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                    .view-contact-info{
                        font-size: 14px;
                        margin-bottom: 0;
                        // font-weight: bold; 
                        // font-family: HelveticaNeue;
                        display: flex;
                        span {
                            position: relative; 
                            padding-#{$end}: 3px;
                            &::after {
                                content: "";
                                position: absolute;
                                width: 1px;
                                height:21px;
                                #{$end}: 0;
                                background-color: $main-color;
                                // top: 50%;
                                // @if $start == right{
                                //     transform: translateY(-50%);
                                // } @else {
                                //     transform: translateY(-44%);
                                // }
                            } 
                           &:first-child{
                               display: inline-block;
                           }
                            &:last-child {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                        .view-contact-info__inner{
                            display: flex;
                            flex: 1;
                            padding-#{$end}: 10px;
                            .view-contact-info__label{
                                @if $start == right{
                                    flex: 0 1 9em;
                                }
                                @else {
                                    flex: 0 1 5em;
                                }
                                padding-#{$end}: 16px;
                                span{
                                    color: hsl(0, 0%, 45%);
                                }
                            }
                            .view-contact-info__content{
                                flex: 5;
                            }
                        }
                        .view-contact-info__link{
                            font-size: 12px;
                            max-width: 120px;
                            span{
                                color: #737373;
                                cursor: pointer;
                                text-transform: capitalize;
                            }
                        }
                        ~ .view-contact-info{
                            border-top: 1px solid #e6e6e6;
                            margin-top: 12px;
                            padding-top: 12px;
                        }
                    }
                }
                .tap {
                    display: none;
                    &.active{ 
                        display: block;
                    }
                }

                &.taps--one-page {
                    .tap {
                        display: block;
                        margin-bottom: 30px;
                    }
                }
                .tap__shipping {
                    .tap__shipping__add-new {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 7px;
                        h2 {
                            font-size: 18px;
                            text-transform: capitalize;
                            color: $main-color;
                        }
                        .shipping__add-address {
                            background: none;
                            border: none;
                            font-size: 14px;
                            color: $main-color;
                        }
                    }
                    .shipping__address-info {
                        display: none;
                    }
                    .info__container {
                        .info__container__map {
                            background-color: $main-background;
                            padding-bottom: 5px;
                            margin-bottom: 20px;
                            #pac-input {
                                padding: 11.5px 20px;
                                border: solid 1px#dde3e8;
                                border-radius: 3px;
                                padding: 11px 15px;
                                font-size: 13px;
                                color: $main-color;
                                // font-family: "HelveticaNeue";
                                width: 40%;
                                border-right: 0;
                                outline: none;
                                border-radius: 3px 0px 0px 3px;
                            }
                            #pac-location {
                                font-size: 14px;
                                // font-family: HelveticaNeue;
                                border: none;
                                background-color: $main-color;
                                color: #fff;
                                padding: 11px 20px;
                                border-radius: 3px;
                                border-radius: 0 3px 3px 0;
                                border-#{$start}: 0;
                            }
                            .map__confirm-location {
                                margin-#{$start}: auto;
                                display: flex;
                                font-size: 14px;
                                // font-family: "HelveticaNeue";
                                border: none;
                                background-color: $main-color;
                                color: #fff;
                                padding: 7px 28px;
                                margin-top: 5px;
                                border-radius: 3px;
                            }
                        }
                        .info__container__data{
                            margin-bottom: 16px;
                            .data__input{
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 10px;
                                .form-floating{
                                    position: relative;
                                    .form-select{
                                        height: 46px;
                                        padding: 6px 15px;
                                        padding-top: 20px;
                                        height: 46px;
                                        &:focus{
                                            box-shadow: none;
                                            outline: 2px solid $main-color;
                                        }
                                 
                                    }
                                    label{
                                        font-size: 12px;
                                        font-weight: 600;
                                    }
                                    &.form-select-container{
                                        &::after{
                                            content: '';
                                            width: 1px;
                                            height: 50%;
                                            background-color: rgba(179,179,179,0.5);
                                            position: absolute;
                                            top: 50%;
                                            #{$start}: calc(100% - 35px);
                                            transform: translateY(-50%);
                                        }
                                    }
                                }
                                .iti__selected-flag{
                                    margin-#{$start}: auto; 
                                }
                                .data__input__label {
                                    font-size: 13px;
                                    // font-family: "HelveticaNeue";
                                    font-weight: bold;
                                }
                                .data__input__entry {
                                    border: solid 1px#dde3e8;
                                    border-radius: 3px;
                                    padding: 7px 15px;
                                    font-size: 14px;
                                    // font-family: "HelveticaNeue";
                                    &:focus-visible {
                                        outline-color: $main-color;
                                    }
                                    &:focus {
                                        outline-color: $main-color;
                                    }
                                    &.form-control{
                                        height: 46px;
                                        padding: 7px 15px !important;
                                        padding-top: 16px !important;
                                        text-align: #{$start} !important;
                                        line-height: 4;
                                        @media (max-width: 500px) {
                                            line-height: initial !important;
                                        }
                                        &:focus{
                                            box-shadow: none;
                                            outline: 2px solid $main-color;
                                        }
                                        ~ label{
                                            font-size: 12px;
                                            font-weight: 600;
                                            line-height: 46px; 
                                            padding: 0 13px;
                                        }
                                       &#phone-number{
                                        &::-webkit-input-placeholder { /* WebKit browsers */
                                            opacity: 0;
                                        }
                                        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                                            opacity: 0;

                                        }
                                        &::-moz-placeholder { /* Mozilla Firefox 19+ */
                                            opacity: 0;

                                        }
                                        &:-ms-input-placeholder { /* Internet Explorer 10+ */
                                           opacity: 0;
                                        }
                                           + .form-floating__label{
                                                position: absolute;
                                                top: 0;
                                                #{$start}: 0;
                                                height: 100%;
                                                // padding: 1rem 0.75rem;
                                                pointer-events: none;
                                                border: 1px solid transparent;
                                                transform-origin: 0 0;
                                                transition: opacity .1s ease-in-out,transform .1s ease-in-out;
                                           }
                                           &:not(:placeholder-shown){
                                            + .form-floating__label{
                                                opacity: .65;
                                                transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
                                               }
                                           }
                                           &:focus{
                                              + .form-floating__label{
                                                opacity: .65;
                                                transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
                                               }
                                           }
                                       }
                                    }
                                }
                                &.input--invalid {
                                    input,
                                    select {
                                        border-color: #dc3545;
                                    }
                                    .data__input__entry {
                                        border-color: #dc3545;
                                        &:focus-visible {
                                            outline: #dc3545 !important;
                                        }
                                    }
                                    .input--invalid-msg {
                                        font-size: 12px;
                                        // font-family: "HelveticaNeue";
                                        color: #dc3545;
                                    }
                                }
                            }
                            .data__save {
                                border: none;
                                color: #fff;
                                background-color: $main-color;
                                padding: 7px 22px;
                                border-radius: 3px;
                                font-size: 14px;
                                // font-family: HelveticaNeue;
                                text-transform: capitalize;
                                margin-bottom: 10px;
                            }
                        }
                        &.edit--address {
                            display: none;
                            padding: 10px;
                        }
                        &.shipiing-address--info {
                            .info__container__data {
                                .data__input {
                                    .data__input__label {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    .shipping__saved-address {
                        .saved-address__title {
                            font-size: 14px;
                            text-transform: capitalize;
                            color: $main-color;
                            margin-bottom: 15px;
                        }
                        .saved-address-container {
                            position: relative;
                            border: solid 1px#dde3e8;
                            border-radius: 3px;
                            margin-bottom: 15px;
                            overflow: hidden;
                            &.active {
                                .saved-address__control {
                                    padding-bottom: 4px;
                                }
                                .saved-address__info {
                                    display: block;
                                }
                            }
                            .saved-address__control {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                // padding-top: 16px;
                                // padding-bottom: 16px;
                                // padding-#{$start}: 25px;
                                padding: 16px;
                                @extend %no-select;
                                transition: 0.5s;
                                .saved-address__title {
                                    margin-bottom: 0;
                                }
                                .form-check-input {
                                    width: 18px;
                                    height: 18px;
                                    position: static;
                                    margin: 0;
                                    &:checked {
                                        $MainColor: $main-color;
                                        border-color: $main-color;
                                        background-color: $main-color;
                                        border-width: 8px;
                                        outline: 3px solid #fff;
                                        outline-offset: -10px;
                                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='none'/%3e%3c/svg%3e");
                                    }
                                    &:focus {
                                        box-shadow: none;
                                        // outline: none !important;
                                    }
                                }
                                .saved-address__main-title {
                                    font-size: 14px;
                                    margin: 0;
                                    margin-#{$start}: 14px;
                                    // font-family: "HelveticaNeue";
                                }
                                .saved-address__emphasis{
                                    color: $main-color;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-#{$start}: auto;
                                }
                            }
                            .saved-address__info {
                                // display: none;
                                .info-container {
                                    display: flex;
                                    justify-content: space-between;
                                    // font-family: "HelveticaNeue";
                                    .info__details {
                                        font-size: 14px;
                                        padding-#{$start}: 55px;
                                        width: 50%;
                                        p {
                                            margin-bottom: 4px;
                                        }
                                        .info__details__edit {
                                            // font-family: "HelveticaNeue";
                                            background: none;
                                            border: none;
                                            color: $main-color;
                                            margin-top: 4px;
                                            margin-bottom: 11px;
                                            padding: 0;
                                            text-transform: capitalize;
                                            font-size: 14px;
                                            font-weight: 500;
                                        }
                                    }
                                    .info__map {
                                        width: 50%;
                                        position: absolute;
                                        top: 0;
                                        #{$end}: 0;
                                        opacity: 0;
                                        transition: 0.3s;
                                        border-#{$start}: solid 1px #dde3e8;
                                        height: 100%;

                                        .mapouter {
                                            position: relative;
                                            // height: 194px;
                                            height: 100%;
                                            width: 100%;
                                            overflow: hidden;
                                            iframe {
                                                border: 0;
                                                width: 100%;
                                                min-height: 194px;
                                            }
                                        }
                                    }
                                }
                            }
                            &.active {
                                .saved-address__info {
                                    .info-container {
                                        .info__map {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .tap__shipping {
                    &.tap--shipping-info {
                    }
                    .tap--shipping-info__title {
                        font-size: 16px;
                        text-transform: capitalize;
                        color: $main-color;
                        margin-bottom: 15px;
                    }
                }
            }
            .taps__next {
                background: $main-color;
                color: #fff;
                // font-family: "HelveticaNeue";
                font-weight: 500;
                border: none;
                // width: 100%;
                text-align: center;
                padding: 10px 20px;
                font-size: 14px;
                cursor: pointer;
                padding: 19px 32px;
                border-radius: 5px;
            }
        }
    }
    
    .hide {
        display: none!important;
    }
    button:disabled {
        opacity: 0.9;
        pointer-events: none;
    }
}

.alert {
    .input--invalid-msg {
        margin-bottom: 0 !important;
        margin-#{$start}: 10px !important;
        font-size: 14px !important;
        // font-family: HelveticaNeue !important;
        color: #842029 !important;
    }
}

@include mobileScreen {
    .main-checkout {
        .main-checkout__container {
            >.row {
                .col-lg-8{
                    padding-right: calc(var(--bs-gutter-x) * .5);
                    padding-left: calc(var(--bs-gutter-x) * .5);
                    padding-top: 10px;
                }
            }
            .checkout-step {
                padding: 14px;
                .checkout-step__list {
                    .step {
                        font-size: 14px;
                        padding-bottom: 8px;
                    }
                }
                .taps-container {
                    .taps-container__contact-info {
                        .contact-info__header {
                            font-size: 14px;
                        }
                    }
                    .tap__shipping {
                        .info__container {
                            .info__container__map {
                                #pac-input {
                                    padding: 9px 5px;
                                    font-size: 10px;
                                }
                                #pac-location {
                                    padding: 8.8px 14px;
                                    font-size: 12px;
                                }
                                .map__confirm-location {
                                    font-size: 12px;
                                    padding: 5px 20px;
                                }
                            }
                            &.shipiing-address--info {
                                .info__container__data {
                                    .data__input {
                                        .data__input__label {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                        .tap__shipping__add-new {
                            h2 {
                                font-size: 14px;
                                margin-bottom: 0;
                            }
                        }
                        .shipping__saved-address {
                            .saved-address-container {
                                .saved-address__info {
                                    .info-container {
                                        flex-direction: column;
                                        .info__details {
                                            padding-#{$start}: 39px;
                                            padding-#{$end}: 10px;
                                            width: 100%;
                                        }
                                        .info__map {
                                            position: static;
                                        }
                                    }
                                }
                                .saved-address__control {
                                    padding-#{$start}: 14px;
                                    .saved-address__main-title {
                                        margin-#{$start}: 8px;
                                    }
                                    .form-check-input {
                                        width: 15px;
                                        height: 15px;
                                        &:checked {
                                            outline: 4px solid #fff;
                                        }
                                    }
                                }
                                &.active {
                                    .saved-address__info {
                                        .info-container {
                                            .info__map {
                                                position: relative;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .tap--shipping-info__title {
                            font-size: 14px;
                        }
                    }
                    .taps-container__view-contact-info {
                        h2 {
                            font-size: 14px;
                        }
                        .view-contact-info {
                            font-size: 12px;
                            .view-contact-info__inner{
                                flex-wrap: wrap;
                                .view-contact-info__content{
                                    width: 100%;
                                    flex: 0 1 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px){
    .col-lg-5{
        width: 44.11%;
    }
    .col-lg-7{
        width: 55.76%;
    }
}
@media (min-width: 1200px) and (max-width: 1366px) {
    .main-checkout {
        .main-checkout__container{
            >.row {
                .col-lg-7{
                    padding-#{$start}: 93px;
                }
                .col-lg-5{
                    padding-#{$end}: 117px;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .main-checkout {
        .main-checkout__container{
            >.row {
                .col-lg-7{
                    padding-#{$start}: 50px;
                }
                .col-lg-5{
                    padding-#{$end}: 55px;
                }
            }
        }
    }
}
@include mobileScreen{
    .main-checkout {
        .main-checkout__container{
            .checkout-step {
                .taps__next{
                    display: block;
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
            >.row {
                .col-lg-7{
                    padding-#{$start}: 10px;
                    padding-#{$end}: 10px;
                }
                .col-lg-5{
                    padding-#{$end}: 15px;
                }
            }
        }
        .step__return{
            width: 100%;
            text-align: center;
            margin: 0;
            display: block;
        }
    }
    .main-checkout .main-checkout__container .checkout-step .taps-container .tap__shipping .shipping__saved-address .saved-address-container .saved-address__info .info-container .info__map .mapouter{
        height: 200px;
    }
}
