.rtl  #header #cart .content {
  right: auto;
  left: 0;
}

#scrollUp {
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.box .box-heading {
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

body *{
    direction: rtl;
}


#currency ul {
    margin-right: 2px;
    padding: 0px;
    float: left;
    margin-left: 5px;
}

#language ul {
    padding: 0px;
    float: left;
    line-height: 27px;
    margin-bottom: 0px;
    margin-top: -5px;
}

#search input[type="text"] {
    background-color: rgba(0,0,0,0.1);
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    color: #928190;
    padding: 7px;
    width: 100%;
    text-align: right;
    line-height: 22px;
}

#search .button-search {
    background: url('../image/button-search.png') no-repeat center center;
    width: 35px;
    height: 15px;
    height: 34px;
    width: 30px;
    position: absolute;
    left: 0px;
    right: initial;
    cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #search .button-search {
        height: 36px;
    }
}

#topbar li span {
    margin-left: 10px;
    margin-right: 0px;
}

.nav-tabs > li {
    float: right;
}

@media only screen and (min-width: 990px) {
    .pavcol-sm-5 {
        float: right;
        min-height: 1px;
        position: relative;
        width: 20%;
        border-left: 1px solid #f7f7f7;
        border-right: none;
    }
    .pavcol-sm-5:last-child {
        border-left: none;
        border-right: none;
    }
    .pavcol-sm-5:hover {
        background-color: rgba(242,242,242,0.5);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
}

.cart input.button {
    background-color: #555255;
    background-image: url('../image/cart2.png');
    background-repeat: no-repeat;
    background-position: right 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 0px 35px 0px 10px;
    font-size: 13.65px;
    box-shadow: none;
    text-transform: none;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.product-block:hover .cart input.button {
    background-color: #E56970;
    background-image: url('../image/cart2.png');
    background-repeat: no-repeat;
    background-position: right -31px;
}

.newsletter .btn-newletter {
    line-height: 25px;
}

.social ul li {
    width: 30px;
    height: 30px;
    float: right;
    list-style: none;
    text-align: center;
    margin-left: 15px;
    margin-right: 0px;
    background-color: #A1859E;
    padding-left: 0px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    transition: all 0.4s ease 0s;
    padding-right: 3px;
    padding-top: 1px;
}

.sidebar .box-content ul li {
    background: url(../image/icon-category-ar.png) no-repeat;
    padding: 10px 30px 10px 15px;
    border-top: 1px dashed #eeeeee;
    background-position: right 15px top 17px;
}

.return-quantity {
    float: right;
    width: 31%;
    margin-right: 0px;
}

.return-model {
    float: right;
    width: 31%;
    margin-left: 15px;
    margin-right: 0px;
}

.return-name {
    float: right;
    width: 31%;
    margin-left: 15px;
    margin-right: 0px;
}

.products-block .row-product > div {
    position: relative;
    border-left: solid 1px #F4F4F4;
    border-right: none;
    padding: 0;
}
.products-block .row-product > div:last-child {
    border-left: none;
    border-right: none;
}

.pagination .results {
    float: right;
    padding-top: 3px;
    white-space: nowrap;
}

.product-filter .product-compare a span {
    color: #333333;
    white-space: nowrap;
}

.product-filter .limit select {
    padding: 0px 10px;
    border: none;
}

.product-filter .sort select {
    padding: 0px 10px;
    border: none;
}

.product-filter span {
    margin-left: 10px;
    color: #FFFFFF;
    margin-right: 0px;
}

.display > span {
    float: right !important;
}

.category-list ul {
    float: right;
    padding: 5px 0px 0px;
    list-style: disc outside none;
    padding-right: 30px;
    padding-left: 0px;
}

.product-list .product-meta .wishlist a span, .product-list .product-meta .compare a span {
    padding-right: 5px;
    display: inline-block;
    padding-left: 0px;
}

.sidebar .box-content ul li li {
    padding-right: 30px;
}

.product-compare {
    float: right;
    font-weight: bold;
    background: #FFFFFF;
    padding: 5px 10px;
    white-space: nowrap;
}

.product-block .wishlist a {
    left: 49px;
    right: initial;
    margin-right: ;
}
.product-block .compare a {
    left: 15px;
    right: initial;
    margin-left: ;
}

input[type='text'], input[type='password'], textarea {
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    padding: 0px 5px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.075) inset;
}

.blog-meta > span:first-child {
    padding-left: 10px !important;
    padding-right: 0px !important;
}

.blog-meta > span {
    display: block;
    float: right !important;
    font-size: 90%;
    font-style: italic;
    font-weight: bold;
    padding: 0 10px 5px;
}

.blog-meta > span span {
    font-weight: normal;
    white-space: nowrap !important;
}

.blog-social .social-wrap > div {
    float: right !important;
}

.blog-social .social-heading {
    padding-right: 0px !important;
    padding-left: 12px !important;
}

.htabs a {
    padding: 15px 25px;
    float: right;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: #9C7D98;
    display: none;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
    float: right !important;
}

.product-info .quantity-adder span.add-up, .product-info .quantity-adder span.add-down {
    right: 123px;
    left: initial;
}

.product-info .product-action .cart {
    float: right;
}

.product-info .product-action .wishlist a {
     color: #FFFFFF;
     line-height: 30px;
     font-size: 15px;
     display: inline-block;
     padding: 0px 15px;
     margin-right: 5px;
     transition: all 0.4s ease 0s;
     margin-left: 0px;
 }

.product-info .product-action .compare a {
    color: #FFFFFF;
    line-height: 30px;
    font-size: 15px;
    display: inline-block;
    padding: 0px 15px;
    margin-right: 1px;
    transition: all 0.4s ease 0s;
    margin-left: 0px;
}

.attribute thead td, .attribute thead tr td:first-child {
    text-align: right;
}

.cart input.button:hover {
    background-color: #E56970;
    background-image: url('../image/cart2.png');
    background-repeat: no-repeat;
    background-position: right -31px;
}

.product-info .image-additional a {
    float: right;
    margin-right: 10px;
    margin-left: 0px;
}

/* Addthis RTL fix START */
#at15s .at-label {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

#at15s {
    text-align: right !important;
}

#at15s a, #at15s span {
    direction: rtl !important;
}
/* Addthis RTL fix END */

.box-products .carousel-controls {
    top: 7px;
    left: 18px;
    right: auto;
    width: 60px;
}

.box-products .carousel-controls a {
    position: relative;
    width: 30px !important;
    font-size: 20px;
    display: block;
    float: right;
}