/*
    Written By:    Ahmed Sherif
    Profile:       www.ahmedsherif.website
    E-mail:        ahmedabdelbarysherif@gmail.com
    Phone:         002 0114 116 8846

    Web Site Name: Turbo
    Version:       1.0.0

    CSS file parts:
*/

:root {
    --yellow-color: #f9b735;
    --blue-color: #15234c;
    --red-color: #c3063c;
}

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/FontsFree-Net-Proxima-Nova-ExCn-Reg.otf') format('truetype');
}

body {
    font-family: 'Proxima', sans-serif;
}

.fif__form {
    background-color: #fff;
    margin-top: 40px;
    box-shadow: 0 0 4px 10px #dddddd38
}

.fif__form-info {
    padding: 50px 40px 20px;
    border-bottom: 1px solid #ddd;
}

.fif__form-info ul:first-of-type li {
    margin: 0;
    padding: 0;
}

.fif__form-info ul:first-of-type i {
    color: var(--yellow-color);
}

.fif__form-info ul:first-of-type span {
    font-weight: 600;
    color: var(--blue-color);
}

.fif__form-info h2 {
    font-size: 55px;
    font-weight: 900;
    color: var(--blue-color);
}

.fif__form-info ul:nth-of-type(2) {
    margin: 20px 0
}

.fif__form-info ul:nth-of-type(2),
.fif__form-info ul:nth-of-type(2) li {
    display: flex;
}

.fif__form-info ul:nth-of-type(2) li {
    align-items: center;
    color: var(--blue-color);
}

.fif__form-info ul:nth-of-type(2) li:not(:last-of-type) {
    border-right: 1px solid #ddd;
}

.fif__form-info ul:nth-of-type(2) li:not(:first-of-type) {
    padding-left: 20px;
}

.fif__form-info ul:nth-of-type(2) i {
    margin-right: 10px;
    font-size: 20px;
}

.fif__form-info ul:nth-of-type(2) h5 {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
}

.fif__form-info ul:nth-of-type(3) {
    margin-bottom: 25px;
    padding-left: 20px;
}

.fif__form-info ul:nth-of-type(3) li {
    color: var(--blue-color);
    font-weight: 500;
    font-size: 18px;
}

.fif__form-price p span:first-child {
    font-size: 40px;
    font-weight: 800;
    color: var(--red-color);
}

.fif__form-price p span:last-child {
    color: gray;
    font-weight: 800;
    font-size: 25px;
    padding: 0 20px;
    text-decoration: line-through;
}

.fif__form-size {
    padding: 20px 40px 20px;
    border-bottom: 1px solid #ddd;
}

.head__div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--blue-color);
}

.head__div > button {
    background-color: var(--blue-color);
    color: var(--yellow-color);
    text-transform: uppercase;
    border: 0;
    outline: none;
    font-size: 16px;
    padding: 5px 20px;
    transition: all .2s ease-in-out;
}

.head__div > button:hover {
    background-color: var(--yellow-color);
    color: var(--blue-color);
}

.head__div span {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-right: 15px;
    text-align: center;
    border-radius: 50%;
    color: var(--blue-color);
    background-color: var(--yellow-color);
}

.fif__form-radios {
    overflow: hidden;
}

.fif__form-radios input[type="radio"] {
    display: none;
}

.fif__form-radios label {
    display: block;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 10px;
    float: left;
    border: 1px solid #ddd;
    cursor: pointer;
}

.fif__form-radios label.active {
    background-color: var(--blue-color);
}

.fif__form-radios label img {
    width: 60px;
    margin-right: 10px;
    float: left;
}

.fif__form-radios .radio__info h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--blue-color)
}

.fif__form-radios label.active .radio__info h5 {
    color: var(--yellow-color)
}

.fif__form-radios .radio__info h4 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    color: var(--blue-color)
}

.fif__form-radios label.active .radio__info h4 {
    color: var(--yellow-color)
}

.fif__form-radios .radio__info p span:first-child {
    color: var(--red-color);
}

.fif__form-radios label.active .radio__info p span:first-child {
    color: var(--yellow-color);
}

.fif__form-radios .radio__info p span:last-child {
    color: gray;
    padding: 0 10px;
    text-decoration: line-through;
}

.fif__form-radios label.active .radio__info p span:last-child {
    color: var(--yellow-color)
}

button.nextStep {
    margin-top: 20px;
    padding: 14px 40px;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--blue-color);
    background-color: var(--yellow-color);
    transition: all .2s ease-in-out;
}

button.nextStep:hover {
    background-color: var(--blue-color);
    color: var(--yellow-color);
}

.fif__form-type {
    padding: 42px 40px 10px;
    border-bottom: 1px solid #ddd;
}

.customtypeCtrls {
    display: flex;
    border: 1px solid var(--blue-color);
}

.customtypeCtrls li {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.customtypeCtrls li:hover {
    color: var(--yellow-color);
    background-color: var(--blue-color);
}

.customtypeCtrls li.active {
    color: var(--yellow-color);
    background-color: var(--blue-color);
}

.fif__form-upload {
    padding: 42px 40px 10px;
    border-bottom: 1px solid #ddd;
}

.file__wrape {
    padding: 10px;
    border: 1px dashed var(--blue-color);
    text-align: center;
}

.file__wrape input {
    display: none;
}

.file__wrape span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blue-color);
}

.file__result ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--blue-color)
}

.file__result ul li {
    width: 50%;
    text-align: center;
}

.file__result ul li:not(:last-child) {
    border-right: 1px solid var(--blue-color);
}

.file__result ul li:first-child {
    width: 80px;
    background-color: #fff;
}

.file__result img {
    height: 50px;
    width: 50px;
}

.file__result button {
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
}

.file__result button:hover {
    text-decoration: underline;
}

.inputs4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputs4 > div {
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #ddd
}

.inputs4 > div:nth-of-type(2) {
    margin: 0 20px;
}

.inputs4 label {
    display: block;
    text-transform: uppercase;
    color: gray
}

.inputs4 input {
    border: 0
}

.inputs4 input::placeholder {
    color: rgb(155, 153, 153)
}

.selectFlag .btn.dropdown-toggle {
    width: 100%;
    height: 50px;
    text-align: left;
    border-radius: 0;
}

.selectFlag .btn.dropdown-toggle .caret {
    float: right;
    margin-top: 10px;
}

.fif__form-state {
    padding: 42px 40px 10px;
    border-bottom: 1px solid #ddd;
}

.fif__form-statePlayer {
    display: flex;
    justify-content: space-between;
}

.fif__form-statePlayer > div {
    /* width: 49%; */
}

.fif__form-statePlayer > div input {
    width: 24%;
    float: left;
    margin-bottom: 15px;
    margin-right: 1%;
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 10px 20px;
}

.switcher p {
    font-size: 16px;
    margin: 5px 10px;

}

.switcher .content {
    display: flex;
    justify-content: center;
}

.switcher   .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background: r;
}

.switcher  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switcher .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}

.switcher .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: var(--yellow-color);
    transition: .4s;
}

.switcher   input:checked + .slider {
}

.switcher   input:focus + .slider {
    outline: none;
}

.switcher   input:checked + .slider:before {
    transform: translateX(29px) translateY(0px)
}

.switcher   .slider.round {
    border-radius: 34px;
    width: 60px;
    border: 1px solid var(--blue-color);
    background-color: #fff;
}

.switcher .slider.round:before {
    border-radius: 50%;
}

.fif__form-review {
    padding: 42px 40px 10px;
    border-bottom: 1px solid #ddd;
}

.fif__form-reviewRes {
    padding: 10px;
    overflow: hidden;
}

.fif__form-reviewRes li {
    width: 50%;
    float: left
}

.fif__form-reviewRes li span:first-child {
    font-size: 20px;
    font-weight: 800;
}

.fif__form-reviewRes li span:last-child {
    font-size: 16px;
    color: gray;
    font-weight: 400;
}

.fif__form-submit > div {
    padding: 20px 40px 20px;
    display: flex;
}

.fif__form-submit > div input {
    margin-right: 10px;
}

.fif__form-submit > div label {
    font-size: 17px
}

.fif__form-submit button {
    width: 100%;
    padding: 16px 0;
    border: 0;
    outline: unset;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--blue-color);
    background: var(--yellow-color);
    transition: all .2s ease-in-out;
}

.fif__form-submit button:hover {
    color: var(--yellow-color);
    background: var(--blue-color);
}

.customType2,
.flag2,
.club2 {
    display: none;
    padding: 0
}

.fif__form-player {
    padding: 42px 40px 10px;
    border-bottom: 1px solid #ddd;
}

.fif__form-player .form-group {
    padding: 10px 25px;
    border: 1px solid #ddd;
}

.fif__form-player .form-group label {
    display: block;
    color: gray;
}

.fif__form-player .form-group input {
    width: 100%;
    border: 0;
    outline: none;
}

.fif__form-player .form-group input::placeholder {
    color: rgb(161, 161, 161);
}

.fif__form-stats {
    padding: 42px 40px 10px;
    border-bottom: 1px solid #ddd;
}

.customStat__content {
    display: none;
}

.mb-4 {
    margin-bottom: 20px
}

.pointer {
    cursor: pointer;
}

.uploadYourImgCtrls,
.uploadYourImgCtrls2,
.uploadYourImgCtrls3 {
    display: none;
}

.d-none,
.dbt-none {
    display: none;
}

.fifa__card {
    height: 1000px;
    width: 555px;
    /* background-color: red; */
    background: url('../../images/flag.png') no-repeat;
    background-size: contain;
}

.fifa__card div:first-child {
    display: flex;
    align-items: flex-end;
    transform: translate(138px, 100px);
}

.fifa__card div:first-child ul {
    transform: translate(-14px, 33px);
}

.fifa__card div:first-child ul > li span {
    font-weight: 800;
    color: #fff;
    font-size: 50px;
}

.fif__card-cam > ul li:first-child {
    position: relative;
}

.fif__card-cam > ul li:nth-child(2) {
    transform: translate(14px, 85px);
}

.fif__card-cam > ul li:nth-child(3) {
    transform: translate(14px, 112px);
}

.fif__card-cam > ul li:first-child span:last-child {
    position: absolute;
    bottom: -46px
}

.fifa__card div:first-child  h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    transform: translateY(265px);
}

.fifa__card div:nth-child(2) {
    display: flex;
    transform: translate(140px, 400px);
    line-height: 41px;
}

.fifa__card div:nth-child(2) ul:last-child {
    transform: translate(95px, 0);
}

.fifa__card div:nth-child(2) li span {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 30px;
    margin-right: 20px
}

.fifa__card div:last-child {
    transform: translate(250px, -84px);
}

.fifa__card div:last-child img {
    width: 230px
}



[lang="ar"] .fifa__card div:first-child {
    display: flex;
    align-items: flex-end;
    transform: translate(-157px, 100px);
}


[lang="ar"] .fifa__card div:nth-child(2) {
    transform: translate(-117px, 399px);
    width: 315px;
}

[lang="ar"] .fifa__card div:nth-child(2) ul:last-child {
    transform: translate(-101px, 0);
}

[lang="ar"] .fifa__card div:last-child {
    transform: translate(81px, -142px);
    text-align: left;
}