body{
	direction:rtl;
}
.owl-carousel {
    direction: ltr;
}
.owl-item {
    direction: rtl;
}
.bx-viewport {
    direction: ltr;
}
.kt-bxslider{
	direction:rtl;
}
ul.top-box > li.has-border {
    border-right: none;
    border-left: 1px solid #eaeaea;
}
ul.top-box > li{
	padding-left:0;
	padding-right:13px;
}
ul.top-box ul {
    text-align: right;
}
ul.top-box ul img {
    margin-right: 0px;
    margin-left: 6px;
}
.advanced-search .btn-search {
    left: 0;
    right: auto;
}
.advanced-search .search-category {
    border-left: 1px solid #eaeaea;
    border-right: none;
}
.block-wrap-cart .iner-block-cart {
    padding: 0 35px 0 15px;
}
.block-wrap-cart .toal-cart .toal-price {
    float: left !important;
}
.navbar-nav{
	float:right;
}
.navbar-nav > li{
	float:right;
}
.main-menu .mega_dropdown .block-megamenu-link > li{
	text-align:right;
}
.block-category .nav-tab > li > a {
    padding-right: 0;
    padding-left: 30px;
}
.block-category .nav-tab > li:last-child > a{
	 padding-left: 0px;
}
.block-category .nav-tab > li{
	float:right;
}
.block-category .categories > li > a > .count{
	width:40px;
}
.block-category .categories > li > a > .text{
	min-width:206px;
}
.block .block-head .block-icon {
    padding-left: 20px;
    padding-right: 0;
}
.block-offers .owl-next {
    left: 41px;
    right: auto;
}
.block-offers .owl-prev {
    left: 20px;
    right: auto;
}
.block-top-sellers .owl-prev, .block-hot-deals .owl-prev {
    left: 0;
    right: auto;
}
.block-top-sellers .owl-next, .block-hot-deals .owl-next {
    left: 21px;
    right: auto;
}
.block-hot-deals .block-countdownt {
    margin-left: 0;
    margin-right: 30px;
}
.block-popular-cat .sub-categories li a::before{
	display:none;
}
.block-popular-cat .sub-categories li a::after {
    color: #5a88ca;
    content: "";
    font-family: "FontAwesome";
    font-size: 14px;
    margin-left: 15px;
}
.footer-block-box .block-owl .list-partners .owl-prev {
    left: 0;
    right: auto;
}
.footer-block-box .block-owl .list-partners .owl-next {
    left: 21px;
}
.mc4wp-form input[type="submit"]{
	right:auto;
	left:-1px;
}
.sv-btn-default::after {
    content: "\f104";
	margin-left:0;
	margin-right:5px;
}
.block-link ul > li img{
	margin-right:0;
	margin-left:5px;
}
.products .btn-add-cart {
    float: right;
}
.products .btn-add-comparre {
    float: right;
    margin-left: 15px;
	margin-right:0;
}
.products .btn-add-wishlist {
    float: right;
    margin-left: 15px;
	margin-right:0;
}
.block-megamenu-text {
    text-align: right;
}
.block-header-right .item .line1, .block-header-right .item .line2{
	padding-left:15px;
}
.block-vertical-menu .vertical-head .vertical-title::after {
    float: left;
}
.block-vertical-menu .vertical-menu-content > ul > li > a > img.icon-menu {
    padding-right: 0px;
	padding-left: 10px;
}
.block-content-vertical-menu .head{
	padding-right:10px;
}
.block-tabs .nav-tab{
	float:left;
}
.block-hot-deals2 .nav-tab li a {
    padding-left: 0;
    padding-right: 36px;
}
.block-hot-deals2 .nav-tab li a::before{
	margin-left:20px;
}
.countdown {
    float: right;
    margin-right: -5px;
}
.block-popular-cat2 .cat-name {
    float: right;
    padding-left: 0;
    padding-right: 30px;
}
.block-popular-cat2 .box-subcat {
    margin-left: 0;
    margin-right: 170px;
}
.block-popular-cat2 .box-subcat .owl-next {
    left: auto;
    right: -140px;
}
.block-popular-cat2 .box-subcat .owl-prev {
    left: auto;
    right: -118px;
}
.block-hot-deals2 .hot-deal-tab-wrap{
	float:right;
}
.option3 .block-wrap-cart .iner-block-cart::after {
    margin-left: 0;
    margin-right: 12px;
}
.option3 .block-vertical-menu .vertical-menu-list > li > a {
    padding-left: 0;
    padding-right: 15px;
}
.block-specail3 .owl-next {
    left: 45px;
    right: auto;
}
.block-specail3 .owl-prev {
    left: 20px;
    right: auto;
}
.block3 .block-head .block-title{
	float:right;
}
.block-specail3 .products .product-name, .block-specail3 .products .price-box, .block-specail3 .products .product-star {
    padding-left: 0;
    padding-right: 20px;
}
.option3 .block-new-arrivals .owl-controls{
	left:-21px;
}
.option3 .block-hotdeals .owl-controls{
	left:-21px;
}
.carousel-slide .owl-prev{
	left:20px;
	right:auto;
}
.carousel-slide .owl-next{
	left:45px;
	right:auto;
}
.block-top-review .owl-prev{
	left:20px;
	right:auto;
}
.block-top-review .owl-next{
	left:45px;
	right:auto;
}
.block-tags .owl-prev{
	left:20px;
	right:auto;
}
.block-tags .owl-next{
	left:45px;
	right:auto;
}
.option3 .block-hotdeals .product-count-down::before {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.option3 .block-hotdeals .product-count-down .countdown-lastest {
    float: right;
}
.option3 .tab-cat-products .sub-cat li {
    padding-left: 0;
    padding-right: 30px;
}
.block3 .block-head .nav-tab.tab-category li{
	float:right;
}
.option3 .tab-cat-products .owl-prev{
	left:0;
	right:auto;
}
.option3 .tab-cat-products .owl-next{
	left:25px;
	right:auto;
}
.option3 .tab-cat-products .sub-cat{
	float:right;
}
.option3 .tab-cat-products .cat-product {
    margin-left: auto;
    margin-right: 23%;
    padding-left: 0;
    padding-right: 22px;
}
.option3 .advanced-search .btn-search {
    border-right: 1px solid #eaeaea;
    border-left: none;
}
.wrap-block-cl .language, .wrap-block-cl .currency {
    padding-left: 0;
    padding-right: 15px;
}
.navbar-right{
	float:left!important;
}
.option3 .block-wrap-cart .block-mini-cart{
	right:auto;
	left:-1px;
}
.option4 .block-slider .caption-group{
	text-align:right;
}
.option4 .advanced-search .btn-search{
	border-left:none;
	border-right:1px solid #eaeaea;
}
.option4 .main-header .shop-menu{
	margin-left:0;
	margin-right:23px;
}
.option4 .block-vertical-menu .vertical-menu-list > li > a {
    padding-left: 0;
    padding-right: 20px;
}
.block-vertical-menu .vertical-menu-content ul > li > a.parent::before {
    left: 15px;
    right: auto;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}
.wrap-block-cl .inner-cl img{
	margin-right:0;
	margin-left:10px;
}
.option4 .wrap-block-cl .dropdown-menu {
    left: auto;
    right: 0;
    text-align: right;
}
.block-categories .block-head{
	padding-left:0;
	padding-right:20px;
}
.block-categories .sub-cat li{
	padding-left:0;
	padding-right:20px;
}
.option4 .block-new-arrivals .owl-controls{
	left:-21px;
}
.option4 .block-hotdeals .product-count-down::before{
	float:right;
	margin-right:0;
	margin-left:10px;
}
.option4 .block-hotdeals .product-count-down .countdown-lastest{
	float:right;
}
.option4 .block-hotdeals .owl-controls{
	left:-21px;
}
.option4 .block-hotdeals .product-count-down .dot {
    margin-left: 5px;
    margin-right: 0;
}
.option3 .block-hotdeals .product-count-down .dot {
    margin-left: 5px;
    margin-right: 0;
}
.author-comment > a i.fa{
	margin-right:0;
	margin-left:5px;
}
.author-comment > a{
	display:inline-block;
}
.latest-newslider5 .owl-controls{
	right:auto;
	left:0;
}
.product-tab-content .owl-controls{
	right:auto;
	left:0;
}
.product-tab-header li{
	margin-right:0;
	margin-left:20px;
}
.adv-info .shopnow::after {
    left: auto;
    right: 0;
}
.adv-info .shopnow {
    padding-left: 0;
    padding-right: 40px;
    text-align: right;
}
.block-slider5 .caption-group .button-rect{
	float:right;
	text-align:left;
}
.block-slider5 .caption-group{
	text-align: right;
}
.option5 .block-wrap-cart .block-mini-cart{
	right:auto;
	left:-1px;
}
.main-header5 .advanced-search .btn-search{
	border-left:none;
	border-right:1px solid #eaeaea;
}
.main-header .logo{
	float:left;
}
.info-header-right5 > li {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    border-right: 1px solid #e5e5e5;
    margin-right: 9px;
    padding-right: 13px;
}
.info-header-left5 > li:first-child::after {
    right: auto;
    left: -17px;
}
.info-header-left5 > li:first-child {
    margin-right: 0;
    margin-left: 30px;
}
.info-header-left5 p i.fa{
	margin-left:3px;
	margin-right:0;
}
.top-header5{
	direction:ltr;
}
.search-form6 {
    right: auto;
    left: 0;
	padding-right:0;
	padding-left:50px;
}
.search-form6::after {
    right: auto;
    left: 0;
}
.search-form6 > input[type="submit"]{
	right: auto;
    left: 0;
}
.top-link6 > li {
    margin-right: 0;
    margin-left: 28px;
}
.contact-phone6 {
    padding-left: 0px;
    padding-right: 40px;
}
.contact-phone6 i.fa{
	left:auto;
	right:0;
	margin-right:0;
	margin-left:10px;
}
.top-contact-link6 {
    float: left;
}
.wrap-block-cl6 .dropdown-menu {
    text-align: right;
}
.block-wrap-cart6 .iner-block-cart::after {
    left: auto;
    right: 0;
}
.block-wrap-cart6 .iner-block-cart::before {
    right: auto;
    left: 0;
}
.option6 .block-wrap-cart .block-mini-cart {
    text-align: right;
}
.info-gift-cart{
	padding-left:0;
	padding-right:20px;
}
.big-sale-banner{
	float:right;
}
.item-banner-adv6 {
    direction: ltr;
}
.block-slider ul {
    direction: rtl;
}
.block-product7 .owl-nav {
    left: 20px;
    right: auto;
}
.block-top-seller7 .owl-nav, .block-news7 .owl-nav{
	left: 0px;
    right: auto;
}
.block-popular-cat .title .text {	
    left: auto;
    padding-right: 0;
    right: 0;
}
.block-popular-cat .owl-next {
    left: 21px;
    right: auto;
}
.block-popular-cat .owl-prev {
    right:auto;
	left:0;
}
.block-cat .owl-nav{
	right:auto;
	left:0;
}
.service-support .item-service {
    padding-left: 0;
    padding-right: 70px;
}
.service-support .service-info {
    padding-left: 0px;
    padding-right: 20px;
}
.option9 .block-vertical-menu .vertical-menu-list > li.has-mega-child > a::after {
    right: -10px;
}
.product-box9 .product-tab-header ul li::before {
    left: 100%;
    margin-left: 2px;
    margin-right: 0;
    right: auto;
}
.product-box9 .product-tab-header ul li {
    margin: 0 55px 0 0;
    position: relative;
}
.product-box9 .product-tab-header ul {
    margin: 10px 20px 0 0;
}
.block-news9 .owl-nav {
    right: auto;
	left:0;
}
.option9 .mini-cart-list .product-price{
	margin:0;
}
.block-breadcrumbs ul li span{
	float:right;
}
.block-breadcrumbs ul li{
	float:right;
}
.block-breadcrumbs ul li a {
    float: right;
}
.block-breadcrumbs{
	padding-right:15px;
}
.blog-posts .post-item .entry-meta-data span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 0;
}
.page-title .compare-link {
    float: left;
}
.block-filter-top .list-color li {
    float: right;
	 padding-left: 8px;
    padding-right: 0;
}
.block-filter-top .list-size li {
    float: right;
    padding-left: 8px;
    padding-right: 0;
}
.block-filter-top .amount-range-price{
	margin-right:20px;
}
.block.block-filter-top .col-md-2 {
    float: right;
}
.block-filter-top .filter-label{
	border-right:none;
	border-left:1px solid #eaeaea;
}
.block-filter-top .list-category li {
    float: right;
    padding-left: 30px;
    padding-right: 0;
}
.display-product-option {
    float: right;
}
.sortPagiBar-inner {
    float: left;
}
.sortPagiBar .show-product-item, .sortPagiBar .sort-product {
    margin-left: 0;
    margin-right: 30px;
}
.sortPagiBar .sort-product .icon {
    border-right: 1px solid #eaeaea;
	border-left:none;
}
.block-list-category > ul > li::after {
    float: left;
    left: 0;
    right: auto;
}	
.check-box-list input[type="checkbox"] + label span.button{
	margin-right:0;
	margin-left:10px;
}
.check-box-list.corlor input[type="checkbox"] + label span.button{
	float:right;
}
.products.list .product-right {
    padding-left: 0;
    padding-right: 20px;
}
select{
	background-position:left 15px center;
}
.checkout-page .box-border input[type="radio"] {
    margin-left: 10px;
    margin-right: 0px;
}
.contact-page ul {
    padding-left: 0;
    padding-right: 15px;
}
.contact-page .store_info li .fa {
    margin-left: 10px;
    margin-right: 0px;
}
.block-category-list a{
	float:right;
}
.block-product-info .variations-box .list-check-box li {
    float: right;
    padding-left: 10px;
    padding-right: 0;
}
.product-page .block-product-info .box-control-button>a{
	float:right;
	margin-left:25px;
	margin-right:0;
}
.block-product-info .box-qty {
    float: right;
}
.block-products-owl .owl-prev {
    left: 0;
    right: auto;
}
.block-products-owl .owl-next {
    left: 21px;
    right: auto;
}
.entry-detail .entry-meta-data span {
    display: inline-block;
    margin-left: 10px;
    margin-right: 0;
}
.comment-list .comment-content {
    margin-left: 0;
    margin-right: 95px;
}
.comment-list .comment-avatar {
    float: right;
}
.list-wishlist li .button-action a {
    left: 10px;
    right: auto;
}
.block-category .categories>li>a:before{
	right:-4px;
	top:-4px;
}
.ui-selectmenu-button span.ui-icon {
    left: 5px;
    right: auto;
}
.advanced-search #category-select-button {
    padding-left: 15px;
}