<!--<span class="title">
    <label [for]="imageId">{{field.Name}}</label>
    <mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'">info_outline</mat-icon>
</span>-->
<div class="image">
    <img [src]="currentImageThumb" alt="" [id]="thumbId" />
    <input hidden value="currentValue" [id]="imageId" />
</div>
<!--<div class="image-btns">
    <button mat-button (click)="image_upload();">Browse</button>
    <button mat-button (click)="clear_image()">Clear</button>
</div>-->
<div class="image-btns">
    <button name="logo_browse" type="button" class="btn btn-link" (click)="image_upload();">{{(commonService.Res$ | async)._browse}}</button>
    <button type="button" class="btn btn-link" (click)="clear_image()">{{(commonService.Res$ | async)._clear}}</button>
</div>

<!--<mat-select *ngIf="field.IsMultiLang==1" [ngModel]="field.Values[0].Lang" (change)="changeLang($event.value)">
  <mat-option *ngFor="let lang of field.Values;let i=index" [value]="lang.Lang">
    {{getLanguageName(lang.Lang)}}
  </mat-option>
</mat-select>-->

<!--<mat-button-toggle-group *ngIf="field.IsMultiLang==1" (change)="changeLang($event.value)">
    <mat-button-toggle mat-button *ngFor="let lang of field.Values;let i=index" [value]="lang.Lang" [checked]="i==0">
        {{lang.Lang}}
        <img [src]="getLanguageIcon(lang.Lang)" />
    </mat-button-toggle>
</mat-button-toggle-group>-->