@media(max-width: 775px) {
    
    .hero--search-form {
        width: 100%;
    }

    .hero--search-form img,
    .hero--search-form-label {
        display: none;
    }

    .cards {
        padding: 40px 10px;
        min-height: auto;
    }

    .owl-item:last-of-type .hero--search-block {
        padding-top: 13%;
    }

    .trips--slider,
    .trips--slider .carousel,
    .trips--slider .carousel-inner,
    .trips--slider .item,
    .trips--slider .item img {
        height: 335px;
    }

}

@media(min-width: 776px) and (max-width: 995px) {
    
    .hero--search-form {
        width: 100%;
    }

    .hero--search-form img,
    .hero--search-form-label {
        display: none;
    }

    .cards {
        padding: 40px 10px;
    }

    .owl-item:last-of-type .hero--search-block {
        padding-top: 13%;
    }

    .trips--slider,
    .trips--slider .carousel,
    .trips--slider .carousel-inner,
    .trips--slider .item,
    .trips--slider .item img {
        height: 435px;
    }

}