.hero--search-form img {
    margin-right: auto;
    margin-left: 20px;
}

.card--block {
    text-align: right;
}

.card--block-info ul img {
    float: right;
    margin-right: auto;
    margin-left: 4px;
}

.card--block-info ul span {
    display: inline-block;
    transform: translateY(-2px);
}

.container--label {
    margin-right: auto;
    margin-left: 20px;
 }

 .submitting {
     direction: initial;
 }

 [data-role="rangeslider"] > div:first-child {
    padding-right: 0;
    padding-left: 20px;
}

.search .cards .sort-bar {
    margin-right: 0;
    margin-left: 20px;
}

.trip-details-dating img {
    margin-right: 0;
    margin-left: 4px;
}

.product-options-wrapper-q i {https://img2.goodfon.com/wallpaper/big/3/5c/vecher-rozovyy-zakat-sirenevoe.jpg
    font-size: 14px;
}

.container--label {
    margin-left: auto;
    margin-right: 20px;
}

.container--label:last-of-type {
    float: right;
}
