/*========== Start hero ==========*/
.hero--search {
    height: 80vh;
    background: url('../../../image/trips/tour.jpg') no-repeat center;
    background-size: cover;
}

.hero--search-overlay {
    height: 100%;
    background: linear-gradient(to top, rgb(67, 62, 0, .6) 0%, rgba(0, 0, 0, .13) 100%);
}

.hero--search-overlay .container,
.hero--search-overlay .row,
.hero--search-overlay .col-xs-12 {
    height: 100%
}

.hero--search-flex {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero--search-flex > div {
    width: 100%;
}

.hero--search-form {
    display: flex;
    align-items: center;
    height: 60px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    background-color: #f4f4f4;
    overflow: hidden;
}

#pageContent .content {
    height: 55px;
    line-height: 55px;
    padding: 0 7px 0 10px !important;
    border: 0;
    background-color: unset;
    font-size: 16px;
}

.hero--search-form img {
    height: 100%;
    margin-right: 20px;
}

.hero--search-form-label {
    font-family: inherit;
    font-size: 18px;
    color: #414141;
    width: 20%;
    margin: 0;
}

.hero--search-form-input {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    font-size: 18px;
}

.hero--search-form-input::placeholder {
    font-family: inherit;
    font-size: 18px;
    color: #b9b9b9;
}

/* .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }
  
  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
  }
  span {
      font-size: 70px;    
      position: relative;
      top: -5px;
  }
  .owl-nav button:focus {
      outline: none;
  } */

.hero--search-links {
    margin-top: 57px;
}

.hero--search-block {
    height: 93px;
    width: 100%;
    border-radius: 4px;
    padding: 10px 0 0 0;
    background-color: #f4f4f4;
}

.hero--search-block a {
    text-decoration: none;
}

.owl-item:last-of-type .hero--search-block {
    padding-top: 10%;
}

.hero--search-block img {
    width: 40px !important;
    display: block;
    margin: auto;
}

.hero--search-block h4 {
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    line-height: 28px;
    padding-top: 10px;
    transition: color .2s ease-in-out;
}

.hero--search-block:hover h4 {
    color: #01e294;
}

.hero--search-block:hover a {
    text-decoration: none;
}
/*========== End hero ==========*/




/*========== Start cards ==========*/
.card--block:hover a {
    text-decoration: unset;
}

.grid-pro-color {
    margin-bottom: 30px
}

.cards {
    padding: 40px 0;
    background: #fff;
    overflow: hidden;
}

.cards--filter {
    min-height: 754px;
}

.search .cards .sort-paginav {
    display: flex;
    margin-bottom: 15px;
}

.search--cards-sortLable {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.search .cards .sort-bar {
    margin-right: 20px
}

.search--cards-sortSelect {
    font-size: 14px;
    color: #555;
    padding: 4px;
    border: 1px solid #ddd;
}

.cards-ctrls {
    margin-bottom: 37px;
}

.cards-ctrls a {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding: 8px 13px;
    border: 2px solid #000;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.cards-ctrls a.active,
.cards-ctrls a:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.cards--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cards--header img {
    width: 25px;
    margin-top: -5px;
}

.cards--header span {
    font-family: inherit;
    font-size: 28px;
    text-transform: capitalize;
    font-weight: bold;
    color: #000;
}

.cards--header a {
    font-family: inherit;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    color: #01e294;
}

.card--block {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.card--block a {
    text-decoration: none;
}

.card--block-img {
    position: relative;
    height: 172px;
    border-radius: 10px;
    overflow: hidden;
}

.card--block-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 15px 10px;
    background: linear-gradient(to top, rgb(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);;
}

.card--block-img-overlay .flag {
    display: inline-block;
    height: 25px;
    min-width: 70px;
    line-height: 27px;
    border-radius: 20px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #414141;
    background-color: #fff;
}

.card--block-img img {
    height: 100%;
    width: 100%;
}

.card--block-info {
    padding: 8px;
}

.card--block-info-heading {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
    transition: color .2s ease-in-out;
}

.card--block:hover .card--block-info-heading {
    color: #01e294;
}

.card--block-info ul li {
    overflow: hidden;
}

.card--block-info ul img {
    width: 15px !important;
    float: left;
    margin-right: 4px;
}
.card--block-info a img {
    float: right;
    margin-right: auto;
    margin-left: 4px;
    width: 15px !important;
}

.card--block-info ul span {
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}
/*========== End cards ==========*/




/*========== Start search ==========*/
.search {
    background-color: #fafafa;
}

.search .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.search--fields {
    background-color: #fff;
    padding: 42px 47px;
}

.input-grouping,
.select2-container--default .select2-selection--multiple {
    display: flex;
    align-items: center;
    height: 48px;
    border: 1px solid #f4f4f4 !important
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0ac182 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #000;
}

.input-grouping input,
.input-grouping input:focus {
    border: 0;
    outline: none;
    box-shadow: unset;
}

.input-grouping-search {
    width: 35px;
    padding-right: 10px;
    border: 0;
    outline: none;
    background-color: transparent;
}

.form-group {
    margin-bottom: 20px;
}

.search .form-group {
    margin-bottom: 25px;
}

.form-group-label,
.control-label,
[data-role="rangeslider"] label {
    text-transform: capitalize;
    color: #0b0b0b;
    overflow: hidden;
    font-weight: 600;
    font-size: 15px
}

[data-role="rangeslider"] {
    display: flex;
    justify-content: space-between;
}

[data-role="rangeslider"] > div {
    width: 50%;
}

[data-role="rangeslider"] > div:first-child {
    padding-right: 20px
}

[data-role="rangeslider"] input {
        width: 100%;
}

.trips-ctrls {
    min-height: 135px;
}

.trips-ctrls button {
    height: 40px;
    width: 49%;
    line-height: 40px;
    float: left;
    margin-bottom: 5px;
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    color: #161616;
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .06);
}

.trips-ctrls button.active {
    color: #161616;
    background-color: #efefef;
}

.trips-ctrls button:nth-child(odd) {
    margin-right: 2%;
}

.submitting {
    height: 53px;
    line-height: 53px;
    width: 100%;
    border-radius: 4px;
    background-color: #0ac182;
    border: 0;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600 !important;
    text-transform: uppercase;
    color: #fff;
    transition: all .2s ease-in-out;
}

.submitting:hover {
    color: #fff !important;
    background-color: #000;
}

.submitting img {
    width: 25px;
    margin-left: 10px;
    margin-top: -3px;
}

.irs--flat .irs-min, .irs--flat .irs-max {
    background-color: transparent;
    font-size: 14px;
}

.irs--flat .irs-line {
    top: 30px;
    height: 4px;
    background-color: #bcbcbc;
    border-radius: 4px;
}

.irs--flat .irs-bar {
    top: 30px;
    height: 4px;
    background-color: #0ac182;
}

.irs--flat .irs-handle>i:first-child {
    top: 2px;
    width: 15px;
    height: 15px;
    background-color: #0ac182;
    border-radius: 50%;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    font-size: 14px;
    background-color: #0ac182;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before,
.irs-grid {
    display: none !important;
}
/*========== End search ==========*/




/*========== Start trip-details ==========*/
.trip-details {
    margin-top: 30px;
    margin-bottom: 63px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.trips--info {
    padding: 30px 31px 0;
}

.trips--info ul {
    padding-right: 0
} 

.trips--heading {
    font-family: inherit;
    font-size: 26px;
    font-weight: bold;
    color: #000;
    padding-bottom: 30px;
}

.trip--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.trip--header span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trip--header span img {
    width: 20px;
    margin-right: 5px;
}

.trip--header span:first-of-type {
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
}

.trip--header span:last-of-type {
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
}

.trip-details-dating {
    margin-bottom: 25px;
}

.trip-details-dating img {
    width: 15px;
    margin-right: 2px;
    margin-top: -5px;
}

.trip-details-dating span {
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: #4e4f4e;
}

.trips--label {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.trips--information {
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 25px;
}
.trips--information li span {
    font-weight: bold;
}

.trips--paragraph {
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 15px;
}

.trips--slider,
.trips--slider .carousel,
.trips--slider .carousel-inner,
.trips--slider .item,
.trips--slider .item img {
    height: 635px;
    width: 100%;
}

.trips--slider-question.trips--slider,
.trips--slider-question.trips--slider .carousel,
.trips--slider-question.trips--slider .carousel-inner,
.trips--slider-question.trips--slider .item,
.trips--slider-question.trips--slider .item img {
    height: 480px;
}

.trips--slider .carousel-indicators li {
    background-color: rgba(255, 255, 255, .8);
    border: 0;
}

.trips--slider .carousel-indicators li.active {
    background-color: rgba(255, 255, 255, 1);
}

.popular--trips {
    margin-bottom: 30px;
    padding: 31px 22px 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.popular--trips .cards {
    padding: 0;
}

.cards--paragraph {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}
/*========== End trip-details ==========*/




/*========== Start questionare ==========*/
.questionare {
    margin-bottom: 15px;
    overflow: hidden;
    height: 95px;
    overflow-y: auto;
}

.questionare--block-question {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
}

/* The container */
.container--label {
    /* display: block; */
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container--label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container--label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container--label input:checked ~ .checkmark {
    background-color: #0ac182;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container--label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container--label .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: transparent;
  }
/*========== End questionare ==========*/
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    white-space: normal;
    background-color: #3a3f41 !important;
    color: #fff;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
    padding: 10px 10px !important;
    font-size: 13px;

}
.btn-group a {
    height: 53px;
    line-height: 53px;
    /* width: 50%; */
    border-radius: 4px;
    background-color: #0ac182;
    border: 0;
    padding: 10px 24px;
    /* outline: none; */
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    /* text-transform: uppercase; */
    color: #fff;
    transition: background .2s ease-in-out;
    margin-right: 2px;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group a:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group a:hover {
    background-color: #000000;
  }
  

.onsale-section {
  position: absolute;
  top: -6px;
  right: 15px;
}

.onsale-section:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 6px solid #ff3e3e;
}

.onsale {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #fff;
  background: #ff3e3e;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 6px;
  border-top-right-radius: 8px;
  width: 84px;
}

.onsale:before,
.onsale:after {
  position: absolute;
  content: '';
  display: block;
}

.onsale:before {
  background: #ff3e3e;
  height: 7px;
  width: 6px;
  left: -6px;
  top: 0;
}

.onsale:after {
  background: #ff3e3e;
  height: 7px;
  width: 8px;
  border-radius: 8px 8px 0 0;
  left: -8px;
  top: 0;
}

.trips--label-toggle {
    cursor: pointer;
}

.product-options-wrapper-q,
.block-product-info-toggle {
    display: none;
}

.product-options-wrapper-q i {
    font-size: 14px;
}

.card--block-info ul {
    padding-right: 0
}

.coming--trips {
    background-color: #fff;
    padding: 10px;
}
.breadcrumb-page {
    margin-top: 20px
}

.breadcrumb-page li a {
 color: #fff   
}

.breadcrumb-page li.active {
    color: gray
}

.breadcrumb-page .breadcrumb > li + li:before {
    color: gray;
}