.clickable {
    cursor: pointer;
    cursor: hand;
}

.section {
    padding-top: 5px;
}

.section mat-card {
    padding-top: 12px;
    padding-bottom: 15px;
}

.section-header span {
    vertical-align: middle;
    line-height: 1em;
    text-align: center;
}

.section-header .iconspan {
    float: right;
    display: inline-flex;
    align-items: center;
}

mat-slide-toggle {
    margin: 0px;
    height: 0px;
    padding-top: 5px;
}