<mat-tab-group>
    <mat-tab [label]="(commonService.Res$ | async)._layout">
        <!--<ng-template mat-tab-label>Layout</ng-template>-->

        <div style="padding: 25px 5px 20px 5px;">
            <md2-select [placeholder]="(commonService.Res$ | async)._selectedPage" [(ngModel)]="selectedPageId" [multiple]="false">
                <md2-option *ngFor="let page of templateService.Pages$ | async" [value]="page.id">
                    {{page.Name}}
                </md2-option>
            </md2-select>
            <button mat-button color="primary" [matMenuTriggerFor]="menu">{{(commonService.Res$ | async)._addLayout}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let layout of templateService.Layouts$ | async" (click)="addLayout(layout.name, layout.route)">
                    {{layout.name}}
                </button>
            </mat-menu>
        </div>
        <pagecontainer [objPage]="selectedPage" [headerRegion]="headerRegion" [footerRegion]="footerRegion"></pagecontainer>
    </mat-tab>
    <mat-tab [label]="(commonService.Res$ | async)._styling">
        <!--<ng-template mat-tab-label>Styling</ng-template>-->
        <specialregionview [RegionType]="'styling'"></specialregionview>
    </mat-tab>
</mat-tab-group>