.slidebar{
	
}
.form{
	padding-bottom: 0px;
}
.slidebar .toolbar{

}
.toolbar ul{
	list-style-type: none;
	background: #FFFFFF;
	height: 30px;
	border: 1px solid #DBDBDB;
	margin-bottom: 10px;
	padding-left: 5px;
}
.toolbar ul li{
	display: inline-table;
	padding:8px 5px 5px;
	padding-right: 20px;
}
.toolbar ul li a{
	text-decoration: none;
	display: block;
	font-weight: bold;
}
.toolbar ul li a:hover{
	color: #BD4C14;
	}
.toolbar ul li .icon-banner {
    background: url("../image/image.png") no-repeat scroll 0 0 transparent;
    padding:4px 14px;
}
.toolbar ul li .icon-module {
    background: url("../image/module.png") no-repeat scroll 0 0 transparent;
    padding:4px 12px;
}
.toolbar ul li .icon-support {
    background: url("../image/mail.png") no-repeat scroll 0 0 transparent;
    padding:4px 12px;
}
.note-big{
	font-weight: bold;
	color:#003A88;
}
.group_title{ font-weight: bold; color:#000F5D;font-size: 1.4em}
.bg-group{background: #0088CC;color:#FFFFFF;}
.bg-group .group_title{color:#FFFFFF;}

.demo_container { width:980px; margin:0 auto; }
#demo_top_wrapper { margin:0 0 20px 0; }
#demo_top { height:100px; padding:20px 0 0 0; }
#my_logo { font:70px Georgia, serif; }

/* our menu styles */
#sticky_navigation { }
#sticky_navigation .buttons{ padding-right:5%;}
.product_special_block >td{
	padding:0px!important;
}
.product_special_block h3{
	background: none repeat scroll 0 0 #823A3A;
    color: #FFFFFF;
    line-height: 30px;
    margin: 0 !important;
    text-align: center;
}
.list tbody .row-selected td{
	background: #FFFFCB;
}
.status_today{
	color:#8e44ad;
}
.status_active{
	color:#3498DB;
}
.status_past{
	color:#34495E;
}
.status_sold_out{
	color:#FF0000;
}