%no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.main-checkout{
    button{
        &:focus{
            box-shadow: none;
        }
    }
    a{
        text-decoration: none;
    } 
    h1 , h2 ,h3 ,h4,h5,h6{
        font-family: HelveticaNeue;
        font-weight: bold;
        color: $main-color;
    }
    button:focus:not(:focus-visible){
        box-shadow: none;
    }
    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
        outline: none;
    }
    .tap--invalid{
        border: 1px solid red;
    }

    label , p{
        color: $main-color;
        font-family: HelveticaNeue;
    }
}
.hidden--body{
    overflow: hidden;
    position: relative;
    height: 100%;
}
.form-check-input:focus{
    border-color: var(--MainColor)
}