@import url('http://fonts.cdnfonts.com/css/neo-sans-tr');

.detail-with-sidebar .title-detail {
    font-family: 'Neo Sans TR', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.product-info-stock-sku .available-ST {
    display: inline-block;
    background: #ffffff;
    color: #8fc73f;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px;
}

.product-info-stock-sku .unavailable-ST {
    display: inline-block;
    background: #ffffff;
    color: #d44532;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px;
}

.included_tax_holder {
    display: inline-block;
    background-color: #f6f6f6;
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 4px;
}

.included_tax_holder i {
    color: green;
}

.detail-on-head {
    padding: 0;
}


.detail-on-head > * {
    display: list-item;
    list-style: disc;
    margin: 0 16px;
    display: none;
}


.detail-on-head > * br {
    display: none;
}

.detail-on-head > *:nth-child(1),
.detail-on-head > *:nth-child(2),
.detail-on-head > *:nth-child(3) {
    display: list-item;
}

.price_display {
    color: #000;
    font-size: 23px;
    font-weight: 600;
}

.detail-extralink {
    display: flex;
    border: none;
    padding: 0 !important;
    margin: 0 0 15px !important;
}

.detail-extralink .detail-qty {
    width: auto;
    margin: 0;
    margin-inline-end: 15px;
    padding: 0;
    border: none;
    display: flex;
}

.detail-extralink .detail-qty .qty-down {
    position: static;
    background-color: #f6f6f6;
    border: 1px solid #d6d6d6;
    border-radius: 3px 0 0 3px;
    padding: 0 8px;
    outline: none;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-extralink .detail-qty .qty-up {
    position: static;
    background-color: #f6f6f6;
    border: 1px solid #d6d6d6;
    border-radius: 0 3px 3px 0;
    padding: 0 8px;
    outline: none;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-extralink .detail-qty button i {
    font-size: 12px;
    color: #939393;
}

.detail-extralink .detail-qty button i.fa-caret-up:before {
    content: "\f067";
}

.detail-extralink .detail-qty button i.fa-caret-down:before {
    content: "\f068";
}

.detail-extralink .input-qty {
    width: 40px !important;
    text-align: center;
    position: static !important;
    height: 44px !important;
    border-top: 1px solid #c9c9c9 !important;
    border-bottom: 1px solid #c9c9c9 !important;
    padding: 6px 5px;
}

.detail-extralink .addToCartBlock {
    margin: 0;
}

.detail-extralink .addToCartBlock #button-cart {
    height: 44px;
    font-size: 15px;
    padding: 0px 15px;
}

.detail-extralink #wishcompare {
    margin: 0 15px;
    float: none;
}

.detail-extralink #wishcompare .wishlist-link {
    width: 44px;
    height: 44px;
    margin: 0;
}

.share-product .at-share-btn-elements {}

.share-product .at-share-btn-elements .at-icon-wrapper {
    background-color: #fff !important;
    width: 35px;
    height: 25px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.share-product .at-share-btn-elements .at-icon-wrapper svg {
    width: 25px !important;
    height: 25px !important;
}

.share-product .at-share-btn-elements .at-svc-facebook path {
    fill: rgb(59, 89, 152) !important;
}

.share-product .at-share-btn-elements .at-svc-twitter path {
    fill: rgb(29, 161, 242) !important;
}

.share-product .at-share-btn-elements .at-svc-pinterest_share path {
    fill: rgb(203, 32, 39) !important;
}

.share-product .at-share-btn-elements .at-svc-whatsapp path {
    fill: rgb(77, 194, 71) !important;
}

.share-product .at-share-btn-elements .at-svc-linkedin {
    display: none;
}

.share-product .at-share-btn-elements .at-svc-compact {
    display: none;
}

.product-content {
    padding: 30px 0 0 0;
}

.brand-tag {
    font-weight: bold;
    margin: 5px 0;
}

.detail-info .product-price {
    margin: 35px 0 !important;
}

.review-form .you-rate {
    margin-bottom: 30px;
    color: #ff9800;
}

.review-form .you-rate .you-rate-title {
    font-weight: 600;
    margin-bottom: 0;
}

.review-form .you-rate .you-rate-product-name {}

.review-form .ratestars {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 19px;
    bottom: 14px;
    left: 15px;
    text-align: center;
}

.review-form .ratestars li.norate {
    color: #dddddd;
}

.review-form .ratestars li {
    color: #fdcf17;
    display: inline-block;
    font-size: 23px;
    padding: 0;
    width: 30px;
    cursor: pointer;
    text-align: start;
}

.review-form .ratestars li:before{
    content: none;
}

.review-form .ratestars li.active-star~* {
    color: #dddddd;
}

.review-form .ratestars:hover li {
    color: #fdcf17;
}

.review-form .ratestars li:hover~* {
    color: #dddddd;
}

.review-form .ratestars li input {
    display: none;
}

.review-form .holder-stars-rate {
    display: inline-block;
}

.review-form .block-rate {
    margin-bottom: 10px;
}

.review-form .block-rate .title {
    font-size: 13px;
    display: block;
}

.review-form>div {
    padding: 0;
}

.review-form>div>label {
    position: static;
    font-weight: 700;
}

.review-form>div>textarea {
    max-width: 400px;
}

.review-list {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #dbdbdb;
}

.review-list:last-child {
    border-bottom: none;
}

.review-list .author {
    margin: 0 0 10px;
}

.review-list .date-review {
    display: block;
    font-size: 12px;
}

.review-list .review-stars-side {
    padding: 0;
}

.review-list .review-stars-side .item {
    margin: 0 0 15px;
}

.review-list .review-stars-side .item label {
    display: block;
    margin: 0;
    font-weight: normal;
}

.review-list .review-text-side {
    padding: 0;
}

.review-list .review-text-side .summary {
    font-weight: bold;
    margin: 0 0 5px;
}

.delivered-msg {
    font-size: 13px;
    margin: 0 0 10px;
}

@media (max-width: 480px) {
    .product-detail .hoz-tab-content {
        font-size: 14px;
    }
}


@media (max-width: 450px) {
    .detail-extralink {
        flex-wrap: wrap;
    }

    .detail-extralink .detail-qty {
        width: 100%;
        margin: 0 0 10px;
    }

    .detail-extralink .input-qty {
        width: 100% !important;
    }

    .detail-extralink .addToCartBlock {
        width: calc(100% - 60px);
    }

    .detail-extralink #wishcompare {
        margin: 0;
        margin-inline-start: 15px;
    }
}

@media (max-width: 786px) {
    .product-content {
        padding: 10px 15px 0 10px !important;
    }
}
.brand-link {
    margin-right: 3px;
}