#header .header-right{
	float:left;
	 text-align: right;
}

#mainmenu .navbar .nav{ float: right; }

.pavcontentslider .carousel-indicators 	{ right: 0 	}
.productcarousel .carousel-controls { right: auto; left: 10px }

ul.box-category li.haschild{
	 background-position: 5% 12px
}

body *{
    direction: rtl;
}

body {
    direction: ltr !important;
}

#search input[type="text"] {
    float: left;
    margin: 10px 10px 0 0;
    padding: 0;
    width: 130px;
    border: 0;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 12px;
    line-height: 16px;
    color: #acacac;
}

.price{
    color: #df5e44;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.wrap_bottom .price{
    font-size: 14px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    margin-bottom: 10px;
}

.links li {
    padding: 0 0 0 15px;
}

.links li a {
    background-repeat: no-repeat;
    font-style: normal;
}

.pavicon-account {
    background-position: 0 -16px;
    width: 12px;
    height: 13px;
    margin: 3px 0 0 2px;
}

.pavicon-wishlist-top {
    background-position: -34px -15px;
    width: 14px;
    height: 12px;
    margin: 4px 0 0 5px;
}

.pavicon-checkout {
    background-position: -69px -17px;
    width: 14px;
    height: 11px;
    margin-top: 7px;
    margin: 7px 0 0 5px;
}

.icon-shopping-cart {
    background-position: -360px -120px;
    margin: 3px 0 0 2px;
}

.pavicon-login {
    background-position: -107px -16px;
    width: 14px;
    height: 13px;
    margin: 4px 0 0 3px;
}

#welcome {
    margin: 0;
    font-style: normal;
    line-height: 20px;
}

.language-wrapper, .currency-wrapper {
    float: none;
}

.language-wrapper {
    margin-right: 10px;
    margin-left: 0px;
}

.btn-group .dropdown-toggle {
    background-color: #ffffff;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    border: 1px solid #e7eaf0 !important;
    padding: 2px 10px 2px 2px !important;
    line-height: 10px !important;
    font-size: 10px !important;
    font-style: italic !important;
    color: #949494 !important;
    width: 112px;
    text-align: right;
    text-transform: capitalize;
    overflow: hidden;
    outline: none;
}

.btn-group span {
    float: right;
    margin-top: 2px;
}

.btn-group .caret {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    background-color: #c9c9c9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.btn-group .dropdown {
    position: absolute;
    top: 28px;
    left: 0;
    right: inherit;
    margin: 0;
    padding: 5px;
    z-index: 99999;
    display: block;
    border-color: #e5e2dd;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-group .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(229,226,221,0.1) transparent;
    border-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#FFFFFF);
    zoom: 1;
    right: inherit;
}

.btn-group .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
    right: inherit;
}

.navbar .nav > li.home a {
    background: url("../image/icon-home.png") no-repeat right 50%;
}

.navbar .nav > li.home a span {
    padding-left: 0px;
    padding-right: 15px;
}

.navbar .nav > li > .dropdown-menu {
    border: 3px solid #6f9426;
    background-color: #fffcf7;
    padding: 23px 13px;
    top: 54px;
    margin: 0;
    height: auto;
    min-width: 200px;
    display: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: initial;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.navbar .nav > li > .dropdown-menu li a {
    font-style: normal;
    line-height: 31px;
    height: 31px;
    display: block;
    color: #7b7771;
    background: url("../image/menu-item-ar.png") no-repeat scroll right 10px top 50%;
    padding: 0 25px;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

.navbar .nav > li > .dropdown-menu > li > ul > li a:hover {
    background: url("../image/menu-item-hover-ar.png") no-repeat scroll right 10px top 50%;
}

.pavicon-search {
    background-color: #40331D;
    background-position: -220px -220px;
    border-radius: 50% 50% 50% 50%;
    height: 36px;
    margin: 0;
    cursor: pointer;
    width: 36px;
    float: left;
}

#search input[type="text"] {
    float: right;
    margin: 10px 0 0 10px;
    padding: 0;
    width: 130px;
    border: 0;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
    font-size: 12px;
    line-height: 16px;
    color: #acacac;
}

#search {
    padding: 0 23px 0 0;
    width: 176px;
    border: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    line-height: normal;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: #ffffff;
    height: auto;
    min-height: auto;
}

#cart {
    position: relative;
    margin-right: 13px;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-left: 0px;
}

.pav-cart-title {
    margin: -9px 5px 0 0;
}

#cart .content {
    position: absolute;
    top: 50px;
    right: initial;
    left: 0;
    z-index: 99999;
    width: 270px;
    background-color: transparent;
    border: 5px solid transparent;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

#cart.active .content:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -11px;
    left: 20%;
    right: initial;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #E5E5E5 transparent;
}

#cart.active .content:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -13px;
    left: 19.5%;
    right: initial;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
    border-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#FFFFFF);
    zoom: 1;
}

.testimonial {
    float: right;
    width: 58%;
    position: relative;
    margin: 0 75px 0 35px;
}

.testimonial:before {

    background: url("../image/text-qoute-ar.png") no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 61px;
    right: -75px;
    left: initial;
    position: absolute;
    top: 0;
    width: 56px;
}

.testimonial:after {

    background: url("../image/testimonial_bullet-ar.png") no-repeat 0 0 transparent;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -35px;
    right: initial;
    width: 18px;
    height: 61px;

}

.t-avatar {
    width: 28%;
    margin: 0 15px 0 0;
}

.profile {
    margin: 0 12px 0 0;
}

.pav-product-tab .left {
    right: inherit;
    left: 0px;
}

.pav-product-tab .right {
    left: 37px;
    right: initial;
}

.nav-tabs > li > a {
    margin: 0 0 0 5px;
    padding: 8px 20px;
    border: 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    background: #40331d;
    position: relative;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.nav-tabs > .active > a:before {
    border-left: 11px solid transparent;
    border-top: 11px solid #6f9426;
    bottom: -11px;
    content: "";
    height: 0;
    right: 0;
    position: absolute;
    width: 0;
    display: inline-block;
    zoom: 1;
    border-right: none;
    left: initial;
}

.product-tab-content:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 23.3333%;
    background: #40331d;
    left: initial;
}

.tabs-category {
    margin: 0;
    float: right;
    width: 23.3333%;
    position: relative;
    z-index: 100;
    padding: 20px 0;
}

.row-fluid [class*="pav-span"] {
    display: block;
    float: right;
    margin: 0;
}

.product-tab-content {
    float: right;
    width: 76.6667%;
    border: 0;
}

.cat-products-block {
    position: inherit;
}

.h-tabs li a {
    background: none repeat scroll 0 0 #574629;
    color: #FFFFFF;
    float: left;
    font-size: 100%;
    font-style: italic;
    line-height: normal;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 6px 10px 6px 15px;
    text-align: left;
    text-transform: uppercase;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

.h-tabs a img {
    float: left;
    margin: 5px 15px 0 0;
}

.h-tabs li a {
    background: none repeat scroll 0 0 #574629;
    color: #FFFFFF;
    float: right;
    font-size: 100%;
    font-style: italic;
    line-height: normal;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 6px 15px 6px 10px;
    text-align: right;
    text-transform: uppercase;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

.h-tabs li a {
    background: none repeat scroll 0 0 #574629;
    color: #FFFFFF;
    float: left;
    font-size: 100%;
    font-style: italic;
    line-height: normal;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 6px 15px 6px 10px;
    text-align: right;
    text-transform: uppercase;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
}

.box .box-heading {
    padding: 0 20px;
    margin: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #574629;
    float: right;
    position: relative;
}

.pav-about-us img {
    float: right;
    margin-left: 15px;
    margin-right: 0px;
}

.social li {
    float: right;
    line-height: normal;
    margin-left: 7px;
    margin-right: 0px;
}

.input-box, .is-highlight h4, .t-news, a.button-newsletter, .input-text {
    float: left;
}
.is-highlight h4, .t-news {
    color: #807158;
    font-size: 17px;
    font-weight: normal;
    margin: 6px 0 0 7px;
}

a.button-newsletter {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: #6f9426;
    padding: 0px 12px;
    height: 33px;
    line-height: 33px;
    margin-right: 4px;
    margin-left: 0px;
}

.pav-about-us .box-heading {
    background-color: #df5e44;
}

.product-label-special span {
    font-size: 10px;
}

.pav-product-category .product-block {
    border-left: 1px solid #e5e2dd;
    position: relative;
    overflow: hidden;
    border-right: none;
}

.wrapper-product-category {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e5e2dd;
    background-color: #FFFFFF;
}

.pavicon-shop {
    background-position: -240px -287px;
    float: right;
    margin: -3px 0 0 7px;
}

.list-link a {
    padding-right: 12px;
    background: url("../image/menu-item-ar.png") no-repeat right 50%;
    padding-left: 0px;
}

.box-heading:before {
    border-left: 11px solid transparent;
    border-top: 11px solid #574629;
    bottom: -11px;
    content: "";
    display: inline-block;
    zoom: 1;
    height: 0;
    right: 0;
    position: absolute;
    width: 0;
    left: initial;
    border-right: none;
}

.sitemap li ul li ul li {
    list-style: circle inside none;
}

.sitemap li ul {
    margin-left: 0px;
    margin-right: 30px;
}

.filter > div, .filter > ul {
    float: right;
}

.display li.first {
    float: right;
    line-height: 30px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 11px;
}

.product-list .image {
    float: right;
}

.product-list .product-bottom {
    padding: 0 20px 0 0;
    overflow: hidden;
    text-align: right;
}

.product-list .product-label-special {
    right: -15px;
    top: -15px;
    left: initial;
}

.product-list .pav-button * {
    float: right;
}

.product-list .product-block {
    margin: 0 0 17px 0;
    padding: 0;
    width: 100%;
}

i.icon-angle-right:before {
    content: "\f104";
}

#tab > li > a {
    margin-left: 1px;
    margin-right: 0px;
}

#tab > li > .selected:before {
    border-left: 11px solid transparent;
    border-top: 11px solid #6f9426;
    bottom: -11px;
    content: "";
    display: inline-block;
    zoom: 1;
    height: 0;
    right: 0;
    position: absolute;
    width: 0;
    left: initial;
    border-right: none;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at4-icon, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs {
    float: right !important;
}

.buttons-adjust-qty {
    height: 29px;
    line-height: 29px;
    margin: 0 5px 0 10px;
}

#image-additional a {
    float: right;
    border: 1px solid #e5e2dd;
    background-color: #FFFFFF;
    height: auto;
    min-height: 87px;
    margin: 10px 0 0 10px;
}

#image-additional a.last {
    margin-right: initial;
    margin-left: 0px;
}

.product-info .image-additional .carousel-control.pavicon-prev {
    left: -14px;
}

.product-info .image-additional .carousel-control.pavicon-next {
    right: -20px;
}

table thead td {
    background-color: #e5e2dd;
    font-weight: bold;
    color: #444750;
    font-size: 13px;
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.attribute thead td, .attribute thead tr td:first-child {
    background: #f2f0ed;
    color: #2e3039;
    text-align: right;
    font-size: 14px;
}

.blog-meta > span {
    font-weight: bold;
    border-left: 1px solid #E5E5E5;
    display: block;
    float: right;
    font-size: 90%;
    padding: 10px 11px;
    border-right: none;
}

.blog-header .created {
    display: block;
    overflow: hidden;
    height: 40px;
    padding: 12px;
    background: #000;
    color: #FFF;
    float: right;
    font-size: 11px;
    margin-left: 12px;
    margin-right: 0px;
}

.blog-social .social-wrap > div {
    float: right !important;
}

.blog-social .social-heading {
    padding-right: 0px !important;
    padding-left: 12px !important;
}

#comment-form label {
    display: block;
    float: right !important;
    line-height: 27px;
    margin: 0;
    width: 20%;
}

/* Addthis RTL fix START */
#at15s .at-label {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

#at15s {
    text-align: right !important;
}

#at15s a, #at15s span {
    direction: rtl !important;
}
/* Addthis RTL fix END */