<h2>{{(commonService.Res$ | async)._availableSections}}</h2>
<div>
    <div class="section" *ngFor="let section of AvailableSections$ | async">
        <mat-card (click)="insertSection(section.id)">
            <!--<mat-card-header (click)="toggleCollection(collection.id)">-->
            <div class="section-header clickable">
                <span>{{section.DescName}}</span>
                <!--<span class="iconspan" (click)="$event.stopPropagation();">
                    <mat-slide-toggle [color]="'primary'" [checked]="section.State=='enabled'" (change)="toggleSectionState(section.id, $event.checked);"></mat-slide-toggle>
                </span>-->
            </div>
        </mat-card>
    </div>
</div>

    <!--<div>hello region view {{(Region$ | async)?.CodeName}}</div>

<div class="container-fluid">
    <div *ngFor="let section of AvailableSections$ | async" (click)="insertSection(section.id)" class="row" style="width:100%كborder:1px solid;min-height:30px;background-color:yellow">{{section.Name}}</div>
</div>-->