/* start new home styles */
.theme-header {
  border-bottom: solid 1px #ebe9f4;
  .switch-lang {
    button {
      font-size: 14px;
      font-weight: 500;
      color: #2c2c35;
      background-color: transparent;
      padding: 0;
    }
  }
}
.select-show {
  position: relative;
}
.select-show::after {
  content: "\f078";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  top: 50%;
  @include dir-right(1px);
  height: 38px;
  width: 30px;
  pointer-events: none;
  line-height: 40px;
  background: #fff;
  transform: translateY(-50%);
}
.input-select {
  padding: 0 15px;
  border: solid 1px #d2cfe3;
  display: block;
  width: 100%;
  cursor: pointer;
  height: 40px;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .show-md {
    display: none;
  }
}
@media (max-width: 768px) {
  .hide-md {
    display: none;
  }
}

/* custom-num-box */
.custom-num-box .flag-container:focus {
  outline: 0;
}
.custom-num-box {
  padding: 0 15px;
  border: solid 1px #d2cfe3;
  border-radius: 3px;
  direction: ltr;
  position: relative;
}
.custom-num-box .intl-tel-input {
  width: 100%;
  position: static;
  display: flex;
  align-items: center;
}
.custom-num-box .intl-tel-input .flag-container {
  position: static;
}
.custom-num-box .intl-tel-input .country-list {
  left: 0;
  top: 100%;
  max-width: 100%;
}
.custom-num-box .intl-tel-input.allow-dropdown input {
  width: 100%;
  height: 40px;
  padding: 0 6px;
}
/* custom-num-box */
/* video */
.begain-video {
  display: flex;
  padding: 20px;
  box-shadow: 0 0 5px 0 rgba(167, 162, 194, 63%);
  border-radius: 3px;
  .button {
    @media (max-width: $screen-sm) {
      width: 100%;
      text-align: center;
    }
  }
}
.begain-video .img {
  position: relative;
  width: 200px;
  height: 150px;
  max-width: 100%;
  border-radius: 3px;
  @include dir-margin-right(17px);
  flex-shrink: 0;
  @media (max-width: $screen-sm) {
    width: 100%;
  }
}
.begain-video .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.begain-video .img .zoom-image {
  opacity: 1;
}
.begain-video:hover .img .zoom-image {
  background-color: transparent;
}
.begain-video .info {
  text-align: initial;
}
.begain-video .info-title {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.19;
}
.begain-video .info-content {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  color: #4c4c51;
  line-height: 1.23;
}
.started-video-modal .close {
  position: absolute;
  top: 0;
  @include dir-right(0);
  font-size: 50px;
  line-height: 0.5;
  #{$ltr} & {
    transform: translateX(120%);
  }
  #{$rtl} & {
    transform: translateX(-120%);
  }
  z-index: 1;
  color: #ffffff;
  opacity: 1;
}

@media (max-width: 768px) {
  .begain-video {
    flex-direction: column;
  }
  .begain-video .img {
    width: 100%;
    @include dir-margin-right(0);
    margin-bottom: 10px;
    height: 150px;
  }
  .started-video-modal .modal-content {
    margin-top: 100px;
  }
  .started-video-modal .close {
    transform: translateY(-110%);
  }
}
/* video */
/* guide-steps */
.guide-steps .steps-track {
  width: 130px;
  height: 4px;
  border-radius: 3px;
  background-color: #f2f1f7;
  display: flex;
}
.guide-steps .steps-track span {
  width: calc(100% / 3);
  background-color: #03a9f4;
}
.step-boxs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.step-box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(167, 162, 194, 0.63);
}
.step-box:hover {
  border-color: transparent;
  box-shadow: 0 0 10px 0 rgba(167, 162, 194, 0.63);
}
.step-box .img {
  @include dir-margin-right(10px);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.step-box img {
  width: 40px;
  height: 40px;
}
.step-box .box-text {
  min-height: 54px;
}
.step-box.done .img::before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #ffffff !important;
  background-color: #36cf92;
  font-size: 15px;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.step-box.done {
  box-shadow: none;
  border: solid 1px #dfdbf2;
}
.step-box.done i {
  border: 0;
  background-color: transparent;
}
.step-box.done i::before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #ffffff !important;
  background-color: #36cf92;
  font-size: 18px;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
@media (max-width: 450px) {
  .step-boxs {
    grid-template-columns: 1fr;
  }
}
/* guide-steps */
/* settings-guide */
.setting-guide .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.setting-step-box {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border: solid 1px #dfdbf2;
  transition: 0.3s;
  border-radius: 4px;
  background: white;
}
.setting-step-box:hover {
  box-shadow: 0 0 10px 0 rgba(167, 162, 194, 0.63);
}
.setting-step-box .img {
  width: 82px;
  height: 82px;
  /* border: solid 1px #707070; */
  @include dir-margin-right(20px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.setting-step-box .img img {
  width: 100%;
  height: 100%;
}
.setting-step-box .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100%;
}
.setting-step-box.done .img::before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #ffffff !important;
  background-color: #36cf92;
  font-size: 25px;
  width: 100%;
  height: 100%;
  line-height: 82px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 450px) {
  .setting-guide .grid {
    grid-template-columns: 1fr;
  }
  .setting-step-box .img {
    width: 42px;
    height: 42px;
  }
  .setting-step-box.done .img::before {
    font-size: 18px;
    line-height: 42px;
  }
}
/* settings-guide */
/* new-blogs */
.new-blogs {
  .see-all {
    display: inline-flex;
    align-items: center;
    color: #155ebc;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    i {
      @include dir-margin-left(5px);
      #{$rtl} & {
        transform: rotate(180deg);
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}
.blog-box {
  display: block;
  padding: 12px;
  border: solid 1px #dfdbf2;
  border-radius: 4px;
  transition: 0.3s;
  background-color: #fff;
}
.blog-box:hover {
  box-shadow: 0 0 10px 0 rgba(167, 162, 194, 0.63);
}
.blog-box .img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
}
.blog-box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-box .box-text {
  overflow: hidden;
}
@media (max-width: 768px) {
  .new-blogs .grid {
    grid-template-columns: 1fr;
  }
}
/* new-blogs */
/* random */
.select-plan-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #155ebc;
  font-weight: 600;
}
.request-call-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 22px;
  border-radius: 3px;
  background-color: #fff;
  @media (max-width: $screen-md) {
    flex-direction: column;
    align-items: flex-start;
  }
  .button {
    @include dir-margin-left(15px);
    white-space: nowrap;
    @media (max-width: $screen-md) {
      @include dir-margin-left(0);
      width: 100%;
    }
  }
}
.request-call-modal .close {
  color: #d2cfe3;
}
.request-call-modal.modal.fade .modal-dialog {
  max-width: 485px;
}
.request-call-modal .sections-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #d5d5e0;
}
.request-call-modal .info {
  padding: 20px;
}
.request-call-modal .modal-header .close {
  top: 35%;
}

.request-call-modal .err {
  display: none;
}
.request-call-modal .err .inner {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 7px 14px;
  background-color: #feedf0;
  border-radius: 3px;
}
.request-call-modal .err i {
  @include dir-margin-right(10px);
  font-size: 17px;
  color: #c40000;
}
.request-call-modal .err p {
  color: #c40000;
  font-weight: 500;
}
.request-call-modal .modal-content {
  position: relative;
  // overflow: hidden;
}
.request-call-modal .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
  z-index: 30;
  display: none;
}
.request-call-modal .loading::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #36cf92;
  border-left-color: transparent;
  border-radius: 50%;
  animation: rotate 1s infinite forwards linear;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.req-call-success {
  position: fixed;
  top: 100px;
  right: 20px;
  width: 275px;
  display: flex;
  align-items: center;
  padding: 11px;
  background-color: #e3f7f1;
  z-index: 9999;
  font-size: 12px;
  color: #36cf92;
  font-weight: 500;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.req-call-success.show-success {
  visibility: visible;
  opacity: 1;
  transform: none;
}
.req-call-success .info-content {
  width: 100%;
}
.req-call-success i {
  @include dir-margin-right(8px);
  font-size: 21px;
}
.req-call-success i.hide-success {
  @include dir-margin-left(20px);
  @include dir-margin-left(0px);
  color: #b4afd3;
  cursor: pointer;
}
.request-call-modal .button {
  position: relative;
  overflow: hidden;
}
.request-call-modal .button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03a9f4;
  opacity: 0;
  visibility: hidden;
}
.request-call-modal .button::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #fff;
  border-left-color: transparent;
  border-radius: 50%;
  animation: rotate 1s infinite forwards linear;
  opacity: 0;
  visibility: hidden;
}
.started-video-modal .modal-dialog,
.request-call-modal .modal-dialog {
  height: 100%;
  margin: 0 auto;
}
.started-video-modal .modal-content,
.request-call-modal .modal-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.request-call-modal .button.load::before,
.request-call-modal .button.load::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .request-call-box,
  .select-plan-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .request-call-box .button,
  .select-plan-box .button {
    margin-top: 10px;
  }
}

.req-call-err.has-err .custom-num-box {
  border-color: #c40000 !important;
}
.req-call-err .err-msg {
  color: #c40000;
  display: none;
  margin-top: 5px;
}
.req-call-err.has-err .err-msg {
  display: block;
}
/* random */
/* end new home styles */
.store-steps {
  margin-bottom: 30px;
  .sections-title {
    display: block;
    // align-items: flex-start;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c35;
    margin-bottom: 10px;
    &.small-img {
      img {
        @include dir-margin-left(5px);
        @include dir-margin-right(0px);
        width: 20px;
        display: inline;
        #{$rtl} & {
          transform: scaleX(-1);
        }
        @media (max-width: $screen-sm) {
          display: none;
        }
      }
      .rocket {
        margin-left: 5px;
        display: none;
        @media (max-width: $screen-sm) {
          display: inline;
        }
      }
    }
    i {
      color: #ff7d00;
    }
    img {
      width: 55px;
      @include dir-margin-right(5px);
    }
  }
  .steps-count {
    color: #2c2c35;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $screen-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    .left {
      display: flex;
      align-items: center;
    }
    .current {
      color: #36cf92;
      font-size: 20px;
      font-weight: 600;
    }
    .progress {
      width: 160px;
      height: 6px;
      border-radius: 3px;
      background-color: #daeefe;
      display: block;
      @include dir-margin-left(10px);
      .progress-bar {
        border-radius: 3px;
        background-color: #03a9f4;
      }
    }
    .skip {
      font-size: 13px;
      font-weight: 600;
      color: #155ebc;
      padding: 10px 22px;
      border-radius: 3px;
      background-color: rgba(3, 168, 244, 0.12);
      @media (max-width: $screen-sm) {
        margin-top: 10px;
      }
    }
  }
  .store-step-boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    @media (max-width: $screen-sm) {
      grid-template-columns: 1fr;
    }
    .button {
      font-weight: 600;
    }
  }
  .setting-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    @media (max-width: $screen-md) {
      grid-template-columns: 1fr;
    }
    @media (max-width: $screen-sm) {
      grid-template-columns: 1fr;
    }
    .store-step-box {
      padding: 20px 20px;
      // @include dir-margin-right(10px);
      .more {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        a,span {
          color: #155ebc;
          i {
            color: #155ebc;
            #{$rtl} & {
              transform: rotate(180deg);
            }
          }
        }
      }
      .img {
        flex-shrink: 0;
        align-items: flex-start;
        width: 70px;
        height: 50px;
      }
      .title {
        font-size: 13px;
        margin-bottom: 13px;
      }
      .desc {
        font-size: 13px;
        margin-bottom: 25px;
      }
      .icons {
        position: absolute;
        top: 18px;
        @include dir-right(20px);
      }
      .button {
        text-align: center;
        width: 100%;
      }
    }
  }
  .store-step-box {
    padding: 26px 20px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(167, 162, 194, 0.22);
    .up {
      width: 100%;
    }
    .img {
      height: 90px;
      width: 90px;
      margin-bottom: 25px;
      object-fit: contain;
      display: flex;
      align-items: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      color: #2c2c35;
      margin-bottom: 20px;
    }
    .desc {
      font-size: 14px;
      font-weight: 500;
      color: #2c2c35;
      margin-bottom: 20px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      img {
        width: 22px;
      }
      .check {
        width: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #fff;
        font-size: 10px;
        @include dir-margin-left(6px);
        border-radius: 50%;
        border: solid 1px #e0ddef;
        i {
          transform: translateY(1px);
        }
      }
      img {
        opacity: 0;
      }
    }
    &.done {
      border: solid 1px #36cf92;
      box-shadow: none;
      .icons {
        .check {
          background-color: #36cf92;
        }
        img {
          opacity: 1;
        }
      }
    }
  }
  .skip {
    display: inline-flex;
    align-items: center;
    color: #155ebc;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    i {
      @include dir-margin-left(5px);
      #{$rtl} & {
        transform: rotate(180deg);
      }
    }
  }

  &.home-recommend {

    .store-step-boxs {
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: $screen-md) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $screen-sm) {
        grid-template-columns: repeat(1, 1fr);
      }
      .store-step-box {
        padding: 15px;
        .title {
          height: 41px;
        }
        .desc {
          font-size: 13px;
        }
        .img {
          width: 40px;
          height: 40px;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.home-welcome-title {
  font-size: 20px;
  font-weight: 600;
  color: #2c2c35;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-end;
  @media (max-width: $screen-sm) {
    font-size: 18px;
  }
  img {
    width: 35px;
    @include dir-margin-right(10px);
  }
}

.steps-tabs-content,
.upgrade-prof-request .grid,
.store-steps .setting-grid,
.new-blogs .grid {
  @media (max-width: $screen-sm) {
    display: flex !important;
    overflow: auto;
    @include dir-margin-left(-20px);
    @include dir-margin-right(-30px);
    @include dir-padding-right(20px);
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    .store-step-box,
    .upgrade-prof-box,
    .store-step-box,
    .blog-box {
      width: calc(100% - 95px);
      flex-shrink: 0;
      &:first-child {
        @include dir-margin-left(20px);
      }
      &:last-child {
        @include dir-margin-right(20px);
      }
    }
  }
}

.sections-title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #2c2c35;
  margin-bottom: 10px;
  text-transform: capitalize;
  &.center-lines {
    margin-top: 35px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #E0DDEF;
    }
    span {
      margin: 0 10px;
      width: max-content;
      flex-shrink: 0;
      max-width: 100%;
    }
  }
  i {
    color: #ff7d00;
  }
}

.upgrade-prof-request {
  &.recommend-section {
    .upgrade-prof-box.white .up .img {
      i {
        color: #03a9f4;
        font-size: 20px;
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    @media (max-width: $screen-md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $screen-md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .upgrade-prof-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 4px;
    background-color: #03a9f4;
    cursor: pointer;
    &.white {
      border: solid 1px #dfdbf2;
      background-color: #ffffff;
      transition: .3s;
      &:hover {
        border: solid 1px #36cf92;
      }
      .up {
        .img {
          background-color: #f8f7ff;
        }
        .title {
          color: #2c2c35;
        }
      }
      .desc {
        color: #2c2c35;
      }
      .more a,.more span {
        color: #155ebc;
      }
    }
    .up {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      .img {
        width: 35px;
        height: 35px;
        border-radius: 2px;
        background-color: rgba(224, 221, 239, 0.54);
        @include dir-margin-right(8px);
        padding: 8px;
        i {
          font-size: 16px;
          color: #fff;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .title {
        font-size: 12px;
        font-weight: bold;
        color: #fff;
      }
    }
    .desc {
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 10px;
    }
    .more {
      display: flex;
      justify-content: flex-end;
      a {
        color: #fff;
        i {
          #{$rtl} & {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.upgrade-now-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #155ebc;
  border-radius: 4px;
  @media (max-width: $screen-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    @include dir-margin-right(10px);
    @media (max-width: $screen-sm) {
      margin-bottom: 10px;
    }
  }
}