.ini-wrapper {
    // direction: ltr;
    // text-align: left;
    background-color: #fcfcff;
}
.steps-box {
    padding-bottom: 50px;
}
.ini-head {
  .container {
    @media (min-width: $screen-lg) {
      max-width: 1366px;
    }
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 19px;
        padding-bottom: 19px;

        .lang-btn {
            height: 35px;
            border-radius: 3px;
            border: solid 1px $border-light-color;
            background-color: $white-color;
            font-size: 14px;
            font-weight: 600;
            color: $dark-font-color;
            padding: 0 10px;
        }
    }
  }
}

.ini-body {
    padding-top: 60px;
    @media (max-width: $screen-md) {
      padding-top: 30px;
    }

    .progress-container {
        max-width: 300px;
        display: flex;
        margin: auto;
        .progress-step {
            flex-grow: 1;
            margin: 0 3px;
            border-radius: 20px;
            height: 4px;
            overflow: hidden;
            background-color: #e0ddef;
            &::before {
                content: "";
                display: block;
                height: 100%;
                width: 0;
                background-color: #03a9f4;
                transition: .5s ease-out;
            }
            &.active {
                &::before {
                    width: 100%;
                }
            }
        }
    }

    .steps-box {
        .step {
            overflow: hidden;
            &.step-1 {
                width: 450px;
                max-width: 100%;
                margin: auto;
            }
            &.step-2 {
                width: 780px;
                max-width: 100%;
                margin: auto;
            }
            &.step-3 {
                width: 382px;
                max-width: 100%;
                margin: auto;
            }
            &.step-4 {
                width: 369px;
                max-width: 100%;
                margin: auto;
            }
            &:not(.active) {
                display: none;
            }
            .step-intro {
                text-align: center;
                color: #4c4c51;
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 30px;
            }
            .step-title {
                font-size: 24px;
                font-weight: 500;
                color: #4c4c51;
                margin-bottom: 40px;
            }
            .step-hint {
                font-size: 16px;
                font-weight: 500;
                color: #a4a4b9;
                margin-bottom: 10px;
            }
            .step-label {
                font-size: 13px;
                font-weight: 500;
                #{$rtl} & {
                    font-weight: 600;
                }
                color: #4c4c51;
                margin-bottom: 7px;
            }
            .step-input {
                display: block;
                margin-bottom: 20px;
                width: 100%;
                height: 40px;
                border-radius: 3px;
                border: solid 1px #d2cfe3;
                background-color: #ffffff;
                color: #4c4c51;
                font-size: 13px;
                font-weight: 500;
                padding: 0 16px;
            }
            .ini-step-btn {
                width: 102px;
                height: 36px;
                border-radius: 4px;
                background-color: #03a9f4;
                text-align: center;
                color: #ffffff;
                font-size: 13px;
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                i {
                    font-size: 25px;
                    line-height: 17px;
                    @include dir-margin-left(16px);
                    #{$rtl} & {
                      transform: rotate(180deg);
                    }
                }
            }
            .ini-skip-btn {
                width: 102px;
                height: 36px;
                border-radius: 4px;
                border: solid 1px #e0ddef;
                background-color: transparent;
                text-align: center;
                color: #b4afd3;
                font-size: 13px;
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                i {
                    font-size: 25px;
                    line-height: 17px;
                    @include dir-margin-left(16px);
                    #{$rtl} & {
                      transform: rotate(180deg);
                    }
                }
            }
            .content-check-row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                min-height: 330px;
                margin-bottom: 60px;
                align-items: flex-start;
                align-content: flex-start;
                max-width: 933px;
                margin: auto;
                @media (max-width: $screen-sm) {
                    justify-content: flex-start;
                }
            }

            &.step-3 .btns {
                margin-top: 22px;
            }
            .btns {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;
                &.end {
                    justify-content: flex-end;
                    button:last-child {
                        @include dir-margin-right(0);
                    }
                }
                button {
                    margin: 0 6px;
                }
            }
            .inin-select-container {
                margin-bottom: 20px;
                .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
                    border-color: #d2cfe3;
                }
                .select2-selection--single {
                    padding-top: 9px;
                    padding-bottom: 9px;
                    height: 40px;
                }
                .select2-selection--single .select2-selection__rendered {
                    font-size: 13px;
                    font-weight: 500;
                    color: #4c4c51;
                }
            }
            .hidden-lang {
                display: none;
            }
            .view-more {
                font-size: 12px;
                color: #4c4c51;
                margin-top: 10px;
                span {
                    cursor: pointer;
                }
                span:not(.active) {
                    display: none;
                }
            }
        }
    }
}

.ini-prev-step {
    position: fixed;
    bottom: 24px;
    @include dir-left(24px);
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border: solid 1px #e0ddef;
    background-color: #ffffff;
    color: #4c4c51;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    &:not(.active) {
        visibility: hidden;
        opacity: 0;
    }
    cursor: pointer;
    #{$rtl} & {
      transform: rotate(180deg);
    }
}

.ini-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcfcff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    &.show-loader {
        opacity: 1;
        visibility: visible;
    }

    .title {
        font-size: 20px;
        font-weight: 500;
        color: #4c4c51;
        margin-bottom: 30px;
    }
    .info-content {
        font-size: 18px;
        font-weight: 500;
        color: #4c4c51;
        margin-bottom: 45px;
    }
    .spin {
        width: 58px;
        height: 58px;
        object-fit: contain;
        background-image: linear-gradient(to bottom, #ffffff 15%, #03a9f4);
        border-radius: 50%;
        padding: 3px;
        animation: ini_rotate 1s infinite forwards linear;
        transition: .3s;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fcfcff;
            border-radius: 50%;
        }
    }
}
@keyframes ini_rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.install-welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffdff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9;

    .info-content {
        font-size: 22px;
        font-weight: 600;
        color: #4c4c51;
        margin-top: 50px;
        margin-bottom: 22px;
    }
    .congrat {
        font-size: 35px;
        font-weight: bold;
        color: #03a9f4;
        #{$ltr} & {
            font-family: ScriptMT;
        }
        #{$rtl} & {
            font-family: lemonada;
        }
    }
}

.content-img-check-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 60px;
    min-height: 330px;
    &.grid-4 {
        max-width: 780px;
    }
    &.grid-3 {
        max-width: 585px;
    }
    .content-img-check {
        margin: 0 7px 15px;
        @media (max-width: $screen-sm) {
          margin: 0 5px 15px;
        }
    }
}
.content-img-check {
    display: block;
    input:checked ~ .check-content {
        border-color: #36cf92;
    }
    .check-content {
        display: block;
        width: 181px;
        height: 181px;
        background-color: #ffffff;
        padding: 18px 10px;
        text-align: center;
        border-radius: 7px;
        box-shadow: 0 0 5px 0 rgba(129, 129, 138, 0.13);
        border: 1px solid #ffffff;
        transition: .3s;
        cursor: pointer;
        @media (max-width: $screen-sm) {
          width: 151px;
          height: 151px;
        }
        .img {
            height: 98px;
            margin-bottom: 13px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @media (max-width: $screen-sm) {
              height: 70px;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        span {
            font-size: 13px;
            font-weight: 600;
            color: #2c2c35;
        }
    }
}