.product-info,
.hot-cat-info,
.product-title{
	text-align:right;
	}
.btn-card-custom{
color:#fff;
border:0;
border-radius: 4px;
padding: 7px;
	}
.title-addCart{
	display: none;
	}
.item-pro-color .product-info .product-extra-link{
	text-align: center;
	}
	.price-from span {
    margin: 0;
}
.panel.panel-default img.img-responsive{
	margin: auto;
}
.banner-shop:hover a img {
    transform: none !important;
    -webkit-transform: none !important;
}
select .mainCategorySearchFont{
  font-weight: 900 !important;
}
@media (max-width:768px){

	.title-addCart{
		display: inline-block;
		}
	.product-extra-link2 .addcart-link {
		padding: 0 20px;
		}
	.item-product.item-product4 .row .col-xs-4{
		padding-left:0;
		padding-right:0;
		}
		.panel.panel-default .panel-footer{
			padding: 10px 5px;
		}
	}
.bootstrap-select .dropdown-menu {
	width: 100%
}
.bootstrap-select .btn.dropdown-toggle.btn-default {
	background: transparent;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
	outline: transparent !important;
	outline-offset: 0;
}