.box-product > div { float:left;margin-right:19px; }
div#categories ul li .column-3 > li { float:left; }
div.category-list ul { overflow:auto; }
div.category-list ul li { float:left; }
div.product-grid { overflow:auto; }
div.product-grid > div { float:left; }
