/* Style for a document */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em,
font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b,
u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table,
caption, tbody, tfoot, thead, tr, th, td  
{ margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%; }

blockquote, q { quotes: none;}

ins { text-decoration: none;}

del { text-decoration: line-through;}

table { border-collapse: collapse;border-spacing: 0;}

a img { border:0; }

.clear { font-size:1px;line-height:1px;height:1px;clear:both;margin:0px;padding:0px; }

/* Main styles */

body { background-color:#fff;background-image:url(../images/pattern/pattern_1.png);font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#808080; }
a { text-decoration:none;line-height:18px;color:#808080; }
h1, h2, h3, h4, h5, h6 { font-size:14px; }

/* extra classes for positioning available elements */
.align-right {text-align:right !important;}
.align-center {text-align:center !important;}
.float-left {float:left !important;}
.float-right {float:right !important;}
.set-size-grid {width:940px;margin:0 auto;clear:both;} 
.set-size {width:960px;margin:0 auto;clear:both;} /* the .set-size class sets the container width and centerize it against the user internet browser window */

/* Button */

.button { display:inline-block;height:20px;background:url(../images/bg-button.png) top left repeat-x;font-size:11px;color:#292929;font-weight:bold;padding:2px 10px 0px 10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;cursor:pointer; }
.button:hover { background-position:bottom left; }

/* Grid */

.grid-1 { width:60px;padding:0px 10px; }
.grid-2 { width:140px;padding:0px 10px; }
.grid-3 { width:220px;padding:0px 10px; }
.grid-4 { width:300px;padding:0px 10px; }
.grid-5 { width:380px;padding:0px 10px; }
.grid-6 { width:460px;padding:0px 10px; }
.grid-7 { width:540px;padding:0px 10px; }
.grid-8 { width:620px;padding:0px 10px; }
.grid-9 { width:700px;padding:0px 10px; }
.grid-10 { width:780px;padding:0px 10px; }
.grid-11 { width:860px;padding:0px 10px; }
.grid-12 { clear:both;width:940px;padding:0px 10px; }

/* Wrap */

div#wrap { width:100%;background:url(../images/bg-sports.png) top center repeat-x; }

/* Header */

div#header { width:100%;height:124px;border-bottom:1px solid #7f7f7f;background:#92c005 url(../images/bg-header.png); }

/* Header -> Logo */

div#header h1 { width:220px;padding:32px 10px 0px 10px; }
div#header h1 img { max-width:220px; }

/* Header -> Right */

div#header .header-right { width:720px; }

/* Header -> Bar */

div#header .header-bar-bg { width:50%;height:40px;background:url(../images/bg-header-bar.png) bottom left repeat-x;position:absolute;right:0; }
div#header .header-bar { position:relative;z-index:10;width:685px;height:40px;background:url(../images/bg-header-bar.png) top left no-repeat;padding:0px 0px 0px 31px;margin:0px 0px 0px 0px 4px; }
div#header .header-bar > div { width:685px;height:40px;background:url(../images/bg-header-bar.png) bottom left repeat-x; }
div#header .header-bar > div .switcher, div#header .header-bar > div .switcher a { font-size:11px;line-height:15px; }

/* Header -> Bar -> Switcher */

div#header .header-bar > div .switcher { padding:13px 6px 0px 0px; }
div#header .header-bar > div .switcher p { background:url(../images/switcher.png) top right no-repeat;padding:0px 12px 4px 15px; }
div#header .header-bar > div .switcher .option { display:none;width:auto;padding:4px 7px;position:absolute;background:#262626;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;list-style:none; }

/* Header -> Bar -> Menu */

div#header .header-bar > div ul.menu { padding:12px 0px 0px 0px; }
div#header .header-bar > div ul.menu li { display:inline;padding:0px 6px 0px 8px; }

/* Header -> Search */

div#header .search { width:401px;padding:22px 0px 0px 50px; }
div#header .search .enterkey { display:block;float:left;width:351px;height:20px;background:url(../images/bg-search.png) no-repeat;border:none;padding:0px;margin:0px;font-size:12px;color:#fff;font-family:Arial;padding:10px 0px 10px 14px; }
div#header .search .button-search { float:left;width:36px;height:40px;background:url(../images/bg-button-search.png) no-repeat;cursor:pointer; }

/* Header -> Shopping Cart */

div#header .shopping-cart .welcome-text { padding:0px 0px 8px 0px;font-size:11px;color:#fff; }
div#header .shopping-cart .welcome-text a { color:#fff;font-weight:bold; }
div#header .shopping-cart { width:240px;padding:17px 10px 0px 0px; }
div#header .shopping-cart > div { cursor:pointer;height:35px;background:url(../images/shopping-cart-drop-down.png) top right no-repeat;padding:0px 37px 0px 0px; }
div#header .shopping-cart > div h2 { font-size:18px;color:#fff;font-family:Francois One;background:url(../images/shopping-cart.png) top left no-repeat;padding:1px 0px 0px 34px; }

/* Header -> Shopping Cart -> Hover */

div#header .shopping-cart > div .content { display:none;cursor:default;position:absolute;z-index:99;width:540px;background:#fff;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;margin:30px 0px 0px -300px;padding:0px 0px 15px 0px; }
div#header .shopping-cart > div .content table.cart { margin:0px 20px; }
div#header .shopping-cart > div .content table.cart tr td { border-bottom:1px solid #e6e6e6; }
div#header .shopping-cart > div .content table.cart tr .image { width:59px;padding:20px 0px; }
div#header .shopping-cart > div .content table.cart tr .image img { width:50px;height:50px; }
div#header .shopping-cart > div .content table.cart tr .name { width:300px;padding:10px 0px 12px 0px; }
div#header .shopping-cart > div .content table.cart tr .name a { color:#292929;font-weight:bold; }
div#header .shopping-cart > div .content table.cart tr .quantity { width:40px;text-align:center;padding:15px 0px 17px 0px;color:#808080;font-weight:bold; }
div#header .shopping-cart > div .content table.cart tr .total { width:72px;text-align:right;padding:15px 0px 17px 0px;color:#80b004;font-weight:bold; }
div#header .shopping-cart > div .content table.cart tr .remove { width:29px;text-align:right;padding:15px 0px 14px 0px; }
div#header .shopping-cart > div .content table.total { position:relative;margin:-1px 0px 0px 0px;width:540px;border-top:1px solid #e6e6e6; }
div#header .shopping-cart > div .content table.total .left { padding:0px 0px 0px 325px; }
div#header .shopping-cart > div .content table.total td { padding-right:20px; }
div#header .shopping-cart > div .content table.total b { color:#292929; }
div#header .shopping-cart > div .content  .checkout { text-align:right;padding:15px 20px 0px 0px; }

/* Categories */

div#categories { width:100%;height:51px;background:url(../images/bg-categories.png) repeat-x; }
div#categories ul { list-style:none; }
div#categories ul li { float:left;width:auto;height:50px;background:url(../images/bg-categories-li.png) top left no-repeat;padding:0px 0px 0px 1px; }
div#categories ul li a { display:block;height:34px;padding:16px 14px 0px 14px;font-family:Francois One;font-size:16px;color:#666666; }
div#categories ul li:first-child { background:none; }
div#categories ul li:first-child a { padding-left:9px; }
div#categories ul li:hover a { background:#fff; }

/* Categories -> SubMenu */

div#categories ul li .sub-menu { display:none;position:absolute;width:180px;background:#fff;border-radius:0px 5px 5px 5px;-moz-border-radius:0px 5px 5px 5px;-webkit-border-radius:0px 5px 5px 5px;z-index:59;padding:16px 0px 12px 0px; }
div#categories ul li .column-3 { width:500px; }
div#categories ul li .column-4 { width:670px; }
div#categories ul li .column-2 { width:330px; }
div#categories ul li .sub-menu li { float:none;height:auto;background:url(../images/bullet.png) 20px 9px no-repeat;padding:2px 15px 0px 34px; }
div#categories ul li .column-3 > li { vertical-align:top;display:inline-block;width:114px; }
div#categories ul li .column-4 > li { vertical-align:top;display:inline-block;width:114px; }
div#categories ul li .column-2 > li { vertical-align:top;display:inline-block;width:114px; }
div#categories ul li .sub-menu li a { height:auto;background:none;font-family:Arial;font-size:12px;padding:0px 0px 5px 0px;color:#808080; }
div#categories ul li .sub-menu li a:hover { color:#89b904;font-weight:bold; }
div#categories ul li .sub-menu .sub-menu { display:none;position:absolute;background:#e6e6e6;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }

/* Content */

div#content { padding:9px 0px 38px 0px; }

/* Content -> Box */

div.box { clear:both;background:#fff;margin:29px 10px 0px 10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
div.no-bg { background:none !important;margin-top:0px; }
div.box div.box-heading { font-size:20px;line-height:22px;color:#292929;font-family:Francois One;padding:17px 20px 0px 20px; }
div.box div.box-content { padding:11px 20px 16px 20px; }
div.no-bg div.box-heading { padding:22px 0px 0px 0px; }
div.no-bg div.box-content { padding:0px; }

/* Content -> Products */

.box-product { overflow:auto;width:102%; }
.box-product > div { display:inline-block;width:120px;padding:8px;background:#fff;border:2px solid #fff;border-radius:5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;margin:11px 17px 0px 0px;vertical-align:top; }
.box-product > div:hover { border:2px solid #e6e6e6; }
.box-product > div .product-sale { position:absolute;width:22px;height:58px;background:url(../images/product-sale.png) no-repeat;margin:-10px 0px 0px 0px; }
.box-product > div .image img { width:120px;height:120px; }
.box-product > div .rating { display:none; }
.box-product > div .name { padding:3px 0px 1px 0px; }
.box-product > div .name a { color:#292929;font-weight:bold; }
.box-product > div .price { font-weight:bold;color:#89b904;padding:0px 0px 9px 0px; }
.box-product > div .price .price-old { font-weight:normal;text-decoration:line-through;color:#808080;font-size:11px; }
.box-product > div .cart { padding:0px 0px 3px 0px; }

/* Content -> Featured products */

ul.btn { position:relative;margin:-33px 0px 0px 0px;width:100%;text-align:right;list-style:none; }
ul.btn li { display:inline; }
ul.btn li.number a { vertical-align:top;margin:6px 2px 0px 0px;display:inline-block;width:10px;height:10px;background:url(../images/btn.png) top left no-repeat; }
ul.btn li.number a:hover, ul.btn li.active a { background-position:bottom left; }
ul.btn li a.prev { vertical-align:top;margin:0px 7px 0px 0px;display:inline-block;width: 28px;height: 21px;cursor: pointer;background: url('../images/button-previous.png') center no-repeat; }
ul.btn li a.next { vertical-align:top;margin:0px 0px 0px 5px;display:inline-block;width: 28px;height: 21px;cursor: pointer;background: url('../images/button-next.png') center no-repeat; }

ul.list-items { overflow:auto;list-style:none;position:relative;margin:0px -60px 0px 0px; }
ul.list-items li { float:left;width:470px;padding:18px 0px 4px 0px; }
ul.list-items li .float-left { width:210px; }
ul.list-items .image .product-sale { position:absolute;width:22px;height:58px;background:url(../images/product-sale.png) no-repeat;margin:-2px 0px 0px 8px; }
ul.list-items .image { margin:0px 20px 0px 0px;width:196px !important;padding:0px;background:none;border:2px solid #89b904;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
ul.list-items .image img { display:block;width:196px;height:196px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
ul.list-items li .name { border-bottom:1px solid #e6e6e6;padding:0px 0px 5px 0px;position:relative;margin:-5px 0px 0px 0px; }
ul.list-items li .name p a { font-size:14px;color:#292929;font-weight:bold; }
ul.list-items li .description { padding:5px 0px 0px 0px; }
ul.list-items li .price { font-weight:bold;color:#89b904;padding:4px 0px 11px 0px;font-size:14px; }
ul.list-items li .price .price-old { font-weight:normal;text-decoration:line-through;color:#808080;font-size:11px; }
ul.list-items li .wish-list { padding:10px 0px 0px 0px;font-size:11px; }
ul.list-items li .wish-list a { font-size:11px; }

/* Content -> Slideshow */

.slideshow { clear:both;padding:29px 10px 0px 10px; }

/* Content -> Banner */

.banner { display:inline; } 
.banner > div { display:inline; } 
.banner > div img { display:inline-block;margin:20px 7px 0px 10px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; }

/* Content Center -> Categories */

.box-category ul { list-style:none; }
.box-category ul li { background:url(../images/bullet.png) 0px 13px no-repeat;padding:7px 0px 0px 14px; }
.box-category ul li a { color:#292929;font-weight:bold; }
.box-category ul li ul li a { font-weight:normal; }
.box-category ul li a.active, .box-category > ul > li > a:hover { color:#80b004;font-weight:bold; }
.box-category ul li ul li ul li a { font-weight:normal;color:#808080; }
.box-category ul li ul li ul li a.active { font-weight:normal; }

/* Content Center -> Category Info */

div.category-info { overflow: auto;padding:12px 5px 18px 0px;border-bottom:1px solid #e6e6e6; }
div.category-info .image { position:relative;margin:-6px 0px 0px 0px;float:left;width:170px;}
div.category-info .image img { width:150px !important;height:150px !important;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }

/* Content Center -> Category List */

div.category-list { border-bottom:1px solid #e6e6e6;padding:4px 0px 15px 0px; }
div.category-list ul { list-style:none;position:relative;margin:0px -17px 0px 0px; }
div.category-list ul li { vertical-align:top;display:inline-block;width:120px;text-align:center;padding:16px 17px 0px 0px; }
div.category-list ul li a { font-weight:bold;color:#292929; }
div.category-list ul li img { display:block;width:120px;height:100px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }

/* Content Center -> Product filter */

div.product-filter { height:51px;border-bottom:1px solid #e6e6e6; }
div.product-filter .display { float:left;width:auto; }
div.product-filter .display h3 { float:left;width:auto;font-size:16px;color:#292929;font-weight:normal;font-family:Francois One;padding:16px 7px 0px 0px; }
div.product-filter .display .display-grid, div.product-filter .display .active-display-grid { float:left;width:auto;background:url(../images/grid.png) 0px 3px no-repeat;padding:0px 20px 0px 15px;cursor:pointer;margin:18px 0px 0px 0px; }
div.product-filter .display .display-grid:hover, div.product-filter .display .active-display-grid { background:url(../images/sport/grid-hover.png) 0px 3px no-repeat;color:#80b004; }
div.product-filter .display .display-grid:hover a, div.product-filter .display .active-display-grid a { color:#80b004; }
div.product-filter .display .display-list, div.product-filter .display .active-display-list { float:left;width:auto;background:url(../images/list.png) 0px 5px no-repeat;padding:0px 20px 0px 15px;cursor:pointer;margin:18px 0px 0px 0px; }
div.product-filter .display .display-list:hover, div.product-filter .display .active-display-list { background:url(../images/sport/list-hover.png) 0px 5px no-repeat;color:#80b004; }
div.product-filter .display .display-list:hover a, div.product-filter .display .active-display-list a { color:#80b004; }
div.product-filter .limit { float:right;padding:15px 0px 0px 19px; }
div.product-filter .sort { float:right;padding:15px 0px 0px 19px; }
div.product-filter .limit select, div.product-filter .sort select { padding:2px;background:#d9d9d9;border:0px;font-size:11px;color:#292929;font-weight:bold;margin:0px 0px 0px 4px; }
div.product-filter .product-compare { float:left;padding:18px 0px 0px 10px; }
div.product-filter .product-compare a { font-weight:bold;color:#80b004; }

/* Content Center -> Product Grid */

div.product-grid { position:relative;margin:0px -30px 0px 0px; }
div.product-grid > div { width:172px;display:inline-block;vertical-align:top;padding:20px 0px 16px 0px; }
div.product-grid > div .image .product-sale { position:absolute;width:22px;height:58px;background:url(../images/product-sale.png) no-repeat;margin:-2px 0px 0px 10px; }
div.product-grid > div .image { width:151px;padding:2px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
div.product-grid > div .image:hover { padding:0px;border:2px solid #e6e6e6; }
div.product-grid > div .image img { display:block;width:151px;height:151px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
div.product-grid > div .name { padding:6px 0px 1px 0px; }
div.product-grid > div .name a { color:#292929;font-weight:bold; }
div.product-grid > div .price { font-weight:bold;color:#80b004;padding:0px 0px 9px 0px; }
div.product-grid > div .price .price-old { font-weight:normal;text-decoration:line-through;color:#808080;font-size:11px; }
div.product-grid > div .cart { padding:0px 0px 3px 0px; }
div.product-grid > div .wish-list { padding:6px 0px 0px 0px;font-size:11px; }
div.product-grid > div .wish-list a { font-size:11px; }

/* Content Center -> Product List */

div.product-list { overflow:auto; }
div.product-list > div { overflow:auto;padding:20px 0px;clear:both;border-top:1px solid #e6e6e6; }
div.product-list > div:first-child { border:none; }
div.product-list > div .image .product-sale { position:absolute;width:22px;height:58px;background:url(../images/product-sale.png) no-repeat;margin:-2px 0px 0px 10px; }
div.product-list > div .image { float:left;width:151px;padding:2px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
div.product-list > div .image:hover { padding:0px;border:2px solid #e6e6e6; }
div.product-list > div .image img { display:block;width:151px;height:151px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
div.product-list > div .description { float:left;width:345px;padding:16px 0px 10px 20px; }
div#content-center div.grid-12 div.product-list > div .description { width:575px; }
div.product-list > div .description .name { padding:0px 0px 4px 0px; }
div.product-list > div .description .name a { font-size:14px;color:#292929;font-weight:bold; }
div.product-list > div .description p { border-top:1px solid #e6e6e6;padding:6px 0px 0px 0px; }
div.product-list > div .right { float:right;width:140px;text-align:center;padding:16px 0px 0px 0px; }
div.product-list > div .price { font-weight:bold;color:#80b004;padding:0px 0px 9px 0px;font-size:14px; }
div.product-list > div .price .price-old { font-weight:normal;text-decoration:line-through;color:#808080;font-size:11px; }
div.product-list > div .cart { padding:6px 0px 3px 0px; }
div.product-list > div .wish-list { padding:6px 0px 0px 0px;font-size:11px; }
div.product-list > div .wish-list a { font-size:11px; }

/* Content Center -> Pagination */

div.pagination { overflow:auto;border-top:1px solid #e6e6e6; }
div.pagination .results { float:right;width:250px;text-align:right;padding:19px 0px 4px 0px; }
div.pagination .links { float:left;width:350px;padding:16px 0px 4px 0px; }
div.pagination .links a { font-size:16px;color:#292929;font-family:Francois One;padding:0px 2px; }
div.pagination .links b { font-size:16px;color:#80b004;font-family:Francois One;padding:0px 2px; }

/* Content Center -> Product Info */

div.product-info { overflow:auto;padding:0px 0px 20px 0px; }
div.product-info .left { float:left;width:340px;padding:6px 0px 0px 0px; }
div.product-info .left .image img { display:block;width:340px;height:340px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
div.product-info .left .image-additional { position:relative;margin:0px -20px 0px 0px; }
div.product-info .left .image-additional img { float:left;width:70px;height:70px;display:block;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:20px 20px 0px 0px; }
div#content-center div.grid-12 div.product-info .left { width:560px; }
div#content-center div.grid-12 div.product-info .left .image { float:left;width:340px; }
div#content-center div.grid-12 div.product-info .left .image-additional { float:left;width:200px;padding:0px 0px 0px 20px;margin:0px; }
div#content-center div.grid-12 div.product-info .left .image-additional img { margin:0px 20px 20px 0px; }
div.product-info .right { float:left;width:320px;padding:0px 0px 0px 20px; }
div.product-info .right .description { color:#292929;line-height:22px;border-bottom:1px solid #e6e6e6;padding:10px 0px 13px 0px; }
div.product-info .right .description span { color:#808080; }
div.product-info .right .price { color:#80b004;font-size:14px;font-weight:bold;border-bottom:1px solid #e6e6e6;padding:16px 0px 15px 0px; }
div.product-info .right .price .price-tax { color:#808080;font-size:12px;font-weight:normal; }
div.product-info .right .options { border-bottom:1px solid #e6e6e6;padding:19px 0px 19px 0px; }
div.product-info .right .options h2 { font-size:20px;color:#292929;font-family:Francois One;font-weight:normal; }
div.product-info .right .option { overflow:auto;padding:11px 0px 0px 0px; }
div.product-info .right .option p { float:left;width:auto;padding:2px 6px 0px 0px; }
div.product-info .right .option select { float:left;width:auto;padding:3px;background:#d9d9d9;border:0px;font-size:11px;color:#292929;font-weight:bold;margin:0px 0px 0px 4px; }
div.product-info .right .cart { border-bottom:1px solid #e6e6e6;padding:13px 0px 14px 0px; }
div.product-info .right .cart .wish-list { padding:10px 0px 0px 0px; }
div.product-info .right .cart .wish-list a { font-size:11px; }
input[type=text] { background:#d9d9d9;border:0px;border-top:1px solid #c1c1c1;border-left:1px solid #c1c1c1;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;font-size:11px;color:#292929;font-weight:bold;padding:3px; }
div.product-info .right .cart input[type=text] { margin:0px 17px 0px 7px; }
 
/* Content Center -> Tabs */

.htabs { padding:20px 0px 0px 0px;height:35px; }
.htabs a { display:block;float:left;width:auto;height:25px;background:url(../images/htabs.png) top left;margin:0px 2px 0px 0px;border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;-webkit-border-radius:4px 4px 0px 0px;font-size:16px;color:#666666;font-family:Francois One;padding:10px 20px 0px 19px; }
.htabs a.active, .htabs a:hover { background-position:bottom left; }
.tab-content { padding:16px 18px 13px 18px;position:relative;margin:-1px 0px 10px 0px;border:2px solid #e6e6e6;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
.tab-content ul, .tab-content ol { margin:0px 0px 0px 18px; }
 
/* Content Center -> Bestsellers */

ul.bestsellers { list-style:none; }
ul.bestsellers li { clear:both;padding:6px 0px 8px 0px; }
ul.bestsellers li .image { z-index:9;position:relative;float:left;width:56px;padding:2px;margin:5px 10px 0px 0px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
ul.bestsellers li .image:hover { padding:0px;border:2px solid #e6e6e6; }
ul.bestsellers li .image img { display:block;width:56px;height:56px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
ul.bestsellers li a { font-size:11px;font-weight:bold;color:#292929; }
ul.bestsellers li .price { font-size:11px;font-weight:bold;color:#80b004; }
ul.bestsellers li .old-price { font-weight:normal;color:#808080;text-decoration:line-through; }

/* Footer */

div#footer { background:#333333 url(../images/bg-footer.png); }
div#footer .separator { font-size:1px;line-height:1px;height:1px;clear:both;margin:0px;padding:0px;background:#3c3c3c; }

/* Footer -> Top Outside */

div#footer .footer-top-outside { padding:39px 0px 35px 0px; }
div#footer .footer-top-outside h2 { font-family:Francois One;font-size:20px;color:#fff;font-weight:normal;padding:0px 0px 13px 0px; }

/* Footer -> Contact US */

div#footer ul#contact-us { padding:1px 0px 0px 0px; }
div#footer ul#contact-us li ul, div#footer ul#contact-us { list-style:none; }
div#footer ul#contact-us li { font-size:20px;color:#92c005;font-family:Francois One;line-height:24px; }
div#footer ul#tel { background:url(../images/phone-icon.png) 0px 3px no-repeat;padding:0px 0px 8px 39px; }
div#footer ul#fax { background:url(../images/fax-icon.png) 0px 7px no-repeat;padding:7px 0px 14px 39px; }
div#footer ul#mail { background:url(../images/mail-icon.png) 0px 7px no-repeat;padding:2px 0px 10px 39px; }
div#footer ul#skype { background:url(../images/skype-icon.png) 0px 7px no-repeat;padding:7px 0px 5px 39px; }

/* Footer -> Follow us */

div#footer ul.follow-us { list-style:none;padding:5px 0px 31px 0px; }
div#footer ul.follow-us li { display:inline;padding-right:15px; }

/* Footer -> Navigation */

div#footer .footer-navigation { padding:38px 0px 34px 0px; }
div#footer .footer-navigation ul { list-style:none; }
div#footer .footer-navigation ul li { padding:6px 0px 0px 0px; }
div#footer .footer-navigation h3 { font-family:Francois One;color:#fff;font-size:20px;font-weight:normal;padding:0px 0px 7px 0px; }

/* Footer -> Copyright */

div#footer .copyright { width:940px;margin:0px auto;padding:26px 0px 25px 0px; }