//font family for LTR
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../vendor/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot'); /* IE9 Compat Modes */
    src: url('../vendor/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../vendor/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../vendor/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../vendor/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../vendor/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@import 'base/ltr-direction';
@import 'main';  
 