/*todo remove this file after updating the sass with it's content */
.shipping-activation-tabs {

    border-radius: 3px;
    padding: 0px 25px 20px !important;
    /*border: solid 1px #EAE7F8;*/
}
.shipping-activation-tabs .ship-active-list{margin-bottom: 20px;}

.ship-steps-content .step .shipping-acc-btns .acc-btn {padding: 0px 15px;}
.ship-box .img {
    border :.5px solid #EAE7F8
}

.recomend-box{
    border :1px solid #EAE7F8 !important;
}


.font-16{
    font-size: 16px !important;
}

html[dir="rtl"] .shipping-activation-tabs .ship-active-list li.active span::before {
    right: 50%;
    left: 0;
}

.shipping-activation-tabs {
    min-height: auto !important;
}

.blue-box{
    width:90%;
    float:right;
}

/*.ship-acc-create{*/
/*    display: flow-root !important;*/
/*    align-items: flex-start;*/
/*}*/

.ship-steps-content .step .ship-create-cover .ship-acc-create{
    display: flow-root !important;
    align-items: flex-start !important;
    word-break:break-word;
}
.next-row{
    padding-right: 25px !important;
    padding-left: 25px !important;
}

.ship-terms-row{
margin-bottom: 30px !important;
}


html[dir="rtl"] .blue-box{
    width: 90%;
    float: left;

}


.blue-white {
    padding: 10px 25px !important;
    background-color:#34C8FF !important;
    font-weight: 700 !important;
    border-radius: 2px !important;
}

.img-rounded {
    width: 300px !important;
}

.install-welcome {
    background-color: #FFFFFF !important;
}
/* start EC-25273 */
a#products-add-product {
    color: #2c2c35 !important;
}

/* end EC-25273 */