#content .left,#content .right {
    padding: 4px !important;
}

.table input, .table select, .table textarea {
    width: initial !important;
}

.customer-group-box {
    float:left;
    padding: 16px;
}

.rtl .customer-group-box {
    float:right !important;
}