<div>
  <div [ngSwitch]="field.Type">
    <span *ngIf="field.Type != 'checkbox'" class="title">
        <label>{{field.Name}}</label>
        <mat-icon *ngIf="field.Description != ''" matTooltip="{{field.Description}}" [matTooltipPosition]="'right'">info_outline</mat-icon>
    </span>
    <!--textbox-->
    <div *ngSwitchCase="'text'">
      <ec-textbox [field]="field" [languages]="languages" (update)="controlValue=$event"></ec-textbox>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--textarea-->
    <div *ngSwitchCase="'textarea'">
      <ec-textarea [field]="field" [languages]="languages" (update)="controlValue=$event"></ec-textarea>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--link-->
    <div *ngSwitchCase="'link'">
        <mat-input-container>
          <input type="text" placeholder="Search" aria-label="Number" [id]="field.id" matInput [formControl]="searchTerm" [matAutocomplete]="autoo" [(ngModel)]="controlValue" [innerHtml]="controlValue">
        </mat-input-container>
        <mat-autocomplete #autoo="matAutocomplete">
          <mat-optgroup *ngFor="let group of searchResult" [label]="group.name">
            <mat-option *ngFor="let item of group.items" [value]="item">
                <i [ngClass]="group.icon"></i> {{ item }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
    </div>

    <!--checkbox-->
    <div *ngSwitchCase="'checkbox'">
      <mat-checkbox [(ngModel)]="controlValue" [id]="field.id">{{field.Name}}</mat-checkbox>
      <mat-icon *ngIf="field.Description != ''" matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>
    </div>

    <!--sselect/mselect-->
    <div *ngSwitchCase="field.Type.startsWith('sselect-') || field.Type.startsWith('mselect-') ? field.Type : ''">
      <md2-select [(ngModel)]="controlValue" [id]="field.id" [multiple]="field.Type.startsWith('mselect-')">
        <md2-option *ngFor="let item of controlOptions.items" [value]="item.Value">
          {{item.Name}}
        </md2-option>
      </md2-select>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--tags-->
    <div *ngSwitchCase="field.Type.startsWith('tags-') ? field.Type : ''" class="form-group">
      <tag-input [onlyFromAutocomplete]="true" [(ngModel)]="tagsValue" (onRemove)="controlValue=$event" (onAdd)="controlValue=$event">
        <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteObservable]="SearchTags">
        </tag-input-dropdown>
      </tag-input>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

    <!--image-->
    <div *ngSwitchCase="'image'" class="form-group">
      <ec-image [field]="field" [languages]="languages" [ImageThumbs]="controlOptions.ImageThumbs" [NoImageThumb]="controlOptions.NoImageThumb"
        (update)="controlValue=$event"></ec-image>
    </div>

    <!--colorpicker-->
    <div *ngSwitchCase="'colorpicker'" class="form-group">
      <md2-colorpicker [(ngModel)]="controlValue" [id]="field.id"></md2-colorpicker>
    </div>
    <!--sselect-->
    <!--<mat-select *ngSwitchCase="field.Type.startsWith('sselect-') ? field.Type : ''" [placeholder]="field.Name" [(ngModel)]="controlValue" [id]="field.id">
      <mat-option *ngFor="let item of controlOptions.items" [value]="item.Value">
        {{item.Name}}
      </mat-option>
    </mat-select>-->

    <!--mselect-->
    <!--<mat-select *ngSwitchCase="field.Type.startsWith('mselect-') ? field.Type : ''" multiple [placeholder]="field.Name" [(ngModel)]="controlValue" [id]="field.id">
      <mat-option *ngFor="let item of controlOptions.items" [value]="item.Value">
        {{item.Name}}
      </mat-option>
    </mat-select>-->

    <!--else will be textbox-->
    <div *ngSwitchDefault>
      <mat-input-container>
        <input matInput [id]="field.id" type="text" [(ngModel)]="controlValue">
      </mat-input-container>
      <!--<mat-icon matTooltip="{{field.Description}}" [matTooltipPosition]="'right'" style="cursor: pointer;">info_outline</mat-icon>-->
    </div>

  </div>

</div>