* {
  box-sizing: border-box;
}

.nav-tabs.nav-justified {
  margin-bottom: 0 !important;
}

/* .nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  border-bottom-color: transparent;
  background-color: #f6f6f6;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  border: none;
} */

.tab-content {
  border: none !important;
}

.nav-justified>li {
  background-color: rgba(255, 255, 255, 0.55);
}

.nav-tabs.nav-justified>li>a {
  padding: 20px 0;
}

.visa-link img {
  width: 315px !important;
}

.thumbnail {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

/* .paypal-link img {
  width: auto !important;
  height: 30px !important;
} */

.nav-tabs.nav-justified .visa-link {
  background: url('../../../../../../../view/assets/images/account/charge/Inactive.png') no-repeat center center;

  padding: 35px 57px !important;
  background-size: auto 23px;
}

.nav-tabs.nav-justified>.active>.visa-link {
  background: url('../../../../../../../view/assets/images/account/charge/Active.png') no-repeat center center;

  padding: 35px 57px !important;
  background-size: auto 23px;
  background-color: #f6f6f6 !important;
  border-bottom-color: #f6f6f6 !important;
  border-left: 0 !important;
}

.nav-tabs.nav-justified .paypal-link {
  background: url('../../../../../../../view/assets/images/account/charge/Inactive-pp.png') no-repeat center center;
  padding: 35px 57px !important;
  background-size: auto 25px;
}

.nav-tabs.nav-justified>.active>.paypal-link {
  background: url('../../../../../../../view/assets/images/account/charge/Active-pp.png') no-repeat center center;

  padding: 35px 57px !important;
  background-size: auto 25px;
  background-color: #f6f6f6 !important;
  border-bottom-color: #f6f6f6 !important;
  border-right: 0 !important;
}


/* Start payment-section */

/* {
  margin: 50px 0;
} */

.tab-content {
  background-color: #f6f6f6;
  padding: 25px 0 0;
  border: 1px solid #e5e5e5;
}

.nav-tabs li a img {
  margin: 0 auto;
}

.media {
  padding: 0 15px 0;
  margin-top: 0 !important;
}

.media .media-left i {
  color: #000;
}

.card-js input:focus,
.card-js select:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panelTopTabs {
  border-bottom: 0;
  margin-bottom: 0;
}

.panel.panel-tabs {
  border-top: 0;
  background-color: #f6f6f6
}

.panel-tabs .panel-body {
  padding: 0 !important;
}

.media .media-body .media-text {
  font-size: 10px;
  color: #71787d;
}

.item-card {
  padding: 0 15px;
}

.item-card .item-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #5b646b;
  border-radius: 4px;
  padding: 5px 0;
  margin-top: 15px;
}

.item-flex .form-group {
  margin-bottom: 0;
}

/* .item-flex .input-group-addon {
  background: transparent;
  border: 0;
} */

input::placeholder {
  color: #121116;
  font-size: 1.2143rem;
  font-weight: bold;
}

.item-flex .card-number,
.item-flex .expiry,
.item-flex .cvc {
  border: 0;
  box-shadow: none;
}

.card-number-wrapper {
  margin-bottom: 0 !important;
}

.item-pricing {
  padding: 15px 0;
}

.item-pricing .list-group-item:first-of-type {
  border-top: 0;
}

.item-pricing .list-group-item .discount {
  color: #888;
  font-size: 15px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 3;
}

.item-pricing .list-group-item {
  background-color: transparent;
  border-right: 0;
  border-left: 0;
  color: #000;
  /* font-weight: bold; */
  font-size: 15px;
}

.item-pricing .list-group-item .badge {
  background: transparent;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.1384616;
}

.item-pricing .list-group {
  border: 0 !important;
}

.item-pricing .list-group .list-group-item {
  border: 1px solid #ddd !important;
  border-left: 0 !important;
  border-right: 0 !important;
  padding: 17px 20px;
}

.item-pricing .list-group .list-group-item:first-of-type {
  border-top: 0 !important;
}

.item-pricing .list-group .list-group-item:last-of-type {
  border-bottom: 0 !important;
  padding-bottom: 15px;
}


.item-pricing .list-group-item .input-group .input-group-addon {
  background-color: #fff;
  border-left: 0;
  padding: 6px 3px;
}

.item-pricing .list-group-item .input-group input[type="text"] {
  border-right: 0;
  box-shadow: none;
}

.item-pricing .list-group-item .input-group .btn-black {
  background-color: #000;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding: 7px 12px;
  border-radius: 0;
}

.item-click {
  background-color: #fff;
  padding: 50px 50px 15px;
}

.item-click .btn-success {
  color: #fff;
  background: #3ece9d;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(14, 27, 35, 0.25);
  transition: all 0.275s;
  border: none;
  font-weight: bold;
}

.item-click .btn-success:hover {
  color: #fff;
  background: #3d474e;
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(14, 27, 35, 0.25);
}

.item-click .item-text {
  padding-top: 10px;
  color: #71787d;
  font-size: 10px;
  text-align: center;
}

.card,
.card-2 {
  text-align: center;
  margin-top: 20px;
}

.card .card-body {
  background-color: #f6f6f6;
  margin-top: -50px;
  padding-top: 50px;
  border: 1px solid #e5e5e5;
}

/* .card .card-body::after {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  position: absolute;
  left: 43px;
  top: 40px;
} */

.card .card-body .card-title {
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 700;
}

.card .card-body .card-subTitle {
  color: #1b9aaa;
}

.card .card-body .card-text {
  line-height: 1.6;
  font-style: italic;
  font-weight: 300;
  padding: 0 50px;
  color: #71787d;
}

.card-2 {
  margin-top: 30px;
}

.card-2 .card-body-2 .card-title {
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 700;
}

.card-2 .card-body-2 .card-text {
  margin-top: 20px;
  line-height: 1.6;
  font-weight: 300;
  padding: 0 50px;
  color: #71787d;
  font-size: 15px;
}

@media only screen and (max-width: 700px) {

  .item-pricing,
  .item-card,
  .media {
    padding: 0 5px;
  }

  .item-click {
    padding: 20px 5px;
  }

  .item-card .item-flex {
    display: inline-block;
  }

  .visa-link img {
    width: 200px !important;
  }

  .nav-tabs.nav-justified>li.active {
    background-color: #f6f6f6;
  }

  .nav-tabs.nav-justified .visa-link {
    background: url('../../../../../../../view/assets/images/account/charge/Inactive.png') no-repeat left center;
    padding: 35px 0 !important;
    background-size: auto 20px;
    margin-left: 23px;
  }

  .nav-tabs.nav-justified>.active>.visa-link {
    background: url(../../../../../../../view/assets/images/account/charge/Active.png) no-repeat left center;
    padding: 35px 0 !important;
    background-size: auto 20px;
    margin-left: 23px;
  }

  .nav-tabs.nav-justified .paypal-link {
    background: url('../../../../../../../view/assets/images/account/charge/Inactive-pp.png') no-repeat left center;
    padding: 35px 0 !important;
    background-size: auto 20px;
    margin-left: -74px;
  }

  .nav-tabs.nav-justified>.active>.paypal-link {
    background: url('../../../../../../../view/assets/images/account/charge/Active-pp.png') no-repeat left center;
    padding: 35px 0 !important;
    background-size: auto 20px;
    margin-left: -74px;
  }

  /* .item-card .item-flex {
    flex-direction: column;
  } */
}

/* End payment-section */