.fb-app-title {
  font-size: 18px;
  padding: 5px 0;
  font-weight: 600;
}

.inner-app-title {
  font-size: 15px;
  padding: 5px 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $screen-sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  button,
  .right {
    @media (max-width: $screen-sm) {
      margin-top: 10px;
      @include dir-margin-left(auto);
    }
  }

  .right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*** App Integrations Interface ***/
.container-size-center {
  max-width: 684px;
  margin: 0 auto;
}

.btn-outline-primary,
.btn-outline-primary:focus {
  color: #2196F3;
  background-color: transparent;
  background-image: none;
  border-color:#2196F3;
  box-shadow: none;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #2196F3;
  border-color: #2196F3;
}

.integration-app-item {
  display: flex;
  border-radius: 5px;
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 15px;
  @media (max-width: $screen-sm) {
    display: block;
  }

  .integration-app-icon {
    width: 186px;
    height: 186px;
    flex: 0 0 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    @media (max-width: $screen-sm) {
      width: 100%;
    }

    &.integration-app-icon-facebook {
      background: #3e8fec;
    }

    &.integration-app-icon-instgram {
      background-image: linear-gradient(to bottom, #4c68d7, #8a3ab9 27%, #bc2a8d 53%, #bc2a8d 65%, #cd486b 75%, #e95950 83%, #fbad50 93%, #fccc63);
    }

    &.integration-app-icon-pixel {
      background: #344854;
    }
  
    &.integration-app-icon-facebookandinstagram {
      background-image: url('../images/facebook/facebookandinstagram.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .integration-app-info {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    .integration-app-info-head {
      width: 100%;

      .integration-app-title {
        width: 100%;
      }

      .integration-app-dec {
        font-size: 14px;
      }
    }

    .integration-app-info-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .integration-app-more {
      color: #18191a;
      text-decoration: underline;
      font-size: 15px;
    }

    .btn-integration-setup {
      min-width: 123px;
      font-weight: 600;
    }
  }

}


/*** App Integrations Setup ***/

.integration-setup-steps-holder .integration-setup-step .panel-title .steps-check-icon {
  color: #fff;
  background: #2196F3;
  font-size: 14px;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 25px;
  margin-inline-end: 15px;
}

.integration-setup-steps-holder .integration-setup-step.IntegrationSetupActive .panel-title .steps-check-icon {
  border: solid 1px #2196F3;
  background: #fff;
}

.integration-setup-steps-holder .integration-setup-step.IntegrationSetupActive~* .panel-title .steps-check-icon {
  background-color: white;
  border: solid 1px #dbdbdb;
}

.integration-setup-steps-holder .integration-setup-step.IntegrationSetupActive~*  {
  cursor: not-allowed;
}

.integration-setup-steps-holder .integration-setup-step.IntegrationSetupActive~* * {
  pointer-events: none;
}

.integration-setup-steps-holder .integration-setup-step .panel-title a {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.integration-setup-steps-holder .integration-setup-step .panel-title i.fa-chevron-down {
  margin-inline-start: auto;
  font-size: 14px;
  transition: 0.3s ease;
}

.integration-setup-steps-holder .integration-setup-step .panel-title a.collapsed i.fa-chevron-down {
  transform: rotate(-90deg);
  #{$rtl} & {
    transform: rotate(90deg);
  }
}

.integration-setup-steps-holder .integration-setup-step  .panel-heading {
  padding: 15px 0;
  background: #fff;
}

.integration-setup-steps-holder .integration-setup-step > .panel-collapse > .panel-body {
  border: none;
  padding-top: 0;
  padding-inline-start: 55px;
  @media (max-width: $screen-md) {
    padding-inline-start: 20px;
  }
}

.integration-setup-steps-holder .integration-setup-step {
  margin-bottom: 25px;
  border: solid 1px #dbdbdb;
  border-radius: 5px;
  box-shadow: none;
}

.integration-setup-steps-holder .integration-setup-step.IntegrationSetupActive {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
  border: none;
}

.row-twoside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .start-side {
    .subtitle {
      color: #a4a4a4;
    }
  }
  .end-side {
    margin-inline-start: auto;
  }
}

.user-acc-element {
  display: flex;
  align-items: center;
  color: #000 !important;
  flex-wrap: wrap;
  .avatar {
    overflow: hidden;
    border-radius: 60px;
    display: flex;
    align-items: center;
    margin-inline-end: 10px;
    flex-shrink: 0;
    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .connected-avatar {
    border: 3px solid #28e828;
  }
}

.font-16 {
  font-size: 16px;
}

.font-md-14 {
  @media (max-width: $screen-md) {
    font-size: 14px !important;
  }
}

.integration-accounts-list {
  > li {
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  .user-acc-element {
    .info {
      .name {
        color: #3587e5;
        font-size: 15px;
      }

      .dec {
        color: #a4a4a4;
        font-size: 12px;
      }
      .default-text {
        color: #2196F3;
        font-size: 12px;
      }
    }
  }
}

.modal-center-page .modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;

  .modal-header .close span {
    font-size: 30px;
    font-weight: 600;
    color: #acafbe;
    line-height: 12px;
  }
}

.facebook-shop-title {
  padding-inline-end: 10px;
  margin-inline-end: 10px;
  border-inline-end: 1px solid #000000;
  display: inline-block;

  @media (max-width: $screen-md) {
    display: block;
    border: none;
    margin-bottom: 5px;
  }
}

.facebook-shop-title-holder {
  display: flex;
  @media (max-width: $screen-md) {
    display: block;
  }
}

.facebook-shop-title:last-child {
  padding-inline-end: 0px;
  margin-inline-end: 0px;
  border-inline-end: 0px solid #000000;
}

.font-color-mindark {
  color: #707070;
}

.push-status-holder {
  padding: 20px 0 0;
  margin: 20px 0 0;
  border-top: 1px solid #ddd;
}

.manage-on-facebook {
  padding: 20px 0 0;
  margin: 20px 0 0;
  border-top: 1px solid #ddd;
  color: #707070;
  a{
    i{
      font-size: 11px;
    }
  }
}

.push-status-done {
  background-color: #36cf92;
  width: 23px;
  height: 23px;
  display: inline-block;
  border-radius: 30px;
  margin-inline-end: 10px;
  text-align: center;
  line-height: 22px;

  i {
    color: #fff;
    font-size: 8px;
    line-height: 23px;
  }
}

.push-status-error {
  background-color: #e62e2e;
  width: 23px;
  height: 23px;
  display: inline-block;
  border-radius: 30px;
  margin-inline-end: 10px;
  text-align: center;
  line-height: 22px;

  i {
    color: #fff;
    font-size: 8px;
    line-height: 23px;
  }
}

.push-status-hint {
  color: #36cf92;
}

.integrations-table-editable {
  .dataTables_filter {
    float: left;

    #{$rtl} & {
      float: right;
    }

    label {
      span {
        display: none;
      }
    }
  }

  table {
    border-top: 1px solid #ddd !important;
  }
}

.integrations-table-editable tr td:focus {
  outline-color: #2196f3;
}

.danger-custom-color {
  background-color: #de2c2c;
}


.integration-accounts-list-settings li:first-of-type {
  border-top: none;
}

.integration-accounts-list-settings .user-acc-element .info .name {
  // color: #2b2b2b;
}

.integration-accounts-list-settings .user-acc-element .info .name i {
  color: #3587e5;
    font-size: 12px;
    margin: 0 5px;
}

.integration-accounts-list-settings .user-acc-element .info .name .text-success {
  color: #36cf92 !important;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
}

.integration-accounts-list-dropdown {
  button {
    background: #f1f2fc;
    color: #707070;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    i {
      font-size: 11px;
    }
  }

  .dropdown-menu {
    right: 0px !important;
    left: auto !important;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border: none;
    min-width: 150px;

    #{$rtl} & {
      right: auto !important;
      left: 0px !important;
    }
    .connect-page {
      color: #28e828;
    }
  }
}

.letter_placeholder {
  width: 45px;
  height: 45px;
  background: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  color: #00000052;
}

.loading-overlay {
  display: none;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  align-items: center;
  justify-content: center;
}

.loading-overlay.is-active {
  display: flex;
}
