.productcarousel {
	position: relative;

}
.productcarousel .carousel-control{
	z-index:10;
    background-color: #D0D0D0;
    color: #F2F2F2;
    width: 25px;
    height: 25px;
    font-size: 22px;
    border: none;
}
.productcarousel .carousel-control:hover{
    border: none;
    color: #fff;
}
.productcarousel .carousel-control.left{
    left: -9px;
}