.header-right {
  padding-left: 0px;
  padding-right: 10px;
}
.header-left {
  padding-right: 0px;
  padding-left: 10px;
}
.navbar-header {
  float: right;
}
.navbar-nav > li {
  float: right;
}
#header #cart .content {
  right: auto;
  left: 0;
}
.dropdown-menu {
  left: auto;
  right: 0;
}
#footer .footer-top .box-heading {
  background-position: right 2px;
  padding-right: 35px;
}
.cart {
  float: right;
}
.box .box-heading {
  background-position: right center;
}
.sidebar .box.category .box-heading,
.sidebar .box .box-heading {
  background-position: right center;
}
ul.links li > a span {
  margin-right: 0px;
  margin-left: 10px;
}
.carousel-controls {
  left: 10px;
  right: auto;
}
.currency .dropdown-menu,
.language .dropdown-menu,
.acount-mini .dropdown-menu {
  right: 0;
}
.currency .dropdown-menu li:hover,
.language .dropdown-menu li:hover,
.acount-mini .dropdown-menu li:hover {
  padding-left: 0;
  padding-right: 5px;
}
.currency .dropdown-menu li a img,
.language .dropdown-menu li a img,
.acount-mini .dropdown-menu li a img {
  float: right;
}
#search input,
#search .button-search {
  right: auto;
  left: 0;
}
.box-blog .image {
  margin-right: 0px;
  margin-left: 16px;
}
.iconbox {
  float: right;
  margin-right: 0px;
  margin-left: 8px;
}
.iconbox i {
  padding-left: 0;
  padding-right: 5px;
}
.form-group {
  margin-left: 6px;
  margin-right: 0px !important;
}
.pav-custom .support-id .image {
  margin-left: 10px;
  margin-right: 0px;
}
.product-block .product-hover .compare a,
.product-block .product-hover .wishlist a {
  float: left;
  margin-right: 2px;
}
.product-block .product_quickview a span {
  margin-right: 0;
  margin-left: 6px;
}

body *{
    direction: rtl;
}

#topbar .dropdown-menu {
    -webkit-border-radius: 10px 0px;
    -moz-border-radius: 10px 0px;
    -ms-border-radius: 10px 0px;
    -o-border-radius: 10px 0px;
    border-radius: 10px 0px;
}

#pav-mainnav .dropdown-menu {
    -webkit-border-radius: 15px 0px;
    -moz-border-radius: 15px 0px;
    -ms-border-radius: 15px 0px;
    -o-border-radius: 15px 0px;
    border-radius: 15px 0px;
}

#pav-mainnav .dropdown-menu li a {
    padding: 3px 20px 3px 0;
}

@media (min-width: 770px) {
    .navbar-nav {
        float: right;
        margin: 0;
    }
    .navbar-nav > li {
        float: right;
    }
}

.pavtestimonial .carousel-control.left {
    right: 0;
    left: auto;
}

.pavtestimonial .carousel-control.right {
    left: 0;
    right: auto;
}

.testimonial-info .icon-quote-left:before {
    content: "\f10e";
}

[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
    margin-right: 0;
    margin-left: 0.3em;
}

.pavtestimonial .avatar-profile .t-avatar {
    margin-right: 0;
    margin-left: 10px;
}

.pav-custom li {
    float: right;
    margin-right: 0;
    margin-left: 3px;
}

#footer .column a:hover {
    padding-left: 0px;
    padding-right: 10px;
}

.manufacturer-list ul {
    float: right;
}

.sidebar .product-block .image {
    float: right;
    margin-left: 11px;
    margin-right: 0px;
}

.return-name {
    float: right;
    margin-left: 15px;
    margin-right: 0px;
}

.return-model {
    float: right;
    margin-left: 15px;
    margin-right: 0px;
}

.return-quantity {
    float: right;
}

.return-reason {
    float: right;
    margin-right: 0px;
    margin-left: 15px;
}

.return-opened {
    float: right;
    margin-right: 0px;
    margin-left: 15px;
}

.return-captcha {
    float: right;
}

.form-control {
    padding: 0px 12px;
}

.product-filter .display span {
    float: right !important;
    margin-right: 0px;
    margin-left: 11px;
}

.product-filter .display {
    margin-left: 21px;
    float: right;
    margin-right: 0px;
}

.product-compare {
    float: left;
    margin-right: 11px;
    margin-left: 0px;
}

.product-filter .limit {
    margin-left: 21px;
    float: right;
    margin-right: 0px;
}

.product-filter .sort {
    float: right;
}

.product-list .image {
    float: right;
    margin-left: 11px;
    margin-right: 0px;
}


.product-list .product-block .product-hover .compare, .product-list .product-block .product-hover .wishlist {
    float: right;
}

.category-list ul {
    float: right;
    padding-right: 15px;
    padding-left: 0px;
}

.htabs a {
    float: right;
    margin-left: 2px;
    margin-right: 0px;
}

.product-info .description span {
    padding-left: 11px;
    padding-right: 0px;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at4-icon, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300bs, .addthis_default_style .at300m {
    float: right !important;
}

.product-info .image-additional a {
    float: right;
    margin-right: 11px;
    margin-left: 0px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: right;
    margin-left: 0px;
}

.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
    text-align: right;
}

.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
    text-align: right;
}

.pav-blog .blog-meta > span {
    float: right !important;
}

.blog-social .social-wrap > div {
    float: right !important;
}

#comment-form label {
    float: right !important;
}

/* Addthis RTL fix START */
#at15s .at-label {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

#at15s {
    text-align: right !important;
}

#at15s a, #at15s span {
    direction: rtl !important;
}
/* Addthis RTL fix END */