body:not(.light-form-body) {
    padding-top: 63px;
    @media (max-width: $screen-md) {
      padding-top: 0;
    }
    .theme-header {
        border-bottom: solid 1px #ebe9f4;
        display: flex;
        @media (max-width: $screen-lg) {
          display: block;
        }
        .navbar-right {
            display: flex;
            align-items: center;
            margin: 0;
            padding-top: 12px;
            padding-bottom: 12px;
            .view-store-btn {
                @media (max-width: $screen-sm) {
                  span {
                      display: none;
                  }
                  i {
                      margin: 0 !important;
                  }
                }
            }
            > * {
                @include dir-margin-left(15px);
                flex-shrink: 0;
                @media (max-width: $screen-sm) {
                  @include dir-margin-left(10px);
                }
            }
            .theme-btn {
                padding: 10px 13px;
                font-size: 12px;
                font-weight: 500;
            }
            .side-guide-btn {
                padding: 0;
                outline: none;
                border: 0;
                font-size: 18px;
                color: #2c2c35;
                background-color: transparent;
            }

        }
        .sidebar-main-toggle {
            margin-top: 10px;
            background-color: transparent !important;
        }
        .dropdown-user {
            img {
                cursor: pointer;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }
            .user-letter {
                width: 35px;
                height: 35px;
                background-color: #ecf8fe;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 17px;
                font-weight: 600;
                color: #03a9f4;
                text-transform: uppercase;
                cursor: pointer;
            }
            .dropdown-menu {
                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .sidebar-fixed .sidebar-content {
        @media (min-width: $screen-md) {
          top: 63px;
        }
    }
    .navbar-header {
        // border-bottom: solid 1px #ebe9f4;
        background-color: #ffffff;
        @media (max-width: $screen-md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before, &::after {
                display: none;
            }
        }
        > .navbar-nav > li > a:hover,
        > .navbar-nav > li > a {
            color: #2c2c35;
            background-color: transparent !important;
        }
    }
    .navbar-brand {
        height: 63px;
        padding: 16px 25px;
    }
}
.navbar-header {
    border-bottom: solid 1px #ebe9f4;
    @include dir-border-right(solid 1px #ebe9f4);
}

.side-modal {
    position: fixed;
    top: 0;
    @include dir-right(0);
    width: 400px;
    max-width: 90%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(129, 129, 138, 0.16);
    padding: 33px 20px;
    #{$ltr} & {
        transform: translateX(100%);
    }
    #{$rtl} & {
        transform: translateX(-100%);
    }
    opacity: 0;
    transition: .5s ease-in;
    &.show {
        transform: none !important;
        opacity: 1;
        transition: .5s ease-out;
    }
}

.refer-friend-modal {
    padding: 0;
    overflow: auto;
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px;
        .title {
            font-size: 16px;
            font-weight: bold;
            color: #155ebc;
            @include dir-margin-right(20px);
        }
        i {
            font-size: 20px;
            color: #b4afd3;
            cursor: pointer;
        }
    }
    .modal-body {
        padding: 20px;
    }

    .copy-box {
        border-radius: 3px;
        border: solid 1px #d2cfe3;
        display: flex;
        align-items: center;
        height: 40px;
        position: relative;
        margin-bottom: 20px;
        .copy {
            border-radius: 3px;
            background-color: #155ebc;
            width: 90px;
            height: 40px;
            font-size: 13px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            position: absolute;
            top: -1px;
            @include dir-right(-1px);
            .copied {
                position: absolute;
                @include dir-right(100%);
                transform: translateY(-50%);
                padding: 3px 7px;
                background-color: #2c2c35;
                color: #fff;
                font-size: 12px;
                border-radius: 3px;
                top: 50%;
                opacity: 0;
                transition: .5s ease-out;
                &::before {
                    content: "";
                    border: 5px solid transparent;
                    @include dir-border-left(5px solid #2c2c35);
                    display: block;
                    position: absolute;
                    top: 50%;
                    @include dir-left(100%);
                    transform: translateY(-50%);
                }
                &.show {
                    #{$ltr} & {
                        transform: translateX(-10px) translateY(-50%);
                    }
                    #{$rtl} & {
                        transform: translateX(10px) translateY(-50%);
                    }
                    opacity: 1;
                }
            }
        }
        .left {
            width: calc(100% - 90px);
            font-size: 13px;
            font-weight: bold;
            padding: 10px 19px;
        }
    }
    
    .external-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px;
        border: solid 1px #d2cfe3;
        direction: ltr;
        .left {
            width: calc(100% - 40px);
            font-size: 13px;
            font-weight: bold;
            padding: 5px 19px;
            white-space: nowrap;
            overflow: hidden;
            color: #2c2c35;
            text-overflow: ellipsis;
            color: #2c2c35;
        }
        .icon {
            padding: 10px;
            font-size: 15px;
            color: #2c2c35;
            border-left: solid 1px #d2cfe3;
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.side-guide {
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 33px;
        margin-bottom: 12px;
        border-bottom: solid 1px #e0ddef;
        .title {
            font-size: 16px;
            font-weight: bold;
            color: #2c2c35;
            @include dir-margin-right(20px);
        }
        i {
            font-size: 20px;
            color: #b4afd3;
            cursor: pointer;
        }
    }
    .link {
        display: flex;
        align-items: center;
        padding-bottom: 13px;
        margin-bottom: 16px;
        border-bottom: solid 1px #e0ddef;
        .img {
            width: 52px;
            height: 52px;
            display: flex;
            align-items: center;
            @include dir-margin-right(9px);
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .title {
            font-size: 16px;
            font-weight: 600;
            color: #2c2c35;
            margin-bottom: 3px;
        }
        .info-content {
            font-size: 13px;
            font-weight: 500;
            color: #b4afd3;
        }
    }
}
.light-form-navbar {
    .navbar-header {
        background-color: #ffffff;
        .navbar-brand {
            height: 75px;
            background-color: #ffffff;
            padding: 22px 25px;
        }
    }
    .navbar-nav {
        margin: 0;
    }

}
.upgrade-plan-modal {
    .modal-dialog {
        max-width: 450px;
    }
    .modal-content {
        padding: 25px 30px;
        text-align: center;
    }
    .close-modal {
        font-size: 40px;
        line-height: 18px;
        display: block;
        color: #b4afd3;
        display: block;
        text-align: end;
        span {
            cursor: pointer;
        }
    }
    .title {
        font-size: 20px;
        font-weight: 500;
        color: #2c2c35;
        margin-bottom: 22px;
    }
    .info-content {
        font-size: 16px;
        color: #b4afd3;
        margin-bottom: 20px;
    }
    &.base-plan-modal {
        .modal-dialog {
            max-width: 500px;
        }
        .close-modal {
            margin-bottom: 18px;
        }
        .title {
            margin-bottom: 25px;
            font-weight: 600;
        }
        .img {
            max-width: 50%;
            margin-bottom: 20px;
        }
        .info-content {
            font-size: 16px;
            color: #2c2c35;
            margin-bottom: 10px;
            span {
                font-weight: 600;
            }
        }
        .theme-btn {
            margin-top: 20px;
        }
    }
}

.side-notifications {
    padding: 0;
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 20px;
        margin-bottom: 12px;
        border: solid 1px rgba(112, 112, 112, 0.06);
        .title {
            font-size: 13px;
            font-weight: bold;
            color: #2C2C35;
            font-weight: 600;
            @include dir-margin-right(20px);
            display: flex;
            align-items: center;
            i {
                color: #2c2c35;
                font-style: 15px;
                @include dir-margin-left(10px);
            }
        }
        i {
            font-size: 20px;
            color: #b4afd3;
            cursor: pointer;
        }
    }
    .notify-body {
        height: calc(100vh - 60px);
        padding-top: 17px;
        overflow: auto;
        &.empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 150px;
                margin-bottom: 25px;
            }
            .title {
                font-size: 14px;
                font-weight: 600;
                color: #2c2c35;
                margin-bottom: 16px;
            }
            .desc {
                color: #7d7d7d;
                font-size: 12px;
                width: 200px;
                text-align: center;
            }
        }
    }
    .notify-box {
        display: flex;
        margin-bottom: 15px;
        padding: 0 20px;
        border-bottom: 1px solid #ececec;
        padding-bottom: 15px;
        position: relative;
        > i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            font-size: 16px;
            @include dir-margin-right(14px);
            flex-shrink: 0;
            margin-top: 3px;
        }
        i.orders {
            background-color: #f1f2fe;
            color: #727cf5;
        }
        i.customers {
            background-color: #E7F8EE;
            color: #10B759;
        }
        i.green-dark {
            background-color: #EFFAFA;
            color: #66D1D1;
        }
        .title {
            font-size: 12px;
            color: #2c2c35;
            font-weight: 500;
        }
        .date {
            font-size: 12px;
            color: #2c2c35;
            opacity: .43;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .link {
            height: 25px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include dir-margin-right(5px);
            padding: 0 14px;
            border-radius: 15px;
            border: solid 1px #2386dc;
            font-size: 11px;
            font-weight: 500;
            color: #2386dc;
            position: relative;
            .copied {
                position: absolute;
                @include dir-right(100%);
                transform: translateY(-50%);
                padding: 3px 7px;
                background-color: #2c2c35;
                color: #fff;
                font-size: 12px;
                border-radius: 3px;
                top: 50%;
                opacity: 0;
                transition: .5s ease-out;
                white-space: nowrap;
                &::before {
                    content: "";
                    border: 5px solid transparent;
                    @include dir-border-left(5px solid #2c2c35);
                    display: block;
                    position: absolute;
                    top: 50%;
                    @include dir-left(100%);
                    transform: translateY(-50%);
                }
                &.show {
                    #{$ltr} & {
                        transform: translateX(-10px) translateY(-50%);
                    }
                    #{$rtl} & {
                        transform: translateX(10px) translateY(-50%);
                    }
                    opacity: 1;
                }
            }
        }
        .dropdown {
            position: absolute;
            top: -7px;
            @include dir-right(8px);
            a {
                color: #b4afd3;
                font-size: 16px;
            }
            .dropdown-menu {
                padding: 0;
                min-width: 150px;
                #{$ltr} & {
                    right: 0;
                    left: unset;
                }
                #{$rtl} & {
                    left: 0;
                    right: unset;
                }
                button {
                    display: block;
                    width: 100%;
                    text-align: start;
                    padding: 7px 15px;
                    font-size: 13px;
                    background: transparent;
                    transition: .3s;
                    &:hover {
                        background: #fafafa;
                    }
                }
            }
        }
    }
}
.notify-btn {
    position: relative;
    &::before {
        content: attr(data-count);
        position: absolute;
        top: -2px;
        right: -6px;
        min-width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0 4px;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #c70505;
    }
}
#notify_btn.active {
    animation: bell 1s 1 forwards ease-out;
}

@keyframes bell {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    10% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    20%, 60% {
        -webkit-transform: translateY(-10px) rotate(
    15deg
    );
        transform: translateY(-10px) rotate(
    15deg
    );
    }
    40%, 80% {
        -webkit-transform: translateY(-10px) rotate(
    -15deg
    );
        transform: translateY(-10px) rotate(
    -15deg
    );
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.hide-layout {
    padding: 0 !important;
    .content {
        padding-top: 0 !important;
    }
}

.assistant-container {
    .button {
        @include dir-padding(3px, 15px, 3px, 5px);
        border-radius: 4px;
        background-image: linear-gradient(89deg, #ffc453 -6%, #ffa600 113%);
        font-size: 15px;
        color: #fff;
        display: flex;
        align-items: center;
        @media (max-width: $screen-sm) {
          background: transparent;
          padding: 0 !important;
          border-radius: 0;
        }
        .img {
            width: 25px;
            height: auto;
            position: relative;
            @include dir-margin-right(8px);
            flex-shrink: 0;
            @media (max-width: $screen-sm) {
              @include dir-margin-right(0px);
            }
            &::before {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: #fff;
            }
            img {
                position: absolute;
                width: 22px;
                height: auto;
                bottom: 2px;
                left: 3px;
            }
        }
        span {
            @media (max-width: $screen-sm) {
              display: none;
            }
        }
    }
    .dropdown-menu {
        width: 300px !important;
        padding: 0;
        background-color: #f8f9ff;
        box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.14);
        border: 0;
        @media (max-width: $screen-sm) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100%;
        }
        .close-assistant {
            position: absolute;
            top: 13px;
            left: 15px;
            display: none;
            @media (max-width: $screen-sm) {
              display: block;
            }
        }
        .head {
            @include dir-padding(13px, 15px, 25px, 30px);
            background-color: #fff;
            .up {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 9px;
                a {
                    font-size: 10px;
                    font-weight: 600;
                    color: #2b5aa9;
                }
            }
            .info {
                display: flex;
                align-items: flex-end;
                img {
                    @include dir-margin-right(25px);
                    width: 48px;
                }
                .title {
                    font-size: 15px;
                    font-weight: bold;
                    color: #000;
                }
            }
        }
        .inner {
            padding: 20px 25px 13px;
            max-height: 450px;
            overflow: auto;
            position: relative;
            @media (max-width: $screen-sm) {
                height: calc(100% - 145px);
                max-height: initial;
            }
            &::-webkit-scrollbar {
                width: 5px;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #d2cfe3;
                border-radius: 5px;
            }
            .assistant-box {
                position: relative;
                display: flex;
                opacity: 0.49;
                background-color: #fff;
                padding: 8px;
                border-radius: 4px;
                border: 1px solid #fff;
                margin-bottom: 10px;
                transition: .5s;
                i {
                    position: absolute;
                    top: 8px;
                    @include dir-right(8px);
                    cursor: pointer;
                    opacity: 0;
                    transition: .5s;
                    &.load {
                        animation: ini_rotate 1s infinite forwards linear;
                        &::before {
                            content: '\f110';
                        }
                    }
                    @keyframes ini_rotate {
                        0% {
                            transform: rotate(0);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
                .count {
                    width: 18px;
                    height: 18px;
                    background-color: #ffc453;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    font-size: 10px;
                    font-weight: 600;
                    color: #000;
                    @include dir-margin-right(10px);
                }
                .title {
                    font-size: 14px;
                    font-weight: 600;
                    color: #000;
                    margin-bottom: 10px;
                    display: block;
                    width: calc(100% - 18px);
                }
                .desc {
                    font-size: 10px;
                    color: #000;
                    opacity: 0.74;
                    display: block;
                    .blue {
                        color: #2669c0;
                    }
                }
                &:hover, &.active {
                    opacity: 1;
                    i {
                        opacity: 1;
                    }
                }
                &.active {
                    border-color: #ffa600;
                }
                &.done {
                    border-color: #22a45d;
                    .count {
                        position: relative;
                        &::before {
                            content: "\f00c";
                            display: block;
                            position: absolute;
                            font-weight: 700;
                            top: 0;
                            left: 0;
                            width: 18px;
                            height: 18px;
                            font-size: 12px;
                            color: #fff;
                            background-color: #22a45d;
                            font-family: 'Font Awesome 5 Free';
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                        }
                        i {
                            display: none;
                        }
                    }
                }
                &.dismissed {
                    border-color: #B4B4B4;
                    .count {
                        position: relative;
                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            font-weight: 700;
                            top: 0;
                            left: 0;
                            width: 18px;
                            height: 18px;
                            font-size: 12px;
                            color: #fff;
                            background-color: #B4B4B4;
                            font-family: 'Font Awesome 5 Free';
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                        }
                        i {
                            display: none;
                        }
                    }
                }
            }
            .show-more {
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                background-image: linear-gradient(89deg, #ffc453 -7%, #ffa600 113%);
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                line-height: 1;
                @media (max-width: $screen-sm) {
                    &.first {
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        width: calc(100% - 40px);
                    } 
                }
                span {
                    display: block;
                    margin-top: 2px;
                    position: relative;
                    font-size: 11px;
                    &::before,
                    &::after {
                        content: "\f078";
                        display: block;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-weight: 700;
                        font-family: 'Font Awesome 5 Free';
                    }
                    &::before {
                        top: 5px;
                        opacity: 0.7;
                    }
                    &::after {
                        top: 9px;
                        opacity: 0.4;
                    }
                }
            }
        }
        .empty-assistant {
            padding: 22px 25px;
            text-align: center;
            img {
                width: 140px;
                margin-bottom: 17px;
            }
            .title {
                font-size: 20px;
                font-weight: bold;
                color: #000;
                margin-bottom: 17px;
            }
            .desc {
                font-size: 14px;
                color: #000;
                margin-bottom: 40px;
            }
            .share-title {
                font-size: 14px;
                font-weight: 600;
                color: #000;
                margin-bottom: 16px;
            }
            .shares {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 25px;
                a {
                    color: #2b5aa9;
                    font-size: 18px;
                }
            }
        }
    }
}


// body.store-credit-banner-body {
//     @media (min-width: $screen-lg) {
//         padding-top: 133px !important;
//         #{$ltr} & {
//             @media (max-width: 1128px) {
//                 padding-top: 151px !important;
//             }
//         }
//         .navbar-fixed-top {
//             top: 70px;
//             #{$ltr} & {
//                 @media (max-width: 1128px) {
//                     top: 88px;
//                 }
//             }
//         }
//         .sidebar-fixed.sidebar-default .sidebar-content {
//             top: 133px !important;
//             #{$ltr} & {
//                 @media (max-width: 1128px) {
//                     top: 151px !important;
//                 }
//             }
//         }
//     }
// }
.store-credit-banner-body {
    .sidebar-default {
        z-index: 1040;
        top: 63px;
        @media (max-width: $screen-lg) {
          top: 0;
        }
    }
}
.store-credit-banner {
    // position: fixed;
    // top: 0;
    // width: 100%;
    background-color: #8058da;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
    z-index: 1030;
    @include dir-margin-right(-20px);
    @media (max-width: $screen-lg) {
      margin: 0 !important;
      text-align: center;
    }
    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $screen-lg) {
            flex-wrap: wrap;
        }
    }
    .title {
        font-size: 12px;
        font-weight: 600;
        @media (max-width: $screen-lg) {
          width: 100%;
        }
        span {
            font-size: 18px;
            font-weight: bold;
        }
    }
    .link {
        font-size: 14px;
        font-weight: bold;
        color: #8058da;
        padding: 7px 24px;
        border-radius: 5px;
        background-color: #fec848;
        margin: 0 25px;
        white-space: nowrap;
        flex-shrink: 0;
        @media (max-width: $screen-lg) {
          margin: 10px;
        }
    }
    .timer-container {
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        .title {
            font-size: 12px;
            font-weight: 600;
            @include dir-margin-right(8px);
            margin-top: 7px;
        }
        .time_circles {
            display: flex;
            align-items: center;
            > div {
                width: auto !important;
                top: auto !important;
                left: auto !important;
                position: relative;
                &:not(:last-child) {
                    @include dir-margin-right(5px);
                    @include dir-padding-right(5px);
                    &::after {
                        content: ":";
                        position: absolute;
                        top: 0;
                        @include dir-right(-3px);
                        line-height: 20px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                span {
                    display: block;
                    text-align: center;
                }
                .number {
                    line-height: 20px;
                    font-size: 25px;
                    font-weight: bold;
                }
                .text {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
    canvas {
        display: none;
    }
}