.empty-page {
    @media (max-width: $screen-md) {
      margin-bottom: 50px;
    }
    .row {
        width: 100%;
        @media (max-width: $screen-md) {
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
          margin: 0 !important;
        }
        .col-12 {
            @media (max-width: $screen-md) {
              padding: 0 !important;
            }
        }
    }
    .content-inner-small {
        display: flex;
        align-items: center;
        min-height: calc(100vh - 244px);
        &.auto-h {
            min-height: auto;
        }
    }
    .large-title-font {
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    .desc-font {
        margin-bottom: 15px;
        &.welcome {
            margin-bottom: 30px;
        }
    }
    .btns-row {
        display: flex;
        align-items: center;
        margin-top: 6px;
        @media (max-width: $screen-md) {
          justify-content: center;
        }
        .theme-btn {
            @include dir-margin-right(12px);
            &:last-child {
                @include dir-margin-right(0);
            }
        }
    }
    .empty-hint {
        color: #2c2c35;
        margin-top: 10px;
        font-weight: 500;
        .yellow {
            color: #ff9127;
        }
        .orange {
            color: #ff7d00;
        }
    }
    .title-hint {
        font-size: 13px;
        color: #155ebc;
    }
    .p-font {
        margin-bottom: 10px;
    }
    .link-area {
        padding: 8px 10px;
        display: inline-block;
        border-radius: 3px;
        border: solid 1px #e0ddef;
        background-color: #f8f7ff;
        font-size: 12px;
        font-weight: 500;
        color: #2c2c35;
        margin-top: 30px;
    }
    .learn-link {
        font-size: 12px;
        font-weight: 500;
        color: #B4AFD3;
        display: inline-flex;
        align-items: center;
        margin-top: 30px;
        i {
            @include dir-margin-left(5px);
            #{$rtl} & {
              transform: rotate(180deg);
            }
        }
    }
    img {
        max-width: 100%;
        display: block;
        max-height: 300px;
        object-fit: contain;
        border-radius: 5px;
        @include dir-margin-left(auto);
        @media (max-width: $screen-md) {
          margin: 0 auto 30px;
          max-width: 70%;
        }
    }
    .empty-price {
        font-size: 14px;
        font-weight: bold;
        color: #2c2c35;
        .hint {
            color: #b4afd3;
            font-size: 12px;
            @include dir-margin-left(5px);
            font-weight: normal;
        }
        .yellow {
            color: #ff9127;
        }
    }
}