
.table-hover > tbody > tr:hover {
  background-color: #ebf8ff;
}
.optional {
    font-size: 13px;
    color: #d2cfe3;
    font-weight: normal;
}
.light-form-body {
    padding-top: 79px;
    @media (max-width: $screen-md) {
      padding-top: 0;
    }
}
.sidebar-fixed.light-form-side{
    @media (max-width: $screen-md) {
        position: fixed;
        bottom: 0;
        z-index: 99999;
        top: 154px;
    }
    .sidebar-content {
        top: 75px;
    }
}
.navbar-default .navbar-collapse.in {
  overflow: visible;
}
.light-form-navbar {
    background-color: #ffffff;
    border: 0;
    border-bottom: solid 1px #e0ddef;
    &.navbar {
        min-height: 75px;
        display: flex;
        align-items: center;
        padding: 0;
        @media (max-width: $screen-md) {
          flex-direction: column;
          position: sticky;
          top: 0;
        }
        .navbar-header {
            flex-shrink: 0;
            @media (max-width: $screen-md) {
              padding: 0 20px;
            }
            .navbar-brand {
                @media (max-width: $screen-md) {
                    padding: 0;

                }
            }
            .navbar-nav {
                @media (max-width: $screen-md) {
                  display: flex !important;
                  align-items: center;
                }
                [data-target="#navbar-mobile"] {
                    display: none;
                }
                li{
                    float: none;
                    a {
                        color: #ffffff !important;
                        font-size: 20px;
                        padding: 0;
                    }
                }
            }
        }
    }
    &.header-highlight .navbar-header {
        margin: 0;
        @media (max-width: $screen-md) {
          width: 100%;
        }
    }
    &.navbar-inverse .navbar-nav {
        margin-left: 0;
        margin-right: 0;
        height: 75px;
        display: flex;
        align-items: center;
    }
    &.navbar-inverse .navbar-nav > li > a {
        color: #2196f3;
        &:hover {
            background-color: transparent;
        }
    }
    &.navbar-inverse .navbar-brand {
        height: 75px;
        display: flex;
        align-items: center;
        @media (max-width: $screen-md) {
          @include dir-padding-left(0px);
        }
    }
    .outer {
        max-width: calc(100% - 64px);
        margin-left: auto;
        @media (max-width: $screen-xx) {
          padding: 0 40px;
        }
        @media (max-width: $screen-md) {
          max-width: 100%;
          padding: 0;
        }
    }
    .info-side {
      max-width: 1200px;
      width: 100%;
      padding: 0;
      margin: auto;
      @media (max-width: $screen-md) {
        padding: 0 20px;
      }
      .navbar-nav {
          position: absolute;
          top: 50%;
          @include dir-left(20px);
          transform: translateY(-50%);
          a {
              color: #03a9f4 !important;
              padding: 0;
              @include dir-margin-right(20px);
          }
          @media (max-width: $screen-md) {
              display: none !important;
          }
      }
      &.inner-small-head {
        max-width: 1024px;
      }
    }
    .page-head-title {
        display: flex;
        align-items: center;
        padding: 14px 0;
        color: #2c2c35;
        font-size: 14px;
        font-weight: bold;
        height: 75px;
        @media (max-width: $screen-sm) {
          height: auto;
          padding-bottom: 0;
        }
        #{$ltr} & {
          float: left;
        }
        #{$rtl} & {
          float: right;
        }

        i {
            display: block;
            @include dir-margin-right(10px);
            font-size: 15px;
            cursor: pointer;
            #{$rtl} & {
              transform: rotate(180deg);
            }
        }
    }
    .head-form-btns {
        display: flex;
        align-items: center;
        min-height: 100%;
        height: 75px;
        #{$ltr} & {
          float: right;
        }
        #{$rtl} & {
          float: left;
        }
        .btn {
            @include dir-margin-left(10px);
            width: 100px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            &.btn-primary {
                background-color: #03a9f4;
                border: 1px solid #03a9f4;
                color: #ffffff;
            }
            &.btn-default {
                background-color: #fff;
                border: 1px solid #b4afd3;
                color: #b4afd3;
            }
            @media (max-width: $screen-md) {
              width: 80px;
              height: 35px;
            }
        }
    }
}

.navigation li {
  > a {
    @include dir-border-left(4px solid transparent);
  }
  &.active {
    a {
      background-color: transparent !important;
      i {
        color: #2669c0;
      }
    }
  }
  &.active-color {
    > a {
      @include dir-border-left(4px solid #2669c0);
      color: #2669c0 !important;
      background-color: #f8f9ff !important;
      font-weight: 600;
      font-size: 13px;
    }
  }
  &:hover {
    > a {
      // @include dir-border-left(4px solid #2669c0);
      background-color: #f8f9ff;
    }
  }
}

.sidebar-category {
  height: 100%;
  .category-content {
    height: 100%;
    .navigation {
      min-height: 100%;
      @media (max-width: $screen-md) {
        display: flex;
        flex-direction: column;
      }
      > li.last-tab {
          // @media (min-width: $screen-md) {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
          // }
          @media (max-width: $screen-md) {
            order: 9;
            margin-top: 10px;
          }
        }
        .title {
          padding: 25px 20px 10px;
          // font-size: 13px;
          font-weight: 600;
          color: #a4a1b4;
          .sidebar-xs & {
            display: none;
          }
        }
      }
    }
  }