button.close{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
} 
.close{
    float: $end;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.loginjs__modal-container{
    .form-control{
        height: 40px;
    }
    .form-group{
        margin-bottom: 15px;
    }
   a, a:hover, a:focus{
        text-decoration: none;
        outline: none;
    }
}
.bg-color{
    background-color: var(--MainColor);
}
.login--popup .modal-body .form-wrap input:focus{
    border-color: var(--MainColor) !important;
}
.modal-open{
    overflow: hidden;
}
.login--popup .modal-body .login-js__code{
    line-height: normal;
}
.enter__code p{
    margin: 0 0 10px;
}
.bg-color:hover, .bg-color:focus, .bg-color:active, .bg-color[disabled]{
    background-color: var(--bgColor);
}
.login--popup .modal-body select{
    &:focus-visible{
        outline: none;
    }
}
.checkbox.my-account__form-info input[type=checkbox]{
    margin-#{$start}: -20px;
}
.checkbox.my-account__form-info .checkbox-inline{
    padding-#{$start}: 20px;
}