.main-checkout{
    .main-checkout__order-summary{
        // background: #fff;
        background-color: #FAFAFA;
        height: 100%;
        // border: 1px solid transparent;

    
        padding: 20px;
        padding-top: 69px;
        .close--summary{
            display: none;
        }
        .order-summary__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            margin-bottom: 25px;
            h3{
                font-size: 16px;
                margin-bottom: 0;
            }
            p{
                margin-bottom: 0;
            }
        }
        .order-summary__info-container{
            padding-bottom: 11px;
            margin-bottom: 10px;
            border-bottom: 2px solid #E0E5EB;
            .order-summary__info{
                display: flex;
                margin-bottom: 5px;
                .info__image{
                    width: 64px;
                    height: 64px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    > span {
                        background-color: rgba(114,114,114,0.9);
                    }
                }
                .info__details{ 
                    width: 48%;
                    font-size: 13px;
                    // font-family: 'HelveticaNeue';
                    margin-#{$start}: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p{
                        margin-bottom: 0;
                        font-size: 14px;
                        &:first-child{
                            font-weight: 500;
                        }
                    }
                }
                .info__price{
                    margin-#{$start}: auto;
                    p{
                        // font-family: 'HelveticaNeue';
                        font-weight: 500;
                        font-size: 14px;
                        span{
                            text-transform: uppercase;;
                        }
                    }
                }

            }
        }
        .order-summary__pricing{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 6px; 
            .pricing__label{
                margin-bottom: 0;
                font-size: 14px;
            }
            .pricing__title{
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 500;
            }
            &.summary--total{
                border-top: 1px solid #E0E5EB;
                padding-top: 14px;
                .pricing__label{
                    font-size: 16px;
                }
                .pricing__title{
                    font-size: 24px;
                }
            }
        }
        .order-summary__input{ 
            margin: 8px 0;
            .input--invalid{
                input:not(.input-reward__number){
                    border-color: #dc3545 !important;
                }
                .input--invalid-msg{
                    font-size: 12px;
                    color: #dc3545;
                    flex: 0 0 100%;
                }
            }
            &#coupon{
                margin: 18px 0;
                border-bottom: 1px solid #e0e5eb;
            }
            // font-family: 'HelveticaNeue';
            .input-group{
                input{
                    box-shadow: none;
                    border: 1px solid #E0E5EB;
                    border-radius: 0;
                    font-size: 14px;
                    font-weight: 400;
                    padding-#{$start}: 17px;
                }
                button:not(.btn-minus , .btn-plus){
                    background-color: $main-color;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px 48px;
                    border: none;
                    border-radius: 0;
                    transition: .5s;
                    border: 1px solid transparent;
                    position: relative;
                    z-index: 3;
                }
                .btn{
                    &.rounded-3{
                        margin-#{$start}: 12px !important;
                    } 
                }
            }
        }
        .reward__confirm{
            background-color: $main-color;
            color: #fff;
            padding: 10px 22px 9px 26px;
            border-radius: 3px;
            box-shadow: 0 2px 7px 0 rgb(120 137 149 / 25%);
            background-color: #155ebc;
            font-size: 13px;
            display: block;
            box-shadow: none;
        }
        .disabled{
            opacity: .5;
            pointer-events: none;
        }
        .input-reward{
            color: #2c2c35;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            border: solid 1px #dde3e8;
            border-radius: 0 !important;
            max-width: 100%;
            width: calc(100% - 214px);
            outline: none;
            appearance: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            }
           
        }
        .summary__input__label{
            font-size: 14px;
            // font-family: 'HelveticaNeue';
            font-weight: 500;
            color: $main-color;
            cursor: pointer;
            @extend %no-select;
        }
        .summaray__control .btn-minus , .summaray__control .btn-plus{
            width: 40px;
            margin: 0;
            color: #2c2c35;
            background-color: #fff;
            font-size: 13px;
            font-weight: 500;
            border: solid 1px #dde3e8;
            font-weight: bold;
        } 
        .summaray__control .btn-minus {
            border-#{$end}: 0;
        }
        // .summaray__control .btn-plus{
        //     border-#{$start}: 0;
        // }
        .summaray__control{
            width: 100%;
            display: flex;
        }
        .order_summary > div .summaray__control{
            display: flex;
            justify-content: flex-end;
        }
        .summary__hide{
            display: none;
            margin-top: 6px;
        }
        .order_summary .order-color{
            color: #155ebc;
            font-size: 13px;
            font-weight: 500;
            cursor: pointer;
        }
        .order-color{
            -webkit-user-select: none;  /* Chrome all / Safari all */
            -moz-user-select: none;     /* Firefox all */
            -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */      
        }
        .order_summary label{
            color: #2c2c35;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
@include mobileScreen{
    .main-checkout{
        .main-checkout__order-summary{
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 121212;
            top: 0;
            // background: #fff;
            background-color: #FAFAFA;
            padding: 15px;
            #{$end}: -100%;
            transition: .3s;
            overflow-y: auto;
            .close--summary{
                display: block;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 5px;
            }
            .order-summary__header{
                margin-bottom: 15px;
                p{
                    font-size: 14px;
                }
            }
            .order-summary__input {
                .input-group {
                    input{
                        padding: 10px;
                    }
                    button:not(.btn-minus,.btn-plus){
                        padding: 8px 30px;
                    }
                }
            }
            .input-reward{
                width: calc(100% - 174px);
            }
        }
        .open--summary{
            #{$end}: 0;
        }
    }
}