#payment{
    > .tap--shipping-info {
        &.data__input{
            border-bottom: 2px dashed #e0ddef;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
    .textarea-input{
        display: flex;
        flex-direction: column; 
        .comment_input__leave-comment-word{
            margin-bottom: 20px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color: $main-color;
            cursor: pointer;
            text-decoration: underline;
        }
        .comment_input__open{
            @extend %no-select;
        }
        .comment_input__open--leave-comment{
            border: 1px solid #ccc;
            background-color: #fff;
            color: #555;
            padding: 6px 12px;
            line-height: 1.42857143;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
            outline: none;
            resize: none;
            display: none;
            margin-bottom: 20px;
        }
    }
    .input--invalid-msg{
        color: #dc3545;
        font-size: 12px;
        // font-family: HelveticaNeue;
        padding-#{$start}: 23px;
        margin-bottom: 0;
    }
    .alert--invalid{
        svg{
            margin-#{$end}: 10px;
            // font-family: HelveticaNeue;
        }
    }
    .saved-address__info{
        .info__details{
            background-color: #fafafa;
            // padding: 30px 0 !important;
            padding: 0 !important;
            width: 100%;
            #confirm_payment{
                .buttons{
                    display: none;
                }
                .payment-method__info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 30px !important;
                    
                    svg{
                        width: 240px;
                        height: 160px;
                    }
                    p{
                        text-align: center;
                        width: 70%;
                        font-size: 16px;
                        line-height: 1.7;
                        text-transform: capitalize;
                        color: #2c2c35;
                    }
                    .content{
                        p{
                            width: 100%;
                        }
                    }
                }
                // custom selector for paypal :(
                #payment_methods_options {
                    padding: 30px !important;
                }
            }
        }
    }
}
@include mobileScreen{
    #payment {
        .saved-address__info {
            .info__details {
                padding: 0 !important; 
                #confirm_payment{
                    .payment-method__info {
                        svg{
                            width: 150px;
                            height: 150px;
                        }
                        p{
                            font-size: 14px;
                            width: 100%;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}
