/*Vertical Tabs*/
.vtabs {
    padding-bottom: 100000px;
    margin-bottom: -100000px;
    width: 180px !important;
    position: absolute;
    border-right: 1px solid #E1E1E1;
    background-color: #f2f7fa;
    margin:0px;
    padding:0px;
    z-index: 1;
    margin:-15px 0px 0px -15px
}
[id*=tab-] .vtabs{
    position: absolute;
    border-top: 1px solid #E1E1E1;
    margin:0px 0px 0px -15px}
.vtabs ul{
    padding:0px;
    margin: 0px;
    list-style:none}
.vtabs ul li img{
    float: right;
    margin: 2px -2px;
}
.vtabs ul li a, .vtabs ul li > span {
    color: #526066;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    outline: none;
    width: 179px;
    background-color: #f2f7fa;
    line-height:25px;
    display: block;
    font-weight:normal;
    border:none;
    font-family: inherit;
    margin:0px;
    text-align:left
}
.vtabs ul li a > span {
    background:none;
    display:inline-block;
    margin:0px;
    padding:0px;
    border:none;
    width:auto;
    clear:none;
    color:#526066;
    font-weight:normal;
    float:none
}
.vtabs ul li a.selected > span,
.vtabs ul li a.selected > i{
    color:#FFF;
}
.vtabs a.selected {
    padding-right: 10px !important;
    background: #479ccf !important;
    color:#fff;
}
.vtabs ul li a:hover, .vtabs ul li > span:hover {
    background-color: #dfeaf0;
}
.vtabs a.selected:hover {
    background: #479ccf;
}
.vtabs-content {
    margin-left: 181px !important;
}
.vtabs-content > .tab-title {
    color: #000;
    padding: 0px 10px 10px 0px;
    border-bottom: 1px solid #ececec;
    margin-bottom:10px;
    font-size: 18px;
}
.vtabs-content > .tab-title span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

/*Horisontal Tabs*/
/*.htabs {
    border:none;
    background:none;
    padding:0px;
    border-right:none;
    display:table-cell
}*/
.table-form > div {
    padding: 10px;
}
.htabs:after{
    content: "";
    display: block;
    clear: both;
}
.htabs ul{
    padding:0px;
    margin:0px;}
/*.htabs a, .htabs .htab-item{
    padding:16px;
    background:none;
    margin:0px;
    border:none;
    border:1px solid #e6eaed;
    margin-left:-1px;
    font-size:14px;
    font-weight:normal;
    color:#526066;
    margin-bottom:10px;
    display:block;
    float:left;
    cursor:pointer
}*/
.htabs a input[type=text], .htabs .htab-item input[type=text]{
    position: relative;
    margin-bottom: -3px;
    margin-top: -3px;
}
.htab-content {
    display:none;
    clear:both
}
.htabs a:hover {
    text-decoration:none
}
/*.htabs a.selected {
    padding-bottom: 14px;
    background: #f2f7fa;
    border-bottom:3px solid #479ccf;
    position:relative;
    z-index:1
}*/
.htab-content > .tab-title {
    color: #000;
    padding: 0px 10px 10px 0px;
    border-bottom: 1px solid #ececec;
    margin-bottom:10px;
}
.htab-content > .tab-title span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}
.htab-content {
    margin-bottom:10px;
}
/*Accordion*/
.atab .row{
    padding: 0px;
    margin:0px;
}

.atab .atab-item{
    color: #526066 !important;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 10px 5px 10px;
    display: inline-block;
    outline: none;
    line-height:25px;
    display: block;
    font-weight:normal;
    border:none;
    font-family: inherit;
    margin:0px !important;
    margin-top:-1px !important;
    position:relative;
    text-align:left;
    border-radius:0px !important;
    border:1px solid #ececec !important;
    background: #fff  !important;
    font-weight: normal !important;

}
.atab .atab-item.ui-state-active,
.atab .atab-item.ui-state-focus{
    background:#f2f7fa !important;
    padding-left:8px;
    border-left:3px solid #479ccf !important;}
.atab .atab-item .icon-drag{
    margin:5px 0px 5px 20px;
    float:right;
    cursor:move}
.atab .atab-item .ui-icon{
    display:none}
.atab  .atab-content {
    padding: 0px !important;
    border-radius:0px !important;
    background:#fff !important;
    border:none !important;


}
.atab  .atab-content.ui-accordion-content-active{
    border-left:3px solid #479ccf !important;
}
.atab-content > .tab-title {
    color: #000;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ececec;
    margin-bottom:10px;
}
.atab-content > .tab-body {
    padding:10px;


}
.atab  .ui-sortable-helper{
    opacity:0.9;
}
.atab .ui-state-highlight{
    height:30px;
    background:#f2f7fa !important;
    border:none !important;}
.sortable .icon-drag {
    float: right;}
/*accordion + htabs*/
.atab .atab-item .htabs{
    display:inline-block;
    float:right;
    margin: -8px -11px; }
.atab .atab-item .htabs .htab-item{
    padding:9px 10px 9px 10px;
    border-bottom: 1px solid #ececec;
    margin-bottom:0px;
    color:#526066}

.atab .atab-item .htabs .htab-item.selected{
    border-top:1px solid #479ccf;
    border-bottom: 1px solid #479ccf;
    background:#fff;
}

/*Dashboard*/
.dashboard > .heading-group > h1{
    font-size:30px
}
.dashboard > .heading-group > h3{
    color: #777;
    font-size: 18px;
}
.dashboard > .heading-group > h1,
.dashboard > .heading-group > h2,
.dashboard > .heading-group > h3,
.dashboard > .heading-group > h4,
.dashboard > .heading-group > h5,
.dashboard > .heading-group > h6{
    text-align:center;
}
.dashboard > .heading-group{
    margin-bottom:50px;}
.dashboard .row{
    margin-top:30px;}
.dashboard .row > div{
    margin-bottom:20px;
    margin-top:20px;}

.dashboard > div a:hover{
    text-decoration:none}
.dashboard > div a > i{
    position:absolute;
}
.dashboard > div a > span{
    padding-left:100px;
    display:block
}
.dashboard > div a > h3{
    padding-left:100px !important;
}

/*home*/
.statistic,
.overview{
    width:50%;
    float:left;
    margin-bottom:15px;
    box-sizing: border-box;
}
.overview {
    padding-right: 5px;
}
.statistic {
    padding-left: 5px;
}
.dashboard-content{
    padding:10px;
    min-height:180px
}
.statistic .range{
    float:right}
.legend table tbody {
    float: right;
}
.legend > div {
    width:350px !important;
    background:none !important;

}
.dashboard-content table{
    width: 100%;
}
.dashboard-content td {
    padding:3px;
    width: auto;
}
.box > .content .dashboard-content td {
    line-height:1.2
}
.tickLabel {
    font-size:11px;
}
.yAxis.y1Axis .tickLabel {
    right: 412px !important;
}
.dashboard-heading {
    background: none;
    color: #333;
    border-bottom: none;
    padding: 5px;
    font-size: 18px;
    font-weight: normal;
}
.range{
    color:#333;
    font-weight:bold}
.dashboard-content {
    background: #f2f7fa;
    border: 1px solid #E1E1E1

}

/*icons*/

[class^=icon-] {
    font-size:inherit;
    display: inline-block;
    padding: 0 6px;
    -webkit-font-smoothing: antialiased  !important;
    font-style: normal;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
[rel*=tooltip]{
    color:#5ba7d4}

.icon-large{
    display:inline-block;
    border:1px solid #B6B6B6;
    color:#526066;
    background:#F2F7FA;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    width: 76px;
    padding: 15px 0px 5px 0px;
    float:left;
    margin:0 10px
}
*:hover > .icon-large,
.icon-large:hover{
    background:#DFEAF0;
}
.icons-exemple{
    margin-bottom:10px;}
.icons-exemple:after{
    content: "";
    display: table;
    clear: both;
}
.icons-exemple li{
    border:1px solid #B6B6B6;
    padding:10px;
    display:inline-block;
    margin:0 -1px -1px 0;
    float:left;
    width:8%;
    height:95px;
    text-align:center}
.icons-exemple li [class*=icon-]{
    margin-top: 5px;
    font-size: 24px;
}
.icons-exemple li .icon-class{
    font-size:14px;
    display:block;
    clear: both}


h3 {
    border-bottom: none;
    margin-top: 0px !important;
}

#content form {
    min-height: 150px !important;
}

/*tooltips*/

.tooltip {
    position: absolute;
    padding: 10px;
    background: #333;
    background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .7 ) ), to( rgba( 0, 0, 0, .9 ) ) );
    background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .7 ), rgba( 0, 0, 0, .9 ) );
    background: -moz-linear-gradient( top, rgba( 0, 0, 0, .7 ), rgba( 0, 0, 0, .9 ) );
    background: -ms-radial-gradient( top, rgba( 0, 0, 0, .7 ), rgba( 0, 0, 0, .9 ) );
    background: -o-linear-gradient( top, rgba( 0, 0, 0, .7 ), rgba( 0, 0, 0, .9 ) );
    background: linear-gradient( top, rgba( 0, 0, 0, .7 ), rgba( 0, 0, 0, .9 ) );
    color: #eee;
    font: normal normal normal 12px/14px Arial, sans-serif;
    text-align: justify;
    z-index: 6000;
    -webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    -moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    position: absolute;
}
.tooltip .inner{
    color: #eee;
}
.tooltip:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #333;
    border-top-color: rgba( 0, 0, 0, .8 );
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -7px;
    z-index:10000
}
.tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}
.tooltip.left:after {
    left: 10px;
    margin: 0;
}
.tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

.rtl .icon-large {
    float: right;
}

.rtl .dashboard > div a > h3 {
    padding-right: 100px !important;
    padding-left: 0px !important;
}

.rtl .dashboard > div a > span {
    padding-right: 100px;
    padding-left: 0px;
}

.rtl .vtabs-content {
    margin-right: 171px !important;
    margin-left: 0px !important;
}

.rtl div.radio span {
    display: -moz-inline-box;
    display: inline !important;
    text-align: center;
}

.rtl .vtabs a.selected {
    padding-right: 10px !important;
}

.rtl .vtabs ul li a, .vtabs ul li > span {
    width: 170px;
    text-align: right;
}

.rtl .vtabs {
    width: 171px !important;
    border-left: 1px solid #E1E1E1 !important;
    border-right: none !important;
    margin: -15px -15px 0px 0px;
}

.rtl .sortable .icon-drag {
    float: left;
}



.rtl th.guest {
    text-align: right;
}
.rtl th.register {
    text-align: right;
}
.rtl th.login {
    text-align: right;
}