#referralContainer {
    border-color: #56b8f6;
    border-width: 0px 1px 1px;
    border-style: solid;
}
#referralContainer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#referralContainer ul li {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #fff;
}
#referralContainer ul li:hover {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}