.top-banner-app {
  position: relative;
  display: block !important;
  z-index: 999999;
  background-size: cover !important;
}
.top-banner-app.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.top-banner-app .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.top-banner-app .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-banner-app .inner .banner-content-side {
  display: flex;
  align-items: center;
}
.top-banner-app .inner .banner-content-side .left {
  max-width: 420px;
}
.top-banner-app .inner .banner-content-side .subtitle {
  font-size: 14px;
  color: #fff;
  margin: 0;
}
.top-banner-app .inner .banner-content-side .title {
  font-size: 40px;
  color: #fff;
  margin: 0;
  padding: 0 !important;
}
.top-banner-app .inner .banner-content-side .top-banner-btn {
  margin-left: 80px;
  padding: 0 30px;
  background: var(--main-color);
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff !important;
}
html[lang="ar"] .top-banner-app .inner .banner-content-side .top-banner-btn {
  margin-right: 80px;
  margin-left: 0;
}
.top-banner-app .deal-palallax-app .time_circles {
  display: flex;
  align-items: center;
  direction: ltr;
}
.top-banner-app .deal-palallax-app .time_circles > div {
  border-radius: 50%;
  display: inline-block;
  height: 94px;
  margin: 0 8px;
  padding-top: 15px;
  text-align: center;
  width: 94px !important;
  border: 1px solid var(--main-color);
}
.top-banner-app .deal-palallax-app .time_circles > div > .number {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
  line-height: 1;
}
.top-banner-app .deal-palallax-app .time_circles > div > .text {
  color: #fff;
}
.top-banner-app .deal-palallax-app {
  width: 440px;
  position: relative;
  max-width: 100%;
}
.top-banner-app .deal-palallax-app .time_circles canvas {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.top-banner-app .close-top-banner {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 16px;
  filter: invert(1);
  cursor: pointer;
}
html[lang="ar"] .top-banner-app .close-top-banner {
  left: 20px;
  right: auto;
}
.top-banner-app .top-banner-arrow {
  position: absolute;
  bottom: 1px;
  left: 20px;
  width: 25px;
  height: 17px;
  cursor: pointer;
  transform: translateY(100%);
  background: #34393d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}
.top-banner-app .top-banner-arrow img {
  width: 13px;
  filter: invert(1);
  transition: .5s;
}
.top-banner-app .top-banner-arrow.active img {
  transform: rotate(180deg);
}

@media (max-width: 1200px) {
  .top-banner-app .inner .banner-content-side {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-banner-app .inner .banner-content-side .top-banner-btn {
    margin: 15px 0 0 !important;
  }
}
@media (max-width: 768px) {
  .top-banner-app .inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-banner-app .inner .banner-content-side .top-banner-btn {
    margin: 15px 0 !important;
  }
}
@media (max-width: 576px) {
  .top-banner-app .inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-banner-app .inner .banner-content-side .title {
    font-size: 25px;
  }
  .top-banner-app .deal-palallax-app {
    width: 290px;
  }
  .top-banner-app .inner .banner-content-side .top-banner-btn {
    margin: 15px 0 !important;
  }
  .top-banner-app .deal-palallax-app .time_circles > div {
    height: 70px;
    margin: 0 3px;
  }
  .top-banner-app .deal-palallax-app .time_circles > div > .number {
    font-size: 20px;
    line-height: 1;
  }
  .top-banner-app .deal-palallax-app .time_circles > div > .text {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .top-banner-app .deal-palallax-app .time_circles > div {
    height: 66px;
  }
  .top-banner-app .deal-palallax-app .time_circles > div > .number {
    font-size: 16px;
    line-height: 1;
  }
  .top-banner-app .deal-palallax-app .time_circles > div > .text {
    font-size: 11px;
    line-height: 1;
  }
}