.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    width: fit-content;
}
.whatsapp img {
    display: block;
    /*margin: auto;*/
}
.whatsapp .icon {
    cursor: pointer;
    width: 62px;
}

@media(max-width: 768px) {
    .whatsapp {
        bottom: -10px;
        left: 22px;
    }

}