@media (min-width: 991px) {
    .mobile-only {
       display: none !important;
    }
}
@media (max-width: 991px) {
    .desktop-only {
       display: none !important;
    }
}
.header-main_area {
background: #fafafa;
}
.MenuNav .TopNav {
display: flex;
width: 100%;
}
.Logo-content li a img {
    height: 60px;
}
.MenuNav .TopNav .main_nav {
width: 100%;
margin-top: 10px;
margin-bottom: 10px;
position: relative;
}

.MenuNav .TopNav .main_nav .logo-content {
margin: 0;
padding: 0;
}

.MenuNav .TopNav .main_nav .logo-content .logo-word {
font-weight: 700;
}

.MenuNav .TopNav .main_nav a {
font-size: 14px;
font-weight: 500;
line-height: 43px;
height: 44px;
}
.MenuNav .TopNav .main_nav a .qty-input {
top: -2px;
}
.MenuNav .TopNav .main_nav a i {
font-size: 10px;
margin: 5px;
}

.MenuNav .TopNav .main_nav a.login-link {
padding: 12px 15px;
border-radius: 8px;
border: 1px solid #fff;
}

.MenuNav .TopNav .main_nav a:hover {
text-decoration: none;
}

.MenuNav .TopNav .main_nav .logo-content li {
list-style: none;
margin: 0;
}

.MenuNav .TopNav .main_nav .dropdown-menu a {
color: #9b9b9b;
font-size: 14px;
height: auto;
padding: 0 6px;
}
.MenuNav .TopNav .main_nav .dropdown-menu a:hover,
.MenuNav .TopNav .main_nav .dropdown-menu a.active {
color: #fff;
}
.MenuNav .TopNav .main_nav .dropdown-menu a img {
margin: 0 5px;
}

.MenuNav .TopNav .main_nav .logo-content li a img {
    height: 60px;
}

.MenuNav .TopNav .main_nav .UserNav {
position: absolute;
top: 10px;
}

.MenuNav .TopNav .main_nav .UserNav li {
list-style: none;
margin: 0 5px;
display: inline-block;
padding: 0 12px;
}
.CartMenu .dropdown-menu {
width: 270px;
padding: 15px !important;
}
.CartMenu .dropdown-menu h2 {
display: none;
}
.CartMenu .dropdown-menu .cart-itemname {
max-height: 30px;
}
.MenuNav .TopNav .main_nav .CartMenu .dropdown-menu .cart-item a:hover{
background: none;
color: #9b9b9b;
}
.cartCount img {
width: 15px;
}
.cartCount .num-cont {
position: relative;
}
.cartCount .num-cont .number {
position: absolute;
top: -8px;
left: -3px;
font-size: 10px;
background: #939393;
width: 16px;
height: 16px;
border-radius: 50%;
color: #fff;
line-height: 1;
display: flex;
align-items: center;
justify-content: center;
}
.MenuNav .TopNav .dropdown-menu.DropDownHeader.login-dropdown ul {
padding: 0;
}
.MenuNav .TopNav .dropdown-menu.DropDownHeader.login-dropdown ul li {
margin: 0;
display: block;
padding: 0;
}
.MenuNav .TopNav .dropdown-menu.DropDownHeader.login-dropdown ul li a {
padding: 6px;
display: block;
}

.header-bottom_area{
background: #141e73;
font-size: 12px;
padding: 5px;
font-weight: bolder;
color: #fff;
}
.header-bottom_area a {
color: #fff;
text-decoration: underline;
}
/*=============== bannerSlider ==================*/
.bannerSlider {
padding: 0;
}
.bannerSlider .slick-track {
height: calc( 100vh - 80px );
}

.bannerSlider .slick-dots {
position: absolute;
bottom: 10px;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
text-align: center;
background: transparent;
}

.bannerSlider .slick-dots li {
width: 60px;
height: 8px;
margin: 0 5px;
padding: 0;
display: inline-block;
}

.bannerSlider .slick-dots li button {
width: 100%;
height: 100%;
padding: 0;
background: #ffffff45;
-webkit-appearance: none;
box-shadow: none;
border: none;
text-indent: -2000px;
border-radius: 4px;
}

.bannerSlider .slick-dots li.slick-active button {
background: #ffffff;
}

.bannerSlider .slick-dots li button:before {
display: none;
}

.bannerSlider .slick-arrow {
z-index: 10;
font-size: 15px;
line-height: 0;
position: absolute;
top: 50%;
display: block;
padding: 17px 10px;
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
cursor: pointer;
color: #000;
border: none;
outline: none;
background: #fff;
border-radius: 50%;
}
.bannerSlider .slick-arrow.fa-arrow-left {
left: 25px;
}

.bannerSlider .slick-arrow.fa-arrow-right {
right: 25px;
}
.bannerSlider .slick-arrow:hover {
color: #fff;
background: #000;
}
.bannerSlider .item {
position: relative;
}

.bannerSlider .item .BcakgroundImg {
position: relative;
top: 0;
left: 0;
z-index: -1;
width: 100%;
height: auto;
height: 580px;
}



.bannerSlider .item .WordSec h2 {
color: #fff;
max-width: 400px;
font-size: 40px;
}

.bannerSlider .item .WordSec a {
color: #fff;
padding: 15px 90px;
display: inline-block;
margin-top: 60px;
transition: all .3s;
background: #3185bd;
font-size: 19px;
}

.bannerSlider .item .WordSec a:hover {
border-radius: 25px;
text-decoration: none;
transition: all .3s;
}

/*=============== End bannerSlider ==================*/
/*=============== about ==================*/
.SectionInformation, .CategorySec {
    margin-bottom: 100px;
    margin-top: 100px;
}

.SectionInformation .col-xs-4.Sec {
    padding: 0 40px;
}
.SectionInformation .info-caption {
    margin: 60px 0;
}
.SectionInformation .info-caption h2, .CategorySec .titleSection h4 {
    font-size: 60px;
    color: var(--MainColor);
    line-height: 1.1;
    margin-bottom: 30px;
}
.SectionInformation .info-caption p {
    font-size: 24px;
    color: #313131;
}
.SectionInformation .info-caption img {
    max-height: 500px;
}
.SectionInformation .Sec {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.SectionInformation .Sec img {
    margin-bottom: 25px;
    height: 290px;
}
.SectionInformation .Sec h6 {
    font-size: 35px;
    color: var(--MainColor);
}
.SectionInformation .Sec p {
    font-size: 16px;
}

.titleSection {
    margin-top: 50px;
}

.links-list ul.list-none {
    list-style-type: none;
}

.links-list ul.list-none li {
    margin-top: 10px;
}

.page-title-base {
    margin-top: 50px;
}
/*=============== about ==================*/
.SectionInformation, .CategorySec {
    margin-bottom: 100px;
    margin-top: 100px;
}
.CategorySec .titleSection h4 {
    font-size: 60px;
    color: var(--MainColor);
    line-height: 1.1;
    margin-bottom: 30px;
}
.CategorySec .titleSection p {
    font-size: 16px;
    width: 80%;
    margin: auto;
    margin-bottom: 36px;
    color: #aeb2b4;
}
.theme-btn, .theme-btn:hover {
    display: inline-block;
    width: auto;
    background: #2e266f;
    color: #fff;
    font-size: 22px;
    padding: 15px 90px;
}
#formsModal .modal-dialog {
    max-width: 800px;
}
.upload-img {
    position: relative;
}
.upload-img #output {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: block;
    margin: 10px auto;
}
.upload-img .image-input {
    position: absolute;
    top: 10px;
    width: 140px;
    height: 140px;
    display: block;
    left: calc( 50% - 70px );
    opacity: 0;
    cursor: pointer;
}
#formsModal .modal-dialog {
    max-width: 800px;
}
#formsModal .form-group {
    width: 80%;
    margin: 10px auto;
}
#formsModal .form-control {
    height: 50px;
    line-height: 32px;
}
#formsModal .theme-btn {
    font-size: 16px;
    padding: 10px 50px;
}
@media (min-width: 990px) {
    .ad img {
        width: 100%;
        height: 600px;
    }
}