.ltr {
    direction: ltr;
}

.inline_block {
    display: inline-block;
}

.center {
    text-align: center;
}

.schema_elements {
    margin: 5px 0;
}

.schema_elements_style {
    clear: both;
}

.schema_elements_style span {
    border: 1px solid #4187ff;
    border-radius: 3px;
    padding: 3px;
    background-color: #deeaff;
    cursor: pointer;
    margin: 0 4px;
    display: inline-block;
}

.separators:after {
    content: "|";
}

.separators .separator {
    padding: 3px 10px;
    border: 1px solid #ff41ba;
    background-color: #ffdeed;
}

.languages .language {
    padding: 3px 10px;
    border: 1px solid #23ab25;
    background-color: #9cffaf;
}

.url_schema_container {
    width: 100%;
}

.url_schema_container > input {
    display: inline-block;
}

#url_schema_div, #url_schema_div div {
    display: inline-block;
}

#url_aashecma_div div:after {
    content: "/";
}

.newSchema span {
    display:none;
}
.newSchema:after {
    content: attr(data-close);
}

.tr_separator, .tr_separator td, .tr_separator:hover, .tr_separator td:hover {
    background: 0% !important;
}

.schemaTable tr:hover, .schemaTable tr td:hover, .schemaTable tr, .schemaTable tr td {
    background: 0% !important;
}

.group_name {
    font-weight: 500 !important;
    color: tomato;
    text-transform: capitalize;
}

.options_container {

}

.buttons_container {
    text-align: center;
}

.url_container {
    margin: 10px 0;
}

.url_schema > span > div > div > span {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.url_schema > span > div > div > span:after {
    content: "/";
}

.schemaTable .schema_elements_style > div {
    display: inline-block;
    font-weight: 600;
}