
/* reset css */



html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

small
{
	font-size: 85%;
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f2f2f2;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
	display: block;
}

nav ul
{
	list-style: none;
}

blockquote,
q
{
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
	content: '';
	content: none;
}

a
{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	cursor: pointer;
}

/* change colours to suit your needs */



ins
{
	background-color: #ff9;
	color: #2e3039;
	text-decoration: none;
}

/* change colours to suit your needs */


mark
{
	background-color: #ff9;
	color: #2e3039;
	font-style: italic;
}

del
{
	text-decoration: line-through;
}

abbr[title],
dfn[title]
{
	border-bottom: 1px dotted;
	cursor: help;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

/**********************/


.fs9
{
	font-size: 9px;
}

.fs10
{
	font-size: 10px;
}

.fs11
{
	font-size: 11px;
}

.fs12
{
	font-size: 12px;
}

.fs13
{
	font-size: 13px;
}

.fs14
{
	font-size: 14px;
}

.fs15
{
	font-size: 15px;
}

.fs16
{
	font-size: 16px;
}

h1,
.h1
{
	font-size: 20px;
}

h2,
.h2
{
	font-size: 14px;
}

h3,
.h3
{
	font-size: 18px;
}

h4,
.h4
{
	font-size: 16px;
}

h5,
.h5
{
	font-size: 14px;
}

h6,
.h6
{
	font-size: 12px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6
{
	color: #2d333d;
}

p
{
	line-height: 18px;
	margin: 0 0 10px;
}

.aside.content
{
	margin: 20px 0;
}

a,
a:visited,
a:link,
a:active,
a:hover,
a:focus,
a b
{
	outline: none;
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
	
}



a img
{
	border: none;
	outline: none;
}

.wrapper,
.buttons
{
	background: #FFF;
	border: 1px solid #EDF0F0
}

.wrapper
{
	padding: 15px;
}

.wrapper.margin
{
	margin-bottom: 20px
}

.wrapper.nomargin
{
	margin: 0
}

.wrapper.nopadding
{
	padding: 0
}

.wrapper.no-bg-color
{
	background-color: transparent;
}

.wrapper table
{
	border: 1px solid #EDF0F0;
	margin-bottom: 20px;
}

.wrapper td
{
	padding: 8px;
}

.wrapper thead td
{
	background-color: #F5F5F5;
}

/** FORM ELEMENT STYLES **/


form
{
	padding: 0;
	margin: 0;
	display: inline;
}

input[type='text'],
input[type='password'],
textarea,
select,
input[type='text']:focus,
input[type='password']:focus,
textarea:focus,
select:focus
{
	border: 1px solid #cfcfcf !important;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
	-moz-text-shadow: none !important;
	-ms-text-shadow: none !important;
	-o-text-shadow: none !important;
}

select
{
	outline-style: none;
	width: auto;
	margin: 0;
}

select:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus
{
	outline: none;
}

label
{
	cursor: pointer;
	display: inline;
}

input,
select
{
	vertical-align: middle;
	outline: 0;
}

/**
* PAVO FORM
*/


.pav-form h2
{
	height: auto;
	line-height: normal;
	padding: 8px 12px;
	text-align: left;
	
	color: #FFF;
}

/**
*  TOP BAR
*/




#topbar
{
	background: #FFF;
}

#topbar p
{
	padding: 0;
	margin: 0;
}

/**
* HEADER 
*/



#header .pav-header-top
{
	background: #efefef;
	
	border-color: #d6d6d6;
}

#header .pav-header-center
{
	background: #FFFFFF url("../image/bg-header-center.png") repeat top left;
}

#header #logo
{
	margin-top: 33px;
	margin-bottom: 30px;
}

.header-right
{
	margin-top: 33px;
}

/**
* MAIN NAV 
*/



#pav-mainmenu
{
	background: #2D333D
}

#pav-mainmenu .pav-menu-wrapper
{
	border-bottom: 5px solid #FFFFFF;
}

/**
* SLIDESHOW
*/

/**
* CONTENT
*/


#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6
{
	margin: 10px 0;
	font-weight: normal;
}

/**
* MASS FOOTER
*/

/**
* FOOTER
*/



#footer
{
	margin: 0;
	padding: 0;
}

#footer a
{
	color: #7e7f80;
}

#footer .footer-center
{
	padding: 25px 1.9% 30px;
}

#footer .footer-center ul li
{
	line-height: 25px;
	overflow: hidden;
}

.footer .icon
{
	width: 26px;
	height: 26px;
	background-color: #4a4a4a;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	float: left;
	margin: 0 12px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

#footer .footer-center ul.pav-contact-us li
{
	height: auto;
	line-height: normal;
	margin: 0 0 12px;
	line-height: 26px;
}

#footer .footer-center ul.pav-contact-us li.first
{
	line-height: normal;
}

#footer .box
{
	margin: 0;
}

#footer p
{
	line-height: 17px;
}

#footer .box .box-content
{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	padding: 0;
	margin: 0;
}

#footer .pav-footer-top article[class*="span"]
{
	padding: 12px 2.2%;
	height: 160px;
	height: auto;
	min-height: 160px;
	position: relative;
}

#footer .pav-footer-top article[class*="span"]:before
{
	background: #424851;
	content: "";
	display: block;
	height: 100%;
	left: -4%;
	position: absolute;
	top: 0;
	width: 1px;
}

#footer .pav-footer-top article[class*="span"]:first-child:before
{
	width: 0;
}

.t-text
{
	color: #e7eaec;
	font-size: 216.6666666666667%;
	text-transform: none;
	margin-bottom: 12px;
}

#footer .pav-footer-top article img
{
	float: left;
	margin-top: 5px;
}

#footer .pav-footer-top article p
{
	color: #94999d;
	margin: 0 0 0 31%;
	text-align: left;
}

#footer .pav-footer-top article:last-child p
{
	margin: 0;
}

#footer .pav-footer-top article ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer .pav-footer-top article ul
{
	margin: 20px 0 0;
}

#footer a:hover,
#powered a:hover
{
	text-decoration: underline;
}

#footer .footer-center p
{
	margin-top: 5px;
	margin-bottom: 20px;
}

.footer .box-heading
{
}

.footer .c-text
{
	font-size: 14px;
	color: #4d4e4f;
	text-transform: uppercase;
}

#powered
{
	padding: 1.8% 2.5%;
}

#powered address
{
	line-height: 30px;
	text-align: left;
}

#powered .payment
{
	float: right;
	height: 30px;
	line-height: 40px;
	text-align: right;
}



/* 
* BOX STYLES 
*/


.box .box-content
{
	padding: 12px;
}

.box .box-heading
{
	
	color: #FFF;
}

.box .box-content
{
	border-color: #EDF0F0;
	clear: both;
}

.sidebar .box .box-heading
{
	background-image: url("../image/heading-title.png");
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 40px;
	min-height: inherit;
}

#content .box
{
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

.box-content,
#footer
{
	background: #FFF;
}

.box.black .box-content
{
	background-color: #2d333d;
}

.box.black a
{
	color: #FFF;
}

.box.highlight .box-heading
{
	background-color: #d54e58;
}

.box.nopadding .box-content
{
	padding: 0;
}
