#pav-paneltool{
	position:fixed;
	top:10%;
	right:0;
	z-index:999
}
#pav-paneltool .pn-action{
    background: none repeat scroll 0 0 #DDDDDD;
    box-shadow: 3px 0 0 #DDDDDD;
    -webkit-box-shadow: 3px 0 0 #DDDDDD;
    -moz-box-shadow: 3px 0 0 #DDDDDD;
    -ms-box-shadow: 3px 0 0 #DDDDDD;
    -o-box-shadow: 3px 0 0 #DDDDDD;
    color: #333333;
    cursor: pointer;
    margin-right: 0;
    margin-top: 0;
    padding: 12px;
}

#pav-paneltool .panel-inner {
	width:368px;
	background:#FFF;
	padding:12px 16px;
	-moz-box-shadow: 1px 0 3px #888888;
	-webkit-box-shadow: 1px 0 3px #888888;
	box-shadow: 1px 0 3px #888888;margin-top:44px;

}
.box-patterns div{
	display:block ;
	width:38px;
	height:38px;
	float:left;
	cursor:hand;
	cursor:pointer;
	border:solid 1px #f3f3f3;
	margin:6px;
	border:1px solid #ccc;
	
}
.box-patterns div.active{
	border:solid 1px red
}
