.megamenu .menu-icon { background-position: center center; padding-left: 23px; display: block; }
.navbar .nav .dropdown-toggle .caret { margin-top: 0; }
.navbar .nav > li > a > b.caret { background: url('../image/sprite.png') no-repeat -274px -72px; width: 15px; height: 15px; border: 0; margin: 0 0 0 10px; padding: 0; display: inline-block; line-height: 15px; vertical-align: text-top; }
.navbar .btn, .navbar .btn-small { height: auto; line-height: normal; }
.megamenu .menu-desc { display: block; font-size: 11px }
.pav-menu-video iframe { width: 100%; min-width: 100%; }
.dropdown-menu > li > a:link, .dropdown-menu > li > a:visited { padding: 0; margin: 0; line-height: 31px; display: inline;}
.megamenu .level1 .caret { display: none; }
nav .dropdown-menu li { padding: 0; margin: 0; }
.megamenu ul { outline: none; }
.megamenu ul li { list-style: none; }
.megamenu ul li.mega-group { margin: 0; }
.dropdown-submenu > a { outline: 0; }
.dropdown-menu .mega-col > ul > li > a{ font-size: 133.333%; padding: 0; text-transform: none; }
.dropdown-submenu > .dropdown-menu { 
	-webkit-border-radius: 0; -moz-border-radius: 0;
	-ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; 
	box-shadow: 0 0 3px #ddd;
	-webkit-box-shadow: 0 0 4px #ddd;
	-moz-box-shadow: 0 0 4px #ddd;
	-ms-box-shadow: 0 0 4px #ddd;
	-o-box-shadow: 0 0 4px #ddd;	
	background:#ffffff;
	z-index: 99999;
	margin: 0; left: 50%; top: -58%; }

.navbar .nav > li > .dropdown-menu:before { border-bottom: 7px solid #FFFFFF; }

.megamenu .mega-col { }
.megamenu .cols1 { }
.megamenu .cols2 { }
.megamenu .cols3 { width: 640px; }
.megamenu .cols4 { width: 600px;}
.megamenu .mega-group > a .menu-title { text-decoration: none; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a { background-color: transparent; background-image: none; }
nav .dropdown-menu .mega-col li:hover { background-color: transparent; }
nav .dropdown-menu li.mega-group .dropdown-mega { padding: 0; }
nav .dropdown-menu li.mega-group .dropdown-mega li { margin: 0; padding: 0; }
.megamenu ul li.mega-group b.caret, .dropdown-submenu > a:after { display: none; }
.megamenu h3 { height: auto; line-height: normal; font-size: 14px; margin: 2px 0 5px 0; }
.megamenu p { line-height: 1.5em; }
.megamenu .col-3 .menu-content { padding: 0; }