*::-moz-selection {
color:#FFFFFF;
}

::selection
{
	color: #FFFFFF;
}


/* no border radius, no box shadow, no text shadow*/


.no-box
{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
}



.b-white{
	background: #FFFFFF;
}

/* color white */





.c-white
{
	color: #FFFFFF;
}

/* background transparent */

.pav-footer-top .box-heading,
.pav_advertising .box-heading{
	display: none;
}


.no-bg-color
{
	background-color: transparent;
}

/* background none */




.no-bg-image
{
	background-image: none;
}

/* change color and background */

.bg-color
{
	background-color: #47af99;
}

.links li:hover i
{
	color: #47af99;
}

.product-compare .bg-color
{
	background-color: #47af99;
}

#header a:hover
{
	color: #47af99;
}

#cart .button:hover{
	color: #FFF;
}


#pav-mainmenu .navbar .nav > li:hover > a
{
	color: #47AF99;
}

.breadcrumb a.last
{
	color: #47af99;
}

.pagination .links a:hover
{
	color: #47af99;
}

a.button:hover,
input.button:hover
{
	background: #47AF99;
}

a.button:hover,
input.button:hover
{
	background: #47AF99;
}

.links b
{
	color: #47af99;
}

#content #tab .selected
{
	background-color: #47AF99;
}

#tab .box-heading:hover
{
	background-color: #47AF99;
}

.htabs a
{
	background: #47AF99;
}

#content .active .box-heading
{
	background-color: #47AF99;
}

#content .over:hover
{
	background-color: #47AF99;
}

.product-compare a
{
	background: #47af99;
}
*::-moz-selection {
 background-color: #47af99;
}

::selection
{
	background-color: #47af99;
}

.color
{
	color: #47af99;
}

#footer a:hover
{
	color: #47af99;
}

.product-grid .product-inner:hover .button
{
	background-color: #47af99;
}

.pav-contact-us li:hover i
{
	background-color: #47af99;
}

.pav-form h2
{
	background: #47AF99;
}

#header .pav-header-top
{
	color: #47AF99;
}

#powered a
{
	color: #47af99;
}

.box .box-heading
{
	background-color: #47af99;
}

a:hover
{
	color: #47af99;
}

.one-page a:hover
{
	color: #47af99;
}

/* Background Image */

.pavicon-wishlist
{
	background-position: -363px -218px;
}

.pavicon-compare
{
	background-position: -396px -218px;
}

.pavicon-wishlist:hover
{
	background-position: -19px -218px;
}

.pavicon-compare:hover
{
	background-position:-52px -218px;
}

.product-grid .pavicon-wishlist{
	background-position: -363px -184px;
}

.product-grid .pavicon-compare{
	background-position: -396px -184px;
}

/* End */


/* sprite image */




.icon
{
	background-image: url("../image/sprite.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* no padding */





.nopadding
{
	padding: 0;
}

.nopadding-left
{
	padding-left: 0;
}

.nopadding-right
{
	padding-right: 0;
}

.nopadding-top
{
	padding-top: 0;
}

.nopadding-bot
{
	padding-bottom: 0;
}

/* no margin*/





.nomargin
{
	margin: 0;
}

.nomargin-left
{
	margin-left: 0;
}

.nomargin-right
{
	margin-right: 0;
}

.nomargin-top
{
	margin-top: 0;
}

.nomargin-bot
{
	margin-bottom: 0;
}

/* no border */





.noborder
{
	border: 0px;
}

.noborder-top
{
	border-top: 0;
}

.noborder-right
{
	border-right: 0;
}

.noborder-bot
{
	border-top: 0;
}

.noborder-left
{
	border-left: 0px;
}

/* boder width */




.bd-left
{
	border-width: 0 0 0 1px;
}

.bd-right
{
	border-width: 0 1px 0 0;
}

.bd-top
{
	border-width: 1px 0 0 0;
}

.bd-bot
{
	border-width: 0 0 1px 0;
}

/* boder style */






.bw-left,
.bw-right,
.bw-top,
.bw-bot
{
	border-style: solid;
}

#content
{
	margin: 0;
	padding: 0;
}

.content-page .nopadding
{
	padding: 0;
}

/* ===================== end ====================== */
/* =================== HEADER ===================== */

/* Top Link */





.links li
{
	display: inline;
	line-height: 30px;
	padding: 0 10px 0 0;
	color: #808080;
}

#links .icon-wishlist
{
	background-position: -76px 0;
	width: 10px;
	height: 14px;
}

#links .icon-account
{
	background-position: 0 0;
	width: 14px;
	height: 14px;
}

#links .icon-shop
{
	background-position: -46px 0;
	width: 9px;
	height: 14px;
}

#links .icon-checkout
{
	background-position: -29px -2px;
	width: 14px;
	height: 11px;
}

.welcome
{
	line-height: 30px;
	margin-right: 12px
}

#header a
{
	color: #808080;
}

.current-language
{
	padding-top: 10px;
}

.current-language > span
{
	color: #D6D6D6;
	font-weight: lighter;
	margin: 0 10px
}

.current-language #language img,
.current-language #currency a
{
	padding: 0 5px;
	cursor: hand;
	cursor: pointer;
}

/* Search */




.m-top
{
	margin-top: 20px;
}

#search .is-round,
#cart .is-round
{
	cursor: pointer;
	height: 36px;
	width: 36px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	text-indent: -99999px;
	float: left;
	overflow: hidden;
}

#search
{
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 0;
	width: 208px;
	line-height: 15px;
	border: solid 1px #EDF0F0;
}

#search .is-sprite,
#cart .is-sprite
{
	background-image: url("../image/sprite.png");
	background-repeat: no-repeat;
}

#search .is-sprite
{
	background-position: -278px 0;
}

#cart .is-sprite
{
	background-position: -238px 0;
}

#cart
{
	margin-left: 10px;
	position: relative;
}

#search input[type="text"]
{
	margin: 0;
	padding: 9px 15px 0;
	width: 140px;
	float: left;
}

#search input.no-bg-color
{
	background-color: transparent;
	border: 0px !important;
	-webkit-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

#search .button-search
{
	float: left;
	margin: 0;
}

#cart .pav-cart-title
{
	margin-left: 5px;
}

#cart .f-normal
{
	line-height: normal;
	margin-bottom: 3px;
}

.pav-header-bottom
{
	border-bottom: 1px solid #ececec;
}

table.no-border td,table.no-border th{
	border: 0;
}

#cart .content
{
	display: none;
	min-height: 90px;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 38px;
	width: 300px;
	z-index: 99999;
	border-width: 4px;
	border-style: solid;
	border-color: #dddddd;
	background: #fff;
}

#header #cart.active .heading
{
	margin: 0;
	padding: 0;
	outline-style: none;
}

#header #cart.active .content
{
	display: block;
}

.mini-cart-info td
{
	padding: 10px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	vertical-align: top;
}

.mini-cart-info td.name{
	width: 30%;
}

.mini-cart-info td.name{
	width: 70%;
}

.cart-image{
	position: relative;
	margin-right: 10px;
}

.cart-image .remove{
	float: left;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 0;	
	z-index: 100;
}

.mini-cart-info .image img
{
	text-align: left;
}

.mini-cart-info .image a
{
	display: block;
}

#cart .name a
{
	color: #333333;
}

.mini-cart-info .quantity
{
	text-align: left;
	color: #333333;
	font-weight: bold;	
}

.mini-cart-info td.total
{
	text-align: right;
}

.mini-cart-info .remove
{
	text-align: right;
}

.mini-cart-info .remove img
{
	cursor: pointer;
	float: left;
	text-align: left;
}

.mini-cart-total
{
	text-align: right;
	margin: 10px 0;
	border-top: 1px solid #dddddd;
}

.mini-cart-total table
{
	border-collapse: collapse;
	margin-bottom: 5px;
}

.mini-cart-total td
{
	color: #333;
	padding: 3px;
	border: 0;
}

.mini-cart-total table td.right
{
	text-align: right;
}

#header #cart .checkout
{
	text-align: right;
	clear: both;
}

#cart .button
{
	padding: 9px 20px;
	color: #FFF;
}

#cart .empty
{
	padding-top: 30px;
	line-height: normal;
	text-align: center;
}

/* main menu */
.navbar .nav{
	position: static;
}

.dropdown-menu
{
	display: none;
}

.nav > li:hover > .dropdown-menu
{
	display: block;
}

#pav-mainmenu .navbar-inner
{
	background: #2D333D;
	border: none;
	padding: 0;
	margin: 0;
}

#pav-mainmenu .navbar .nav > li > a
{
	color: #FFF
}

.navbar
{
	margin: 0;
}

.navbar .nav
{
	margin: 0;
	width: 100%;
}

.navbar .nav > li > a
{
	font-size: 12px;
	padding-left: 13px;
	padding-right: 13px;
	text-transform: uppercase;
	float: left;
	text-shadow: none;
	-moz-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	-webkit-text-shadow: none;
	-webkit-transition: background-color 0.25s ease-out 0s;
	-moz-transition: background-color 0.25s ease-out 0s;
	-ms-transition: background-color 0.25s ease-out 0s;
	-o-transition: background-color 0.25s ease-out 0s;
	transition: background-color 0.25s ease-out 0s;
}

.navbar .nav > li.home a
{
	padding: 0;
	margin: 13px 0 0 0;
	width: 16px;
	height: 15px;
	text-indent: -999em;
	overflow: hidden;
	background-position: -106px -40px;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret
{
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}

.navbar > span
{
	display: block;
	font-size: 130%;
	margin: 22px 10px 0;
	text-transform: uppercase;
	color: #fff;
}

.dropdown .caret
{
	margin-left: 5px;
}

.navbar .nav > li.deeper
{
	position: relative;
}

.dropdown-menu
{
	width: auto;
	padding: 18px 25px 25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	border-width: 0px;
	border-style: solid;
	margin: 0;
	box-shadow: 6px 0 6px -6px #bebaba, -6px 0 6px -6px #bebaba, 0 6px 6px -6px #bebaba;
	-webkit-box-shadow: 6px 0 6px -6px #bebaba, -6px 0 6px -6px #bebaba, 0 6px 6px -6px #bebaba;
	-moz-box-shadow: 6px 0 6px -6px #bebaba, -6px 0 6px -6px #bebaba, 0 6px 6px -6px #bebaba;
	-ms-box-shadow: 6px 0 6px -6px #bebaba, -6px 0 6px -6px #bebaba, 0 6px 6px -6px #bebaba;
	-o-box-shadow: 6px 0 6px -6px #bebaba, -6px 0 6px -6px #bebaba, 0 6px 6px -6px #bebaba;
}



.dropdown-menu ul
{
	margin: 0;
}

.dropdown-menu li
{
	line-height: 31px;
}

.dropdown-menu ul.level1
{
	margin-top: 0;
}

.navbar .nav > li.singlesub
{
	position: relative;
}

.menu-content img,
.pav-menu-video embed
{
	margin-top: 10px;
	width: 100%;
}

.navbar .nav > li > .dropdown-menu:before
{
	border-bottom: 7px solid #FFFFFF;
	left: 6%;
}

.navbar .nav > li > .dropdown-menu:after
{
	left: 6%;
}

.dropdown-submenu > .dropdown-menu
{
	background: transparent;
}

/* breadcrumb */






.breadcrumb
{
	margin: 0;
	padding: 0 0 18px 0;
	background: none
}

.breadcrumb a
{
	font-size: 14px;
	line-height: 18px;
	color: #6e6f70;
}

.success,
.warning,
.attention,
.information
{
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #2D333D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.success
{
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.warning
{
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.attention
{
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.success .close,
.warning .close,
.attention .close,
.information .close
{
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}

.required
{
	color: #FF0000;
}

.error
{
	display: block;
	color: #FF0000;
}

.help
{
	color: #999;
	font-size: 10px;
	font-weight: normal;
	display: block;
}

table.form td
{
	border: 0;
	padding: 10px;
	vertical-align: middle;
}

table.form input[type="text"],
table.form input[type="password"]
{
	margin: 0;
}

input.large-field,
select.large-field
{
	width: 93%;
}

table.list
{
	border-collapse: collapse;
	width: 100%;
	border-width: 1px 0 0 1px;
	border-style: solid;
	margin-bottom: 20px;
}

table.list td
{
	border: 1px solid #EDF0F0;
	border-style: solid;
}

table.list thead td
{
	background-color: #EFEFEF;
	padding: 0px 5px;
}

table.list thead td a,
.list thead td
{
	text-decoration: none;
	color: #222222;
	border: 1px solid #EDF0F0
}

.content table
{
	margin: 0;
}

table.form
{
	margin-bottom: 20px;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"]
{
	margin: 0;
}

table.list tbody td
{
	padding: 0px 5px;
}

table.list .left
{
	text-align: left;
	padding: 7px;
}

table.list .right
{
	text-align: right;
	padding: 7px;
}

table.list .center
{
	padding: 7px;
}

table.radio
{
	width: 100%;
	border-collapse: collapse;
}

table.radio td
{
	padding: 5px;
}

table.radio td label
{
	display: block;
}

table.radio tr td:first-child
{
	width: 1px;
}

table.radio td,
table.radio tr td:first-child input
{
	margin-top: 4px;
}

table.radio tr.highlight:hover td
{
	background: #F5F5F5;
	cursor: pointer;
}

table.radio td input[type="radio"]
{
	margin: 4px 0 0 0;
}

.pagination
{
	outline: 0;
	margin: 0;
	padding: 0;
}

.pagination aside
{
	margin: 0;
	padding: 15px 15px 20px;
	overflow: hidden;
	border-top: solid 1px #EDF0F0
}

.manu-info .noborder-top
{
	border-top: 0px;
}

.pagination .links
{
	float: left;
	margin: 5px 0 0 0;
}

.pagination .links a,
.pagination .links b
{
	border-style: solid;
	border-width: 1px;
	font-size: 13px;
	margin: 0;
	padding: 4px 6px;
	text-decoration: none;
}

.pagination .links a
{
	color: #b0b0b0;
}

.pagination .results
{
	padding: 0;
	margin: 0 15px;
	float: right;
	line-height: 30px;
}

.tab-content .pagination .results
{
	margin: 0;
}

/* button */






.btn,
.btn-small
{
	cursor: pointer;
	line-height: 30px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 17px;
	height: 30px;
}

a.button,
input.button
{
	cursor: pointer;
	color: #c4c7cd;
	line-height: 18px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 17px;
	border: none;
	background: #2D333D;
}

a.button:hover,
input.button:hover
{
	color: #FFF;
}

a.button:hover
{
	color: #ffffff;
}

a.button
{
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}

input.button
{
	margin: 0;
	outline-style: none;
	height: 31px;
}

.buttons
{
	border-width: 1px;
	border-style: solid;
	padding: 2%;
	margin-bottom: 20px;
}

.buttons .left
{
	float: left;
	text-align: left;
	height: 30px;
	line-height: 30px;
}

.buttons .right
{
	float: right;
	text-align: right;
	height: 30px;
	line-height: 30px;
}

.buttons .center
{
	margin-left: auto;
	margin-right: auto;
}

.htabs
{
	height: auto;
	line-height: normal;
}

.box.producttabs .box-content
{
	border-width: 0px 1px 1px 1px;
	padding: 5px 0 0 0;
	position: relative;
	background: #edf0f0;
}

.box.producttabs .item
{
	border-width: 0 0 1px 0;
	border-style: solid;
}

/* box */


.box
{
	margin: 0 0 20px 0;
}

.box .box-heading
{
	padding: 8px 10px;
	font-size: 18px;
	line-height: 20px;
	overflow: hidden;
	font-weight: bold;
}

/* display inline-block */


.product-block .cart,
.product-block .wishlist,
.product-block .compare,
.product-info .cart .links,
.order-list .order-content,
.return-list .return-content,
.download-list .download-content,
.pagination .links a,
.pagination .links b,
a.button
{
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
 *display: inline;
}

.product-info .wishlist
{
	margin: 0 3px 0 5px;
}

/* custom define icons */
[class^="pavicon-"]{
	text-indent: -99999px;
	float: left;
	width: 31px;
	height: 31px;
	cursor: pointer;
	background-image: url("../image/sprite.png");
	background-repeat: no-repeat;	
	overflow: hidden;
}

.home a{
	background-image: url("../image/sprite.png");
	background-repeat: no-repeat;	
}

.pav_advertising .box-content
{
	background-color: transparent;
}

#tab li
{
	display: inline;
}

#tab .box-heading
{
	padding-top: 8px;
	padding-bottom: 8px;
}

.htabs a
{
	color: #FFF;
}

.tab-link,
.tab-link:hover
{
	color: #fff;
}

.nav-tabs > li > a
{
	-webkit-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.nav-tabs > .active > a,
.nav-tabs > li> a:hover,
.nav-tabs > .active > a:focus,
.htabs a:hover,
.htabs a.selected
{
	background: #2D333D;
}

.tab-content p input[type="radio"]
{
	margin: 0;
}

.tab-content p,
#tab-description > div
{
	margin-bottom: 10px;
}

#tab-description > div
{
	line-height: 18px;
}

/****************************** PRODUCT BOX STYLE *************************************/


.product-block
{
	position: relative;
}

.product-grid .product-inner
{
	position: relative;
	padding: 30px 12%;
	overflow: hidden;
	width: 85%;
	left: -5%;
}

.product-related
{
	margin: 20px 0 0 0;
}

.product-related .nopadding
{
	padding: 0;
}

.product-block .image
{
	display: block;
	margin-bottom: 5px;
	position: relative;
}

.product-block .image a
{
	display: block;
}

.product-block .image img
{
	outline: 0;
}

.product-block p
{
	margin: 0;
	padding: 0;
}

.product-block .description
{
	height: 95px;
	min-height: 95px;
	height: auto !important;
	overflow: hidden;
}

.product-grid .hiden
{
	position: absolute;
	top: -99999em;
	left: -99999em;
}

.product-block h3,
.product-block .name
{
	line-height: 18px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-weight: normal;		
	height: auto;
}

.name a,
.product-block h3 a
{
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: normal;
}

.price
{
	display: block;
	color: #f94b4b;
	margin: 0 0 10px 0;
	padding: 0;
	height: auto;
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
}

.price-tax
{
	display: block;
	font-size: 93%;
	display: none
}

.product-block .price span,
.product-info .price li.first
{
	color: #f94b4b;
}

.price-old
{
	text-decoration: line-through;
}

.product-block .rating
{
	display: block;
	margin-bottom: 15px;
}

.box-product:last-child
{
	border-bottom: 0;
}

.product-block > div
{
	margin: 0;
	padding: 0;
	text-align: center;
}

.product-block .product-block
{
	position: relative;
}

.product-block .colorbox.product-zoom
{
	position: absolute;
	z-index: 10;
	bottom: 20%;
	right: 42%;
	display: none;
}

.product-list .product-block .product-zoom
{
	bottom: 35%;
}

.product-list .image .label
{
	top: 15px;
}

.product-block .colorbox.product-zoom span
{
	font-size: 20px;
	color: #2e3039;
}

.product-block .image:hover .product-zoom
{
	display: block;
	z-index: 999999;
}

/** GRID PRODUCT STYLE **/





.product-grid .box-product
{
	border-bottom: solid 1px #EDF0F0;
	overflow: hidden;
}

.product-grid .box-product:last-child
{
	border: none;
}

.product-grid .product-block:after
{
	background: none repeat scroll 0 0 #EDF0F0;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	right: -5%;
	top: 0;
	width: 1px;
}

.product-grid .product-block:last-child:after
{
	background: none;
}

.product-grid .product-block .product-block:after
{
	background: none repeat scroll 0 0 #EDF0F0;
	content: "";
	display: block;
	height: 100%;
	right: -5%;
	position: absolute;
	top: 0;
	width: 1px;
}

.product-grid .item
{
	display: block;
}

.product-grid .item-hover
{
	display: block;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
	top: 23%;
}

.product-grid .wishlist
{
	right: 150%;
}

.product-grid .compare
{
	left: 150%;
}



.product-grid .product-inner:hover .wishlist,
.product-grid .product-inner:hover .compare
{
	top: 23%;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
}

.product-grid .product-inner:hover .wishlist
{
	right: 51%;
}

.product-grid .product-inner:hover .compare
{
	left: 51%;
}

.product-grid .img-overlay
{
	background: url("../image/overlay.png") repeat scroll 0 0 transparent;
	height: 100%;
	left: 0;
	position: absolute;
	top: -100%;
	width: 100%;
}

.product-grid .product-inner:hover .is-hover
{
	position: relative;
	z-index: 1;
}

.product-grid .product-inner:hover .product-zoom
{
	z-index: 1;
	display: block;
}

.product-grid .product-inner:hover .img-overlay
{
	left: 0;
	top: 0;
	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
}

.sidebar .product-inner:hover .img-overlay
{
	left: -99999em;
	top: -99999em;
}

.product-grid .product-inner:hover .button
{
	color: #fff;
}

/** LIST PRODUCT STYLE **/




.product-list
{
	margin: 0;
	padding: 0;
}

.product-list .product-inner
{
	border-right: 0;
	padding: 0;
	margin: 0;
	text-align: left;
	overflow: hidden;
}

.product-list .product-inner .span9
{
	padding: 25px 3% 0 5px;
}

.product-list .right
{
	float: right;
	margin-left: 15px;
}

.product-list .image
{
	margin: 0 20px 0 0;
	padding: 0 20px;
	vertical-align: middle;
	border-color: #EDF0F0;
	border-style: solid;
	float: left;
}

.product-list .image > a
{
	padding: 20px 0;
}

.product-list .name,
.product-list h3
{
	height: auto;
	line-height: normal;
	min-height: 25px;
}

#content .product-list .name,
#content .product-list h3
{
	margin-top: 15px;
	margin-bottom: 15px;
}

.product-list .is-over
{
	overflow: hidden;
}

.product-list .name a
{
	font-size: 18px;
	line-height: 18px;
}

.product-list .description
{
	margin-bottom: 15px;
	padding: 0;
	height: auto;
	min-height: 40px;
	line-height: 18px;
}

.product-list .rating
{
	padding: 10px 10px 0 0;
	float: left;
	margin: 0;
}

.product-list .price,
.product-list .price span
{
	color: #d54e58;
	line-height: 18px;
	font-size: 22px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.product-list .price
{
	float: left;
	padding: 10px 10px 0 0;
	width: auto;
}

.product-list .pav-group-button
{
	margin: 0;
	padding: 0;
	float: left;
	overflow: hidden;
}

.product-list .price-old
{
	text-decoration: line-through;
}

.product-list .cart
{
	float: left;
	margin: 0;
	padding: 0;
}

.product-list .wishlist
{
	margin-right: 3px;
	margin-left: 5px;
}

.product-list .wishlist,
.product-list .compare
{
	display: block;
	padding: 0;
	margin-top: 0;
	float: left;
}

.product-list .product-block
{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
}

.product-list .product-block
{
	border-bottom: 1px solid #EDF0F0;
}

/**
* LAYOUT SLIDEBAR ( left and right column)
*/

.sidebar .is-over,
.sidebar h3,
.sidebar h4
{
	overflow: hidden;
}

.sidebar .name,
.sidebar h3
{
	font-size: 14px;
	min-height: 25px;
}

.sidebar .product-block
{
	margin: 0;
	padding: 15px 8px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #EDF0F0;
	text-align: left;
	width: auto;
}

.sidebar .price
{
	margin-top: 5px;
	padding: 0;
}

.sidebar .price,
.sidebar .price span
{
	font-size: 12px;
	font-weight: bold;
}

.sidebar .rating
{
	margin-bottom: 0;
}

.sidebar .img-overlay,
.sidebar .description,
.sidebar .view-more,
.product-list .img-overlay
{
	position: absolute;
	top: -99999em;
	left: -99999em;
}

.sidebar .product-block:last-child
{
	border: none;
}

.sidebar .product-block:after
{
	position: absolute;
	left: -99999em;
	top: -99999em;
}

.sidebar .highlight h4{
	font-size: 15px;
	margin: 5px 0 10px;
}

.sidebar .product-inner
{
	padding: 0;
	text-align: left;
	overflow: hidden;
	position: static;
	left: 0;
	width: auto;
}

.sidebar .image
{
	text-align: left;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
}

.sidebar .image a
{
	padding: 0;
}

.sidebar .hiden
{
	position: absolute;
	top: -99999em;
	left: -99999em;
}

.sidebar .name a
{
	font-weight: normal;
	font-size: 100%;
}

/* Advertising Block */





.pav_advertising .box-content
{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	overflow: hidden;
}

.system
{
	width: 57%;
}

.tea
{
	width: 43%;
}

/****************/

/* box banner */






.box.pav-banner
{
	margin: 0;
}

.box.pav-banner a img
{
	width: 100%;
}

.pav-banner a
{
	display: block;
}

/* box category */

.black
{
	margin-top: -5px;
}

.black .box-heading
{	
	padding-top: 13px;
	padding-bottom: 13px;
	line-height: normal;
}

.black .box-content
{
	padding: 0;
}

.black ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.black ul li
{
	padding: 0 17px;
	color: #fff;
}

.black i
{
	margin-right: 5px;
}

.black ul > li + li
{
	border-top: 1px solid #3c4451;
}

.black ul > li > a
{
	font-size: 13px;
	line-height: 36px;
	text-decoration: none;
	outline: 0;
}

.black ul > li ul
{
	display: none;
	margin: 0 0 15px 25px;
}

.black ul > li a.active
{
	outline: 0;
}

.black ul > li a.active + ul
{
	display: block;
}

.black ul > li ul > li
{
	padding: 0;
	border: 0;
	margin: 0;
	line-height: normal;
}

.black ul > li ul > li > a
{
	line-height: 25px;
}

/* box filter */




ul.box-filter,
ul.box-filter ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.box-filter span
{
	border-width: 1px;
	border-style: solid;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}

ul.box-filter > li ul
{
	padding-bottom: 10px;
}

.resgister .buttons input[type="checkbox"]
{
	margin: -2px 5px 0;
}

.resgister .buttons .left
{
	height: 30px;
	line-height: 30px;
}

/* about us */




.about-us img
{
	float: left;
	margin-right: 2%;
}

/* content */




#content h1
{
	text-align: center;
	font-weight: normal;
}

#content .content
{
	padding: 15px;
	margin-bottom: 20px;
}

#content .content .left
{
	float: left;
	width: 49%;
}

#content .content .right
{
	float: right;
	width: 49%;
}

#content .login-content .content
{
	min-height: 255px;
	height: 255px;
	height: auto !important;
}

#content .box-heading,
.product-related .box-heading
{
	background: #2d333d;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: normal;
	float: left;
	margin: 0;
}

#tab a:hover
{
	color: #fff;
}

/********** CATEGORY PAGE *********/






.category-info
{
	margin: 10px 0;
	padding: 15px;
}

.category-list
{
	margin: 0 0 20px 0;
	padding: 10px 15px;
	border: solid 1px #EDF0F0
}

.category-list h2
{
	margin: 0 0 5px 0;
	padding: 0;
	line-height: normal;
	height: auto;
}

.category-list nav
{
	margin: 0;
	padding: 0;
}

.category-list ul
{
	margin: 0 20px 0 0;
	padding: 0;
}

/******** Manufacturer Page *******/




.manufacturer-list
{
	margin: 0;
	padding: 0;
	background: #FFF;
	margin-bottom: 20px;
	border: solid 1px #EDF0F0;
}

.manufacturer-heading
{
	font-size: 20px;
	padding: 10px;
	border-bottom: solid 1px #EDF0F0;
}

.manufacturer-content
{
	padding: 10px;
}

.manufacturer-list ul
{
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
}

p.pav-brand-title
{
	margin: 10px;
}

/************* Products Listing Page **************/






.product-filter
{
	margin: 0;
	padding: 12px 15px;
	border-bottom: solid 1px #EDF0F0;
}

.product-filter .display
{
	margin: 0;
	padding: 0;
}

.product-filter .display ul
{
	margin: 0;
	padding: 0;
}

.product-filter .display ul li
{
	list-style: none;
	float: left;
	line-height: 30px;
}

.product-filter .display ul li > *
{
	cursor: pointer;
	border: #EDF0F0 solid 1px;
	margin: 4px;
	padding: 6px;
}

.product-filter .display ul li.first > *
{
	border: none
}

.product-filter .display ul li > .active
{
	box-shadow: inset 0px 0px 6px #EDF0F0;
	-moz-box-shadow: inset 0px 0px 6px #EDF0F0;
	-webkit-box-shadow: inset 0px 0px 6px #EDF0F0;
	-ms-box-shadow: inset 0px 0px 6px #EDF0F0;
	-o-box-shadow: inset 0px 0px 6px #EDF0F0;
}

.product-filter select
{
	margin: 0 0 0 7px;
}

.product-filter .sort
{
	margin: 0;
	padding: 0;
}

.product-filter .limit
{
	margin: 0;
	padding: 0;
}

.product-filter .sort,
.product-filter .limit,
.product-filter .display
{
	float: left;
	line-height: 30px;
}

.product-filter .limit b,
.product-filter .display b
{
	margin: 0 0 0 10px;
}

.product-filter a
{
	color: #453e3c;
}

.product-filter .button
{
	color: #FFFFFF;
}

.product-compare
{
	margin: 0;
	padding: 0;
}

.product-compare a
{
	font-size: 14px;
	text-transform: none;
	color: #ffffff;
}

.search p
{
	margin-bottom: 10px;
}

.search .bottom-search
{
	margin: 10px 0 0 0;
}

.search .buttons
{
	margin-bottom: 10px;
}

.search input[type="text"],
.search input[type="checkbox"],
.search input[type="radio"]
{
	margin: 0;
}

.search .top-search label
{
	float: left;
	height: 30px;
	line-height: 30px;
}

/****** Product Page ******/




.product-info
{
	margin: 0 0 20px 0;
	padding: 0;
	position: relative;
}

.product-info .product-tool
{
	border-top: 1px solid #EDF0F0;
	border-bottom: 1px solid #EDF0F0;
}

.product-info .product-tool > div
{
	padding: 8px 20px
}

.product-info a
{
	color: #858687;
}

.product-info ul
{
	list-style: none;
}

.product-info .image
{
	margin: 0;
	padding: 0;
	outline: 0;
}

.image .label
{
	left: 15px;
	top: 0;
}

.product-label-special
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	color: #FFF;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	z-index: 10;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	width: 49px;
	height: 49px;
	background: url("../image/sale-lable.png") no-repeat 0 0 transparent;
}

.product-label-special span
{
	float: left;
	padding: 15px 10px;
}

.image-additional .carousel-control
{
	cursor: pointer;
	font-size: 21px;
	height: 20px;
	line-height: 17px;
	top: 60%;
	width: 20px;
	display: none;
}

.image-additional:hover .carousel-control
{
	display: block;
}

.product-info .quantity-adder
{
	position: relative;
	padding-right: 8px;
	margin-right: 10px;
}


.quantity-adder .buttons-adjust-qty {
	width:20px;
	height:30px;
	position: absolute;
	top:0;
	right:-20px;
}
.quantity-adder .add-action {
	width:100%;
	padding:0;
	cursor: hand;
	cursor: pointer;
	top: 0;
	font-size: 8px;
}


.content-info
{
	position: relative;
}

.content-info:before
{
	content: "";
	width: 1px;
	height: 100%;
	background: #edf0f0;
	position: absolute;
	top: 0;
	left: 0;
}


.image-container .image
{
	position: relative;
}

.product-info .product-label-special
{
	top: 0;
	right: 0px;
	margin: 5px 0 0 15px;
}

.zoomWindow
{
	border: solid 2px #EDF0F0!important;
}

.content-info
{
	border-width: 0;
}

.product-info .image:after
{
	content: "";
	height: 1px;
	width: 105%;
	display: block;
	background: #edf0f0;
}

.product-name
{
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	padding: 16px 20px;
	height: auto;
}

.view-tabs h1,
.view-tabs .h1,
.view-tabs h2,
.view-tabs .h2,
.view-tabs h3,
.view-tabs .h3,
.view-tabs h4,
.view-tabs .h4,
.view-tabs h5,
.view-tabs .h5,
.view-tabs h6,
.view-tabs .h6
{
	font-weight: normal;
}

#content .product-name
{
	text-align: left;
}

.product-info .image a
{
	display: block;
	margin: 12px 0 0 5%;
}

.product-info .image a img
{
	width: 100%;
	outline: 0;
}

.image-additional
{
	margin: 0;
	padding: 0;
}

.image-additional img
{
	margin: 0;
	padding: 0;
	outline: 0;
}

.image-additional a
{
	float: left;
	display: block;
	margin-left: 7px;
	text-align: center;
}

.image-additional a img
{
	padding: 3px;
	-webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-ms-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}

.image-additional a img:hover
{
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.product-info .description
{
	margin: 0;
	padding: 10px 20px;
}

.product-info .price
{
	padding: 0 20px 15px;
	font-weight: normal;
	
}

.product-info .price .discount{
	font-size: 12px;
}

.product-info .price-label,
.product-info .price-new,
.product-info .price-old,
.product-info .price li.first
{
	font-size: 22px;
	line-height: 40px;
}

.price-old
{
	text-decoration: line-through;
}

.price .highlight
{
	color: #cd4c56;
}

.product-info .options input[type="radio"],
.product-info .options input[type="checkbox"]
{
	margin: -1px 0 0;
	padding: 0;
}

.product-info .options input[type="text"],
.product-info .options input[type="textarea"]
{
	margin: 0;
}

.product-info .options
{
	margin: 0;
	padding: 20px;
}

.product-info .options .option
{
	margin: 0 0 10px 0;
	padding: 0;
}

.product-info .options .option p
{
	margin: 5px 0;
}

.l-option
{
	font-size: 16px;
	height: auto;
	line-height: normal;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}

.price-label
{
}

.price-new
{
}

.price-old
{
}

.product-info .option-image
{
	margin-top: 3px;
	margin-bottom: 10px;
}

.product-info b,
.view-tabs b
{
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
}

.tab-content
{
	overflow: inherit;
	margin: 0;
	padding: 20px 2.5%;
}

.tab-content ul
{
	list-style: none;
}

.tab-content font
{
	font-family: Helvetica, Arial, sans-serif;
}

.product-info .option-image img
{
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

.product-info .cart
{
	margin: 0;
	padding: 0;
}

.product-info .pav-group-button
{
	padding: 20px;
}

#tab-attribute .attribute
{
	border-color: #edf0f0;
}

input.quantity
{
	margin: 0;
	width: auto;
	z-index: 10;
	position: relative;
}

.product-info .cart div > span
{
	color: #999;
}

.product-info .cart .links
{
	vertical-align: middle;
}

.product-info .minimum
{
	outline-style: none;
	padding: 0 15px 20px;
}

.product-info a.button,
.product-info input.button
{
	margin: 0 0 0 8px;
}

.product-info .review
{
	margin: 0;
	padding: 0;
}

.product-info .review > div img
{
	outline: 0;
}

.product-info .review > div a
{
	cursor: pointer;
}

.product-info .review .share a
{
	text-decoration: none;
}

.review-list
{
	padding: 10px;
	margin-bottom: 10px;
	border: solid 1px #EDF0F0
}

.review-list .author
{
	float: left;
	margin-bottom: 15px;
}

.review-list .rating
{
	float: right;
	margin-bottom: 15px;
}

.review-list .text
{
	clear: both;
}

.attribute
{
	border-collapse: collapse;
	width: 100%;
	border-width: 1px 0 0 1px;
	border-style: solid;
	margin-bottom: 0;
}

.attribute thead td,
.attribute thead tr td:first-child
{
	color: #2e3039;
	font-size: 14px;
	background: #F5F5F5;
	text-align: left;
}

.attribute tr td:first-child
{
	color: #2e3039;
	text-align: right;
}

.attribute td
{
	padding: 7px;
	color: #4D4D4D;
	vertical-align: top;
	border-width: 0 1px 1px 0;
	border-style: solid;
}

.compare-info
{
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
}

.content .compare-info
{
	margin-bottom: 20px;
}

.compare-info thead td,
.compare-info thead tr td:first-child
{
	color: #2e3039;
	font-size: 14px;
	background: #F5F5F5;
	text-align: left;
}

.compare-info tr td:first-child
{
	color: #2e3039;
	text-align: right;
}

.compare-info td
{
	padding: 7px;
	color: #4D4D4D;
	vertical-align: top;
	border-width: 0 1px 1px 0;
	border-style: solid;
}

.compare-info .price-old
{
	color: #f94b4b;
	text-decoration: line-through;
}

/* wishlist */


.wishlist-info thead .name,
.wishlist-info thead .model,
.wishlist-info thead .stock
{
	text-align: left;
}

.wishlist-info thead .quantity,
.wishlist-info thead .price,
.wishlist-info thead .total,
.wishlist-info thead .action
{
	text-align: right;
}

.wishlist-info tbody .image img
{
	outline: none;
}

.wishlist-info tbody .name,
.wishlist-info tbody .model,
.wishlist-info tbody .stock
{
	text-align: left;
}

.wishlist-info tbody .quantity,
.wishlist-info tbody .price,
.wishlist-info tbody .total,
.wishlist-info tbody .action
{
	text-align: right;
}

.wishlist-info tbody .price
{
	color: #f94b4b;
}

.wishlist-info tbody .action img
{
	cursor: pointer;
}

.login-content
{
	margin-bottom: 20px;
}

#content .login-content .inner > h2,
#content .inner form > h2,
#content form .inner > h2
{
	text-align: left;
	padding: 8px 12px;
	height: auto;
	line-height: normal;
}

.login-content .left .content,
.login-content .right .content
{
	min-height: 190px;
}

/* orders */






.order-list
{
	margin-bottom: 10px;
}

.order-list .order-id
{
	width: 49%;
	float: left;
	margin-bottom: 2px;
}

.order-list .order-status
{
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}

.order-list .order-content
{
	padding: 10px 0px;
	width: 100%;
	margin-bottom: 20px;
	border-width: 1px 0 1px 0;
	border-style: solid;
}

.order-list .order-content div
{
	float: left;
	width: 33.3%;
}

.order-list .order-info
{
	text-align: right;
}

.order-detail
{
	background: #EFEFEF;
}

/* returns */






.return-list
{
	margin-bottom: 10px;
}

.return-list .return-id
{
	width: 49%;
	float: left;
	margin-bottom: 2px;
}

.return-list .return-status
{
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}

.return-list .return-content
{
	padding: 10px 0px;
	width: 100%;
	margin-bottom: 20px;
	border-width: 1px 0 1px 0;
	border-style: solid;
}

.return-list .return-content div
{
	float: left;
	width: 33.3%;
}

.return-list .return-info
{
	text-align: right;
}

.return-product
{
	margin-bottom: 20px;
}

.return-detail
{
	margin-bottom: 20px;
}

.return-opened textarea
{
	vertical-align: top;
}

.return-captcha
{
	float: left;
}

.download-list
{
	margin-bottom: 10px;
}

.download-list .download-id
{
	width: 49%;
	float: left;
	margin-bottom: 2px;
}

.download-list .download-status
{
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}

.download-list .download-content
{
	padding: 10px 0px;
	width: 100%;
	margin-bottom: 20px;
	border-width: 1px 0 1px 0;
	border-style: solid;
}

.download-list .download-content div
{
	float: left;
	width: 33.3%;
}

.download-list .download-info
{
	text-align: right;
}

#payment-address .buttons
{
	margin-bottom: 0;
}

/* success*/






.pav-success
{
	padding: 15px;
	margin-bottom: 20px;
}

/* cart */






.table th,
.table td
{
	border: solid 1px #EDF0F0;
}
}

.cart-info table
{
	margin-bottom: 15px;
	border: solid 1px #EDF0F0;
}

.cart-info td
{
	padding: 7px;
}

.cart-info thead td
{
	color: #4D4D4D;
	background-color: #F5F5F5;
	border-width: 0 0 1px 0;
	border-style: solid;
}

.cart-info thead .name,
.cart-info thead .model,
.cart-info thead .quantity
{
	text-align: left;
}

.cart-info thead .price,
.cart-info thead .total
{
	text-align: right;
}

.cart-info tbody .image img
{
	margin: 0;
	padding: 0;
}

.cart-info tbody .name,
.cart-info tbody .model,
.cart-info tbody .quantity
{
	text-align: left;
}

.cart-info tbody .quantity input[type='image']
{
	margin-right: 4px;
}

.cart-info tbody .quantity input[type='image'],
.cart-info tbody .quantity img
{
	position: relative;
	top: 8px;
	cursor: pointer;
	float: left;
}

.cart-info tbody .price,
.cart-info tbody .total
{
	text-align: right;
}

.cart-info tbody span.stock
{
	color: #F00;
}

.cart-module > div
{
	display: none;
}

.cart-total
{
	padding: 10px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
}

.cart-total table
{
	float: right;
}

.cart-total td
{
	padding: 3px;
	text-align: right;
}

/* checkout */






.checkout-heading
{
	border: solid 1px #EDF0F0;
	padding: 15px 8px;
	font-size: 100%;
	color: #2D333D;
	margin-bottom: 15px;
}

.checkout-heading a
{
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}

.checkout-content
{
	padding: 15px;
	display: none;
	margin-bottom: 20px;
	border: solid 1px #EDF0F0;
}

.checkout-content .content
{
	min-height: 275px;
	height: 275px;
	height: auto !important;
}

.checkout-content .buttons
{
	clear: both;
}

.checkout-product table
{
	width: 100%;
	border: 1px solid #EDF0F0;
	margin-bottom: 20px;
}

.checkout-product td
{
	padding: 7px;
}

.checkout-product thead td
{
	color: #4D4D4D;
	background-color: #F5F5F5;
	border: 1px solid #EDF0F0;
}

.checkout-product thead .name,
.checkout-product thead .model
{
	text-align: left;
}

.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total
{
	text-align: right;
}

.checkout-product tbody td
{
	vertical-align: top;
	border: 1px solid #EDF0F0
}

.checkout-product tbody .name,
.checkout-product tbody .model
{
	text-align: left;
}

.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total
{
	text-align: right;
}

.checkout-product tfoot td
{
	text-align: right;
	border: 1px solid #EDF0F0
}

.sitemap-info
{
	padding: 2%;
	border-width: 1px;
	border-style: solid;
}

.sitemap-info nav > ul li
{
	list-style: disc inside none;
}

.sitemap-info nav ul ul
{
	margin: 0 0 0 7%;
}

.sitemap-info nav ul ul li
{
	list-style: circle inside none;
}

.sitemap-info nav ul ul ul li
{
	list-style: square inside none;
}

.affiliate-login .description
{
	padding: 15px;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 20px;
}

.forgot .table.form
{
	margin: 0;
}

.table tbody + tbody
{
	border-top: 0px;
}

/* banner */






.banner div
{
	width: 100%;
	display: none;
}

.banner div img
{
	outline-style: none;
}

/* Account */






.account-transaction table.list
{
	margin-bottom: 20px;
}

.account-transaction .pagination
{
	background-color: transparent;
	margin-bottom: 20px;
}

.account-transaction .pagination .results
{
	margin: 0;
}

.address table td
{
	border: 0;
}

.address h2
{
	text-align: center;
}

/* Tags */






.tags
{
	margin: 10px 0;
}

/* Background body */






.pattern1
{
	background: url(../image/pattern/pattern1.png);
}

.pattern2
{
	background: url(../image/pattern/pattern2.png);
}

.pattern3
{
	background: url(../image/pattern/pattern3.png);
}

.pattern4
{
	background: url(../image/pattern/pattern4.png);
}

.pattern5
{
	background: url(../image/pattern/pattern5.png);
}

.pattern6
{
	background: url(../image/pattern/pattern6.png);
}

.pattern7
{
	background: url(../image/pattern/pattern7.png);
}

.pattern8
{
	background: url(../image/pattern/pattern8.png);
}

.pattern9
{
	background: url(../image/pattern/pattern9.png);
}

.pattern10
{
	background: url(../image/pattern/pattern10.png);
}

.pattern11
{
	background: url(../image/pattern/pattern11.png);
}

.pattern12
{
	background: url(../image/pattern/pattern12.png);
}

.pattern13
{
	background: url(../image/pattern/pattern13.png);
}

.pattern14
{
	background: url(../image/pattern/pattern14.png);
}

.pattern15
{
	background: url(../image/pattern/pattern15.png);
}

.pattern16
{
	background: url(../image/pattern/pattern16.png);
}

.i-street
{
	background-position: -351px -45px;
}

.i-phone
{
	background-position: -379px -45px;
}

.i-fax
{
	background-position: -408px -44px;
}

.i-facebook
{
	background-position: -18px -259px;
}

.i-twitter
{
	background-position: -60px -259px;
}

.i-youtube
{
	background-position: -102px -259px;
}

.i-google
{
	background-position: -145px -259px;
}

.i-linkedin
{
	background-position: -187px -258px;
}

/* footer */




.footer .highlight
{
	background: #2D333D;
}

#f-social li
{
	float: left;
}

#f-social a
{
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 0 4px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	background: #e5ecea;
	color: #2d333d;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

#f-social a:after
{
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#f-social a:before
{
	speak: none;
	font-size: 25px;
	line-height: 34px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

/* Effect */




#f-social a:hover,
#f-social a:focus
{
	text-decoration: none;
}

.l-text
{
	line-height: normal;
	margin-top: -2px;
}

.subcat
{
	margin-top: 10px;
}

.cart h3
{
	margin: 0 15px 0 0;
}

.page-common-home .content
{
	margin-bottom: 0;
}

/*  Off canvas Menu */


#off-canvas-nav .home a{
	background-image: none;
}


.off-canvas body{
	position: relative;
	overflow-x: hidden;
}
.off-canvas  body > * {
	transition:transform 400ms ease 0s;
	-webkit-transition:transform 400ms ease 0s;
}

body.off-canvas-active  > * {
	transform:translateX(270px);
	-webkit-transform:translateX(270px)
}

#off-canvas-nav {
	position: absolute;
	left: 0;
	top: 0;
	width:0;
	height:100%;
	backface-visibility: hidden;
}

#off-canvas-nav .pavo-mainnav{
	position:absolute;
	top:0;
	left:-270px;
	width: 270px;
	padding: 0;
	height:100%;	
	
	overflow: hidden;
	-webkit-transition: all 0.25s ease-in 0s;
	-moz-transition: all 0.25s ease-in 0s;
	-ms-transition: all 0.25s ease-in 0s;
	-o-transition: all 0.25s ease-in 0s;
	transition: all 0.25s ease-in 0s;
	background: #333;
}
.pavo-mainnav > ul > li {
	margin: 0;
	padding: 10px 20px;
	border-bottom: 1px solid #464545;
}

#off-canvas-nav .mega-cols
{
	width: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

#off-canvas-nav .dropdown-menu
{
	position: relative;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	float: none;
	box-shadow: none;
	margin-left: 20px;
	background-color: transparent;
	padding: 0;
	width: auto;
}

#off-canvas-nav .dropdown-menu a
{
	font-size: 12px;
	font-weight: normal;
}

#off-canvas-nav .mega-col
{
	display: block;
	width: 100%;
	margin: 0;
	position: relative;
}

#off-canvas-nav img
{
	width: 100%;
}

#off-canvas-button
{
	padding: 20px;
	border-bottom: 1px solid #464545;
}

#off-canvas-button span
{
	font-weight: normal;
	font-size: 200%;
	cursor: pointer;
	color: #fff;
}

#off-canvas-nav ul li
{
	margin: 0;
	line-height: 30px;
}

#off-canvas-nav .caret
{
	position: absolute;
	left: -99999em;
	top: -99999em;
}

#off-canvas-nav ul li a
{
	color: #FFFFFF;
	display: inline;
	text-transform: uppercase;
	line-height: normal;
	font-size: 14px;
	font-weight: bold;
}

.pavo-mainnav > ul > li > a
{
	text-transform: uppercase;
}

#off-canvas-nav .dropdown-toggle .caret
{
	border: 0px;
	margin: 0;
	padding: 0;
	right: 0;
	background-image: url("../image/arrow_menu.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 15px;
	height: 15px;
	display: block;
}

#off-canvas-nav ul li a:hover
{
	background-color: transparent;
}

#off-canvas-nav .pav-menu-video h3,
#off-canvas-nav .pav-menu-video p
{
	color: #fff;
}

#off-canvas-nav li > a:hover,
.nav > li > a:focus
{
	background-color: transparent;
}

/* End Off Canvas Menu */
