/* Large desktop */
@media (min-width: 1200px) {
 
}

/*Ipad landscape*/
@media (min-width: 940px)  {
	
	body.off-canvas-active  > * {
		transform:translateX(0px)!important;
	}
	#off-canvas-nav{
		display:none
	}

}

/*Ipad Portrait*/   
@media (min-width: 768px) and (max-width: 979px) {
.pav-menu-wrapper, .navbar .btn-navbar { border: 0; }
.navbar .nav > li > a { float: none; }
.navbar .nav > li > a, .navbar .nav > li.home a, .nav-collapse .nav, .nav-collapse .dropdown-menu, #header .nav-collapse .nav li a b.caret, #header .nav-collapse .dropdown-menu a b.caret, .nav-collapse .dropdown-menu li + li a { margin: 0; }
#header .nav-collapse .nav li a b.caret, #header .nav-collapse .dropdown-menu a b.caret { display: -moz-inline-stack; display: inline-block; zoom: 1;  *display: inline;
}
/* ============ */
h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }
.product-list .product-inner .span9 { padding: 15px 0; }
.product-grid .box-product .description { min-height: 130px; }
.product-filter { padding-left: 3px; padding-right: 3px; }
.pav-custom .box-content h3 { line-height: 20px; font-size: 13px; }
.pav-sample-block p { margin: 10px 0 0; }
#header #search { margin: 20px 0; }
#header .pav-header-top p, #header #links ul li { line-height: 30px; }
ul.box-category > li > a, ul.box-account > li > a, ul.box-affiliate > li > a { font-size: 96%; }
#column-left .box .box-product .name a, #column-right .box .box-product .name a, .box-product .price, .box-product .name a, .product-compare a, .product-list .price, .product-list .price span { font-size: 12px; }
#column-left .box .box-product .image, #column-right .box .box-product .image { width: 45%; }
.box .box-heading { font-size: 15px; }
.pavcontentslider h1, .pavcontentslider h2, .pavcontentslider h3, .pavcontentslider h4, .pavcontentslider h5, .pavcontentslider h6, .pavcontentslider h1 b, .pavcontentslider h2 b, .pavcontentslider h3 b, .pavcontentslider h4 b, .pavcontentslider h5 b, .pavcontentslider h6 b { font-size: 40px; }
.pavcontentslider h1 span, .pavcontentslider h2 span, .pavcontentslider h3 span, .pavcontentslider h4 span, .pavcontentslider h5 span, .pavcontentslider h6 span { font-size: 60px; }
.pavcontentslider p { padding: 5px 0; }
.box.pav_advertising article h3 { font-size: 15px; }
.content-bottom .box .box-heading, .content-top .box .box-heading, .product-related.box .box-heading, .nav-tabs > li > a { font-size: 14px; }
ul.box-category > li ul > li > a, ul.box-account > li ul > li > a, ul.box-affiliate > li ul > li > a { font-size: 11px; }
/* product */
.product-grid .box-product .product-inner { width: 88%; left: -7%; }
/* footer */
#footer .pav-footer-top article h3 { font-size: 20px; }
#footer .pav-footer-top article p { margin: 0 0 0 35%; }
#footer .pav-footer-top article[class*="span"] { padding-left: 1%; padding-right: 1%; }
ul.box-category > li, ul.box-account > li, ul.box-affiliate > li { padding-left: 10px; padding-right: 10px; }
.box.pav_advertising { margin-top: 15px; }
/* Navigation */
.navbar .btn-navbar { background-image: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; text-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; -ms-text-shadow: none; -o-text-shadow: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; -khtml-border-radius: 0; float: left; margin: 15px 10px 16px; }
.navbar .btn-navbar .icon-bar { background-color: #FFFFFF; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; text-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; -ms-text-shadow: none; -o-text-shadow: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; -khtml-border-radius: 0; }
.nav-collapse .nav { overflow: hidden; margin-bottom: 7px; }
.navbar .nav > li.home a { text-indent: inherit; width: auto; height: auto; background: none; padding: 9px 15px; background-image: none; background-color: rgba(150,143,143,0.3); }
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, #header .dropdown-menu .mega-col > ul > li > a { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 9px 15px; line-height: normal; font-size: 105%; display: block; color: #FFFFFF; font-weight: normal; background-color: rgba(150,143,143,0.3); }
#header .megamenu li a:hover { color: #FFFFFF !important; background-color: #47af99 !important; background-image: none !important; }
#header .megamenu li a { background-color: rgba(150, 143, 143, 0.3) !important; margin-bottom: 3px; display: block !important; background-image: none !important; }
#header .nav-collapse .nav li a b.caret, #header .nav-collapse .dropdown-menu a b.caret { background-color: transparent; border: 0 none; float: right; height: 13px; line-height: 13px; padding: 0; width: 13px; background-image: url("../image/submenu.png"); background-repeat: no-repeat; background-position: 0 0; }
#header .nav li.dropdown.open .caret, #header .nav li.dropdown.open.active .caret, #header .nav li.dropdown.open a:hover .caret, #header .nav li.dropdown.open a:focus .caret { background-position: 0 -13px; }
.megamenu [class^="cols"], [class*="cols"] {
min-width: 100% !important;
width: 100% !important;
margin: 0 !important;
}
.nav-collapse .nav > li { margin: 0 10px 3px; }
#header .pav-menu-video { margin-top: 10px; }
.nav-collapse .nav > li > a:hover, #header .nav-collapse .nav > li > a:hover, #header .dropdown-menu .mega-col > ul > li > ul > li > a:hover, #header .collapse > ul > li > ul > li > a:hover, #header a.dropdown-toggle:hover, #header .dropdown-menu .mega-col ul > li > ul > li a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus, .navbar .nav > li.home a:hover, #header .dropdown-menu .mega-col ul > li > a:hover { background-color: #47af99; }
.nav-collapse .dropdown-menu li, nav .dropdown-menu li.mega-group .dropdown-mega li { margin-bottom: 3px; }
.dropdown-menu ul.level1, .megamenu ul li.mega-group, .nav-collapse .dropdown-menu li.first { margin-top: 3px; }
#header .dropdown-menu > li > a:link, #header .dropdown-menu > li > a:visited { line-height: normal; padding: 9px 20px; color: #FFFFFF; }
#header .dropdown-menu .mega-col ul > li > a { padding-left: 20px; text-transform: none; color: #FFFFFF; }
#header .dropdown-menu .mega-col ul > li > ul > li a { padding-left: 30px; }
#header .dropdown-menu .mega-col ul > li > ul > li > ul > li a { padding-left: 40px; }
.megamenu p, .megamenu h3 { color: #FFFFFF; }
.megamenu .row-fluid [class*="span"] { width: 100%; margin: 0; float: none; }
.megamenu .row-fluid [class*="span"] img { width: 100%; }
.megamenu h3 { margin: 10px 0; }
.pav-menu-video iframe { height: 400px; }
}

/* Iphone 5 landscape */
@media(max-width:767px) {
/* border none */
.pav-menu-wrapper, .navbar .btn-navbar { border: 0; }
/* float: none */
#header .pav-header-top p, header .pav-header-top nav, #header #links ul li, #powered .payment, #header .pav-header-top .span3 > div, #header .pav-header-top .span3 > span, #header #logo, #header #cart, #header #search, .navbar .nav > li > a, .product-filter .filter, table td, table th, .product-list .rating, .product-list div.price { float: none; }
/* text-align: center */
#header .pav-header-top p, .product-list .pav-group-button, header .pav-header-top nav, #powered .payment, #header .pav-header-top .span3, #powered address, #header #logo, #header .pav-header-center .span6 + .span6, .breadcrumb, .product-filter, .product-list .box-product .product-inner { text-align: center; }
/* margin: 0 */
header .pav-header-top nav, #footer .pav-footer-top article img, .nav-collapse .nav, .navbar .nav > li > a, .navbar .nav > li.home a, #header #cart, #header .nav-collapse .nav li a b.caret, #header .nav-collapse .dropdown-menu a b.caret, .nav-collapse .dropdown-menu li + li a, #header #cart, .nav-collapse .dropdown-menu, table, table .price, .mini-cart-total table, table.radio td, table.radio tr td:first-child input { margin: 0; }
/* height: auto */
#header .pav-header-top p, #header #links ul li, #header .pav-header-top p { line-height: normal; height: auto; }
/* display: inline-block */
#header .pav-header-top .span3 > div, #logo a, #header #links ul li, #header #cart, #header #search, #header .nav-collapse .nav li a b.caret, #header .nav-collapse .dropdown-menu a b.caret { display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline;
}
/* ============ */
body { font-size: 13px; }
#header .pav-header-top p { margin: 5px 0; }
#header #links ul li { padding: 3px 5px; }
#header .pav-header-top .span3 > div { margin-top: 7px; }
#header .pav-header-top .span3 > span { margin-top: 5px; margin-left: 5px; margin-right: 5px; }
#header #logo { margin: 20px 0 0; }
#header #cart { margin: 10px 0 0; text-align: left; }
#header #search { margin: 10px 0; }
.box.pav_advertising article h3 { font-size: 140%; }
.product-filter .filter { overflow: hidden; }
.product-compare { margin: 10px 0 0 0; }
/* ============ */    

/* Navigation */
.navbar .btn-navbar { background-image: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; text-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; -ms-text-shadow: none; -o-text-shadow: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; -khtml-border-radius: 0; float: left; margin: 15px 10px 16px; }
.navbar .btn-navbar .icon-bar { background-color: #FFFFFF; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; text-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; -ms-text-shadow: none; -o-text-shadow: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; -khtml-border-radius: 0; }
.nav-collapse .nav { overflow: hidden; margin-bottom: 7px; }
.navbar .nav > li.home a { text-indent: inherit; width: auto; height: auto; background: none; padding: 9px 15px; background-image: none; background-color: rgba(150,143,143,0.3); }
.nav-collapse .nav > li > a, #header .dropdown-menu > li > a:link, #header .dropdown-menu > li > a:visited, .nav-collapse .dropdown-menu a, #header .dropdown-menu .mega-col ul > li > ul > li a, #header .dropdown-menu .mega-col > ul > li > a, #header a.dropdown-toggle { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 9px 15px; line-height: normal; font-size: 105%; display: block; color: #FFFFFF; font-weight: normal; background-color: rgba(150,143,143,0.3); }
#header a.dropdown-toggle { margin-bottom: 3px; }
#header .nav-collapse .nav li a b.caret, #header .nav-collapse .dropdown-menu a b.caret { background-color: transparent; border: 0 none; float: right; height: 13px; line-height: 13px; padding: 0; width: 13px; background-image: url("../image/submenu.png"); background-repeat: no-repeat; background-position: 0 0; }
#header .dropdown-menu .mega-col ul > li > ul > li a:hover, #header .dropdown-menu > li > a:link, #header .dropdown-menu > li > a:visited { background-image: none; }
#header .nav li.dropdown.open .caret, #header .nav li.dropdown.open.active .caret, #header .nav li.dropdown.open a:hover .caret, #header .nav li.dropdown.open a:focus .caret { background-position: 0 -13px; }
.megamenu [class^="cols"], [class*="cols"] {
 min-width: 100% !important;
 width: 100% !important;
 margin: 0 !important;
}
.nav-collapse .nav > li { margin: 0 10px 3px; }
#header .pav-menu-video { margin-top: 10px; }
.nav-collapse .nav > li > a:hover, #header .dropdown-menu .mega-col > ul > li > ul > li > a:hover, #header .collapse > ul > li > ul > li > a:hover, #header .dropdown-menu > li > a:hover, #header a.dropdown-toggle:hover, .nav-collapse .nav > li > a:focus, #header .dropdown-menu .mega-col ul > li > ul > li a:hover, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus, .navbar .nav > li.home a:hover, #header .dropdown-menu .mega-col ul > li > a:hover, #header .dropdown-menu .mega-col ul > li > ul > li a:hover { background-color: #47af99; }
.nav-collapse .dropdown-menu li, nav .dropdown-menu li.mega-group .dropdown-mega li { margin-bottom: 3px; }
.dropdown-menu ul.level1, .megamenu ul li.mega-group, .nav-collapse .dropdown-menu li.first { margin-top: 3px; }
#header .dropdown-menu > li > a:link, #header .dropdown-menu > li > a:visited { line-height: normal; padding: 9px 20px; color: #FFFFFF; }
#header .dropdown-menu .mega-col ul > li > a { padding-left: 20px; text-transform: none; color: #FFFFFF; }
#header .dropdown-menu .mega-col ul > li > ul > li a { padding-left: 30px; }
#header .dropdown-menu .mega-col ul > li > ul > li > ul > li a { padding-left: 40px; }
.megamenu p, .megamenu h3 { color: #FFFFFF; }
.breadcrumb { padding: 0; margin-bottom: 10px; }
#column-left .box .row-fluid [class*="span"], #column-right .box .row-fluid [class*="span"] { padding-top: 30px; padding-bottom: 30px; }
.box-product .product-block { border-bottom: 1px solid #EDF0F0; }
.box-product .product-block:last-child { border-bottom: 0; }
.box-product .name, .content-top .box-product .name, .content-bottom .box-product .name { min-height: 40px; }
.box-product .description, .content-top .product-grid .box-product .description, .content-bottom .product-grid .box-product .description { min-height: 50px; }
/*Table*/
table { width: 100%; }
table td, table th { display: block; text-align: left !important; vertical-align: middle !important; overflow: hidden; }
table span.phone { font-size: 13px; float: left; }
table td .avg-right { text-align: right; float: right; }
table td.quantity span.phone { padding: 5px 10px 0 0; }
table.radio tr td:first-child { width: auto; }
table td.name { height: auto; }
#header .nav-collapse .nav > li > a:hover { color: #FFFFFF !important; }
.dropdown-menu > li > a:link, .dropdown-menu > li > a:visited { display: block; }
#header .dropdown-menu .mega-col ul > li > ul > li a { background-image: none; }
/* ====================================================================================== */
    /*Footer*/    
#footer .pav-footer-top article[class*="span"] { padding: 0 12px; min-height: 140px; height: 140px; height: auto; }
#footer .pav-footer-top article h3 { font-size: 170%; }
#footer .pav-footer-top article p { margin: 0 0 0 30%; }
#footer .pav-footer-top article[class*="span"]:before { width: 0; }
#footer .footer-center, #powered { padding: 10px 12px; }
#powered address { line-height: 2em; }
#footer .pav-footer-top article ul { margin: 20px 0; }
#footer .pav-footer-top article p { margin: 0 0 0 15%; }
/* ============ */
#header #cart .content { right: -67px; width: 237px; }
.pav-header-center .row-fluid > .span6 + .span6 { margin-top: 10px; }
#header #cart { margin: 0 10px 10px 0; }
.box.pav_advertising article h3 { font-size: 180%; }
.product-list .product-inner .span9 { padding: 0 5%; }
.product-list .name { margin-bottom: 0 !important; }
.product-list .rating { padding: 15px 0; }
.product-list div.price { padding: 0; }
.product-list .pav-group-button { margin-bottom: 20px; }
.product-list .pav-group-button { margin: 0 25% 20px; }
.product-list .name a { font-size: 18px; }
.product-info .row-fluid .span5:after { display: none; }
}

/* Iphone 4 landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {
h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
/* ========== */
.product-list .name a { font-size: 16px; }
.box-product .name, .content-top .box-product .name, .content-bottom .box-product .name { min-height: 35px; }
.box-product .description, .content-top .product-grid .box-product .description, .content-bottom .product-grid .box-product .description { min-height: 30px; }
#footer .pav-footer-top article p { margin: 0 0 0 20%; }
.pav-header-center .row-fluid > .span6 + .span6 { margin-top: 10px; }
#header #cart { margin: 0 10px 10px 0; }
#header #cart .content { right: -160px; width: 300px; }
.box.pav_advertising article h3 { font-size: 170%; }
.product-list .image { border-right: 0; }
.product-grid .box-product .name { min-height: 30px; }
.product-grid .box-product .description { min-height: 50px; }
}
   
/* Iphone 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
h1 { font-size: 17px; }
h2 { font-size: 15px; }
h3 { font-size: 13px; }
h4 { font-size: 12px; }
h5 { font-size: 10px; }
h6 { font-size: 8px; }
/* ============= */
.product-list .name a { font-size: 15px; }
.nav-tabs > li > a { padding-left: 10px; padding-right: 10px; }
.product-filter .limit, .product-filter .display { margin-top: 10px; }
.box-product .name, .content-top .box-product .name, .content-bottom .box-product .name { min-height: 30px; }
.box-product .description, .content-top .product-grid .box-product .description, .content-bottom .product-grid .box-product .description { min-height: 40px; }
#footer .pav-footer-top article p { margin-left: 30%; }
#header #cart .content { width: 240px; right: -61px; }
.product-list .pav-group-button { margin: 0 10% 20px; }
.htabs a { padding-left: 7px; padding-right: 7px; font-size: 12px; }
.box.pav_advertising article h3 { font-size: 140%; }
.product-info .button { padding-left: 8px; padding-right: 8px; }
.content-bottom .box .box-heading, .content-top .box .box-heading, .product-related.box .box-heading, .nav-tabs > li > a { font-size: 12px; }
.product-list .price, .product-list .price span { font-size: 18px; }
}
