/*------------------------------------------------------------------
[Table of contents]
1. Styles for devices(>1200px)
2. Styles for devices(>=992px and <=1199px)
3. Styles for devices(>=768px and <=992px)
4. Styles for devices(>=481px and <=767px)
5. Styles for devices(<=480px)
-------------------------------------------------------------------*/
/*----------------
[1. Styles for devices(>1200px)]
*/
@media (min-width: 1201px){
}
/*----------------
[2. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
	
}
/*--------------------
[3. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
	.advanced-search .search-category{
		width: 30px;
	}
	.advanced-search #category-select-button{
		width: 30px!important;
		min-width: 30px;
	}
	.advanced-search #category-select-button span.ui-selectmenu-text{
		display: none;
	}
	.main-header-banner{
		display: none;
	}
	.main-menu .navbar-nav>li>a{
		padding: 0 10px;
		font-size: 13px;
	}
	.block .block-head{
		padding-left: 5px;
		padding-right: 5px;
	}
	.block-category .nav-tab>li>a{
		padding: 0 5px;
	}
	.sortPagiBar .pagination{
		width: 100%;
		float: left;
		margin-top: 10px;
	}
	.sortPagiBar .show-product-item, 
	.sortPagiBar .sort-product{
		float: left;
		margin-top: 10px;
	}
}
/*--------------------
[4. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) { 
	body{
		padding: 0 15px;
	}
	.top-bar .top-bar-link-right{
		float: left;
	}
	.wrap-block-cl{
		margin-top: 10px;
	}
	.block-wrap-cart{
		margin-top: 10px;
	}
	.advanced-search .search-category{
		display: none;
	}
	.advanced-search .search-input{
		padding-left: 15px;
		padding-right: 30px;
		margin-top: 4px;
	}
	.advanced-search .search-input>input{
		width: 100%;
	}
	.main-header .logo{
		text-align: center;
		width: 100%;
		float: left;
	}
	.main-header-banner{
		display: none;
	}
	.main-menu .navbar-header{
		display: block;
	}
	.main-menu .navbar-header .navbar-toggle{
		padding: 4px 10px;
	}
	.main-menu .navbar-collapse{
		margin: 0;
		overflow: hidden;
		background: #fafafa;
		border-top: 1px solid #eaeaea;
	}
	.main-menu .navbar-nav{
		padding: 0;
		margin: 0;
	}
	.main-menu .navbar-nav>li{
        border-bottom: 1px solid #eaeaea;
        width: 100%;
	}
	.main-menu .navbar-nav>li:last-child{
		border: none;
	}
	.main-menu .navbar-nav>li>a{
		margin: 5px 0;
		border-radius: 0;
		padding: 0 10px;
	}
	.main-menu .navbar-nav>li>a:hover, 
	.main-menu .navbar-nav>li.active>a, 
	.main-menu .navbar-nav>li>a:focus{
		background: none;
		color: #5a88ca;
	}
	.main-menu li.dropdown>a:after {
	  content: "\f107";
	  font-family: "FontAwesome";
	  font-size: 14px;
	  vertical-align: 0;
	  padding-left: 7px;
	  position: absolute;
	  right: 10px;
	  top: 0;
	}

	.navbar-nav>li>.dropdown-menu{
		border-top: 1px solid #eaeaea;
		padding: 15px 0;
		border-right: 1px solid #eaeaea;
	}
	.block-megamenu-link{
		padding: 15px;
	}

	.block-payment{
		float: left;
		margin-top: 10px;
	}
	.block-payment ul.list-logo>li{
		padding-right: 20px;
		padding-left: 0;
	}
	.block-shop-phone{
		float: left;
	}
	.sortPagiBar .pagination{
		width: 100%;
		float: left;
		margin-top: 10px;
	}
	.sortPagiBar .show-product-item, 
	.sortPagiBar .sort-product{
		float: left;
		margin-top: 10px;
    }
    #canvas {
        transform: translateX(0px) !important;
    }
    .push-sidebar{
        z-index: 2;
    }
}
/*--------------------
[5. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {
	body{
		padding: 0 15px;
	}
	.top-bar .top-bar-link-right{
		float: left;
	}
	.wrap-block-cl{
		margin-top: 10px;
	}
	.block-wrap-cart{
		margin-top: 10px;
	}
	.advanced-search .search-category{
		display: none;
	}
	.advanced-search .search-input{
		padding-left: 15px;
		padding-right: 30px;
	}
	.advanced-search .search-input>input{
		width: 100%;
	}
	.main-header .logo{
		text-align: center;
		width: 100%;
		float: left;
	}
	.main-header-banner{
		display: none;
	}
	.main-menu .navbar-header{
		display: block;
	}
	.main-menu .navbar-header .navbar-toggle{
		padding: 4px 10px;
	}
	.main-menu .navbar-collapse{
		margin: 0;
		overflow: hidden;
		background: #fafafa;
		border-top: 1px solid #eaeaea;
	}
	.main-menu .navbar-nav{
		padding: 0;
		margin: 0;
	}
	.main-menu .navbar-nav>li{
        border-bottom: 1px solid #eaeaea;
        width: 100%;
	}
	.main-menu .navbar-nav>li:last-child{
		border: none;
	}
	.main-menu .navbar-nav>li>a{
		margin: 5px 0;
		border-radius: 0;
		padding: 0 10px;
	}
	.main-menu .navbar-nav>li>a:hover, 
	.main-menu .navbar-nav>li.active>a, 
	.main-menu .navbar-nav>li>a:focus{
		background: none;
		color: #5a88ca;
	}
	.main-menu li.dropdown>a:after {
	  content: "\f107";
	  font-family: "FontAwesome";
	  font-size: 14px;
	  vertical-align: 0;
	  padding-left: 7px;
	  position: absolute;
	  right: 10px;
	  top: 0;
	}

	.navbar-nav>li>.dropdown-menu{
		border-top: 1px solid #eaeaea;
		padding: 15px 0;
		border-right: 1px solid #eaeaea;
		max-width: 100%;
	}
	.block-megamenu-link{
		padding: 15px;
	}

	.block-payment{
		float: left;
		margin-top: 10px;
	}
	.block-payment ul.list-logo>li{
		padding-right: 20px;
		padding-left: 0;
	}
	.block-shop-phone{
		float: left;
	}
	.block-tabs .nav-tab li a{
		padding: 0 10px;
		font-size: 13px;
	}
	.easyzoom img{
		width: 100%;
	}
	.block-product-image .text{
		display: none;
	}
	.block-product-info .product-name{
		font-size: 18px;
	}
	.block-product-image{
		margin-top: 30px;
	}
	.block-product-info{
		margin-top: 30px;
	}
	.product-page .block-top-sellers{
		margin-top: 30px;
	}
	.sortPagiBar .pagination{
		width: 100%;
		float: left;
		margin-top: 10px;
	}
	.sortPagiBar .show-product-item, 
	.sortPagiBar .sort-product{
		float: left;
		margin-top: 10px;
    }
    #canvas {
        transform: translateX(0px) !important;
    }
    .push-sidebar{
        z-index: 2;
    }
}
/*********************************************************************************************************
											Add Responsive Style
**********************************************************************************************************/

@media (max-width: 1024px) {
ul.top-box > li > a {
    font-size: 11px;
}
.block-category .nav-tab > li > a {
    padding-right: 15px;
}
.block .block-head .block-icon {
    padding-right: 6px;
}
.block-vertical-menu .vertical-menu-list > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.block-hot-deals2 .hot-deal-tab-wrap {
    width: 30%;
}
.block-hot-deals2 .tab-container-wrap {
    width: 70%;
}
ul.top-box3 > li.box-language {
    width: 47%;
}
.option4 .block-wrap-cart {
    border-left: 0 none;
    width: 50%;
}
.option4 .wrap-block-cl .language {
    width: 30%;
}
.option4 .wrap-block-cl .currency {
    display: none;
}
.option4 .block-wrap-cart .iner-block-cart::after {
    right: 0;
}
.block-wrap-cart .block-mini-cart {
    right: 15px;
}
.block-filter-top .filter-label {
    padding-left: 10px;
    padding-right: 10px;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button {
    margin-top: 20px;
}
}
@media (max-width: 960px) {
ul.top-box > li > a .pre-label {
    display: none;
}
.block-link-wapper {
    padding-bottom: 15px;
    padding-top: 15px;
}
.block-header-right .item:first-child {
    display: none;
}
.block-banner-right {
    margin-top: 13px;
    width: 50%;
}
.top-box.top-box3 {
    margin-top: 20px;
}
.main-header3 .logo {
    display: block;
    text-align: center;
}
.option3 .block-wrap-cart .iner-block-cart::after {
    position: absolute;
    right: 15px;
}
.option3 .block-wrap-cart .iner-block-cart {
    display: block;
    padding-right: 40px;
}
/* .sortPagiBar .sortPagiBar-inner nav {
    margin-top: 10px;
}
.sortPagiBar-inner {
    width: 100%;
} */
.block-filter-top .price-submit {
    margin-left: 0;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button {
    margin-top: -1px;
}
.footer-top .col-sm-12 {
    width: 33.3333%;
}
.block-shop-features ul li {
    display: inline-block;
    padding: 2px;
    width: 33.33%;
}
.option4 .wrap-block-cl .inner-cl, .main-header4 .option3 .advanced-search {
    margin-top: 0;
}
}
@media (max-width: 840px) {
.footer-top .col-sm-12 {
    width: 100%;
}
.block-tabs .nav-tab {
    float: none;
}
.block-tabs .nav-tab li.active {
    border-top: 1px solid #eaeaea;
}
.block3 .block-head .nav-tab.default li {
    padding: 0 15px;
}
/* .sortPagiBar .sortPagiBar-inner nav {
    margin-top: -30px;
} */
.block-filter-top .price-submit {
    margin-left: 20px;
}
.block-tabs.tab-left .nav-tab li.active {
    border-top: 0 none;
}
.option4 .wrap-block-cl .user-info {
    padding: 0 8px;
}
.option4 .wrap-block-cl .language {
    padding-left: 10px;
}
.option4 .wrap-block-cl .inner-cl img {
    margin-right: 5px;
}
}
@media (max-width: 768px) {
.option4.shop-menu {
    margin-left: 6px;
}
.block-shop-features ul li {
    text-align: center;
}
ul.top-box > li > a::after {
    margin-left: 15px;
}
.block-tabs .nav-tab li::before {
    margin-left: 10px;
}
.block-tabs .nav-tab li a {
    padding-right: 15px;
}
.option3 .main-menu .navbar-nav > li > a {
    padding: 0 8px;
}
.option4 .block-wrap-cart {
    border-left: 1px solid #eaeaea;
    width: 50%;
}
.option4 .wrap-block-cl .language {
    border-right-width: 0;
    width: 30%;
}
.option4 .wrap-block-cl .currency {
    display: none;
}
}
@media (max-width: 767px) {
.wpcf7-form {
    margin-bottom: 30px;
}
.option4 .block-wrap-cart {
    border-left: 1px solid #eaeaea;
    width: 30%;
}
.option4 .wrap-block-cl .language {
    border-right-width: 1px;
    width: 25%;
}
.option4 .wrap-block-cl .currency {
    display: block;
}
.box-band a {
    width: 33.33%;
}
.top-bar .top-bar-link-right {
    border-left: 0 none;
}
.advanced-search .search-input {
    margin-top: 0;
}
.advanced-search {
    margin-top: 10px;
}
.advanced-search .search-category {
    display: inline-block;
    width: 30%;
	vertical-align:top;
}
.advanced-search .search-input {
    display: inline-block;
    width: 69%;
}
.block-link-wapper {
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-list-link {
    padding-bottom: 20px;
    padding-top: 20px;
}
ul.top-box > li > a {
    font-size: 14px;
}
.main-menu .navbar-nav > li:hover, .main-menu .navbar-nav > li.current-menu-item {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: 0 none;
}
.block-link-wapper {
    border-right: 0 none;
}
.main-header .logo {
    padding-top: 0;
}
.block-header-right .block-wrap-cart {
    margin-top: 0;
}
.block.block-header-right {
    float: left;
    margin-top: 15px;
}
div.vc_column-inner {
    margin: 0 !important;
}
.block-hot-deals2 .hot-deal-tab-wrap {
    width: 36%;
}
.block-hot-deals2 .tab-container-wrap {
    width: 64%;
}
.block-banner2 .box-left::after {
    display: none;
}
body {
    padding: 0;
}
.vertical-dropdown-menu {
    display: none;
}
.cate-list-menu {
    margin-top: 0;
}
ul.top-box.top-box2 {
    margin-top: 10px;
}
.option3 .block-wrap-cart .iner-block-cart {
    display: none;
}
.option3 .block-banner-owl .page-banner .list-banner li {
    width: 25%;
}
.group-banner3 {
    display: none;
}
.block-banner2 .box-left {
    padding-top: 15px;
}
.block-filter-top .filter-value {
    padding: 0 15px;
}
.block-filter-top .filter-label {
    border-right: 0 none;
}
.block-product-image {
    text-align: center;
}
.block-product-info {
    float: none;
}
.block.block-banner figure, .block.block-banner figure img {
    width: 100%;
}
.footer-list-link .col-sm-4 {
    float: left;
    width: 50%;
}
}
@media (max-width: 667px) {
.top-bar .top-bar-link.top-bar-link-left {
    display: none;
}
.block-popular-cat .item .image img {
    max-width: 100%;
}
.block-header-right .item {
    padding-left: 15px;
    padding-right: 6px;
}
.block-tabs .nav-tab li.active {
    border-bottom: 1px solid #eaeaea;
}
.block-tabs .nav-tab li.active::after {
    display: none;
}
.block-hot-deals2 .tab-container-wrap {
    width: 62%;
}
.block-hot-deals2 .hot-deal-tab-wrap {
    width: 38%;
}
}
@media (max-width: 568px) {
.block-hot-deals2 .hot-deal-tab-wrap, .block-hot-deals2 .tab-container-wrap {
    width: 100%;
}
.block-header-right .item, .block-tabs .nav-tab li {
    width: 100%;
}
.option4 .block-slider .caption-group {
    display: none;
}
.block-tabs.tab-left .nav-tab li.active {
    border-top: 1px solid #eaeaea;
}
.block-header-right .item {
    border-bottom: 0 none;
    border-right: 1px solid #eaeaea;
}
}
@media (max-width: 480px) {
.inner-header5 .link-adv-info {
    display: none;
}
.adv-top-intro {
    margin-right: 0;
}
.block-shop-features ul li {
    padding: 0;
    width: 100%;
}
.block-hot-deals .owl-next {
    right: -10px;
    top: 40%;
}
.block-hot-deals .owl-prev {
    left: -10px;
    top: 40%;
}
.advanced-search .search-category {
    display: none;
}
.block-offers .products .product, .advanced-search .search-input {
    width: 100%;
}
.option3 .block-banner-owl .page-banner .list-banner li {
    display: inline-block;
    width: 50%;
}
.list .product-left.col-xs-6 {
    width: 100%;
}
.list .product-right.col-xs-6 {
    padding: 10px 15px;
    width: 100%;
}
.footer-list-link .col-sm-4 {
    width: 100%;
}
.block3 .block-head .nav-tab.tab-category li {
    border-right: 0 none;
    padding: 5px 0;
}
}
@media (max-width: 414px) {
.block-hot-deals .block-countdownt {
    margin-top: 10px;
}
li.item-product.col-xs-6 {
    width: 100%;
}
.sortPagiBar .show-product-item {
    margin-right: 6px;
}
.sortPagiBar .sort-product {
    margin-right: 0;
}
.comment-list ul.children {
    padding-left: 15px;
}
.box-band a {
    width: 50%;
}
}
@media (max-width: 360px) {
.block-banner-right {
    width: 100%;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button {
    margin-top: 20px;
}
}
@media (max-width: 320px) {
.block-wrap-cart .block-mini-cart {
    width: 290px;
}
.sortPagiBar .sort-product {
    padding-right: 0;
}
.sort-product::after {
    display: none;
}
.block-social .list-social li {
    padding-right: 3px;
}
}
/************************************************************************************
************************************************************************************/
@media (max-width: 1170px) {
.banner-slider6 .bx-controls {
    padding-right: 15px;
}	
.item-banner6 .banner-intro {
    margin-right: 65px;
}
.product-big-sale {
    width: 45%;
}
.big-sale-banner {
    width: 54%;
}
.item-banner-adv6.half-banner .inner-banner-info {
    border-bottom: none;
    border-top: none;
    left: 30px;
    padding:0;
    right: 30px;
}
.search-form6 {
    padding-right: 40px;
    width: 40px;
}
.search-form6 > input[type="submit"] {
    width: 40px;
}
.search-form6::after {
    width: 40px;
}
.search-form6 > input[type="text"] {
    position: absolute;
    right: 100%;
    top: 0;
    width: 0px;
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
	max-width:none;
	transition:all 0.3s ease-out 0s;
	-webkit-transition:all 0.3s ease-out 0s;
}
.search-form6:hover > input[type="text"] {
	 transform: translateX(0px);
    -webkit-transform: translateX(0px);
	width: 200px;
}
.main-menu11 .nav.navbar-nav.navbar-right {
    display: none;
}
}
@media (max-width: 1024px) {
.list-service17 .block .block-head .block-icon {
    display: block;
    margin-bottom: 10px;
    min-height: 40px;
}
.content-top14 .block-top-seller7 .product {
    margin-bottom: 24.5px;
}
.header-nav5 .navbar-nav .goto-home{
	display:none;
}
.header-nav5 .block-wrap-cart{
    /* EC-4002 */
	/* display:none; */
}
.item-service {
    padding-left: 0;
}
.form-newsletter{
	margin-left:0;
}
.block-header-right .item {
    padding-left: 15px;
}	
.block-link-wapper{
	border:none;
}
.top-bar.top-bar12 .top-box > li>a>.pre-label{
	display:inline-block;
}
.top-bar.top-bar12 .top-box > li>a{
	font-size:14px;
}
.block-banner2 .box-right .item.i2.i17 {
    min-height: auto;
}
}
@media (max-width: 980px) {
.block-banner17 .box-right {
    margin-left: 0;
}
.block-banner2.block-banner17 .box-left{
	margin-right:0;
}
.block-banner2 .box-right .item.i2.i17{
	min-height:180px;
}
.list-service17 .block .block-head .block-icon {
    display: inline-block;
    margin-bottom: 0px;
}
.main-content15 .block-banner-right.banner-hover a{
	padding:0;
	float:none;
	padding:0;
	width:100%;	
}
.option3.option14 .block-slider{
	margin-right:0;
}
.logo.logo14{
	text-align:center;
	display:block;
}
.option3.option14 .block-wrap-cart {
    margin-top: 20px;
}
.option3.option14 .wrap-block-cl{
	margin-left:0;
}
.option3.option14 .main-menu .navbar-nav > li > a{
	padding:0 10px;
}
.main-header11 .contact-phone6 {
    margin-top: 0;
}
.sortPagiBar .show-product-item, .sortPagiBar .sort-product {
    display: none;
    margin-right: 0;
}
.sortPagiBar .pagination{
	margin-top:0;
}
.sortPagiBar .sortPagiBar-inner nav {
    float: right;
    margin-left: 0;
}
.main-header5 .main-header .logo {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.main-header5 .advanced-search {
    margin-left: 0;
}
.info-header-left5 > li:first-child::after{
	display:none;
}
.item-banner6 .banner-intro {
    margin-right: 0px;
}
.item-banner6 .banner-info .banner-count-down {
    display: none;
}
.product-page .block-tabs .nav-tab {
    margin-bottom: 0;
}
.wrap-block-cl6 .language,
.wrap-block-cl6 .currency{
	display:none;
}
.top-link6 > li {
    margin-right: 20px;
}
.hot-deal-tab {
    margin-right: -15px;
}
.block-shop-features ul li{
	float:left;
	display:block;
}	
.block-header-right .item {
    padding-left: 10px;
    padding-right: 0;
}
.block-banner-right.banner-hover a{
	float:left;
	width:50%;
	padding:0 5px;
}
.block-banner-right.banner-hover a img{
	width:100%;
}
.option2 .block-banner-right.banner-hover{
	margin-left:-5px;
	margin-right:-5px;
}
.block.footer-block-box .block-head{
	padding-left:20px;
}
.block-tabs .nav-tab {
    display: block;
    float: none !important;
}
.block-banner2 .box-left {
    border-bottom: 1px solid #eaeaea;
    padding: 0 15px 40px 30px;
    position: relative;
}
.block-banner2 .box-left::after{
	display:none;
}
.block-banner2 .box-right .item{
	border:none;
}
}
@media (max-width: 860px) {
.product-tab-header.header-box17 .list-inline li a {
    padding: 8px 20px;
}
.list-service17 .item-service10.item-service15 .block .block-head {
    padding: 13px 10px;
}
.item-product10{
	width:50%;
}
.products .product-main .product-right{
	padding-right:0;
	text-align:center;
	padding-top:10px;
}
.products .product-main .product-right .product-button{
	position:static;
	margin:10px auto; 
	width:160px;
}
.product-main-right .list-pro-left10 {
    padding-left: 0;
    padding-right: 20px;
}
.list-pro-left10 {
    width: 45%;
}
.list-pro-right10 {
    width: 55%;
}
.option6 .main-menu .navbar-nav > li > a {
    padding: 0 10px;
}	
.item-gift-cart {
    padding-left: 0;
}
.item-banner-adv6.half-banner .banner-info h2 {
    font-size: 18px;
}
.item-banner-adv6.half-banner .banner-info p {
    max-height: 70px;
    overflow: hidden;
}
.item-banner-adv6.half-banner .inner-banner-info{
	top:30px;
}
.item-banner-adv6.full-banner .banner-info h2 {
    font-size: 30px;
	margin-bottom: 5px;
}
.item-banner-adv6.full-banner .banner-info {
    margin-top: -65px;
}
.item-banner-adv6.full-banner .banner-info h3 {
    font-size: 18px;
}
.item-banner-adv6.full-banner .banner-info p {
    margin-bottom: 15px;
}
.item-banner8 .banner-intro .year-label {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}
.item-banner8 .banner-intro h2 {
    font-size: 40px;
    line-height: 25px;
}
.item-banner8 .banner-info {
    margin-top: -50px;
}
.header-nav5 .main-menu .navbar-nav > li > a {
    padding: 0 13px;
}
.option7 .main-menu .navbar-nav > li.custom-menu-item{
	display:none;
}
.block-top-seller7 .product .product-rate {
    display: none;
}
.block-top-seller7 .products .product-price-old{
	display:none;
}
.block-top-seller7 .products .product:last-child{
	display:none;
}
.list-product7 .block-vertical-menu .vertical-menu-list .cat-item:nth-child(1),
.list-product7 .block-vertical-menu .vertical-menu-list .cat-item:nth-child(2){
	display:none;
}
.item-service10 .more-link {
    display: block;
    margin-top: 10px;
    position: static;
}
.banner-slider13 .bx-pager {
    bottom: -40px;
}
.content-product-box16.banner-left .product-slider16 {
    margin-left: 0;
}
.content-product-box16.banner-left .banner-hover-image {
    margin-right: 0;
}
.content-product-box16.banner-right .product-slider16 {
    margin-right: 0;
}
.content-product-box16.banner-right .banner-hover-image {
    margin-left: 0;
}
.list-adv-left16 {
    margin-right: -17px;
}
.list-adv-right16 {
    margin-left: -17px;
}
.banner-hover-image .banner-info .inner-banner-info{
	padding-top:4%;
}
}
@media (max-width: 767px) {
.main-menu.main-menu17 .navbar-header .navbar-toggle {
    background: #be3475 none repeat scroll 0 0;
    color: #fff;
    float: left;
    margin-left: 15px;
}
.main-menu.main-menu17 .navbar-collapse {
    background: #666 none repeat scroll 0 0;
    border: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9;
}

.main-menu17.main-menu .navbar-nav > li > a {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
.main-menu17.main-menu .navbar-nav > li > a::after{
	display:none;
}
.main-menu17.main-menu .navbar-nav > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.product-tab-header.header-box17 .list-inline {
    margin-top: 27px;
    position: static;
}
.list-service17 .item-service10.item-service15{
	margin-bottom:10px;
}
.content-top17{
	margin-bottom:30px;
}
.block-banner2 .box-right .item.i2.i17{
	border-top:1px solid #e5e5e5;
}
.block-banner2.block-banner17 .box-right .item{
	padding:20px;
}
.block-banner2.block-banner17 .box-left .inner{
	padding-top:0px;
	margin-bottom:30px;
}
.content-top16 .block-slider.banner-slider10 {
    margin-bottom: 10px;
}
.list-adv-right16 {
    margin: 0 -10px 0 0;
}
.list-adv-left16 {
    margin: 0 0 0 -10px;
}
.banner-hover-image .banner-info .inner-banner-info {
    padding-top: 12%;
}
.product-slider16 .owl-controls {
    top: -30px;
}
.block-popular-cat .item{
	border-right:none;
}
.main-content15 {
    margin-bottom: 30px;
}
.option3.option14 .wrap-block-cl {
    margin: 0;
}
.option3.option14 .block-wrap-cart{
	margin-left:0;
}
.main-menu.main-menu14 .navbar-brand {
    margin-left: 15px;
	color:#fff;
}

.option3.option14 .main-menu .navbar-nav > li > a {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.option3.option14 .main-menu .navbar-nav {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    margin-top: -1px;
}
.option3.option14 .main-menu .navbar-nav > li {
    border-bottom: 1px solid #e5e5e5;
}
.option3.option14 .main-menu .navbar-nav > li > a {
    color: #333;
}
.option3.option14 .main-menu .navbar-nav > li > a::after {
    display: none;
}
.option3.option14 .main-menu .navbar-nav > li:last-child {
    border: medium none;
}
.list-banner14 .banner-hover a{
	margin-bottom:10px;
}
.list-banner14 .banner-hover a img{
	width:100%;
}
.main-menu.main-menu14 .navbar-toggle{
	color:#fff;
}
.option13 .navbar-toggle {
    background: #f25f43 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    float: left;
    margin-left: 15px;
}
.option13 .main-menu .navbar-header .navbar-toggle {
    color: #fff;
}
.option13 .main-menu .navbar-collapse {
    border: 1px solid #e5e5e5;
    left: 0;
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 99;
}
.option13 .search-form6::after{
	background-color: #f25f43;
}
.item-service13 {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}
.list-service13 {
    border-bottom: medium none;
    padding-bottom: 0;
}
.option13 .search-form6 {
    right: 0;
}
.option13 .main-menu .navbar-collapse > ul > li {
    border-bottom: 1px solid #e5e5e5;
}
.option13 .main-menu .navbar-collapse > ul > li>a{
	height:40px;
	line-height:40px;
	padding:0 20px;
}
.option13 .main-menu .navbar-collapse > ul > li>a::after{
	display:none;
}
.option13 .main-menu .navbar-collapse > ul > li:last-child{
	border-bottom:none;
}
.top-bar.top-bar12 .top-box{
	display:none;
}
.option12 .list-product7 .block.block-top-seller7 {
    margin-bottom: 30px;
}
.logo.logo12 {
    margin-bottom: 10px;
}
.main-menu.main-menu12 .navbar-brand {
    color: #fff;
    margin-left: 15px;
}
.main-menu.main-menu12 .navbar-header .navbar-toggle {
    color: #fff;
    margin-right: 5px;
}
.main-menu.main-menu12 .navbar-collapse {
    border: 1px solid #e5e5e5;
    left: 0;
    position: absolute;
    right: -15px;
    top: 100%;
    z-index: 99;
}
.main-menu.main-menu12 .navbar-collapse > ul > li {
    border-bottom: 1px solid #e5e5e5;
}
.main-menu.main-menu12 .navbar-collapse > ul > li:last-child{
	border-bottom:none;
}
.main-menu.main-menu12 .navbar-collapse > ul > li > a {
    color: #333;
    padding: 0 20px;
}
.main-menu.main-menu12 li.dropdown > a::after {
    display: none;
}

.top-bar.top-bar12 .top-bar-link-right {
    display: block;
    float: none;
    text-align: center;
}
.main-header.main-header12 {
    padding: 20px 0;
}
.logo.logo12 {
    margin-bottom: 10px;
}
.top-bar.top-bar12 .top-bar-link-right > li {
    display: inline-block;
    float: none;
}

.main-header11 .logo {
    margin-top: 0;
    text-align: center;
}
.main-header11 .contact-phone6 {
    float: none;
    margin-top: 20px;
}
.main-header11 {
    text-align: center;
}
.main-menu.main-menu11 .navbar-brand {
    margin-left: 15px;
}
.main-menu.main-menu11 .navbar-collapse {
    border: 1px solid #e5e5e5;
    left: -2px;
    margin-top: 2px;
    position: absolute;
    right: -2px;
    top: 100%;
    z-index: 999;
}
.main-menu.main-menu11 .navbar-collapse > ul > li {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 20px;
}
.main-menu.main-menu11 .navbar-collapse > ul > li:last-child{
	border:none;
} 
.content-top11 .advanced-search {
    margin-left: 0;
}
.content-top11 .block.block-slider {
    margin-left: 0;
}
.main-menu.main-menu11 .navbar-collapse > ul > li::before {
    display: none;
}
.main-menu.main-menu11 .navbar-nav > li > a::before {
    display: none;
}
.main-menu.main-menu11 .navbar-nav > li > a {
    height: 40px;
    line-height: 40px;
}
.item-service10 .block .block-head{
	padding:15px 20px;
}
.list-pro-left10 {
    margin-bottom: 30px;
    padding: 0 20px!important;
    width: 100%;
}
.products .product-main .product-thumb a.product-img{
	overflow:hidden;
}
.block.block-banner.banner-hover img {
    width: 100%;
}
.author-comment > a{
	margin:0 10px;
}
.list-pro-right10 {
    width: 100%;
}
.top-bar10.top-bar .top-box{
	display:none;
}
.item-service10 {
    margin-bottom: 20px;
}
.main-menu10.main-menu .navbar-collapse {
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
	border:1px solid #e5e5e5;
}
.main-menu10.main-menu  .navbar-brand{
	color:#fff;
}
.main-menu10.main-menu .navbar-header .navbar-toggle{
	color:#fff;
}
.main-menu10.main-menu .navbar-collapse > ul > li {
    padding: 0 20px;
}
.main-menu10.main-menu .navbar-collapse > ul > li > a {
    color: #333;
    font-weight: 400;
}

.item-banner-adv6.half-banner .banner-info::before{
	display:none;
}
.list-product7 .block-vertical-menu .vertical-menu-list .cat-item:nth-child(1),
.list-product7 .block-vertical-menu .vertical-menu-list .cat-item:nth-child(2){
	display:block;
}
.block-top-seller7 .product .product-rate {
    display: block;
}
.block-top-seller7 .products .product-price-old{
	display:inline-block;
}
.block-top-seller7 .products .product:last-child{
	display:block;
}
.option7 .navbar-brand{
	color: #fff;
    margin-left: 15px;
}
.option7 .main-menu .navbar-header .navbar-toggle {
    color: #fff;
}
.option7 .main-menu .navbar-collapse {
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
}
.option7 .main-menu .navbar-nav > li > a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    color: #333;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: -1px 0 0;
    padding: 0 15px;
}
.option7 .main-menu .navbar-nav > li > a:hover{
	color:#fff;
}
.option7 .main-menu li.dropdown > a::after {
	display:none;
}
.header-nav5 .navbar-brand {
    color: #fff;
    margin-left: 15px;
}
.header-nav5 .main-menu .navbar-nav > li > a > img{
	display:none;
}
.header-nav5 .main-menu .navbar-header .navbar-toggle {
    color: #fff;
    margin-right: 20px;
}
.option8 .main-menu .navbar-nav > li > a:hover {
	color:#26C0B4;
}
.option5 .main-menu .navbar-nav > li > a:hover {
	color:#fc9a00;
}
.header-nav5 .main-menu .navbar-collapse {
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
}
.header-nav5 .main-menu .navbar-nav > li > a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    color: #333;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: -1px 0 0;
    padding: 0 15px;
}
.option6 .navbar-toggle {
    border-radius: 0;
    color: #fff;
    float: left;
    margin-left: 15px;
	background:#F2D03B;
}
.option6 .main-menu .navbar-collapse {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color:  #e5e5e5;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;
}
.option6 .main-menu .navbar-nav > li > a {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 15px;
}
.option6 .main-menu .navbar-nav > li > a:hover{
	color:#fff;
}
.option6 .main-menu .navbar-collapse {
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px 1px 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;
}
.option6 .main-menu li.dropdown > a::after{
	display:none;
}
.option9 .navbar-toggle {
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    float: left;
    margin-left: 15px;
}
.option9 .main-menu .navbar-collapse {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color:  #e5e5e5;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;
}
.option9 .main-menu .navbar-nav > li > a {
    background: #37393E none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    color: #fff;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 15px;
}
.option9 .main-menu li.dropdown > a::after{
	display:none;
}
.adv-bottom {
    margin-top: 20px;
}
.main-header5 .advanced-search{
	margin-right:0;
}
.main-header5 .wrap-block-cl {
    margin-left: 0;
}
.info-header-left5 {
    text-align: center;
}
.info-header-right5 {
    float: none;
    margin-top: 10px;
    text-align: center;
}
.search-form6{
	top:5px;
}
.item-banner-adv6.info-left .banner-thumb {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.item-banner-adv6.half-banner .banner-thumb {
    width: 100%;
}
.item-banner-adv6.half-banner .banner-info {
    height: auto;
    position: static;
    width: 100%;
}
.item-banner-adv6.half-banner.info-left:hover .banner-info {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.item-banner-adv6.half-banner .inner-banner-info{
	position:static;
	padding:30px 15px;
	transform: translateX(0)!important;
    -webkit-transform: translateX(0)!important;
}
.item-banner-adv6.half-banner.info-right:hover .banner-info {
    transform: translateX(0)!important;
    -webkit-transform: translateX(0)!important;
}
.item-banner-adv6.half-banner .banner-info p {
    max-height: none;
    overflow: visible;
}
.form-newsletter {
    background-position: 0 25px;
    min-height: 250px;
    padding-top: 30px;
}
.logo6 {
    text-align: left;
}
.wrap-block-cl6 {
    margin-bottom: -10px;
    margin-top: 0px;
}
.top-contact-link6 {
    text-align: center;
}
.top-link6{
	display:inline-block;
}
.contact-phone6 {
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.main-header .list-banner {
	display: none;
}
.block-popular-cat .inner {
    padding: 0;
}
.option2 .main-header .logo{
	text-align:left;
}
.option2 .advanced-search.box-radius {
    float: none;
}
.top-box.top-box2 {
    margin-left: 0;
}
.block-hot-deals2 .hot-deal-tab-wrap {
    padding-left: 30px;
    position: relative;
    z-index: 9;
}	
.option3 .navbar-brand{
	margin-left:10px;
}
.option4 .block-popular-cat2 {
    margin: 45px 0 0px;
}
.product-tab6 .product-tab-header a {
    font-size: 18px;
}
.item-service {
    color: #fff;
    margin: auto auto 50px;
    max-width: none;
}
.option8 .item-service{
	display:block;
	margin:0;
	text-align:center;
}
.option8 .service-icon{
	display:block;
	margin-bottom:15px;
}
.option8 .service-info{
	display:block;
	padding:0 15px;
}
.option8 .service-icon > a{
	margin:auto;
}
.product-box9 .product-tab-header ul {
    display: block;
	margin:10px 0 0 -5px;
}
.product-box9 .product-tab-header ul li::before{
	display:none;
}
.product-box9 .product-tab-header ul li {
    margin: 0 20px 0 0;
}
.product-box9 .product-tab {
    margin-bottom: 0;
}
.main-menu .navbar-nav > li.goto-home{
	display:none!important;
}
.list-left,.list-center,.list-right {
    margin: 0;
}
.main-menu .navbar-nav > li > a {
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.main-menu .navbar-nav > li > a > img{
	display:none;
}
.main-menu li.dropdown > a::after{
	display:none;
}
.item-banner-adv6.half-banner .banner-thumb {
    position: relative;
}
.item-banner-adv6.half-banner:hover .banner-thumb::after {
	border-bottom-color:#F25F43;
}
.item-banner-adv6.half-banner .banner-thumb::after {
    border-right: 25px solid transparent;
    border-bottom: 25px solid #f2d03b;
    border-left: 25px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.3s ease-out 0s;
    width: 0;
	margin-left:-25px;
}
.product-box13 {
    margin-bottom: 50px;
}
.full-banner13 {
    margin-bottom: 40px;
}
.list-adv-bottom.adv-bottom13 {
    margin-top: -20px;
}
.latest-news6.latest-news13{
	margin-top:40px;
}
}
@media (max-width: 640px) {
.item-banner-adv6.full-banner .banner-info {
    display:none;
}
.block-slider5 .caption-group {
	/* display:none; */
}
.product-tab.title-left {
    padding-left: 20px;
}
.product-tab.title-right {
    padding-right: 20px;
}
.product-tab-title {
    background: transparent none repeat scroll 0 0;
    margin-top: 10px;
    position: static;
    width: auto;
}
.product-tab.title-left {
    padding-right: 15px;
}

.product-tab-title > h2 {
    color: #333;
    position: static;
    transform: none;
    width: auto;
}
.block-slider .caption-group{
	display:none;
}
.block-wrap-cart6 .iner-block-cart > a .total span {
    display: none;
}
.item-gift-cart {
    display: block;
    text-align:center;
}
.icon-gift-cart {
    display: block;
    width: 64px;
    margin: auto auto 20px;
}
.info-gift-cart {
    display: block;
    padding: 0 15px;
}
}
@media (max-width: 480px) {
.title-tab13 .list-inline li {
    display: block;
    margin-bottom: 1px;
}
.item-banner13 .banner-info{
	display:none;
}
.product-tab-header li {
    display: block;
    margin: 0;
}
.product-box9 .product-tab-header ul li {
    display: block;
}
.option8 .service-info{
	padding:0;
}
.option8 .service-info h3{
	font-size:14px;
}
.item-banner8 .banner-info {
   display:none;
}
.product-tab6 .product-tab-header li::after{
	display:none;
}
.product-tab6 .product-tab-header li {
    display: block;
    padding: 0;
    margin: 1px 0;
}
.product-tab6 .product-tab-header li a{
	display:block;
	padding: 8px 15px;
	border:1px solid #e5e5e5;
}
.item-banner-adv6.full-banner  {
   display: none;
}
.form-newsletter input[type="text"] {
    height: 50px;
    padding: 0 20px;
}
.form-newsletter {
    padding-left: 0;
    padding-top: 50px;
}
.form-newsletter input[type="submit"] {
    height: 50px;
    width: 110px;
}
.form-newsletter > form {
    padding-right: 110px;
}
.product-big-sale {
    width: 100%;
}
.big-sale-banner {
    width: 100%;
}
.info-gift-cart{
	display:none;
}
.icon-gift-cart {
	margin-bottom:0;
}
.item-banner6 .banner-info{
	display:none;
}
.option3 .block-banner-owl .page-banner .list-banner li {
    float: left;
}
.block-wrap-cart6 .iner-block-cart > a {
    text-transform: capitalize;
}
.option6 .product-tab6 .product-tab-header {
    border: none;
}
/** img-select **/
.img-select img{
    width: 25px;
    height:25px;
}
}
@media (max-width: 390px) {
 /** img-select **/
 .img-select{
    width: 100%;
}

/** img-select **/
.img-select img{
    width: 50px;
    height:50px;
}
}
@media (max-width: 375px) {
.item-product10{
	width:100%;
}
.banner-hover-image .banner-info .inner-banner-info {
    padding-top: 4%;
}
.question-faq > span {
    display: block;
    margin-bottom: 10px;
    line-height: 40px;
}
.block-popular-cat .title {
    font-size: 20px;
}	
.block-wrap-cart6 {
    margin-left: -10px;
}
.option5 .adv-info{
	position:static;
	width:100%;
	height:auto;
	padding:30px 15px;
}
.option3.option14 .block-wrap-cart > a .cart-item-count {
    display: none;
}
.option3.option14 .block-wrap-cart {
    margin-left: 30px;
}
.option3.option14 .wrap-block-cl {
    margin-right: -30px;
}
 /** img-select **/
 .img-select{
    width: 100%;
}
}
@media (max-width: 320px) {
.news-info {
    left: 0;
    padding: 20px 10px 0;
    right: 0;
}
}
.slider-not-slider li{
    position: relative;
}
.slider-not-slider img {
    margin: 10px 0;
}