.price span, h1, h2, h3, h4, h5, h6, header h3, .box .box-heading, .box-product .name a, .name a, .product-filter b, ul.box-category > li > a, .welcome, .htabs a
{
    font-weight: lighter;
}

.navbar-inner
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#232728', EndColorStr='#232728');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#232728',EndColorStr='#232728')";
    zoom: 1;
    background-image: url("../image/bg-menu.png");
    background-position: 0 0;
}
.pagination
{
    margin-top: 0px;
}
.box .box-content
{
    padding-bottom: 0;
}
.pav-custom .pav-custom-block-three .col-right
{
    padding: 10px 16px 6px;
}

.product-filter .sort
{
    padding-left: 5px;
}
.product-info .image-additional a
{
    margin-right: 10px;
}
.footer_block article:first-child h3,
.footer_block article:first-child p
{
    margin: 0;
}

.footer_block article h3,
.footer_block article p
{
    margin-left: 10px;
}
.pavcontentslider .carousel-control{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}