.clearfix {  *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after { clear: both; }
.pavblogs .pav-header {
	position: relative;
	margin: 0;
	padding: 10px 0;
	line-height: normal;
	border-bottom: 1px solid #E5E5E5;
}

/* Category Blog */
.pavblogs h3{
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.pavblogs h4{
	margin: 0;
}

.pavblogs .pav-children .image{
	margin: 12px 0;
}

.pavblogs .pav-children .image img{
	width: 100%;
}


#content .pav-header h1 { margin: 0; }
.pav-header .rss-wrapper {
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	right: 0;
	top: 30%;
	background: url(../image/icon-rss.png) no-repeat center center;
	overflow: hidden;
	text-indent: -99999px;
}
.blog-title{
    margin: 0;
}
.blog-meta {
	border: 1px solid #E5E5E5;
	margin: 15px 0;
	overflow: hidden;
}
.blog-meta > span {
	font-weight: bold;
	border-right: 1px solid #E5E5E5;
	display: block;
	float: left;
	font-size: 90%;
	padding: 10px 11px;
}
.blog-meta > span:last-child {
	border-right: none;
	font-size: 90%
}
.blog-header{
    margin-bottom: 10px;
}
.blog-meta > span span { font-weight: normal; }

.blog-header .created {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    height: 50px;
    line-height: normal;
    margin-right: 12px;
    overflow: hidden;
    padding: 0 12px;
}

.blog-header .blog-title{
    font-size: 125%;
    line-height: 23px;
}

.blog-header span.day {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0 0;
    text-align: center;
}
.blog-header span { font-size: 98%; }
.blog-item .description {
	margin: 0;
	padding: 0;
}
.pav-block .pavblock .image { display: block; }
.pav-blog .content-wrap img { margin: 15px; }
.pav-blog .pagination, .pav-blog .pagination .results { margin: 0; }
.pavblock h4 { margin: 15px 0; }
.pavblock h4 a { color: #2e3039; }
.pavblock p { margin: 0; }
.pavblock .description, .pav-block .box-heading { margin-bottom: 20px; }
.pav-block .box-heading {
	border-width: 0 0 0 3px;
	border-style: solid;
}
.pavblogs .pav-filter-blogs {
	margin-top: 20px;
	margin-bottom: 20px;
}

.pavblogs .blog-body{
    margin-bottom: 40px;
}

.pavblogs .pagination{
    margin: 0;
    line-height: 20px;
}

.pavblogs .pagination .results{
    margin: 0;
    text-align: left;
}

.pavblogs .blog-body p{
    line-height: 20px;
}

/**
 * Category Page
 */
div[class*="pavcol"] { float: left; }
div.pavblock:last-child .blog-item { margin-right: 0; }
.pavcol1 { width: 100% }
.pavcol2 { width: 50%; }
.pavcol3 { width: 33.33%; }
.pavcol4 { width: 25%; }
.pavcol5 { width: 20%; }
.blog-item { padding: 0; }
.blog-item img { width: 100%; }
.pavcol1 img { padding-right: 0 }
.pav-blogs a { text-decoration: none }
/**
 * Blog Page
 */
.pav-blog .description {font-weight: normal;}
.pav-blog .blog-content, .pav-blog .blog-bottom { margin-bottom: 20px; }
.comment-item { padding-bottom: 10px; }
.comment-item img { padding-right: 12px; }
.comment-wrap {
	overflow: hidden;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E5E5E5;
	padding: 20px;
	position: relative;
	transition: all 0.3s ease-out 0s;
}
.comment-wrap .comment-meta {
	border-bottom: 1px solid #E5E5E5;
	font-size: 11px;
	margin: -20px -20px 10px;
	padding: 10px 20px;
}
.comment-wrap .comment-meta > span { font-weight: bold; }
.comment-wrap .comment-meta > span span { font-weight: normal; }
.blog-social .social-wrap > div { float: left; }
.blog-social .social-heading { padding-right: 12px; }
.comment-link {
	background: none repeat scroll 0 0 #F4F4F4;
	border-left: 1px solid #E5E5E5;
	display: block;
	float: right;
	font-weight: bold;
	margin: -11px -20px -10px 0;
	padding: 10px 20px;
}
#comment-form .message {
	background: red;
	padding: 12px;
	color: #000;
    margin-bottom: 10px;
}
#comment-form .input-group { clear: both; }
#comment-form label {	
	display: block;
	float: left;
	font-size: 12px;
	line-height: 27px;
	margin: 0;
	width: 20%;
}
#comment-form .recaptcha { padding: 0; }
.pavblogs-comments-box .pav-comment {
	padding: 10px 0;
	border-bottom: 1px solid #F4F4F4;
}
.pavblogs-comments-box .pav-comment:last-child { border-bottom: none; }
.pavblogs-comments-box img { padding-right: 12px; }

/* sidebar blog */

.sidebar .pavblogs-comments-box img{
	padding: 0;
}

.sidebar .comment, .sidebar .comment-author{
	font-family: 'Bookman Old Style',Helvetica,Arial,sans-serif;
}

.sidebar .box .box-heading{
    margin: 0;
}

.sidebar .box.pav-blog-latest .box-content{
    border-top: 1px solid #E0E3E4;
}

.sidebar .box .box-content .blog-item{
    padding: 10px;
}

.sidebar .pav-blog-latest [class*="span"]{
    width: 100%;
    margin: 0;
}

.sidebar .pav-blog-latest .image{
    float: left;
    margin-right: 10px;
}

.sidebar .pav-blog-latest .blog-title{
    font-size: 12px;
    line-height: normal;
}

.sidebar .pav-blog-latest .description,
.sidebar .pav-blog-latest .more-link{
    display: none;
}

.sidebar .pavblogs-comments-box .pav-comment{
	padding: 10px;
	margin: 0;
}

/* Block View Details */
#content.pav-block-view h1{
    margin: 0;
    font-size: 130%;
    margin: 0;
    padding: 10px 0;    
}
.pav-block-view .blog-content,.pav-block-view .blog-tags{
    margin: 15px 0;
}
.pav-block-view .blog-tags a{
    text-decoration: underline;
}

.pav-block-view  .blog-social{
    margin-bottom: 10px;
}

.pav-block-view .blog-bottom{
    margin: 0;
}

.pav-block-view .blog-bottom ul li a{
    line-height: 25px;
    text-decoration: underline;
    margin-left: 5px;
}