.pavcontentslider {
    position: relative;
    margin: 0;
    padding: 0;
}

.pavcontentslider h1,.pavcontentslider h2,.pavcontentslider h3,.pavcontentslider h4,.pavcontentslider h5,.pavcontentslider h6 {
    margin: 0;
    padding: 0;
    color: #434647;
    font-size: 54px;
    height: auto;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 300;
}

.pavcontentslider h1 small,
.pavcontentslider h2 small,
.pavcontentslider h3 small,
.pavcontentslider h4 small,
.pavcontentslider h5 small,
.pavcontentslider h6 small {
    color: #434647;
    font-size: 20px;
    font-weight: 300;
    display: block;
}

.pavcontentslider p {
    color: #5c5d5e;
    margin: 0;
    line-height: 20px;
    padding: 10px 0;
    border-top: 1px solid #bcbebf;
}

.pavcontentslider .banner-info div {
    padding: 12px 0;
}

.pavcontentslider .banner-info div:before {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 46px;
}

.pavcontentslider .carousel-inner {
    position: relative;
    background-color: #E7E8E8;
}

.pavcontentslider .carousel-control {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 35px;
    border: 0;
    outline: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background-color: rgba(100, 100, 100, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999,endColorstr=#999999);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=transparent,endColorstr=transparent);
}

.pavcontentslider .carousel-control:hover {
    background-color: rgba(100, 100, 100, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999,endColorstr=#999999);
    zoom: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    opacity: 1;
}

.pavcontentslider:hover a.carousel-control {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.pavcontentslider:hover a.carousel-control.left {
    left: 5px;
}

.pavcontentslider:hover a.carousel-control.right {
    right: 5px;
}

.pavcontentslider .carousel-control.left {
    left: -30px;
}

.pavcontentslider .carousel-control.right {
    right: -30px;
}

.pavcontentslider .banner-info {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    line-height: normal;
    left: 0;
    position: absolute;
    top: 0;
    margin: 12% 0 0 5%;
    padding: 0;
    width: 42%;
    z-index: 4;
}

.pavcontentslider .carousel-indicators {
    height: auto;
    line-height: normal;
    margin: 0;
    padding: 0;
    right: 5px;
    bottom: 5px;
    top: auto;
}

.pavcontentslider .carousel-indicators li {
    display: block;
    cursor: pointer;
    float: left;
    z-index: 20;
    padding: 7px;
    margin: 3px;
    border: 3px solid #FFFFFF;
    background: #333333;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.pavcontentslider  .thumb-indicators li {
    text-indent: 0;
    display: block;
    float: left;
    height: 97px;
    margin: 3px;
    padding: 3px;
    width: 23%;
    z-index: 20;
}




