.megamenu .menu-icon{
    background-position:center center;
    padding-left:23px;
    display:block;
}
.navbar .nav .dropdown-toggle .caret{
    margin-left: 10px;
    margin-top: 7px;
}
.megamenu .menu-desc{
    display:block;
    font-size:11px
}
.megamenu  .menu-content{
    padding:9px
}
.dropdown-menu > li > a{
    padding: 5px;
}
.megamenu .level1 .caret{
    display:none;
}
nav .dropdown-menu li{
    padding: 0;
    margin:0 5px;
}
.megamenu ul{
    margin:0;
    padding:5px 0;
}
.megamenu ul li{
    list-style:none;
}
.megamenu ul li.mega-group{
    margin: 0;
}
.dropdown-submenu > a:after {
    margin-right: -10px;
    margin-top: -22px;
}
.megamenu .mega-col{

}
.megamenu .cols1{

}
.megamenu .cols2{
    min-width:400px;
}
.megamenu .cols3{
    min-width:610px;
}
.megamenu .mega-group  > a .menu-title {
    text-decoration:none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
    background-color: transparent;
    background-image: none;
}
nav .dropdown-menu .mega-col li:hover{
    background-color: transparent;
}
nav .dropdown-menu li.mega-group .dropdown-mega{
    padding: 10px 0;
}
nav .dropdown-menu li.mega-group .dropdown-mega li:hover a{
    color: #FFFFFF;
}
nav .dropdown-menu li.mega-group .dropdown-mega li{
    margin: 0;
    padding: 4px 8px;
}
.megamenu ul li.mega-group b.caret,.dropdown-submenu > a:after{
    display: none;
}
.megamenu h3{
    height: auto;
    line-height: normal;
    font-size: 16px;
    margin: 2px 0 5px 0;
}
.megamenu p{
    color: #2E3039;
    line-height: 1.5em;
}
.megamenu .col-3 .menu-content{
    padding: 0;
}