.tab-nav{
    border: 1px solid #e5e5e5;
    margin: 0 0 20px 0;
}
.producttabs{
    border: 0;
}
.producttabs .product-inner p{
    min-height: 40px;
    height: 40px;
    height: auto !important;
}
.nav-tabs > li{
    margin: 0;
    padding: 14px 20px;
    position: relative;
}
.box-products {
    position:relative;
}
.producttabs .carousel-control{
    z-index:10;
}
.producttabs .nav{
    padding:0;
    margin:0;
    border-top: 1px solid #FFFFFF;  
    border-bottom: 0px;
    background: url("../image/bg-tabs.png") repeat 0 0;
    height: 47px;
    line-height: 47px;    
}
.nav-tabs > li > a{
    margin: 0;
    padding: 0;
    background: none transparent;
    border:0;    
    color: #2e3039;
    text-transform: uppercase;
    font-size: 14px;
    transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    min-width: 17px;
    min-height: 17px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
    color: #FFFFFF;
    border:0;
    background-color: transparent;
    background-image: none;
}
.nav-tabs > li.active{
    background-color: #23292D;
    margin: -3px 0 0;
    padding: 17px 20px; 
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.nav-tabs > li.active:after{
    border-color: #20262a transparent transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    height: 0;
    left: 40%;
    position: absolute;
    top: 100%;
    width: 0;
}
.producttabs .carousel-controls{
    position:absolute;
    top:-99999px;
    left:-99999px;
    z-index:11;
    width: auto;
}
.producttabs .nav-tabs li a:before{    
    background-color: transparent;
    background-image: url("../image/arrow-tab.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    width: 17px;
    height: 17px;
    display: block;
    float: left;
    margin-right: 12px;
}
.producttabs .nav-tabs li.active a:before{  
    background-position: -17px 0;
}