header .pav-header-top {
    background-color: #22282C;
    position: absolute;
    left: 0;
    right: inherit;
    top: 0;
    width: auto;
}

#header ul#links li.last {
    background: url("../image/toplink-line.png") no-repeat 100% 50%;
}

#header .header-right{
	float:left;
	 text-align: right;
}

#mainmenu .navbar .nav{ float: right; }

.pavcontentslider .carousel-indicators 	{ right: 0 	}
.productcarousel .carousel-controls { right: auto; left: 10px }

ul.box-category li.haschild{
	 background-position: 5% 12px
}

.language-wrapper {
    margin-left: 10px;
    margin-right: 0px;
}

.dropdown-menu {
    left: inherit;
    right: 0;
}

.language-wrapper .dropdown-menu {
    border-top-right-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#currency .dropdown-menu {
    border-top-right-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

header .header-right {
    margin-top: 53px;
}

#header #search {
    background: none repeat scroll 0 0 #22282C;
    padding: 5px;
    margin-top: 11px;
    width: auto;
}

header #cart .heading a {
    float: right;
    height: auto;
    line-height: normal;
    margin: -10px 35px 0 0;
}

header #cart h3:before {
    content: "";
    background-image: url("../image/cart-icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 20px;
    width: 25px;
    vertical-align: -8px;
    margin-left: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-right: 0px;
}

#header #cart .content {
    display: none;
    min-height: 130px;
    height: 130px;
    height: auto !important;
    position: absolute;
    left: 0;
    top: 53px;
    width: 330px;
    z-index: 10;
    color: #7e7f80;
    font-size: 13px;
    background: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    right: inherit;
}

.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
    right: 30px;
    left: 0px;
    width: 0px;
}

.sidebar .box ul li a {
    color: #BDBFC0;
    font-size: 12px;
    padding-right: 8px;
    text-transform: uppercase;
    background: url("../image/arrow-left.png") no-repeat 100% 8px;
    padding-left: 0px;
}

.sidebar ul > li .subcat a {
    float: right;
    width: 15px;
    height: 15px;
    text-indent: -99999px;
    background: url("../image/category_down.png") no-repeat 0 0;
}

.sidebar ul > li .subcat {
    float: left;
}

.sidebar .box ul li a:hover {
    color: #FFF;
    background-position: 100% 127%;
}

.producttabs .nav-tabs li a:before {
    background-color: transparent;
    background-image: url("../image/arrow-tab.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    width: 17px;
    height: 17px;
    display: block;
    float: right;
    margin-left: 12px;
    margin-right:0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.box.producttabs .tab-content {
    overflow: visible;
}

.pav-custom .pav-custom-block-three .col-left h3 {
    height: auto;
    font-size: 26px;
    text-align: right;
    color: #FFF;
    line-height: 32px;
}

.box .box-heading {
    font-size: 15px;
    height: auto;
    line-height: 17px;
    margin: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    border-top: 1px solid #FFFFFF;
}

.box-head .box-displaymode {
    position: absolute;
    top: 0;
    right: inherit;
    left: 0;
}

.pav-featured .list .row-fluid [class*="span"] {
    margin-left: 0;
    width: 100%;
    margin-right: 0;
}

.pav-featured .list .product-inner {
    overflow: hidden;
    text-align: right;
    padding: 5px 2%;
    border-width: 0 0 1px 0;
    transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -ms-transition: none 0s ease 0s;
}

.pav-featured .list .image {
    float: right;
}

.pav-featured .list .product-inner .image {
    margin: 0 0 0 10px;
}

.list span.product-label-special {
    left: 1px;
    right: initial;
}
span.product-label-special {
    padding: 2px 6px;
    font-size: 11px;
    color: #FFF;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
    top: 1px;
    left: 1px;
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -o-text-shadow: none;
}

i.icon {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    vertical-align: text-top;
    float: right;
}

.footer-center ul li span {
    display: block;
    margin: 0 35px 0 0;
}

.footer .payment {
    text-align: left;
}

footer ul li {
    float: right;
    margin: 0 0 0 4%;
}

.product-compare.pull-right {
    float: right;
}

.product-compare a {
    text-decoration: none;
    font-size: 14px;
}

.product-filter .sort {
    float: right;
    margin: 0;
    padding: 0;
}

.product-filter .display, .product-filter .limit {
    float: right;
}

.product-filter .display ul li {
    float: right;
    padding: 9px;
}

.pagination .results, .product-filter, .product-compare a {
    font-family: 'Droid Arabic Kufi', 'droid_serifregular';
}

.sort select {
    border-color: #E0E3E4;
    margin: 0;
    padding: 0px;
    font-size: 11px;
    width: 90px;
}

.limit select {
    border-color: #E0E3E4;
    margin: 0;
    padding: 0px;
    font-size: 11px;
    width: 50px;
}

.product-filter .product-compare {
    float: left;
    padding: 0 12px 0 9px;
}

.list select {
    height: 32px;
    line-height: 28px;
}

.product-list .product-inner {
    padding: 19px;
    text-align: right;
}

.product-list .image {
    margin: 0 0 0 15px;
    text-align: center;
    float: right;
}

.display li.first {
    line-height: 26px;
}

.product-filter .display {
    padding-left: 15px;
}

select {
    border-color: #E0E3E4;
    margin: 0;
    padding: 0px;
    width: auto;
    font-size: 13px;
}

input[type='text'], input[type='password'], textarea {
    background: #FFFFFF;
    border: 1px solid #e5e7e7;
    padding: 2px;
    height: auto;
    line-height: normal;
    margin-bottom: 10px;
}

.custom-footer-top article h3, .custom-footer-top article ul, .custom-footer-top article ul li, .custom-footer-top article img, .custom-footer-top article p {
    float: right;
}

.custom-footer-top article ul {
    margin-left: 0px;
    margin-right: 10px;
}

.custom-footer-top article:nth-child(2) h3, .custom-footer-top article:nth-child(2) p, .custom-footer-top article:nth-child(3) h3, .custom-footer-top article:nth-child(3) p {
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.custom-footer-top article h3 {
    color: #f7f7f7;
    font-size: 13px;
    height: auto;
    line-height: normal;
}

.footer-center ul.contact li {
    line-height: 30px;
    margin-bottom: 10px;
}

.pav-custom .pav-custom-block-three .col-right p, .pav-custom .pav-custom-block-three .col-right h5 {
    position: absolute;
    right: 30px;
}

.custom-footer-top article {
    padding: 0px 0;
    overflow: hidden;
}

.addthis_default_style > a {
    float:right !important;
}

.addthis_default_style > a > span {
    float:right !important;
}

.quantity-adder > .add-down {
    padding-left: 10px;
}

.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
    display: inline-block;
    margin-right: 0px;
}

.pav-header .rss-wrapper {
    right: initial !important;
    left: 0 !important;
}

.blog-header span.day {
    font-size: 13px !important;
    padding: 3px 0 0 !important;
}

.blog-header .created {
    float: right !important;
    margin-right: 0px !important;
    margin-left: 15px !important;
}

.blog-meta > span {
    border-left: 1px solid #E5E5E5;
    float: right;
    border-right: none;
}

.buttons .left {
    /* float: left; */
    /* text-align: left; */
    float: right;
    text-align: left;
}

.buttons .right {
    /* float: right; */
    /* text-align: right; */
    float: left;
    text-align: left;
}


@media (min-width: 768px) and (max-width: 979px) {
    #header #cart .heading {
        padding-left: 0px;
        padding-right: 4px;
    }
}

.product-info .options b {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    margin-bottom: 5px;
    white-space: nowrap;
}

.product-info .carousel-control.left {
    left: 20px;
}

.product-info .carousel-control.right {
    right: 10px;
}

#off-canvas-nav ul li a {
    color: #FFFFFF;
    display: block;
    float: none;
    line-height: 31px;
    padding: 0 20px 0 0;
    background-image: url("../image/arrow-off-canvas-ar.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}



#return-product input[type="radio"] {
    float: right;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0 8px;
    margin-top: 1px \9;
    line-height: normal;
}

.search input[type="checkbox"] {
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 8px;
}

.search label {
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 0;
}

.blog-meta > span:first-child {
    padding-left: 10px !important;
    padding-right: 0px !important;
}

.blog-meta > span {
    display: block;
    float: right !important;
    font-size: 90%;
    font-style: italic;
    font-weight: bold;
    padding: 0 10px 5px;
}

.blog-meta > span span {
    font-weight: normal;
    white-space: nowrap !important;
}

.blog-social .social-wrap > div {
    float: right !important;
}

.blog-social .social-heading {
    padding-right: 0px !important;
    padding-left: 12px !important;
}

#comment-form label {
    display: block;
    float: right !important;
    line-height: 27px;
    margin: 0;
    width: 20%;
}

.icon-angle-right:before{content:"\f104";}

.pav-block-view .blog-bottom ul li a {
    line-height: 25px;
    text-decoration: underline;
    margin-right: 5px !important;
    margin-left: 0px !important;
}

.product-info .image-additional a:first-child {
    margin-right: 0;
    margin-left: 20px;
}
.product-info .image-additional a {
    display: block;
    float: right;
    margin: 25px 0 0 20px;
}

.product-info .image-additional a:nth-child(3) {
    margin-left: 0;
}
.product-info .image-additional a:nth-child(3), .product-info .image-additional a:nth-child(6), .product-info .image-additional a:nth-child(9), .product-info .image-additional a:nth-child(12) {
    margin-left: 0;
}

.attribute thead td, .attribute thead tr td:first-child {
    text-align: right;
}

/* Addthis RTL fix START */
#at15s .at-label {
    margin-left: 0px !important;
    margin-right: 5px !important;
}

#at15s {
    text-align: right !important;
}

#at15s a, #at15s span {
    direction: rtl !important;
}
/* Addthis RTL fix END */