/* Large desktop */
@media (min-width: 1200px) {

/* Code CSS here */
#off-canvas-nav{position: absolute;top:-99999em; left:-99999em;}
#page-container{left: 0px !important; } 

}


/*Ipad landscape*/
@media (min-width: 940px) and (max-width: 1170px) {

/* Put CSS here */

#off-canvas-nav{position: absolute;top:-99999em; left:-99999em;}
#page-container{left: 0px !important; } 

}

@media (max-width: 979px) {
    .pav-header-top {
        display: none;
    }

    #logo a
    {
        margin: 0 auto !important;;
        padding: 0 20px;
        display: inline;
    }
}

/*Ipad Portrait*/	
@media (min-width: 768px) and (max-width: 979px) {

.page-container{left: 0 !important;}

.navbar .btn-navbar
{
margin-top: 13px;
margin-bottom: 13px;
}

#header #logo
{
margin: 55px 0 30px 0;
padding: 0;
}

.pav-custom .pav-custom-block-three .col-left h3
{
font-size: 17px;
}

.pav-custom .pav-custom-block-three .col-right
{
height: 127px;
min-width: 127px;
}

ul.box-category li a,
.pav-account li a,
.pav-affiliate li a
{
font-size: 11px;
}

.product-inner .wishlist a,
.product-info .cart a.wishlist
{
margin: 0 3px;
}

#column-left .product-inner,
#column-right .product-inner
{
padding-left: 2px;
padding-right: 2px;
}

.pav-custom .pav-summer h3,
.pav-custom .pav-dapibus h3
{
font-size: 18px;
}

.product-inner
{
padding: 20px 5px;
}

input.button
{
padding: 0 3px;
}

.pavcontentslider h1,
.pavcontentslider h2,
.pavcontentslider h3,
.pavcontentslider h4,
.pavcontentslider h5,
.pavcontentslider h6
{
font-size: 40px;
}

#header #cart .heading
{
padding-left: 10px;
padding-right: 10px;
}

.custom-footer-top article:nth-child(2) h3,
.custom-footer-top article:nth-child(2) p,
.custom-footer-top article:nth-child(3) h3,
.custom-footer-top article:nth-child(3) p
{
margin: 0;
}

.custom-footer-top article h3,
.custom-footer-top article ul,
.custom-footer-top article ul li,
.custom-footer-top article img,
.custom-footer-top article p
{
margin: 0;
}

.pavcontentslider h1,
.pavcontentslider h2,
.pavcontentslider h3,
.pavcontentslider h4,
.pavcontentslider h5,
.pavcontentslider h6
{
font-size: 30px;
}

.pavcontentslider .banner-info
{
margin: 7% 0 0 3%;
}

.product-filter .product-compare
{
padding-left: 1px;
}

.product-filter .sort
{
padding-left: 0;
}

.product-filter .sort select
{
width: 80px;
}

.pagination .results
{
margin-left: 10%;
}

.nav-collapse .nav > li > a:focus,
.nav-collapse .dropdown-menu a:focus
{
color: #333;
}

.product-info .image-additional a:nth-child(3)
{
margin-right: 15px;
}

.custom-footer-top article h3
{
font-size: 100%;
height: 42px;
line-height: 35px;
padding: 0 0 0 10px;
}

/* Navbar */

.header-bottom
{
position: relative;
}

.header-bottom .pavo-menu
{
display: block;
width: 100%;
}

.header-bottom .row-fluid > .pavo-cart
{
position: absolute;
right: 0;
top: 0;
}

.navbar .btn-navbar
{
background-image: none;
border: 0;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
text-shadow: none;
-webkit-text-shadow: none;
-moz-text-shadow: none;
-ms-text-shadow: none;
-o-text-shadow: none;
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
-khtml-border-radius: 0;
float: left;
margin-left: 10px;
margin-right: 10px;
}

.navbar .btn-navbar .icon-bar
{
background-color: #FFFFFF;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
text-shadow: none;
-webkit-text-shadow: none;
-moz-text-shadow: none;
-ms-text-shadow: none;
-o-text-shadow: none;
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
-khtml-border-radius: 0;
}

nav#mainmenu .navbar .navbar-inner .nav-collapse
{
background-color: #FFFFFF;
background-image: none;
}

#mainmenu .navbar .navbar-inner .nav-collapse ul li > ul li a:hover,
#mainmenu .navbar .navbar-inner .nav-collapse ul li > ul li:hover a
{
color: #f25d3c;
}

.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a,
.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu a:focus,
.nav-collapse .nav > li > a:focus,
.megamenu .mega-group > a .menu-title
{
color: #2e3039;
}

.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a
{
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
-khtml-border-radius: 0;
margin: 0;
padding: 10px;
font-weight: lighter;
font-size: 14px;
}

nav#mainmenu .navbar .navbar-inner .nav-collapse > ul
{
border-style: solid;
border-width: 5px;
}

.nav-collapse .nav > li > a:hover
{
color: #FFFFFF;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret
{
border-bottom-color: #2e3039;
border-top-color: #2e3039;
}

.nav-collapse .dropdown-menu
{
margin: 0;
}

.navbar .nav > li ul.dropdown-menu li a,
.megamenu .mega-group > a .menu-title,
.navbar-inner ul.nav .mega-col ul li a
{
text-transform: uppercase;
}

.nav-collapse .dropdown-menu
{
width: 100%;
}

.nav-collapse .dropdown-menu li
{
margin: 0;
padding: 5px 4%;
}

#header .navbar .navbar-inner .nav-collapse .dropdown-menu
{
margin-top: 10px;
margin-bottom: 5px;
}

.navbar-inner .nav-collapse .dropdown-menu li:hover,
.navbar-inner .nav-collapse .dropdown-menu a:hover,
.navbar-inner .nav-collapse .dropdown-menu a:focus,
.navbar-inner .nav-collapse .nav > li > a:focus,
.navbar-inner ul.nav .mega-col ul li a:hover,
nav .dropdown-menu li.mega-group .dropdown-mega li:hover
{
background-color: transparent;
}

.nav-collapse .dropdown-menu a
{
padding: 0;
display: inline;
float: none;
}

}

/* Iphone 5 landscape */
@media(max-width:767px) {

    #header #logo
    {
        padding: 20px 5%;
        float: none;
    }

    #logo a
    {
        margin: 0 auto !important;;
        padding: 0 20px;
        display: inline;
    }

    #header p#welcome
    {
        background: none repeat scroll 0 0 transparent;
        margin: 0 auto !important;
        padding: 5px 0;
        width: 100%;
    }

    header .header-right
    {
        float: none !important;
        margin: 0 auto !important;
        text-align: center !important;
        width: auto;
    }

    .row-fluid [class*="span"] {
        float: right;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    header .header-right .pav-header-bottom {
        display: -moz-inline-stack;
        display: -webkit-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
    }

body
{
font-size: 13px;
}

/*Header*/

header .pav-header-top,
#header #cart
{
position: static;
background-color: transparent;
}

header .header-right
{
margin: 0 20px 0 0;
}

header .pav-header-top nav
{
float: none;
width: 100%;
}

#header #search
{
padding: 5px;
}

#header ul#links li
{
float: none;
display: inline-block;
}

#header #logo
{
padding: 20px 0 20px 20px;
}



.breadcrumb,
header .pav-header-top nav,
.footer .payment,
#header p#welcome,
#header #logo,
#content h1,
#powered,
#tabs a,
.product-info .image-additional,
table td.quantity,
div.pavblock .blog-item .image,
.pagination,
.footer_block article,
#cart table td,
table td.image,
table th.image,
.inner > h2,
form[action=forgotten] .inner p
{
text-align: center !important;
}

/*Banner*/

.pavcontentslider .banner-info
{
margin: 9% 0 0 2%;
}

.pavcontentslider h1,
.pavcontentslider h2,
.pavcontentslider h3,
.pavcontentslider h4,
.pavcontentslider h5,
.pavcontentslider h6
{
font-size: 20px;
}

/* Navbar */

.navbar .btn-navbar
{
background-image: none;
border: 0;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
text-shadow: none;
-webkit-text-shadow: none;
-moz-text-shadow: none;
-ms-text-shadow: none;
-o-text-shadow: none;
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
-khtml-border-radius: 0;
float: left;
margin: 12px 10px;
}

.navbar .btn-navbar .icon-bar
{
background-color: #FFFFFF;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
text-shadow: none;
-webkit-text-shadow: none;
-moz-text-shadow: none;
-ms-text-shadow: none;
-o-text-shadow: none;
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
-khtml-border-radius: 0;
}

nav#mainmenu .navbar .navbar-inner .nav-collapse
{
background-color: #FFFFFF;
background-image: none;
}

#mainmenu .navbar .navbar-inner .nav-collapse ul li > ul li a:hover,
#mainmenu .navbar .navbar-inner .nav-collapse ul li > ul li:hover a
{
color: #f25d3c;
}

.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a,
.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu a:focus,
.nav-collapse .nav > li > a:focus,
.megamenu .mega-group > a .menu-title
{
color: #2e3039;
}

.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a
{
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
-khtml-border-radius: 0;
margin: 0;
padding: 10px;
font-weight: lighter;
font-size: 14px;
}

nav#mainmenu .navbar .navbar-inner .nav-collapse > ul
{
border-style: solid;
border-width: 5px;
}

.nav-collapse .nav > li > a:hover
{
color: #FFFFFF;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret
{
border-bottom-color: #2e3039;
border-top-color: #2e3039;
}

.nav-collapse .dropdown-menu
{
margin: 0;
}

.navbar .nav > li ul.dropdown-menu li a,
.megamenu .mega-group > a .menu-title,
.navbar-inner ul.nav .mega-col ul li a
{
text-transform: uppercase;
}

.nav-collapse .dropdown-menu
{
width: 100%;
}

.nav-collapse .dropdown-menu li
{
margin: 0;
padding: 5px 4%;
}

#header .navbar .navbar-inner .nav-collapse .dropdown-menu
{
margin-top: 10px;
margin-bottom: 5px;
}

.navbar-inner .nav-collapse .dropdown-menu li:hover,
.navbar-inner .nav-collapse .dropdown-menu a:hover,
.navbar-inner .nav-collapse .dropdown-menu a:focus,
.navbar-inner .nav-collapse .nav > li > a:focus,
.navbar-inner ul.nav .mega-col ul li a:hover,
nav .dropdown-menu li.mega-group .dropdown-mega li:hover
{
background-color: transparent;
}

.nav-collapse .dropdown-menu a
{
padding: 0;
display: inline;
float: none;
}

/*Product*/

.product-block
{
margin-bottom: 10px;
}

/*Custom block*/

.pav-custom .pav-custom-block-three .col-left h3
{
font-size: 20px;
}

.buttons
{
margin: 20px 0;
}

.pavblock
{
margin-bottom: 20px;
}

.pavblock:last-child
{
margin-bottom: 0;
}

div.pavblock .blog-item
{
margin-right: 0;
}

/*Table*/

table
{
width: 100%;
margin: 0;
}

table .price
{
margin: 0;
}

table td,
table th
{
display: block;
float: none;
text-align: left !important;
vertical-align: middle !important;
overflow: hidden;
}

table span.phone
{
color: #333333;
font-size: 13px;
float: left;
}

table td .avg-right
{
text-align: right;
float: right;
}

table td.quantity span.phone
{
padding: 5px 10px 0 0;
}

table.radio tr td:first-child
{
width: auto;
}

table td.name
{
height: auto;
min-height: auto !important;
}

.mini-cart-total table
{
margin: 0;
}

/*End*/


.pagination
{
margin: 20px 0;
}

.pagination .results,
.pagination .product-compare,
.pagination .links
{
float: none;
}

.pagination .results,
.pagination .links
{
margin: 0 0 10px 0;
}

.product-block:last-child
{
margin-bottom: 0;
}

.inner > h2
{
margin-bottom: 15px;
}

/*Footer*/

address
{
padding: 5px 0;
}

footer ul li
{
display: inline-block;
float: none;
}

.footer-center h3
{
font-size: 16px;
}

#powered
{
padding: 0;
}

.footer-center .row-fluid
{
padding-bottom: 5px;
}

.product-info .image-additional a:nth-child(3)
{
margin-right: 15px;
}

.product-info h1
{
padding-top: 10px;
}

#tabs a
{
margin: 10px 0;
display: block;
padding: 0;
}

.htabs
{
margin-bottom: 20px;
}

.attribute tr td:first-child
{
width: auto;
}

.footer .footer-top
{
background: none transparent;
padding: 10px 0;
}

.custom-footer-top article:nth-child(1) h3,
.custom-footer-top article:nth-child(1) ul
{
margin: 0;
}

.product-info .image-additional a,
.custom-footer-top article h3,
.custom-footer-top article ul,
.custom-footer-top article ul li,
.custom-footer-top article img,
.custom-footer-top article p
{
float: none;
}

.custom-footer-top article ul li,
.product-info .image-additional a
{
display: inline-block;
}
}

/* Iphone 4 landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {



#header ul#links li
{
padding: 2px 5px;
}

.pavcontentslider h1,
.pavcontentslider h2,
.pavcontentslider h3,
.pavcontentslider h4,
.pavcontentslider h5,
.pavcontentslider h6,
.pavcontentslider h1 small,
.pavcontentslider h2 small,
.pavcontentslider h3 small,
.pavcontentslider h4 small,
.pavcontentslider h5 small,
.pavcontentslider h6 small
{
font-size: 15px;
font-weight: 500;
}

.pavcontentslider p,
.pavcontentslider .banner-info div,
.dapibus p
{
display: none;
}

.pavcontentslider .banner-info
{
margin: 7% 0 0 5%;
}

header .header-right .pav-header-bottom
{
display: -moz-inline-stack;
display: -webkit-inline-stack;
display: inline-block;
vertical-align: top;
zoom: 1;
*display: inline;
}

header .pav-header-top nav
{
margin-bottom: 10px;
}

.product-filter .filter
{
float: none;
}

.product-filter .sort
{
padding: 0 0 10px 0;
}

.product-filter .product-compare
{
padding: 10px 0 0 0;
}

.category-list h2
{
text-align: center;
}

.pav-custom .pav-summer h3,
.pav-custom .pav-dapibus h3
{
font-size: 17px;
}
}

/* Iphone 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {

#header #logo
{
margin: 15px 0;
text-align: center;
padding: 0;
}

.pav-custom .pav-summer h3,
.pav-custom .pav-dapibus h3
{
font-size: 15px;
}

.nav-tabs > li.active
{
padding: 17px 15px;
}

.nav-collapse .dropdown-menu.col-3 ul li
{
padding: 0;
}

header p#welcome,
#header ul#links li
{
background-image: none;
}

.product-filter .filter
{
float: none;
}

.product-filter .sort
{
padding: 0 0 10px 0;
}

.product-filter .product-compare
{
padding: 10px 0 0 0;
}

/*Footer*/

.footer-center
{
padding: 10px;
}

.custom-footer-top article p
{
margin-top: 0;
margin-bottom: 0;
}

.custom-footer-top article
{
padding: 0 0 10px 0;
}

.custom-footer-top article:nth-child(1) h3,
.custom-footer-top article:nth-child(1) ul
{
margin: 0 0 0 10px;
}

.custom-footer-top article:nth-child(1) ul
{
margin-top: 5px;
}

.pav-custom .pav-summer h3,
.pav-custom .pav-dapibus h3
{
font-size: 15px;
}

.pav-custom .pav-summer h3,
.pav-custom .pav-dapibus h3
{
font-size: 15px;
}

/*Ajax Shopping Cart*/

#header #cart .content
{
left: 0;
min-height: 110px;
top: 325px;
width: 263px;
}

#header #cart .empty
{
padding-top: 30px;
}

.pav-banner img
{
width: 100%;
}

.nav-collapse .dropdown-menu .col-3 li
{
padding-left: 0;
padding-right: 0;
}
}
