/* // FREE CONTAINER //////////////////////////////////////////////////////// */
.mfilter-free-container {
	position: fixed;
	top: 40px;
	width: 220px;
	margin-right: -238px;
	display: none;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 99999;
	padding: 0 8px;
}
.mfilter-free-button {
	display: block;
	position: absolute;
	margin: 10px 0 0 0;
	right:236px;
	cursor: pointer;
	width: 25px;
	height: 23px;
	border: 10px solid #428bca;
	background: #428bca url('images/icons.png?v7') no-repeat -69px 0;
}