<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

<script src="jquery-2.0.0b1.js" type="text/javascript"></script>
<script src="html2canvas.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
	$('body').on('click','#save_image',function(){
		html2canvas($('.myImage'), {
			onrendered: function(canvas) {
				//$('.imageHolder').html(canvas);
					var dataURL = canvas.toDataURL("image/png");
				   $('.imageHolder').append('<img src="'+dataURL+'" />');
					/*$('.imageHolder').html('Generating..');
					$.post('image.php',{image: dataURL},function(data){
						$('.imageHolder').html(data);
					});*/
			}
		});
	});
});
</script>

<style type="text/css">
.myImage{
	width:210px;
	height:285px;
	border:solid 1px #000000;
	background:url(images/front.gif);
}
.myImage img{
	width:90px;
	height:90px;
}
</style>

</head>

<body>

<div class="myImage">
	<img style="padding:15px 30px 0px 30px;" src="images/521f6ed02aa17.png" />
    <img src="images/521f54f029445.png" />
    <img src="images/521f63ddd1cf3.png" />
</div>

<a href="#" id="save_image">3 Generate Image</a>
<div class="imageHolder"></div>
</body>
</html>
